workflowEP_check.json
{
  "active": true,
  "connections": {
    "сброс значений после цикла2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "сброс значений после цикла",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ввод id статичных таблиц": {
      "main": [
        [
          {
            "node": "Чтение данных из workProcess1",
            "type": "main",
            "index": 0
          },
          {
            "node": "main JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Проверка остановки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сброс значений после цикла": {
      "main": [
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Входящие данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing6": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных всего файла в JsonDatabase": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "сброс значений после цикла",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "data_in_cicle",
            "type": "main",
            "index": 0
          },
          {
            "node": "получаем procesID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных из workProcess1": {
      "main": [
        [
          {
            "node": "Проверка окончена ли предыдущая проверка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка окончена ли предыдущая проверка": {
      "main": [
        [
          {
            "node": "Чтение данных всего файла в JsonDatabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF7": {
      "main": [
        [
          {
            "node": "сброс значений после цикла",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Чтение данных всего файла в JsonDatabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных всего файла в JsonDatabase1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IF10",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45db": {
      "main": [
        [
          {
            "node": "IF11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF10": {
      "main": [
        [
          {
            "node": "45db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF11": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись данных в workProcess4": {
      "main": [
        [
          {
            "node": "сброс значений после цикла2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Процесс завершен. Возврат в стартовый процесс.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main JSON": {
      "main": [
        [
          {
            "node": "Убираем пустые значения4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Убираем пустые значения4": {
      "main": [
        [
          {
            "node": "Чтение данных из workProcess1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Входящие данные": {
      "main": [
        [
          {
            "node": "Входящие данные1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data_in_cicle": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сброс значений после цикла3": {
      "main": [
        []
      ]
    },
    "Проверка остановки": {
      "main": [
        []
      ]
    },
    "получаем procesID": {
      "main": [
        [
          {
            "node": "Проверка остановки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тупик лог 2": {
      "main": [
        [
          {
            "node": "data_in_cicle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка остановки1": {
      "main": [
        [
          {
            "node": "Убираем пустые значения4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем трек и отправляем только один1": {
      "main": [
        [
          {
            "node": "Отправляем данные на вспомогательный сервер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "разница",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Тупик лог 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем данные на вспомогательный сервер": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получаем трек и отправляем только один1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разница": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Запись данных в workProcess4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Ввод id статичных таблиц",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Входящие данные1": {
      "main": [
        [
          {
            "node": "Ввод id статичных таблиц",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Ищем в шагах Возвращено отправителю",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ищем в шагах Возвращено отправителю": {
      "main": [
        [
          {
            "node": "Уточняем что это НЕ БУДЕТ возвращено",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уточняем что это НЕ БУДЕТ возвращено": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-24T15:30:53.224Z",
  "id": "OJeMfeqoYo3vhJqU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "EP_check",
  "nodes": [
    {
      "parameters": {
        "content": "## Проверка ЕВРОПОЧТЫ",
        "height": 80,
        "width": 333.0535316703595
      },
      "id": "6d29c101-c4aa-4640-bc73-4b30032e295c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2820,
        800
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "3b96517a-20a0-40f6-b0e4-2a941b7aa55a",
      "name": "сброс значений после цикла2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -660,
        1440
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger",
              "value2": 1
            }
          ]
        }
      },
      "id": "cd9c2086-f4c7-4ea0-810b-efe64c45d22d",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1080,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.трек }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8b738b34-cc19-4394-bcec-51c70c4bbe65",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1080,
        740
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "url_become",
              "value": "={{ $json.body.url_become }}"
            },
            {
              "name": "processID",
              "value": "={{ $json.body.processID }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "46bbd11c-b85d-4db3-b35f-c5acec737fc1",
      "name": "Ввод id статичных таблиц",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2160,
        960
      ],
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "id": "07db1303-75b4-40bd-a0d5-f00837236913",
      "name": "No Operation, do nothing6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -600,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "39e7b652-39c0-4763-8e93-83127839601a",
      "name": "сброс значений после цикла",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -740,
        620
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "4c6b7206-202f-4d65-a22c-3305a835e5c9",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2560,
        1180
      ]
    },
    {
      "parameters": {
        "filePath": "=root/n8n/{{ $('Ввод id статичных таблиц').first().json.processID }}.json"
      },
      "id": "c93d4422-213c-4aa8-8393-ccd0f5685dc2",
      "name": "Чтение данных всего файла в JsonDatabase",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1520,
        940
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.traks.EP_traks",
        "options": {}
      },
      "id": "23b19282-3327-488e-85e2-71d9cf4f475a",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -1280,
        940
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1c06ef92-1001-445b-ad79-4e9f6face238",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        920
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Ввод id статичных таблиц').first().json.url_become }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow",
              "value": "=EP_check"
            },
            {
              "name": "status",
              "value": "OK"
            }
          ]
        },
        "options": {}
      },
      "id": "eae12324-1020-46e6-8e85-ee5b3b5f1e28",
      "name": "Процесс завершен. Возврат в стартовый процесс.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -220,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "queryPath": "process.workProcess",
        "filePath": "=root/n8n/{{ $json.processID }}.json"
      },
      "id": "69fd0842-0c29-4023-9307-cb11174f99db",
      "name": "Чтение данных из workProcess1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1940,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.EP_check }}",
              "operation": "contains",
              "value2": "no"
            }
          ]
        }
      },
      "id": "4c86ffa9-6877-488d-ac73-b799448e3770",
      "name": "Проверка окончена ли предыдущая проверка",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1760,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.EP_check }}",
              "operation": "contains",
              "value2": "yes"
            }
          ]
        }
      },
      "id": "34ff2e11-13fa-4e7b-b9ff-f9f39ed3254d",
      "name": "IF7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1860,
        1180
      ]
    },
    {
      "parameters": {
        "filePath": "=root/n8n/{{ $('Ввод id статичных таблиц').item.json.processID }}.json "
      },
      "id": "d52b5fff-7a13-42fc-8db2-34f3371fc713",
      "name": "Чтение данных всего файла в JsonDatabase1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -2220,
        1400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.inkr }}",
              "operation": "largerEqual",
              "value2": "={{ $('45db').first().json.inkr }}"
            }
          ]
        }
      },
      "id": "6aaeec4e-9783-4e51-bed5-26f4a6fc2f10",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -1160,
        1600
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "inkr",
              "type": "numberValue",
              "numberValue": "={{$now.toMillis()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b37aa356-5cd3-4514-b315-013615a9b4ba",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1940,
        1600
      ]
    },
    {
      "parameters": {},
      "id": "19812899-a6b9-4fb8-a776-abdd46d80419",
      "name": "45db",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1560,
        1340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.трек }}",
              "operation": "contains",
              "value2": "={{ $('IF7').item.json.data.EP_check }}"
            }
          ]
        }
      },
      "id": "ff72018f-af4c-4f92-9eb4-91621bf65db2",
      "name": "IF10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1860,
        1400
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.traks.EP_traks",
        "options": {}
      },
      "id": "4b039919-9d43-4a49-9f0d-c928e65e6a86",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -2040,
        1400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value2": true
            }
          ]
        }
      },
      "id": "78810947-4c42-4301-8243-895633264e9e",
      "name": "IF11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1240,
        1340
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.workProcess.EP_check",
        "sourceType": "sourceTypeJson",
        "sourceData": "=\"{{ $('data_in_cicle').first().json.treck }}\"",
        "filePath": "=root/n8n/{{ $('Ввод id статичных таблиц').first().json.processID }}.json"
      },
      "id": "9eb15401-caf2-491d-8dd6-459870728a64",
      "name": "Запись данных в workProcess4",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1440,
        1720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "57f01a77-e330-481e-997e-80e7972a33ce",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -420,
        400
      ],
      "webhookId": "0b15a427-e206-45d7-97e4-d2fba75cc246"
    },
    {
      "parameters": {
        "filePath": "=root/n8n/main.json"
      },
      "id": "51bfeac3-00f1-4025-acd4-c816629b1b07",
      "name": "main JSON",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -2200,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Страница }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b64bbf90-7080-4137-ae1a-d7532a5125c4",
      "name": "Убираем пустые значения4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1960,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return (\n[\n  {\n    \"headers\": {\n      \"host\": \"n8ns.makees.site\",\n      \"user-agent\": \"axios/0.21.4\",\n      \"content-length\": \"82\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"172.18.0.1\",\n      \"x-forwarded-host\": \"n8ns.makees.site\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"316b8289a2b8\",\n      \"x-real-ip\": \"172.18.0.1\",\n      \"accept-encoding\": \"gzip\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"url_become\": \"https://n8ns.makees.site/webhook-waiting/179\",\n      \"processID\": \"ZsTest\"\n    }\n  }\n]\n);"
      },
      "id": "0da9bf11-0c00-4611-9691-aad6354ef4b5",
      "name": "Входящие данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2360,
        1180
      ],
      "disabled": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "treck",
              "value": "={{ $json.трек }}"
            }
          ],
          "string": [
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "table",
              "value": "={{ $json.table }}"
            },
            {
              "name": "индекс",
              "value": "={{ $json.индекс }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "3d719bbf-dc74-4dbf-bc9d-7791728c45bd",
      "name": "data_in_cicle",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -380,
        940
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "b4d1ea9d-7b30-4c83-8ebd-6f59c330e891",
      "name": "сброс значений после цикла3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -260,
        620
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "nFW3rbApSjJg8iH0",
        "options": {}
      },
      "id": "82f9483c-b2ab-4fb4-9ff6-d5cd2a62e8f6",
      "name": "Проверка остановки",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -700,
        180
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfcb52ee-648c-4355-86f1-4c2f525d1803",
              "name": "processID",
              "value": "={{ $('Ввод id статичных таблиц').first().json.processID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7b7c5a43-a6bc-43a3-bd3e-713974b27b15",
      "name": "получаем procesID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1140,
        320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value2": true
            }
          ]
        }
      },
      "id": "80a6163a-0a86-4dc2-8fdb-03e89c5e2470",
      "name": "Тупик лог 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -420,
        760
      ]
    },
    {
      "parameters": {
        "workflowId": "nFW3rbApSjJg8iH0",
        "options": {}
      },
      "id": "3079deb7-ea53-4d42-846e-b943c87ac00a",
      "name": "Проверка остановки1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1980,
        500
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "34677dcc-d160-4261-8f42-84d10669b440",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        180,
        1680
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=processID",
              "value": "={{ $('Ввод id статичных таблиц').first().json.processID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a7569c95-21f2-4d03-b439-35adca672ab1",
      "name": "получаем трек и отправляем только один1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -320,
        1240
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "552cb713-e1b6-4bb6-85c2-d9d81693aa26",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -320,
        1680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f9f64ef-8fab-4fc7-a42b-31640b614086",
              "name": "timer",
              "value": "=1",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "ee5cab99-c91b-460c-b04e-0f7a47b98de6",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        940,
        1740
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3d99657d-3c1a-4b1b-8909-7580e72294bf",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -600,
        760
      ]
    },
    {
      "parameters": {
        "url": "https://n8n.makees.ru/webhook/EPrtt",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "treck",
              "value": "={{ $json.treck }}"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "table",
              "value": "={{ $json.table }}"
            },
            {
              "name": "=индекс",
              "value": "={{ $json.индекс }}"
            },
            {
              "name": "processID",
              "value": "={{ $json.processID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2293c172-c8f9-4d7e-8d3c-13956c65ccfb",
      "name": "Отправляем данные на вспомогательный сервер",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -140,
        1360
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api-kassa.evropochta.by/api/ops/postal/tracking/{{ $json.treck }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "api-kassa.evropochta.by"
            },
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7"
            },
            {
              "name": "operatoropstoken",
              "value": "DzjvfymAsXmy2LGMJy0KK6e84ZKbh1FZ"
            },
            {
              "name": "origin",
              "value": "https://evropochta.by"
            },
            {
              "name": "referer",
              "value": "https://evropochta.by/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "40d58228-2e6c-4eea-8093-016758064223",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -160,
        940
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $('Date & Time').first().json.currentDate }}",
        "endDate": "={{ $now }}",
        "units": [
          "second"
        ],
        "options": {}
      },
      "id": "db62908d-c8e3-4533-9514-a284b299b316",
      "name": "разница",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        580,
        1680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e79248ef-02b4-4d93-8c40-2e478a3bac34",
              "leftValue": "={{ 35 - $json.timeDifference.seconds }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "351a0af7-6a98-445d-abad-5f80c1c55f07",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        1680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f9f64ef-8fab-4fc7-a42b-31640b614086",
              "name": "timer",
              "value": "={{42- $json.timeDifference.seconds }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "eb87b993-0e78-463d-aec6-a0ea9ee19f22",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        940,
        1600
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.random()*10 + $json[\"timer\"] }}",
        "unit": "seconds"
      },
      "id": "9b259acf-5b3f-48b9-afbf-dbbaf6214254",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1140,
        1680
      ],
      "webhookId": "4ea94f44-9cef-4c88-a1d6-8e2289dbcf32"
    },
    {
      "parameters": {
        "path": "ep_check",
        "options": {}
      },
      "id": "ff5e9d78-28f1-4f75-9392-45ab9d8389ce",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2420,
        960
      ],
      "webhookId": "9139b4ec-19ed-4614-9b49-2922ea239dfc"
    },
    {
      "parameters": {
        "jsCode": "return (\n[\n  {\n    \"headers\": {\n      \"host\": \"n8n.makeesn8n.online\",\n      \"user-agent\": \"axios/1.7.4\",\n      \"content-length\": \"92\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"accept-encoding\": \"gzip, compress, deflate, br\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"172.19.0.1\",\n      \"x-forwarded-host\": \"n8n.makeesn8n.online\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"1f3353e3b88e\",\n      \"x-real-ip\": \"172.19.0.1\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"url_become\": \"https://n8n.makeesn8n.online/webhook-waiting/439133\",\n      \"processID\": \"zsForvika\"\n    },\n    \"webhookUrl\": \"https://n8n.makeesn8n.online/webhook/ep_check\",\n    \"executionMode\": \"production\"\n  }\n]\n);"
      },
      "id": "9ed24c95-6fc6-43fa-b87f-f05cf32a6ae1",
      "name": "Входящие данные1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2160,
        1180
      ],
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "fcca5385-7dc3-4757-84dc-4dcd4f989afa",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1520,
        560
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "employee_info"
            },
            {
              "fieldToAggregate": "client_info"
            }
          ]
        },
        "options": {}
      },
      "id": "8e06e98f-a00f-4714-b932-a7ae26e20a91",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "employee_info, client_info",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "de0b424e-77ea-44d6-ba4a-d71d2002e4ee",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        440
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "47cb281c-9997-4953-9603-5f357eb83c55",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        960,
        440
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timeX",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "632c545c-616a-4bde-8f30-ae2fc5a01623",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        520,
        640
      ]
    },
    {
      "parameters": {},
      "id": "ac6458c5-c424-4249-b258-c9278b8cdbb4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1360,
        660
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "938e218a-ed37-4303-b047-10be5128b7bb",
              "name": "last_status",
              "value": "={{ $json.client_info }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "778dcd6d-054b-4db5-a68e-7a97a92eed7b",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        680
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4537afc-1288-4793-90e5-dc1192e4b985",
              "name": "number",
              "value": "={{ $('data_in_cicle').item.json.treck }}",
              "type": "string"
            },
            {
              "id": "694bfdba-5419-46ac-af61-233d9dee5316",
              "name": "last_event",
              "value": "={{ $json.data[1].last_status }}",
              "type": "string"
            },
            {
              "id": "5a20f685-f36c-46c2-b690-f5ff0a9d49fc",
              "name": "steps",
              "value": "={{ $json.data[0].data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "a260affb-e191-40d8-8e4b-63cdda820ebd",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2d900f8-299e-4ad5-a4b7-cc282c0017cb",
              "leftValue": "={{ $json.last_event }}",
              "rightValue": "выдано",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        1300
      ],
      "id": "cd7c69bc-caa8-4304-9756-284260108430",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('data_in_cicle').first().json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('data_in_cicle').first().json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Индекс": "={{ $('data_in_cicle').first().json['индекс'] }}",
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} европочта",
            "Отметка о доставке": "Доставлено",
            "Актуальный статус": "={{ $json.number }}: {{ $json.last_event }}"
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "таблица",
              "displayName": "таблица",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "штраф",
              "displayName": "штраф",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ЛИЧНЫЙ",
              "displayName": "ЛИЧНЫЙ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Росс",
              "displayName": "Росс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1280,
        1280
      ],
      "id": "5415c868-4aaf-4da4-889f-c6fbf2cb8e5d",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('data_in_cicle').first().json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('data_in_cicle').first().json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Индекс": "={{ $('data_in_cicle').first().json['индекс'] }}",
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} европочта",
            "Отметка о доставке": "Вручено отправителю",
            "Актуальный статус": "={{ $json.number }}: {{ $json.last_event }}"
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "таблица",
              "displayName": "таблица",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "штраф",
              "displayName": "штраф",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ЛИЧНЫЙ",
              "displayName": "ЛИЧНЫЙ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Росс",
              "displayName": "Росс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1260,
        1040
      ],
      "id": "d7c8f317-0adc-4649-8842-f0ba9d0b60e0",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('data_in_cicle').first().json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('data_in_cicle').first().json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Индекс": "={{ $('data_in_cicle').first().json['индекс'] }}",
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} европочта",
            "Актуальный статус": "={{ $json.number }}: {{ $json.last_event }}"
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "таблица",
              "displayName": "таблица",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "штраф",
              "displayName": "штраф",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ЛИЧНЫЙ",
              "displayName": "ЛИЧНЫЙ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Росс",
              "displayName": "Росс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1480,
        1460
      ],
      "id": "5ec75f14-d82c-491b-8d54-6df4224fe363",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0edeac00-54a5-4669-a959-ea19e3f675e5",
              "leftValue": "={{ $json.steps.toJsonString() }}",
              "rightValue": "возвращено отправителю",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        1080
      ],
      "id": "655e311f-92c8-40b1-8f2d-f1a68e03786d",
      "name": "Ищем в шагах Возвращено отправителю"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0edeac00-54a5-4669-a959-ea19e3f675e5",
              "leftValue": "={{ $json.last_event }}",
              "rightValue": "возвращено отправителю",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e10187dc-76bb-430b-9ab4-690e9de06cb5",
              "leftValue": "={{ $json.last_event }}",
              "rightValue": "будет возвращено отправителю",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        1060
      ],
      "id": "7914cb4b-0798-4a0c-be00-3fc0c2354c83",
      "name": "Уточняем что это НЕ БУДЕТ возвращено"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-29T05:49:12.607Z",
      "updatedAt": "2023-12-29T05:49:12.607Z",
      "id": "2F2JpICiTQCMNk1Q",
      "name": "treck_check"
    },
    {
      "createdAt": "2023-12-29T05:48:03.050Z",
      "updatedAt": "2023-12-29T05:48:03.050Z",
      "id": "AgzDK5Bx0yz5Db7h",
      "name": "json"
    },
    {
      "createdAt": "2023-12-29T05:48:23.798Z",
      "updatedAt": "2023-12-29T05:48:23.798Z",
      "id": "UR0e0BgkatF4AB4O",
      "name": "potap"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-22T05:07:49.000Z",
  "versionId": "cbef88fb-d6e2-4620-b97c-df65615b0cb5"
}