workflowOhronus_timer.json
{
  "active": true,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Статус в течении года2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Start1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Статус в течении года2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Статус в течении года2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Через 9 минут",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Через 9 минут": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Статус в течении года2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-16T07:02:33.185Z",
  "id": "WbQ6Ohcj1B63W2FW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Ohronus_timer",
  "nodes": [
    {
      "parameters": {},
      "id": "847d1997-4dd5-4a53-84bf-a2aeec16d300",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1100,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return (\n[\n  {\n    \"Дата события\": \"2024-06-23T09:33:00.000+03:00\",\n    \"Имя события\": \"Третье событие\",\n    \"url\": \"https://www.notion.so/f753514c17ad4c4fa8d4e79ed61815da\"\n  },\n  {\n    \"Дата события\": \"2024-06-23T09:34:00.000+03:00\",\n    \"Имя события\": \"Третье событие\",\n    \"url\": \"https://www.notion.so/30f539e9ec3648b68c597fc8d857f24b\"\n  },\n  {\n    \"Дата события\": \"2024-06-23T09:35:00.000+03:00\",\n    \"Имя события\": \"Третье событие\",\n    \"url\": \"https://www.notion.so/19522f02dc454032bbbffbce6c86d05a\"\n  },\n  {\n    \"Дата события\": \"2024-06-23T09:34:20.000+03:00\",\n    \"Имя события\": \"Третье событие\",\n    \"url\": \"https://www.notion.so/d84bfbea2d2642dda94a2cc7abeb2b20\"\n  },\n  {\n    \"Дата события\": \"2024-06-23T09:35:07.000+03:00\",\n    \"Имя события\": \"Третье событие\",\n    \"url\": \"https://www.notion.so/ab3e049275bf4fc8bd9c180ded5d2370\"\n  }\n]\n);"
      },
      "id": "d4502f3f-c063-4691-95a7-9debf52f0348",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        660
      ],
      "disabled": true
    },
    {
      "parameters": {
        "amount": "={{ $json.timeDifference.seconds }}"
      },
      "id": "9bfafec5-824c-46df-b5d9-72280b717d56",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3120,
        260
      ],
      "webhookId": "157305c2-d53c-409d-8f6e-afcfcf7d2905"
    },
    {
      "parameters": {},
      "id": "71fa2f61-13bd-44d1-8b46-4f42b06e929f",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2880,
        20
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"готово\": \"Готово\"\n}",
        "options": {}
      },
      "id": "8233242f-c136-4066-aa8b-3dee1701e6ee",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2660,
        -60
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "['Дата события']"
            }
          ]
        },
        "options": {}
      },
      "id": "ad73007d-a487-4851-8f3d-4258f34f1539",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1840,
        280
      ]
    },
    {
      "parameters": {
        "chatId": "206784276",
        "text": "=<b>Случилось событие  {{ $json['Имя события'] }} {{ $json['Дата события'] }}.</b> ",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "46866db8-b4b3-436a-af74-dbdf147b22c1",
      "name": "Start1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        3360,
        260
      ],
      "credentials": {
        "telegramApi": {
          "id": "GNDPLmexphpeDDyV",
          "name": "ohronos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fb48549e-d761-4b83-bfb3-62757972b81c",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2660,
        240
      ]
    },
    {
      "parameters": {},
      "id": "69d81b2d-7c48-457e-bbc1-7ac60275ae36",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3360,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "26808a65-f22f-47d3-a7be-6fa14e7dc4a8",
              "leftValue": "={{ $json['Дата события'] }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8d1336e6-af35-4daf-a2fe-e2275f44460f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2420,
        260
      ]
    },
    {
      "parameters": {
        "path": "ohronos_timer_start",
        "options": {}
      },
      "id": "296a37a1-83eb-4594-8aed-99f1e7b53d36",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1100,
        280
      ],
      "webhookId": "4f7bb597-c36c-41cc-aadf-408aa332ff22",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $now }}",
        "endDate": "={{ $json['Дата события'] }}",
        "units": [
          "second"
        ],
        "options": {}
      },
      "id": "d765577c-0f70-4d63-8bd8-505901debb93",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2900,
        260
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "a22e120b-e389-4d07-8055-316a4c11970a",
          "mode": "list",
          "cachedResultName": "Ohronos_bd",
          "cachedResultUrl": "https://www.notion.so/a22e120be3894d078055316a4c11970a"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Статус|select",
              "condition": "equals",
              "selectValue": "Сегодня"
            }
          ]
        },
        "options": {}
      },
      "id": "815f64b8-ebcf-4b98-bef9-275d28987abb",
      "name": "Статус в течении года2",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1400,
        280
      ],
      "credentials": {
        "notionApi": {
          "id": "j8RVok2hcJUt51fq",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e6e2ddb-4005-4adc-adc7-566df36d2267",
              "name": "Дата события",
              "value": "={{ $json.properties['Дата события'].date.start }}",
              "type": "string"
            },
            {
              "id": "81222394-717d-4501-9643-eecb9d8f6920",
              "name": "Имя события",
              "value": "={{ $json.properties.Name.title[0].text.content }}",
              "type": "string"
            },
            {
              "id": "9616c5a6-276f-4852-b076-e92c81439c28",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "98c8ecaf-8dac-47ad-b7d0-ba587ba2ce92",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1640,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cbed95bb-e1af-432c-9f77-e7a589ff5eb5",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "864280da-5a9a-4efc-ace9-c8b05073c17f",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1640,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f5400599-47ef-4824-b58e-fbb1e25ed379",
              "leftValue": "={{ $json['Дата события'] }}",
              "rightValue": "={{ $('Через 9 минут').first().json.newDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5143540a-7745-479a-a95e-cb7c44428b58",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        280
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $now }}",
        "timeUnit": "minutes",
        "duration": 9,
        "options": {}
      },
      "id": "020eb282-3ddb-4869-bc33-b3cae9bb9edd",
      "name": "Через 9 минут",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1400,
        40
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ba0190f2-97a1-4666-ad56-99b70a064c0d",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1860,
        520
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "amount": 9,
        "unit": "minutes"
      },
      "id": "2ae97bdd-00e5-4a09-a4ae-6016de96eb96",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1580,
        600
      ],
      "webhookId": "62aeefea-5554-4595-b21f-c6e7b71a93d5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 1800
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-06-16T07:01:41.755Z",
      "updatedAt": "2024-06-16T07:01:41.755Z",
      "id": "eUkZw1ElfnLKRNRp",
      "name": "ohronus"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-06-24T07:49:24.000Z",
  "versionId": "547ad7fb-bb2d-4c87-a6c9-3e92352b333b"
}