workflowКонтролирующий процесс(без вебхуков).json
{
  "active": true,
  "connections": {
    "Программа - контролёр": {
      "main": [
        [
          {
            "node": "Проверка оплаты",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запуск проверки оплаты": {
      "main": [
        [
          {
            "node": "Программа - контролёр",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем завершили ли проверку все сервера": {
      "main": [
        [
          {
            "node": "Получаем все сервера с workOn - ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Запись переменной балансировщика",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляемся на следующий шаг проверки - Выставление статусов в гугл таблицы пользоваетлей": {
      "main": [
        [
          {
            "node": "формируем запрос к логированию1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Выставление статусов БД>ГТ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляемся на следующий шаг сбор треков из гугл таблиц в БД": {
      "main": [
        [
          {
            "node": "формируем запрос к логированию2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Сбор треков из ГТ в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Следующий шаг сбор треков": {
      "main": [
        [
          {
            "node": "формируем запрос к логированию3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Сбор треков из БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем на запуск всем серверам, у которых workOn - 1": {
      "main": [
        [
          {
            "node": "Получаем все сервера с workOn - 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем все сервера с workOn - 1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Отправляем запрос по webhook из БД servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем все сервера с workOn - ": {
      "main": [
        [
          {
            "node": "Находим максимальный traks_left",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Находим максимальный traks_left": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Окончание дневной проверки отправка отчёта",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "формируем запрос к логированию7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Запись переменной балансировщика1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Получаем все сервера с workOn - ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    },
    "Отправляем запрос по webhook из БД servers": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию1": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию2": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию3": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запуск выставления статуса трека в гугл таблицы": {
      "main": [
        [
          {
            "node": "Отправляемся на следующий шаг проверки - Выставление статусов в гугл таблицы пользоваетлей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию5": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос в процесс логирования5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию6": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию7": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Получаем все сервера с workOn - 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "проверяем завершили ли проверку все сервера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем все сервера с workOn - 2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Окончание дневной проверки отправка отчёта": {
      "main": [
        []
      ]
    },
    "Проверка оплаты": {
      "main": [
        [
          {
            "node": "Отправляемся на следующий шаг сбор треков из гугл таблиц в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сбор треков из ГТ в БД": {
      "main": [
        [
          {
            "node": "Следующий шаг сбор треков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сбор треков из БД": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Отправляем на запуск всем серверам, у которых workOn - 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запуск отправки логов в ТГ": {
      "main": [
        [
          {
            "node": "Отправка логов в ТГ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись переменной балансировщика": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись переменной балансировщика1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Запись переменной балансировщика2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись переменной балансировщика2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Получаем все сервера с workOn - ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-20T09:50:31.458Z",
  "id": "gpsFfrMXTMdpvCBY",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Контролирующий процесс(без вебхуков)",
  "nodes": [
    {
      "parameters": {},
      "id": "13847593-844d-4e51-84bd-c51dea7b7138",
      "name": "Программа - контролёр",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        -300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "997e50c3-09b9-4e70-a55f-aeedf53b9882",
      "name": "Запуск проверки оплаты",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        980,
        -300
      ]
    },
    {
      "parameters": {},
      "id": "41d8bf10-499b-4da1-8e2f-6a593896b343",
      "name": "проверяем завершили ли проверку все сервера",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3520,
        280
      ]
    },
    {
      "parameters": {},
      "id": "7da3d722-daa9-4724-a676-507e3a1f9114",
      "name": "Окончание дневной проверки отправка отчёта",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4700,
        260
      ]
    },
    {
      "parameters": {
        "content": "## 1.Start Общий запуск в конкретное время",
        "height": 83,
        "width": 473
      },
      "id": "44a48008-8288-4fdf-9a8d-e26a6a786454",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        -440
      ]
    },
    {
      "parameters": {
        "content": "Выставляет статусы за предыдущий день",
        "height": 80,
        "width": 364.49983326877265
      },
      "id": "536bb6db-12a7-4e3f-8a1c-6d02ccedcce7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        540
      ]
    },
    {
      "parameters": {
        "content": "Собирает треки из гугл таблиц",
        "height": 80
      },
      "id": "3e9e7afa-9a9b-46de-91bd-7ff08c3732f3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        220
      ]
    },
    {
      "parameters": {},
      "id": "acbc2cfe-e88a-466c-8e35-72fb2cf5648a",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3320,
        940
      ]
    },
    {
      "parameters": {},
      "id": "b0ac318d-5c3f-4437-8c3f-be2f72b735b5",
      "name": "Отправляемся на следующий шаг проверки - Выставление статусов в гугл таблицы пользоваетлей",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        320
      ]
    },
    {
      "parameters": {},
      "id": "7fcb140c-8fc3-4c39-9d01-4d78eeaad84e",
      "name": "Отправляемся на следующий шаг сбор треков из гугл таблиц в БД",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        120
      ]
    },
    {
      "parameters": {},
      "id": "5a3efb66-1224-4427-8e30-d7838c2de301",
      "name": "Следующий шаг сбор треков",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        540
      ]
    },
    {
      "parameters": {},
      "id": "57af8417-1b7b-4679-b6cc-eb92805a984b",
      "name": "Отправляем на запуск всем серверам, у которых workOn - 1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2560,
        500
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Status_Work",
              "value": "1"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "Server_name",
            "Webhook"
          ]
        }
      },
      "id": "a71bccec-2ceb-4f4b-ab3a-d2155c2e9717",
      "name": "Получаем все сервера с workOn - 1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2960,
        500
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Webhook }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url_become",
              "value": "={{$execution.resumeUrl}}"
            }
          ]
        },
        "options": {}
      },
      "id": "06ff54ac-d584-4d61-84b1-4cced8505d06",
      "name": "Отправляем запрос по webhook из БД servers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        500
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "5b26b5b3-04d6-44b4-b4db-bc8e979d805c",
      "name": "Получаем все сервера с workOn - ",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3820,
        280
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "286bdc80-7e78-418f-9096-337290046e46",
              "leftValue": "={{ $json.max_Traks_left }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "155af8ab-0824-45d7-b368-baa790079312",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4280,
        280
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "Traks_left"
            }
          ]
        },
        "options": {}
      },
      "id": "48512d55-fc06-45eb-b701-7492e66ab169",
      "name": "Находим максимальный traks_left",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        4060,
        280
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Находим максимальный traks_left').first().json.max_Traks_left }}",
        "unit": "minutes"
      },
      "id": "b264ec50-1342-4ec1-8b9d-dce499f110d9",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4780,
        720
      ],
      "webhookId": "64bb9c88-fa59-46f8-adab-6256b62550c8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "new",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "null",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -560
      ],
      "id": "84b35c0c-5c65-402b-92cd-87d3e73af090",
      "name": "формируем запрос к логированию"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1560,
        -560
      ],
      "id": "9e2af513-48b1-4357-9e0c-8072eb5707c2",
      "name": "Запрос в процесс логирования",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Отправлен запрос на выставление статуса треков из БД в гугл таблицы.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        120
      ],
      "id": "f0cd906a-9c37-4eaa-94cc-e9d62da0d361",
      "name": "формируем запрос к логированию1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        800,
        120
      ],
      "id": "53899c96-e237-4f41-ba98-2bdab928c896",
      "name": "Запрос в процесс логирования1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Отправлен запрос на сбор треков из гугл таблиц в БД",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        -80
      ],
      "id": "f6d0b44c-30aa-467f-a823-45cdb95d615b",
      "name": "формируем запрос к логированию2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1680,
        -80
      ],
      "id": "695b27b0-416b-41be-b486-a7ce7c8862b9",
      "name": "Запрос в процесс логирования2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Отправлен запрос на сбор треков на проверку из БД.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        360
      ],
      "id": "db676e8a-dd5e-4b36-a593-8a76a464f483",
      "name": "формируем запрос к логированию3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1880,
        320
      ],
      "id": "fbf7993b-e787-4a3c-b525-1b6a1d91a0c3",
      "name": "Запрос в процесс логирования3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        320
      ],
      "id": "08881033-199f-4ae0-9a76-6089444438e3",
      "name": "Запуск выставления статуса трека в гугл таблицы"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Отправлен запрос на проверку треков на сервер {{ $json.name.slice(0,4) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2760,
        100
      ],
      "id": "61192d20-b187-499c-a725-13127ad0a9ea",
      "name": "формируем запрос к логированию5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3060,
        100
      ],
      "id": "8f50b37f-70b8-4f87-9d17-89904686dd16",
      "name": "Запрос в процесс логирования5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2480,
        120
      ],
      "id": "23d43173-721f-4820-9b35-909ca4c03887",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Все процессы выполнены проверка окончена.\nFinish: {{ $now.format('HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4380,
        20
      ],
      "id": "c41d14f9-59ae-4540-aa33-2438526f6853",
      "name": "формируем запрос к логированию6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        4560,
        20
      ],
      "id": "41b53f31-6a68-4711-9e09-944d0aa12dbd",
      "name": "Запрос в процесс логирования6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Остался хотябы один незаконченый процесс. Перепроверка через {{ $json.max_Traks_left }} мин. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        -180
      ],
      "id": "815e5d6d-9147-4012-b8d5-844167da7300",
      "name": "формируем запрос к логированию7"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3800,
        -200
      ],
      "id": "29ae6f7a-20dd-4a75-be0a-74dd349d432f",
      "name": "Запрос в процесс логирования7"
    },
    {
      "parameters": {
        "folderId": "1fWyuHqxIO2MR6vhyYu2ZVJYoztAaw6CZ",
        "title": "={{ $json.Server_name }}-{{ $now.format('dd.MM.yy') }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2720,
        -100
      ],
      "id": "76532a07-9405-4872-980f-76d7fa1288a2",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "IChkHNpLaUZfm6R4",
          "name": "Google Docs account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2400,
        -120
      ],
      "id": "ccb4ccd8-c721-4f9e-8c8d-03d7b9726cc2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43a2772f-22a6-43a9-98a5-7e3d9b26291c",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3180,
        -100
      ],
      "id": "e6ffe848-fc5f-48d0-b357-8773ef2c8969",
      "name": "If2"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3300,
        280
      ],
      "id": "99f3b92b-3db1-41c6-a1cb-7694284f6247",
      "name": "Edit Fields",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "={{ $json.name.slice(0,4) }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Log_ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "587167cd-8f4f-4ab2-a796-d36d40e376d2",
      "name": "Получаем все сервера с workOn - 2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2940,
        -100
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Список всех связанных процессов\n\nКонтролирующий процесс: https://n8n.makeesn8n.online/workflow/bMvuHeBYvdHDiEIe\nПроверка оплаты: https://n8n.makeesn8n.online/workflow/aumuEuypCPDeduJl\nВыставление статусов из БД в гугл таблицы: https://n8n.makeesn8n.online/workflow/h5YM9whrOFCP3UOu\nСбор треков из гугл таблиц: https://n8n.makeesn8n.online/workflow/cFIhZIUCa83nOqy2\nСбор треков из БД: https://n8n.makeesn8n.online/workflow/5OMCiCkLN9V8Gpmw\nПроверка треков БП из БД: https://n8n.makeesn8n.online/workflow/YmijBbofjG27z5Tx\nПроверка треков ЕП из БД: https://n8n.makeesn8n.online/workflow/UC7sB9OYqdYSVdln\n\n## Дополнительные процессы:\nДобавление треков на  проверку в сервера (сбор треков из БД): https://n8n.makeesn8n.online/workflow/4BkOIQhV62y7mbvD\nЛог в БД: https://n8n.makeesn8n.online/workflow/lOtPJcL6AitkSaoP\nРабота с переменными: https://n8n.makeesn8n.online/workflow/KLOTYwG7rXVfZCKr\n\n## Служебные процессы:\nРабота с БД: https://n8n.makeesn8n.online/workflow/BN33z2RD9BacyBSt\nФормы для БД: https://n8n.makeesn8n.online/workflow/bUJavMgjLppjbo49\n",
        "height": 700,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -840
      ],
      "typeVersion": 1,
      "id": "153a5248-3f83-420c-ac73-9416ed7c9b52",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aumuEuypCPDeduJl",
          "mode": "list",
          "cachedResultName": "Проверка оплаты"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1680,
        -300
      ],
      "id": "a6b571b8-dfbe-4615-8852-8cb9e83ed73a",
      "name": "Проверка оплаты",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "h5YM9whrOFCP3UOu",
          "mode": "list",
          "cachedResultName": "Выставление статусов из БД в гугл таблицы"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        860,
        320
      ],
      "id": "da4284de-13d0-498f-b14e-1fa1e4e469f2",
      "name": "Выставление статусов БД>ГТ"
    },
    {
      "parameters": {
        "content": "## Запуск выставления статусов из БД в гугл табл в определённое время",
        "height": 83,
        "width": 473
      },
      "id": "bcd1c17e-87b9-4fb0-8336-778288f422c6",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jglcmeozEjX2pXrR",
          "mode": "list",
          "cachedResultName": "Сбор треков из гугл таблиц проще"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1700,
        120
      ],
      "id": "28c0feb1-11d7-4bd0-a996-085a28ab363a",
      "name": "Сбор треков из ГТ в БД",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5OMCiCkLN9V8Gpmw",
          "mode": "list",
          "cachedResultName": "Сбор треков из БД"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1920,
        540
      ],
      "id": "5797b482-b763-47af-a4a1-cd1c23b63454",
      "name": "Сбор треков из БД",
      "executeOnce": true
    },
    {
      "parameters": {
        "path": "100",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2220,
        500
      ],
      "id": "5f3fcb81-ab1d-4da7-85b6-53eec8c47e50",
      "name": "Webhook",
      "webhookId": "b8ba6d1d-1dde-48a4-b5ff-ad90edab52a6"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "id": "179e9c43-063d-4cd2-be23-356f2e6ea0cc",
      "name": "Запуск отправки логов в ТГ",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1020,
        -780
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EDGNhYpZLWqy0U1R",
          "mode": "list",
          "cachedResultName": "Отправка лога за день"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1300,
        -780
      ],
      "id": "d67d5a61-e245-45ea-9e5b-b3176c15bf31",
      "name": "Отправка логов в ТГ",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "Items.temp",
        "sourceType": "sourceTypeJson",
        "sourceData": "0",
        "filePath": "=root/n8n/bdcheck_temp.json"
      },
      "id": "d38f1c77-6e70-452c-ad12-f4fcedb4a89e",
      "name": "Запись переменной балансировщика",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        3540,
        20
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "queryPath": "Items.temp",
        "filePath": "=root/n8n/bdcheck_temp.json"
      },
      "id": "b3d262a7-383f-42f8-8748-0796fae6817a",
      "name": "Запись переменной балансировщика1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        3960,
        520
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dfd0328e-acd4-4ad2-8882-43bf395a1968",
              "leftValue": "={{ $json.data }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4280,
        520
      ],
      "id": "4eb9839d-5ad9-4e81-a017-227b397d21d6",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "Items.temp",
        "sourceType": "sourceTypeJson",
        "sourceData": "={{JSON.stringify($json.data+1) }}",
        "filePath": "=root/n8n/bdcheck_temp.json"
      },
      "id": "80dfa9af-0234-425c-99d0-88eb9adc52a9",
      "name": "Запись переменной балансировщика2",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        4240,
        720
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4780,
        540
      ],
      "id": "2fb38e26-51a4-4fd0-8df5-c82bb47fb8a8",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8cfd4046-c03b-4c7d-9452-72f758e59bfe",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3720,
        20
      ],
      "id": "77f7e7ef-4795-4884-a83c-cdc89a85d91e",
      "name": "If3"
    },
    {
      "parameters": {
        "content": "## вернуть на 6 утра\n",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        500
      ],
      "typeVersion": 1,
      "id": "713bb644-8586-4e72-bea9-8a153681d8b7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Включить",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        -100
      ],
      "typeVersion": 1,
      "id": "50a3bfa7-68eb-4f0e-b88e-c2ccffe2ce82",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Запуск проверки оплаты": {
      "recurrenceRules": []
    },
    "node:Запуск выставления статуса трека в гугл таблицы": {
      "recurrenceRules": []
    },
    "node:Запуск проверки оплаты1": {
      "recurrenceRules": []
    },
    "node:Запуск отправки логов в ТГ": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-02-05T16:24:37.889Z",
      "updatedAt": "2025-02-05T16:24:37.889Z",
      "id": "vsUr1hQQVG3ZP6Nk",
      "name": "BDCheck"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2025-06-01T20:57:05.000Z",
  "versionId": "1b01ef04-d6a0-4fb9-b4b4-9590743b0364"
}