workflowКонтролирующий процесс(без вебхуков).json
{
  "active": false,
  "connections": {
    "Программа - контролёр": {
      "main": [
        [
          {
            "node": "формируем запрос к логированию",
            "type": "main",
            "index": 0
          },
          {
            "node": "Проверка оплаты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запуск проверки оплаты": {
      "main": [
        [
          {
            "node": "Программа - контролёр",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выставляем максимальное количество треков в проверке": {
      "main": [
        [
          {
            "node": "Отправляем на запуск всем серверам, у которых workOn - 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем время окончания всех проверок": {
      "main": [
        [
          {
            "node": "Ожидаем завершения всех проверок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем завершили ли проверку все сервера": {
      "main": [
        [
          {
            "node": "Получаем все сервера с workOn - ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем на отсутствие ошибок": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ от сборщика треков из БД": {
      "main": [
        [
          {
            "node": "Ответ от проверки оплаты пользователей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ от проверки оплаты пользователей": {
      "main": [
        [
          {
            "node": "Ответ от проверки оплаты пользователей2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Разбиваем окончание оплаты в течении 3 дней",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Разбиваем просрочка платежа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Разбиваем выключен work_on",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Структурируем данные от проверки оплаты": {
      "main": [
        [
          {
            "node": "Разбиваем по категориям",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбиваем по категориям": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляемся на следующий шаг проверки - Выставление статусов в гугл таблицы пользоваетлей": {
      "main": [
        [
          {
            "node": "формируем запрос к логированию1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Выставление статусов БД>ГТ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ от проверки оплаты пользователей2": {
      "main": [
        [
          {
            "node": "Ответ от проверки оплаты пользователей3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Структурируем данные от процесса выставления статусов в гугл таблицы из БД": {
      "main": [
        []
      ]
    },
    "Отправляемся на следующий шаг сбор треков из гугл таблиц в БД": {
      "main": [
        [
          {
            "node": "формируем запрос к логированию2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Сбор треков из ГТ в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ от проверки оплаты пользователей3": {
      "main": [
        [
          {
            "node": "Проверяем на отсутствие ошибок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Структурируем данные от процесса процесса сбора треков из гугл таблиц в БД": {
      "main": [
        [
          {
            "node": "Следующий шаг сбор треков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Следующий шаг сбор треков": {
      "main": [
        [
          {
            "node": "Запрос к процессу сбора треков из БД",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Выставляем максимальное количество треков в проверке",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Структурируем данные от проверки оплаты",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Структурируем данные от процесса выставления статусов в гугл таблицы из БД",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Структурируем данные от процесса процесса сбора треков из гугл таблиц в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем на запуск всем серверам, у которых workOn - 1": {
      "main": [
        [
          {
            "node": "Получаем все сервера с workOn - 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем все сервера с workOn - 1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Отправляем запрос по webhook из БД servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем все сервера с workOn - ": {
      "main": [
        [
          {
            "node": "Находим максимальный traks_left",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Находим максимальный traks_left": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Окончание дневной проверки отправка отчёта",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Получаем все сервера с workOn - ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Отправляем на запуск всем серверам, у которых workOn - 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Проверяем на отсутствие ошибок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем запрос по webhook из БД servers": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Ожидаем завершения всех проверок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию1": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию2": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию3": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запуск выставления статуса трека в гугл таблицы": {
      "main": [
        [
          {
            "node": "Отправляемся на следующий шаг проверки - Выставление статусов в гугл таблицы пользоваетлей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию4": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию5": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос в процесс логирования5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию6": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию7": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Получаем все сервера с workOn - 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "проверяем завершили ли проверку все сервера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем все сервера с workOn - 2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        []
      ]
    },
    "Окончание дневной проверки отправка отчёта": {
      "main": [
        []
      ]
    },
    "Проверка оплаты": {
      "main": [
        [
          {
            "node": "Отправляемся на следующий шаг сбор треков из гугл таблиц в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-20T09:50:31.458Z",
  "id": "gpsFfrMXTMdpvCBY",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Контролирующий процесс(без вебхуков)",
  "nodes": [
    {
      "parameters": {},
      "id": "13847593-844d-4e51-84bd-c51dea7b7138",
      "name": "Программа - контролёр",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        -300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 0,
              "triggerAtHour": 10,
              "triggerAtMinute": 42
            }
          ]
        }
      },
      "id": "997e50c3-09b9-4e70-a55f-aeedf53b9882",
      "name": "Запуск проверки оплаты",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        980,
        -300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://n8n.makeesn8n.online/webhook/take_traks_from_bd",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url_become",
              "value": "={{$execution.resumeUrl}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2e116f70-7eee-418c-bfeb-e71bfc21fe0e",
      "name": "Запрос к процессу сбора треков из БД",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b33bda4-ae4b-4e70-b555-176766505d90",
              "name": "TraksInCheck",
              "value": "={{ $json.body.max_items }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "ff702222-b61f-424c-a341-aba14beedcb1",
      "name": "Выставляем максимальное количество треков в проверке",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3340,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $now }}",
        "timeUnit": "minutes",
        "duration": "={{ $json.TraksInCheck + 5 }}",
        "outputFieldName": "=newDate",
        "options": {}
      },
      "id": "83f02e4b-abc4-4056-a83c-8a7e762f008f",
      "name": "Получаем время окончания всех проверок",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3620,
        -360
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.newDate }}"
      },
      "id": "c5bb1ece-cdae-46f3-a5c6-79b4122bfe59",
      "name": "Ожидаем завершения всех проверок",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3840,
        -360
      ],
      "webhookId": "840b1804-f479-49e2-aa9f-06d5889397d1"
    },
    {
      "parameters": {},
      "id": "41d8bf10-499b-4da1-8e2f-6a593896b343",
      "name": "проверяем завершили ли проверку все сервера",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4100,
        -860
      ]
    },
    {
      "parameters": {},
      "id": "7da3d722-daa9-4724-a676-507e3a1f9114",
      "name": "Окончание дневной проверки отправка отчёта",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5280,
        -880
      ]
    },
    {
      "parameters": {
        "content": "## 1.Start Общий запуск в конкретное время",
        "height": 83,
        "width": 473
      },
      "id": "44a48008-8288-4fdf-9a8d-e26a6a786454",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        -440
      ]
    },
    {
      "parameters": {
        "content": "Выставляет статусы за предыдущий день",
        "height": 80,
        "width": 364.49983326877265
      },
      "id": "536bb6db-12a7-4e3f-8a1c-6d02ccedcce7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        540
      ]
    },
    {
      "parameters": {
        "content": "Собирает треки из гугл таблиц",
        "height": 80
      },
      "id": "3e9e7afa-9a9b-46de-91bd-7ff08c3732f3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        220
      ]
    },
    {
      "parameters": {},
      "id": "acbc2cfe-e88a-466c-8e35-72fb2cf5648a",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2820,
        -640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6ce26e1-741a-4abc-b994-f1e19d2e472e",
              "leftValue": "={{ $json.body.Error }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "79b00350-25a9-4d0c-ae99-41e3ba5a4d25",
      "name": "Проверяем на отсутствие ошибок",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2860,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "return(\n[\n  {\n    \"headers\": {\n      \"host\": \"n8n.makees.online\",\n      \"user-agent\": \"axios/1.7.4\",\n      \"content-length\": \"129\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"accept-encoding\": \"gzip, compress, deflate, br\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"172.18.0.1\",\n      \"x-forwarded-host\": \"n8n.makees.online\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"95e7a8ea3679\",\n      \"x-real-ip\": \"172.18.0.1\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"max_items\": \"396\",\n      \"Error\": \"no\",\n      \"Ditales\": \"Тут будут подробности или логи\",\n      \"From\": \"take_traks_from_bd\"\n    },\n    \"webhookUrl\": \"https://n8n.makees.online/webhook-test/proceses_control\",\n    \"executionMode\": \"test\"\n  }\n]\n);"
      },
      "id": "489c82f8-4d62-4615-bd12-97d2cf52bba4",
      "name": "Ответ от сборщика треков из БД",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2740,
        -180
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return(\n[\n  {\n    \"headers\": {\n      \"host\": \"n8n.makees.online\",\n      \"user-agent\": \"axios/1.7.4\",\n      \"content-length\": \"1064\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"accept-encoding\": \"gzip, compress, deflate, br\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"172.18.0.1\",\n      \"x-forwarded-host\": \"n8n.makees.online\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"95e7a8ea3679\",\n      \"x-real-ip\": \"172.18.0.1\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"Error\": \"no\",\n      \"Ditales\": \"InfoUserData:[{\\\"3daysTOpay\\\":[{\\\"ID\\\":\\\"Zstest11\\\",\\\"DateLastPay\\\":\\\"2024-09-30\\\",\\\"DateNextPay\\\":\\\"2024-10-30\\\",\\\"Summa\\\":10,\\\"Status\\\":\\\"ok\\\",\\\"WorkOn\\\":1,\\\"timeDifference\\\":{\\\"days\\\":2.125}}]},{\\\"LastPay_InPast\\\":[{\\\"ID\\\":\\\"ZStest3d\\\",\\\"DateLastPay\\\":\\\"2024-09-25\\\",\\\"DateNextPay\\\":\\\"2024-10-25\\\",\\\"Summa\\\":100,\\\"Status\\\":\\\"ok\\\",\\\"WorkOn\\\":1},{\\\"ID\\\":\\\"ZsTestMin3\\\",\\\"DateLastPay\\\":\\\"2024-10-08\\\",\\\"DateNextPay\\\":\\\"2024-10-09\\\",\\\"Summa\\\":100,\\\"Status\\\":\\\"ok\\\",\\\"WorkOn\\\":0},{\\\"ID\\\":\\\"ZsTestMinD\\\",\\\"DateLastPay\\\":\\\"2024-10-08\\\",\\\"DateNextPay\\\":\\\"2024-10-06\\\",\\\"Summa\\\":100,\\\"Status\\\":\\\"ok\\\",\\\"WorkOn\\\":0},{\\\"ID\\\":\\\"ZsTestnewf\\\",\\\"DateLastPay\\\":\\\"2024-10-22\\\",\\\"DateNextPay\\\":\\\"2024-10-22\\\",\\\"Summa\\\":100,\\\"Status\\\":\\\"ok\\\",\\\"WorkOn\\\":0}]},{\\\"WorkOn_0\\\":[{\\\"ID\\\":\\\"ZsTestNok\\\",\\\"DateLastPay\\\":\\\"2024-10-08\\\",\\\"DateNextPay\\\":\\\"2024-11-04\\\",\\\"Summa\\\":100,\\\"Status\\\":\\\"Nok\\\",\\\"WorkOn\\\":0},{\\\"ID\\\":\\\"Zstrasd\\\",\\\"DateLastPay\\\":\\\"2024-10-24\\\",\\\"DateNextPay\\\":\\\"2024-11-23\\\",\\\"Summa\\\":10,\\\"Status\\\":\\\"Nok\\\",\\\"WorkOn\\\":0}]}]\",\n      \"From\": \"pay_check\"\n    },\n    \"webhookUrl\": \"https://n8n.makees.online/webhook-test/proceses_control\",\n    \"executionMode\": \"test\"\n  }\n]\n);"
      },
      "id": "2e176ec0-b455-4c20-ab29-238f34900e19",
      "name": "Ответ от проверки оплаты пользователей",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2740,
        -380
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return(\n[\n  {\n    \"headers\": {\n      \"host\": \"n8n.makees.online\",\n      \"user-agent\": \"axios/1.7.4\",\n      \"content-length\": \"1064\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"accept-encoding\": \"gzip, compress, deflate, br\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"172.18.0.1\",\n      \"x-forwarded-host\": \"n8n.makees.online\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"95e7a8ea3679\",\n      \"x-real-ip\": \"172.18.0.1\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"Error\": \"no\",\n      \"Ditales\": \"InfoUserData:[{\\\"3daysTOpay\\\":[{\\\"ID\\\":\\\"Zstest11\\\",\\\"DateLastPay\\\":\\\"2024-09-30\\\",\\\"DateNextPay\\\":\\\"2024-10-30\\\",\\\"Summa\\\":10,\\\"Status\\\":\\\"ok\\\",\\\"WorkOn\\\":1,\\\"timeDifference\\\":{\\\"days\\\":2.125}}]},{\\\"LastPay_InPast\\\":[{\\\"ID\\\":\\\"ZStest3d\\\",\\\"DateLastPay\\\":\\\"2024-09-25\\\",\\\"DateNextPay\\\":\\\"2024-10-25\\\",\\\"Summa\\\":100,\\\"Status\\\":\\\"ok\\\",\\\"WorkOn\\\":1},{\\\"ID\\\":\\\"ZsTestMin3\\\",\\\"DateLastPay\\\":\\\"2024-10-08\\\",\\\"DateNextPay\\\":\\\"2024-10-09\\\",\\\"Summa\\\":100,\\\"Status\\\":\\\"ok\\\",\\\"WorkOn\\\":0},{\\\"ID\\\":\\\"ZsTestMinD\\\",\\\"DateLastPay\\\":\\\"2024-10-08\\\",\\\"DateNextPay\\\":\\\"2024-10-06\\\",\\\"Summa\\\":100,\\\"Status\\\":\\\"ok\\\",\\\"WorkOn\\\":0},{\\\"ID\\\":\\\"ZsTestnewf\\\",\\\"DateLastPay\\\":\\\"2024-10-22\\\",\\\"DateNextPay\\\":\\\"2024-10-22\\\",\\\"Summa\\\":100,\\\"Status\\\":\\\"ok\\\",\\\"WorkOn\\\":0}]},{\\\"WorkOn_0\\\":[{\\\"ID\\\":\\\"ZsTestNok\\\",\\\"DateLastPay\\\":\\\"2024-10-08\\\",\\\"DateNextPay\\\":\\\"2024-11-04\\\",\\\"Summa\\\":100,\\\"Status\\\":\\\"Nok\\\",\\\"WorkOn\\\":0},{\\\"ID\\\":\\\"Zstrasd\\\",\\\"DateLastPay\\\":\\\"2024-10-24\\\",\\\"DateNextPay\\\":\\\"2024-11-23\\\",\\\"Summa\\\":10,\\\"Status\\\":\\\"Nok\\\",\\\"WorkOn\\\":0}]}]\",\n      \"From\": \"pay_check\"\n    },\n    \"webhookUrl\": \"https://n8n.makees.online/webhook-test/proceses_control\",\n    \"executionMode\": \"test\"\n  }\n]\n);"
      },
      "id": "924ac171-244c-4aad-9e4d-0fa4a3f0afe1",
      "name": "Ответ от проверки оплаты пользователей1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        -920
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['3daysTOpay'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "До оплаты менее 3 дней"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "890acd4f-37c0-473d-a415-c56a6bf09a13",
                    "leftValue": "={{ $json.LastPay_InPast }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Просрочена оплата"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1538697-4967-482d-ab8e-f35d2bf2c76f",
                    "leftValue": "={{ $json.WorkOn_0 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Выключен work_on"
            }
          ]
        },
        "options": {}
      },
      "id": "233c97ed-2325-4214-ac64-5b53fde4e990",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4060,
        20
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f233ba40-e3ff-49bf-a81f-46b9445b184f",
              "name": "Ditales",
              "value": "={ {{ $json.body.Ditales }} }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "8cd7a5b4-f25c-430e-9123-ea9d3c7d01b9",
      "name": "Структурируем данные от проверки оплаты",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3460,
        -120
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "Ditales.InfoUserData",
        "options": {}
      },
      "id": "2982dd43-93d5-4f71-8818-b0328e2e73d5",
      "name": "Разбиваем по категориям",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3800,
        20
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "['3daysTOpay']",
        "options": {}
      },
      "id": "9567ed25-e784-4d27-8517-1bbc94cb38d0",
      "name": "Разбиваем окончание оплаты в течении 3 дней",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4340,
        -160
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "LastPay_InPast",
        "options": {}
      },
      "id": "2830dc88-d662-4e2c-86fd-9d9bf709aea9",
      "name": "Разбиваем просрочка платежа",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4340,
        20
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "WorkOn_0",
        "options": {}
      },
      "id": "1e0ffdb0-bc11-4314-a5f0-78aa79cd6641",
      "name": "Разбиваем выключен work_on",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4340,
        200
      ]
    },
    {
      "parameters": {},
      "id": "b0ac318d-5c3f-4437-8c3f-be2f72b735b5",
      "name": "Отправляемся на следующий шаг проверки - Выставление статусов в гугл таблицы пользоваетлей",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "return(\n[\n  {\n    \"headers\": {\n      \"host\": \"n8n.makees.online\",\n      \"user-agent\": \"axios/1.7.4\",\n      \"content-length\": \"166\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"accept-encoding\": \"gzip, compress, deflate, br\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"172.18.0.1\",\n      \"x-forwarded-host\": \"n8n.makees.online\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"95e7a8ea3679\",\n      \"x-real-ip\": \"172.18.0.1\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"Error\": \"no\",\n      \"Ditales\": \"тут будет информация по процессу и ошибки, если возникнут\",\n      \"From\": \"from_bd_to_google_sheets\"\n    },\n    \"webhookUrl\": \"https://n8n.makees.online/webhook-test/proceses_control\",\n    \"executionMode\": \"test\"\n  }\n]\n);"
      },
      "id": "97ee5cfc-2b31-468d-b824-2f47de1e430b",
      "name": "Ответ от проверки оплаты пользователей2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2940,
        -380
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b94753c6-c557-4e2a-ab92-b1a9590794be",
              "name": "body.Ditales",
              "value": "={{ $json.body.Ditales }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c56d2f63-39b5-4895-97b5-04602a737502",
      "name": "Структурируем данные от процесса выставления статусов в гугл таблицы из БД",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3460,
        100
      ]
    },
    {
      "parameters": {},
      "id": "7fcb140c-8fc3-4c39-9d01-4d78eeaad84e",
      "name": "Отправляемся на следующий шаг сбор треков из гугл таблиц в БД",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        120
      ]
    },
    {
      "parameters": {
        "path": "7f9b3334-d965-45ad-9f84-4eca76acdcc9",
        "options": {}
      },
      "id": "ae517d5e-6234-4487-8fb9-3ab17f4a3664",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2380,
        100
      ],
      "webhookId": "7f9b3334-d965-45ad-9f84-4eca76acdcc9",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return(\n[\n  {\n    \"headers\": {\n      \"host\": \"n8n.makees.online\",\n      \"user-agent\": \"axios/1.7.4\",\n      \"content-length\": \"120\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"accept-encoding\": \"gzip, compress, deflate, br\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"172.18.0.1\",\n      \"x-forwarded-host\": \"n8n.makees.online\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"95e7a8ea3679\",\n      \"x-real-ip\": \"172.18.0.1\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"Error\": \"no\",\n      \"Ditales\": \"Тут приколы из этого процесса\",\n      \"From\": \"Take_traks_from_google_sheets\"\n    },\n    \"webhookUrl\": \"https://n8n.makees.online/webhook-test/proceses_control\",\n    \"executionMode\": \"test\"\n  }\n]\n);"
      },
      "id": "8ec53675-c44b-4777-a020-f575f62a1b8f",
      "name": "Ответ от проверки оплаты пользователей3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        -160
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b94753c6-c557-4e2a-ab92-b1a9590794be",
              "name": "body.Ditales",
              "value": "={{ $json.body.Ditales }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0fd3b0cb-440a-422b-8da3-ba8641701bd6",
      "name": "Структурируем данные от процесса процесса сбора треков из гугл таблиц в БД",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3480,
        360
      ]
    },
    {
      "parameters": {},
      "id": "5a3efb66-1224-4427-8e30-d7838c2de301",
      "name": "Следующий шаг сбор треков",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        780
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.From }}",
                    "rightValue": "take_traks_from_bd",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "От сборщика треков из БД"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8b0c703-8177-42bc-a4dd-cfc386bc65da",
                    "leftValue": "={{ $json.body.From }}",
                    "rightValue": "pay_check",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "От проверка оплаты"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7cbc7e99-1715-4bc9-98d9-fed766ccca20",
                    "leftValue": "={{ $json.body.From }}",
                    "rightValue": "from_bd_to_google_sheets",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "От выставление статусов в гугл таблицы из БД"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a15bab8d-7e8d-4825-850e-e4dbd41117f8",
                    "leftValue": "={{ $json.body.From }}",
                    "rightValue": "Take_traks_from_google_sheets",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "От процесса сбора треков из гугл таблиц в БД"
            }
          ]
        },
        "options": {}
      },
      "id": "f7981bb6-b60d-4416-b0b9-e2133da96e5a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3140,
        60
      ]
    },
    {
      "parameters": {},
      "id": "57af8417-1b7b-4679-b6cc-eb92805a984b",
      "name": "Отправляем на запуск всем серверам, у которых workOn - 1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3280,
        -640
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Status_Work",
              "value": "1"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "Server_name",
            "Webhook"
          ]
        }
      },
      "id": "a71bccec-2ceb-4f4b-ab3a-d2155c2e9717",
      "name": "Получаем все сервера с workOn - 1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3540,
        -640
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Webhook }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url_become",
              "value": "={{$execution.resumeUrl}}"
            }
          ]
        },
        "options": {}
      },
      "id": "06ff54ac-d584-4d61-84b1-4cced8505d06",
      "name": "Отправляем запрос по webhook из БД servers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        -640
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "5b26b5b3-04d6-44b4-b4db-bc8e979d805c",
      "name": "Получаем все сервера с workOn - ",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4400,
        -860
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "286bdc80-7e78-418f-9096-337290046e46",
              "leftValue": "={{ $json.max_Traks_left }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "155af8ab-0824-45d7-b368-baa790079312",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4900,
        -860
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "Traks_left"
            }
          ]
        },
        "options": {}
      },
      "id": "48512d55-fc06-45eb-b701-7492e66ab169",
      "name": "Находим максимальный traks_left",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        4640,
        -860
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.max_Traks_left }}",
        "unit": "minutes"
      },
      "id": "b264ec50-1342-4ec1-8b9d-dce499f110d9",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4520,
        -600
      ],
      "webhookId": "64bb9c88-fa59-46f8-adab-6256b62550c8"
    },
    {
      "parameters": {
        "amount": 35
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2600,
        100
      ],
      "id": "d6b028e8-b7c4-4265-bdad-f59765fc7868",
      "name": "Wait1",
      "webhookId": "4dce04af-e6e4-4499-8873-4d68b4806c16"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c80774ba-faae-4726-8b14-d381b1825fb8",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3940,
        -180
      ],
      "id": "3940f43d-076e-40d5-aae9-a77e4555e0cb",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "new",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "null",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        -560
      ],
      "id": "84b35c0c-5c65-402b-92cd-87d3e73af090",
      "name": "формируем запрос к логированию"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1820,
        -560
      ],
      "id": "9e2af513-48b1-4357-9e0c-8072eb5707c2",
      "name": "Запрос в процесс логирования",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Отправлен запрос на выставление статуса треков из БД в гугл таблицы.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        120
      ],
      "id": "f0cd906a-9c37-4eaa-94cc-e9d62da0d361",
      "name": "формируем запрос к логированию1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        800,
        120
      ],
      "id": "53899c96-e237-4f41-ba98-2bdab928c896",
      "name": "Запрос в процесс логирования1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Отправлен запрос на сбор треков из гугл таблиц в БД",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        -80
      ],
      "id": "f6d0b44c-30aa-467f-a823-45cdb95d615b",
      "name": "формируем запрос к логированию2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1680,
        -80
      ],
      "id": "695b27b0-416b-41be-b486-a7ce7c8862b9",
      "name": "Запрос в процесс логирования2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Отправлен запрос на сбор треков на проверку из БД.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        620
      ],
      "id": "db676e8a-dd5e-4b36-a593-8a76a464f483",
      "name": "формируем запрос к логированию3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1880,
        620
      ],
      "id": "fbf7993b-e787-4a3c-b525-1b6a1d91a0c3",
      "name": "Запрос в процесс логирования3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        320
      ],
      "id": "08881033-199f-4ae0-9a76-6089444438e3",
      "name": "Запуск выставления статуса трека в гугл таблицы",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "get",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        -860
      ],
      "id": "038371d4-d3bb-4d60-abe6-2643df105c5e",
      "name": "формируем запрос к логированию4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2760,
        -860
      ],
      "id": "609fcd82-7884-4928-b59d-2e41d6185be6",
      "name": "Запрос в процесс логирования4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Отправлен запрос на проверку треков на сервер {{ $json.name.slice(0,4) }}, докумен с логами по трекам: https://docs.google.com/document/d/{{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3340,
        -1040
      ],
      "id": "61192d20-b187-499c-a725-13127ad0a9ea",
      "name": "формируем запрос к логированию5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3640,
        -1040
      ],
      "id": "8f50b37f-70b8-4f87-9d17-89904686dd16",
      "name": "Запрос в процесс логирования5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3060,
        -1020
      ],
      "id": "23d43173-721f-4820-9b35-909ca4c03887",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Все процессы выполнены проверка окончена.\nFinish: {{ $now.format('HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4900,
        -1120
      ],
      "id": "c41d14f9-59ae-4540-aa33-2438526f6853",
      "name": "формируем запрос к логированию6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        5140,
        -1120
      ],
      "id": "41b53f31-6a68-4711-9e09-944d0aa12dbd",
      "name": "Запрос в процесс логирования6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "proceses_control",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Остался хотябы один незаконченый процесс. Перепроверка через {{ $json.max_Traks_left }} мин. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4280,
        -1120
      ],
      "id": "815e5d6d-9147-4012-b8d5-844167da7300",
      "name": "формируем запрос к логированию7"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        4520,
        -1120
      ],
      "id": "29ae6f7a-20dd-4a75-be0a-74dd349d432f",
      "name": "Запрос в процесс логирования7"
    },
    {
      "parameters": {
        "folderId": "1fWyuHqxIO2MR6vhyYu2ZVJYoztAaw6CZ",
        "title": "={{ $json.Server_name }}-{{ $now.format('dd.MM.yy') }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3300,
        -1240
      ],
      "id": "76532a07-9405-4872-980f-76d7fa1288a2",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "IChkHNpLaUZfm6R4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2980,
        -1260
      ],
      "id": "ccb4ccd8-c721-4f9e-8c8d-03d7b9726cc2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43a2772f-22a6-43a9-98a5-7e3d9b26291c",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        -1240
      ],
      "id": "e6ffe848-fc5f-48d0-b357-8773ef2c8969",
      "name": "If2"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3880,
        -860
      ],
      "id": "99f3b92b-3db1-41c6-a1cb-7694284f6247",
      "name": "Edit Fields",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "={{ $json.name.slice(0,4) }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Log_ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "587167cd-8f4f-4ab2-a796-d36d40e376d2",
      "name": "Получаем все сервера с workOn - 2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3520,
        -1240
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "path": "bf8892ae-2fce-401f-9e50-463319029b0c",
        "options": {}
      },
      "id": "62aeb0d7-3978-4c48-b14b-44286ed41045",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        680,
        -700
      ],
      "webhookId": "bf8892ae-2fce-401f-9e50-463319029b0c",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Список всех связанных процессов\n\nКонтролирующий процесс: https://n8n.makeesn8n.online/workflow/bMvuHeBYvdHDiEIe\nПроверка оплаты: https://n8n.makeesn8n.online/workflow/aumuEuypCPDeduJl\nВыставление статусов из БД в гугл таблицы: https://n8n.makeesn8n.online/workflow/h5YM9whrOFCP3UOu\nСбор треков из гугл таблиц: https://n8n.makeesn8n.online/workflow/cFIhZIUCa83nOqy2\nСбор треков из БД: https://n8n.makeesn8n.online/workflow/5OMCiCkLN9V8Gpmw\nПроверка треков БП из БД: https://n8n.makeesn8n.online/workflow/YmijBbofjG27z5Tx\nПроверка треков ЕП из БД: https://n8n.makeesn8n.online/workflow/UC7sB9OYqdYSVdln\n\n## Дополнительные процессы:\nДобавление треков на  проверку в сервера (сбор треков из БД): https://n8n.makeesn8n.online/workflow/4BkOIQhV62y7mbvD\nЛог в БД: https://n8n.makeesn8n.online/workflow/lOtPJcL6AitkSaoP\nРабота с переменными: https://n8n.makeesn8n.online/workflow/KLOTYwG7rXVfZCKr\n\n## Служебные процессы:\nРабота с БД: https://n8n.makeesn8n.online/workflow/BN33z2RD9BacyBSt\nФормы для БД: https://n8n.makeesn8n.online/workflow/bUJavMgjLppjbo49\n",
        "height": 700,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -840
      ],
      "typeVersion": 1,
      "id": "153a5248-3f83-420c-ac73-9416ed7c9b52",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aumuEuypCPDeduJl",
          "mode": "list",
          "cachedResultName": "Проверка оплаты"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1680,
        -300
      ],
      "id": "a6b571b8-dfbe-4615-8852-8cb9e83ed73a",
      "name": "Проверка оплаты"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "h5YM9whrOFCP3UOu",
          "mode": "list",
          "cachedResultName": "Выставление статусов из БД в гугл таблицы"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        860,
        320
      ],
      "id": "da4284de-13d0-498f-b14e-1fa1e4e469f2",
      "name": "Выставление статусов БД>ГТ"
    },
    {
      "parameters": {
        "content": "## Запуск выставления статусов из БД в гугл табл в определённое время",
        "height": 83,
        "width": 473
      },
      "id": "bcd1c17e-87b9-4fb0-8336-778288f422c6",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jglcmeozEjX2pXrR",
          "mode": "list",
          "cachedResultName": "Сбор треков из гугл таблиц проще"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1700,
        120
      ],
      "id": "28c0feb1-11d7-4bd0-a996-085a28ab363a",
      "name": "Сбор треков из ГТ в БД"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Запуск проверки оплаты": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-02-05T16:24:37.889Z",
      "updatedAt": "2025-02-05T16:24:37.889Z",
      "id": "vsUr1hQQVG3ZP6Nk",
      "name": "BDCheck"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-20T10:14:30.000Z",
  "versionId": "17db0dbc-00f1-430c-b57d-97a361a577ee"
}