workflowПроверка треков из БД.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Распаковываем массив с треками",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Распаковываем массив с треками": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Трэк в цикле",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Трэк в цикле": {
      "main": [
        [
          {
            "node": "Получаем данные по трекам с сайта Белпочты",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Выставляем в БД табл Traks статус Доставлено1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Выставляем в БД табл Traks статус Доставлено отправителю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Выставляем в БД табл Traks статус Доставлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Без отметки доставлено мэтч по индексу (по ID) бп": {
      "main": [
        []
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "разница",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разница": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем данные по трекам с сайта Белпочты": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выставляем в БД табл Traks статус Доставлено отправителю": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выставляем в БД табл Traks статус Доставлено": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выставляем в БД табл Traks статус Доставлено1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Получаем данные по трекам с сайта Белпочты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-11T13:49:20.450Z",
  "id": "YmijBbofjG27z5Tx",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Проверка треков из БД",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return(\n[\n  {\n    \"headers\": {\n      \"host\": \"n8n.makees.online\",\n      \"user-agent\": \"axios/1.7.4\",\n      \"content-length\": \"97813\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"accept-encoding\": \"gzip, compress, deflate, br\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"172.18.0.1\",\n      \"x-forwarded-host\": \"n8n.makees.online\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"95e7a8ea3679\",\n      \"x-real-ip\": \"172.18.0.1\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": [\n      {\n        \"Track\": \"BP191170662BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BP191170676BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BP191173417BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BP191175568BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV324506449BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV324786412BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV324926945BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV324927061BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325016375BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325016659BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325017209BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325017795BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325017835BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325018371BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325018399BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325018725BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325019451BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325019726BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325020097BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325020295BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325020485BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325020755BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325020980BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325021384BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325021424BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325021441BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325022115BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325028643BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325052642BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325052713BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325054246BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325056057BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325056321BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325056370BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325056454BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325056658BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325057579BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325057667BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325057715BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325057874BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325057905BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325058319BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325063407BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325063588BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325063781BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325064362BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325064481BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325064861BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325064963BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325065080BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325071690BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325071920BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325071995BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325072491BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325075555BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325076428BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325077057BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325077074BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325082220BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325083741BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325085521BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325085668BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325086535BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325091703BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325092329BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325092607BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325099049BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325099185BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325099260BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325099579BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325099605BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325099715BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325099755BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325099976BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325100095BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325110226BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325110708BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325110977BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325114090BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325114700BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325115550BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325115855BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325116728BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325118600BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325118879BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325119123BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325119185BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325119313BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325120081BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325120118BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325120170BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325120206BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325120268BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325120356BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325127955BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325128947BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325129868BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325155134BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325157529BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325157740BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325158802BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325158881BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325158904BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325158935BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325159618BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325159635BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325159723BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325159825BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325160559BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325161673BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325163864BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325165644BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325165675BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325165701BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325165763BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325166295BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325166392BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325166401BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325166790BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325168994BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325170905BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325170919BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325171021BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325171389BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325171401BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325171429BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325171450BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325171477BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325171605BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325174751BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325174782BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325175071BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325176633BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325176854BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325199149BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325202744BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325202775BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325202801BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325202829BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325202903BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325202934BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325203020BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325203055BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325203325BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325203501BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325203532BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325203617BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325203648BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325203679BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325203957BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325213000BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325213035BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325216292BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325216315BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325216377BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325216385BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325216479BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325216584BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325216686BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325216726BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325216788BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325225250BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325234101BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325238695BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325238845BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325238908BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325238956BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325239041BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325240416BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325240455BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325240756BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325246135BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325246881BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325247110BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325247365BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325247428BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325247856BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325248689BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325248998BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325249295BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:39\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325249667BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325253556BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325253573BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325253587BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325253661BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325253729BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325253746BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325253750BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325253803BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325253817BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325253865BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325253919BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325254137BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255000BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255044BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255075BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255115BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255132BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255146BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255150BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255177BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255217BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255225BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255279BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255353BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255375BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255384BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325255398BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262120BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262178BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262195BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262310BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262354BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262368BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262371BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262408BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262425BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262456BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262460BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262495BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262500BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262575BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262592BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325262615BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325263536BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325263669BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325263686BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325263726BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325276248BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325276265BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325276591BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325276662BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325276870BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325277190BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325277844BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325278924BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325279173BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325279522BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325279726BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325279828BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325280018BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325280344BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325281035BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325281217BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325281415BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325291483BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325291775BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BV325291815BY\",\n        \"IdTables\": \"ZsForIra001\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-10 17:42:40\",\n        \"DateLastUpd\": \"2024-10-10\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BP191178754BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BP191179012BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BP191179128BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"BP191189394BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC298978465BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC298987665BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC298996733BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299000494BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299001265BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299005430BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299005616BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299005766BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299006174BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299006228BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299006568BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299006625BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299007033BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299010647BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299012427BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299013127BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299013135BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299013277BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299013365BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299016446BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299016517BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299016551BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299016769BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299016809BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299016905BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299017132BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299017203BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299017248BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299017424BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299017605BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC299017645BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305156440BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305156467BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305156935BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305157105BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305157895BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305158065BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305158304BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305158397BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305158410BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305162975BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305163817BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305163984BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305164070BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305164171BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305164273BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305164327BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305164361BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305164525BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305164596BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305164619BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305164684BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305164715BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305166654BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305166708BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305166739BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305166742BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305166985BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305167031BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305167601BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305167663BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305167751BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305167941BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305168173BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305168350BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305173686BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305173690BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305173765BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305173791BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305173862BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305174094BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305174355BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305174390BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305174474BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305174488BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305174718BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305174749BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305174783BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305174956BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305175259BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305175276BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305175316BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305175418BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305175421BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305175452BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305175829BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176104BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176121BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176245BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176360BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176400BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176444BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176489BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176563BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176594BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176648BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176665BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176807BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305176886BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305177025BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305183754BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305183768BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305183989BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305184349BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305184508BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305184542BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305184882BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305185083BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305185137BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305185208BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305185361BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305185534BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305185548BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305190503BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305190698BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305190755BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305190786BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305190809BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305199241BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305199480BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305199547BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305199555BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305199618BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305199649BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305199697BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305199706BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305199745BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305199873BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305199927BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305210830BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305210843BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305210857BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305210914BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305210931BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305211027BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305211129BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305211146BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305211265BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305211375BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305211424BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305211438BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305211441BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305211469BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      },\n      {\n        \"Track\": \"PC305211472BY\",\n        \"IdTables\": \"ZsForIra002\",\n        \"Status\": \"Не доставлено\",\n        \"DateAdd\": \"2024-10-11 11:25:55\",\n        \"DateLastUpd\": \"2024-10-11\",\n        \"History\": \"Этот трек впервые попал в БД\",\n        \"PostProvider\": \"BP\",\n        \"lim\": 396,\n        \"\": \"\"\n      }\n    ],\n    \"webhookUrl\": \"https://n8n.makees.online/webhook-test/check_trackBP\",\n    \"executionMode\": \"test\"\n  }\n]\n);"
      },
      "id": "e7f2d91c-a496-4994-ae61-a5ea1c9cb841",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        540
      ]
    },
    {
      "parameters": {},
      "id": "bf36efa6-5d66-4b12-8f96-99a4ad8d61bd",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e68fd29a-2217-4dde-b045-ab192fb6faa5",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "60261606-2c0b-4945-9a78-5432dfbcbd64",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        340
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "id": "872df514-088c-4c46-9a40-a35762a9e219",
      "name": "Распаковываем массив с треками",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1180,
        340
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "path": "check_trackBP",
        "options": {}
      },
      "id": "b3d9f9b0-8a34-4bc2-93e6-17b19ad062a5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        640,
        340
      ],
      "webhookId": "0be951ee-3f27-49dc-9632-4596eb88b470",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5666f47b-0463-46fd-8e4e-03a8c3860b57",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1400,
        340
      ]
    },
    {
      "parameters": {},
      "id": "b06c0af0-84a3-4f72-baf9-56694ec7c11b",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1480,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.belpost.by/api/v1/tracking",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjM0OTk3NDI4OTE1MjNjYzgxMTM5OTVlMGQwNWRjNDkyZGQ2NTBmM2Y2MTM4ZDA0ZGY4YTY2M2UxYmNlOTM4NTgyMWE4M2Y0NmFmYWYwYjMxIn0.eyJhdWQiOiIyIiwianRpIjoiMzQ5OTc0Mjg5MTUyM2NjODExMzk5NWUwZDA1ZGM0OTJkZDY1MGYzZjYxMzhkMDRkZjhhNjYzZTFiY2U5Mzg1ODIxYTgzZjQ2YWZhZjBiMzEiLCJpYXQiOjE2NzcwOTkyNzgsIm5iZiI6MTY3NzA5OTI3OCwiZXhwIjoxNzA4NjM1Mjc4LCJzdWIiOiIxMjAwNzY3Iiwic2NvcGVzIjpbXX0.JHJc9aEnNpWFzxJ6P-XvJsrgp6yrXe3mI39dsGmTBKD1gGubNJnIsJoUuke0nYP7bUjRYIwDmWYTQgWRJUCZPw42UeHgdQroce4K9QOXIE39r0z3jVgNIvsJCKb36Oy-1ZKwYxiaLBohlPohDrX--BYoq0Il8dl61CIa6BlxFxkqd27IkZ-6YZ45zbpFDexWXpLWhWJZ3-IuUXkz7Es_oa6ujRLBVyWxjwMuzpGZQFom1Kxh2gAimBgUEiXhRBd_Fe-hpNmQ0Gw5h_N-udtXGbGrHxaARriUhPd70pFJ-Ns_4ucbvgfDqo3MP_XzxYct898S2dPZyro0FCTGePy-4i9JKUAB_tjEutfj60N9mKVlTB9642lJ81lJkXNsxOeXunkUSk53pVcHxHwv8v4NneWQ2KlhbTOUzS5exvBb6At1NWuNV_6FRjYlkIv_Aqii76K-sZfKmGMqkuK0Abb8ygh86xIu3O-MiacDQvsaUpbMl_MY2Xm-XMb13phHD6LL2yPuHIWGUp6i9DDgOxAzBFQqrDwqRkcIhwS_aYXqiuvupY7rv5RrP3lzv9FR_WWF57Q3Z2HmP98KA2xRoVLt7m1ARC1Tr7Ucmanm57XFfwdRZUP7L2lW1TsMWcgJPqmD5SCQJlg50_BZopwh0aVO5BzsiBISxFoaGXMPJ96KbLs"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Track }}"
            }
          ]
        },
        "options": {}
      },
      "id": "10111386-7319-46e1-9930-54236cd63c39",
      "name": "Получаем данные по трекам с сайта Белпочты",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1940,
        360
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9bab58ba-391d-4429-bd78-258a475469a8",
              "name": "Track",
              "value": "={{ $json.Track }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "548b15c9-a4a8-4a9b-be86-c4729595ec58",
      "name": "Трэк в цикле",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Трек номер",
              "value": "={{ $json[\"data\"][0][\"number\"] }}"
            },
            {
              "name": "Статус и дата обновления",
              "value": "={{ $json[\"data\"][0][\"steps\"][0][\"event\"] }} / {{ $json[\"data\"][0][\"steps\"][0][\"place\"] }}  / {{ $json[\"data\"][0][\"steps\"][0][\"place_index\"] }} / {{ $json[\"data\"][0][\"steps\"][0][\"created_at\"] }}"
            },
            {
              "name": "статус кор.",
              "value": "={{ $json[\"data\"][0][\"steps\"][0][\"event\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d0c2bbb8-10da-48bd-8860-ed086f4f2c6a",
      "name": "Структурируем http ответ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2420,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data[0].steps[0].event }}",
              "operation": "contains",
              "value2": "Вручено"
            }
          ]
        }
      },
      "id": "9ac951e7-7432-477c-9416-e669cbbbe77a",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2440,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data[0].steps[0].event }}",
              "operation": "contains",
              "value2": "Вручено отправителю"
            }
          ]
        }
      },
      "id": "f0bc9b4b-77fe-4afa-aef9-8fa9c6918f15",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2740,
        260
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} БП",
            "Индекс": "={{ $json.индекс }}",
            "Актуальный статус": "={{ $('Структурируем http ответ').first().json['Трек номер'] }}: {{ $json['Статус и дата обновления'] }} "
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "число",
              "displayName": "число",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио менеджера",
              "displayName": "фио менеджера",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "таблица",
              "displayName": "таблица",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "штраф",
              "displayName": "штраф",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "личный",
              "displayName": "личный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Рос руб",
              "displayName": "Рос руб",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "adc7c5fa-2616-4b36-b12c-a00146601c69",
      "name": "Без отметки доставлено мэтч по индексу (по ID) бп",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2460,
        1180
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "4526b361-4834-4739-a5aa-11efccdb881e",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3020,
        540
      ]
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $('Date & Time').first().json.currentDate }}",
        "endDate": "={{ $now }}",
        "units": [
          "second"
        ],
        "options": {}
      },
      "id": "f08439a3-e8fb-4ce2-8b7d-e082e155c42d",
      "name": "разница",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2880,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e79248ef-02b4-4d93-8c40-2e478a3bac34",
              "leftValue": "={{ 35 - $json.timeDifference.seconds }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9f7c0f0b-2f3f-43d3-991c-65e8e5791713",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3120,
        880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f9f64ef-8fab-4fc7-a42b-31640b614086",
              "name": "timer",
              "value": "={{42- $json.timeDifference.seconds + Math.random()*10  }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "787a9cb3-b023-48f3-9ab5-dff26eff460d",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        3340,
        800
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f9f64ef-8fab-4fc7-a42b-31640b614086",
              "name": "timer",
              "value": "=1",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "89cb96ba-9ef8-44d3-921a-f9b791aeeefe",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        3340,
        1000
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.random()*10 + $json[\"timer\"] }}",
        "unit": "seconds"
      },
      "id": "de12d33b-37bb-45ba-a6e7-74fa10772256",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3780,
        880
      ],
      "webhookId": "4ea94f44-9cef-4c88-a1d6-8e2289dbcf32"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4537afc-1288-4793-90e5-dc1192e4b985",
              "name": "data[0].number",
              "value": "={{ $json.data[0].number }}",
              "type": "string"
            },
            {
              "id": "694bfdba-5419-46ac-af61-233d9dee5316",
              "name": "data[0].steps[0].event",
              "value": "={{ $json.data[0].steps[0].event }}",
              "type": "string"
            },
            {
              "id": "5a20f685-f36c-46c2-b690-f5ff0a9d49fc",
              "name": "data[0].steps",
              "value": "={{ $json.data[0].steps }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "40cd5e1f-1974-48d3-aeab-308810f0dc4d",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        280
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Track",
        "valueToMatchOn": "={{ $json.data[0].number }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Status",
              "value": "=Доставлено"
            },
            {
              "column": "DateLastUpd",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "column": "History",
              "value": "={{ JSON.stringify($json.data[0].steps) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0ec3152b-4843-4283-b2a6-924065e608b9",
      "name": "Выставляем в БД табл Traks статус Доставлено",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2700,
        540
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Track",
        "valueToMatchOn": "={{ $json.data[0].number }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Status",
              "value": "=Доставлено отправителю"
            }
          ]
        },
        "options": {}
      },
      "id": "3fb7a91f-3b56-410d-ae62-b60e426700f8",
      "name": "Выставляем в БД табл Traks статус Доставлено отправителю",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3080,
        240
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Track",
        "valueToMatchOn": "={{ $json.data[0].number }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Status",
              "value": "={{ $json.data[0].steps[0].event }}"
            },
            {
              "column": "DateLastUpd",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "column": "History",
              "value": "={{ JSON.stringify($json.data[0].steps) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2261c629-6a37-4fb4-a5fc-7b11806d79d6",
      "name": "Выставляем в БД табл Traks статус Доставлено1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2500,
        800
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "06bdfc80-aba2-4424-a938-3264d1957b9d",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1720,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "130997e0-9937-4e87-ac6b-a30e673b0c8a",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1efa6a2f-c7c2-4cf0-bb5b-fcd3d8ad3c58",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        140
      ]
    },
    {
      "parameters": {},
      "id": "02d8e653-90c8-45b9-9ba0-d57d5b32f92e",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3560,
        880
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-10-13T08:16:22.000Z",
  "versionId": "8c974368-d1ff-4b1f-b091-e9f1786609a2"
}