workflowСбор треков в одну таблицу глубже (для всех).json
{
  "active": false,
  "connections": {
    "Google Sheets21": {
      "main": [
        [
          {
            "node": "Достаём список со всеми треками",
            "type": "main",
            "index": 0
          },
          {
            "node": "Отфильтровываем строки со статусом Доставлено1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Датос1": {
      "main": [
        [
          {
            "node": "Google Sheets21",
            "type": "main",
            "index": 0
          },
          {
            "node": "JsonDatabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Выбираем только уникальные треки",
            "type": "main",
            "index": 0
          },
          {
            "node": "Меняем triger0 на ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Достаём тригер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonDatabase1": {
      "main": [
        [
          {
            "node": "If27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If27": {
      "main": [
        [
          {
            "node": "Google Sheets21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Достаём тригер1": {
      "main": [
        [
          {
            "node": "If31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If31": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Меняем triger0 на 1": {
      "main": [
        [
          {
            "node": "If37",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If32": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выбираем только уникальные треки": {
      "main": [
        [
          {
            "node": "Меняем triger0 на 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Редактируем и исправляем все ошибки с треком",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Достаём тригер1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Достаём тригер1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Выбираем только уникальные треки",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "конец",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Меняем triger0 на ": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Выбираем только уникальные треки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Достаём тригер": {
      "main": [
        [
          {
            "node": "If34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If34": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновляем исправленый трек в исходной таблице": {
      "main": [
        [
          {
            "node": "If32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Забираем только нужные поля": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Обновляем исправленый трек в исходной таблице",
            "type": "main",
            "index": 0
          },
          {
            "node": "Меняем triger0 на 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Достаём тригер2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Достаём тригер2": {
      "main": [
        [
          {
            "node": "If35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If35": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Меняем triger0 на 4": {
      "main": [
        [
          {
            "node": "If36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If36": {
      "main": [
        [
          {
            "node": "Обновляем исправленый трек в исходной таблице",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If37": {
      "main": [
        [
          {
            "node": "Редактируем и исправляем все ошибки с треком",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "конец": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Достаём список со всеми треками": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Датос1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Чтение данных из workProcess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets26": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отфильтровываем строки со статусом Доставлено": {
      "main": [
        [],
        []
      ]
    },
    "Меняем triger0 на 3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Забираем только нужные поля",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Достаём тригер3": {
      "main": [
        [
          {
            "node": "If38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If38": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных из workProcess": {
      "main": [
        [
          {
            "node": "If27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Редактируем и исправляем все ошибки с треком old": {
      "main": [
        []
      ]
    },
    "Редактируем и исправляем все ошибки с треком": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отфильтровываем строки со статусом Доставлено1": {
      "main": [
        [
          {
            "node": "Забираем только нужные поля",
            "type": "main",
            "index": 0
          },
          {
            "node": "Меняем triger0 на 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Достаём тригер3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-02T17:24:48.292Z",
  "id": "MDSlp8hR1jR4mphK",
  "isArchived": false,
  "meta": null,
  "name": "Сбор треков в одну таблицу глубже (для всех)",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json['Ссылка полностью'] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json['Ссылка полностью'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        160,
        300
      ],
      "id": "e57060b8-46c8-4565-8b0a-3c82abface47",
      "name": "Google Sheets21",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -260,
        280
      ],
      "id": "6ff35cc3-31e9-49e9-8b63-896d1bc97f90",
      "name": "Датос1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8708f01f-5367-46cd-a89c-12a0d374e503",
              "leftValue": "={{ $json['трек'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2c348da0-6768-4cb8-8e57-dda2da0c659c",
              "leftValue": "={{ $json['трек'] }}",
              "rightValue": "сумма",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "f19abe22-b697-400c-9639-024e5b2f815a",
              "leftValue": "={{ $json['трек'] }}",
              "rightValue": "PCBY",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "818180d1-3d2e-4b3b-b40f-d5b5e2755f1c",
              "leftValue": "={{ $json['трек'] }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "903e5e49-ed6e-4579-8007-8ecc1a3acca8",
              "leftValue": "={{ $json['трек'].length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        260
      ],
      "id": "892693f5-93fd-4747-abf3-0d18abfb0c89",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        1080
      ],
      "id": "57777040-9dd6-49a0-b063-06de2d3a0d18",
      "name": "No Operation, do nothing2",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.trigers",
        "sourceType": "sourceTypeJson",
        "sourceData": "{  \"Triger1\":  0, \"Triger2\":  0, \"Triger3\":  0, \"Triger4\":  0 } ",
        "filePath": "=root/n8n/sborTreckAli.json"
      },
      "id": "b7ba57b2-b3fd-46fd-9a15-8202d7a333e0",
      "name": "JsonDatabase1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -280,
        120
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c93c2649-01a6-485c-a52a-749fe1c84068",
      "name": "If27",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        40
      ]
    },
    {
      "parameters": {
        "queryPath": "process.trigers.Triger1",
        "filePath": "=root/n8n/sborTreckAli.json"
      },
      "id": "e1fee184-7407-409a-af2b-fffd4de4faa8",
      "name": "Достаём тригер1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1180,
        1020
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce3316d8-b3a4-465d-ad20-ca8014b7a501",
              "leftValue": "={{ $json.data }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8148a6a4-fe79-4873-b535-483f968fdb8b",
      "name": "If31",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1460,
        1100
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.trigers.Triger1",
        "sourceType": "sourceTypeJson",
        "sourceData": "1",
        "filePath": "=root/n8n/sborTreckAli.json"
      },
      "id": "be4e63fb-7b95-4e0c-91d8-4a383f8d024a",
      "name": "Меняем triger0 на 1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1440,
        500
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2455eab1-f75f-4161-b2da-309ada3562e0",
      "name": "If32",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2460,
        400
      ]
    },
    {
      "parameters": {
        "content": "# Сбор треков в одну таблицу глубже",
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1420,
        -120
      ],
      "typeVersion": 1,
      "id": "3edcab2e-1021-4ce9-b23c-4d1b36a9697a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "трек",
              "field2": "трек"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1240,
        640
      ],
      "id": "96171734-f64e-4d4e-8f98-826bb24c26c1",
      "name": "Выбираем только уникальные треки"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {
          "destinationFieldName": "трек"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        600,
        680
      ],
      "id": "fee9a322-9818-4ef6-b01e-0db34bae1cb5",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2620,
        1080
      ],
      "id": "2cf13fb3-da5e-4021-93ba-90e337f85d6e",
      "name": "Wait4",
      "webhookId": "52c765ee-3268-4f2d-9a77-d663976a0dc8",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        280
      ],
      "id": "382045e0-ebc3-4112-87c1-8985c3768323",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.trigers.Triger2",
        "sourceType": "sourceTypeJson",
        "sourceData": "1",
        "filePath": "=root/n8n/sborTreckAli.json"
      },
      "id": "4d766397-0eca-4c40-bc50-f127941f65e2",
      "name": "Меняем triger0 на ",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1360,
        60
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f507e76f-5f32-46e0-af1d-355f96f05797",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        60
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "queryPath": "process.trigers.Triger2",
        "filePath": "=root/n8n/sborTreckAli.json"
      },
      "id": "8677b002-118b-410f-83a0-c8c271e9d65e",
      "name": "Достаём тригер",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1460,
        300
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce3316d8-b3a4-465d-ad20-ca8014b7a501",
              "leftValue": "={{ $json.data }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fab34312-27b9-4a9d-91cb-bb1b2182f585",
      "name": "If34",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        300
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Датос1').item.json['Ссылка полностью'] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Датос1').item.json['Ссылка полностью'] }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "трек": "={{ $json['трек'] }}",
            "Отметка о доставке": "={{'=ЕСЛИ(ЕОШИБКА(ВПР(H'}}{{ $json.row_number }}{{ '; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки!A:B\")); 2; ЛОЖЬ)); ЕСЛИ(ЕОШИБКА(ВПР(H'}}{{ $json.row_number }}{{ '; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки доставлено!A:B\")); 2; ЛОЖЬ)); ЕСЛИ(ЕОШИБКА(ВПР(H'}}{{ $json.row_number }}{{ '; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки ВО!A:B\")); 2; ЛОЖЬ)); \"Результат не найден\";ВПР(H'}}{{ $json.row_number }}{{ '; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки ВО!A:B\")); 2; ЛОЖЬ));ВПР(H'}}{{ $json.row_number }}{{ '; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки доставлено!A:B\")); 2; ЛОЖЬ));ВПР(H'}}{{ $json.row_number }}{{ '; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки!A:B\")); 2; ЛОЖЬ)) '}}",
            "Актуальный статус": "={{'=ЕСЛИ(ЕОШИБКА(ВПР(H'}}{{ $json.row_number }}{{'; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки!A:G\")); 7; ЛОЖЬ)); ЕСЛИ(ЕОШИБКА(ВПР(H'}}{{ $json.row_number }}{{'; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки доставлено!A:G\")); 7; ЛОЖЬ)); ЕСЛИ(ЕОШИБКА(ВПР(H'}}{{ $json.row_number }}{{'; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки ВО!A:G\")); 7; ЛОЖЬ)); \"Результат не найден\";ВПР(H'}}{{ $json.row_number }}{{'; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки ВО!A:G\")); 7; ЛОЖЬ));ВПР(H'}}{{ $json.row_number }}{{'; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки доставлено!A:G\")); 7; ЛОЖЬ));ВПР(H'}}{{ $json.row_number }}{{'; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Чтение данных из workProcess').first().json.start_tableID }}{{'/edit\"; \"Все треки!A:G\")); 7; ЛОЖЬ))'}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Заказ",
              "displayName": "Заказ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Тип ЗАКАЗА",
              "displayName": "Тип ЗАКАЗА",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Фамилия",
              "displayName": "Фамилия",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "RUB",
              "displayName": "RUB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BYN",
              "displayName": "BYN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Накрут",
              "displayName": "Накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Продажа",
              "displayName": "Продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Итог",
              "displayName": "Итог",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "% от цены в зависимости от типа заказа",
              "displayName": "% от цены в зависимости от типа заказа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "% от накрутов зависимости от типа заказа",
              "displayName": "% от накрутов зависимости от типа заказа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Вычет",
              "displayName": "Вычет",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Доставлено byn",
              "displayName": "Доставлено byn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2240,
        560
      ],
      "id": "323793f4-e512-438d-b7df-ea0497de4707",
      "name": "Обновляем исправленый трек в исходной таблице",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2540,
        660
      ],
      "id": "839d6449-ed1f-4fa8-ab8d-b215c7f1a29b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd3c81e8-11ec-46ec-a44c-43ec276fb6be",
              "name": "трек",
              "value": "={{ $json['трек'] }}",
              "type": "string"
            },
            {
              "id": "daff95df-44bf-4f63-950e-d4d01be97ee9",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        260
      ],
      "id": "7ea4b276-1f84-48cf-8838-56454af600e0",
      "name": "Забираем только нужные поля",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9babe98-4379-4c6e-bb90-a9f9d0cb19b8",
              "leftValue": "={{ $json['трек'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1860,
        680
      ],
      "id": "581a679a-8a2d-4361-97fc-6a28f74f10d3",
      "name": "If1"
    },
    {
      "parameters": {
        "queryPath": "process.trigers.Triger3",
        "filePath": "=root/n8n/sborTreckAli.json"
      },
      "id": "ab9b0c3a-724d-48b9-a951-c9e57ec0b4fa",
      "name": "Достаём тригер2",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1600,
        900
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce3316d8-b3a4-465d-ad20-ca8014b7a501",
              "leftValue": "={{ $json.data }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f8533853-2062-4117-ac7d-a9ba5f800fe0",
      "name": "If35",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1880,
        980
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.trigers.Triger3",
        "sourceType": "sourceTypeJson",
        "sourceData": "1",
        "filePath": "=root/n8n/sborTreckAli.json"
      },
      "id": "6ac83090-70ad-409f-a9ef-45b03d10ae93",
      "name": "Меняем triger0 на 4",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1980,
        360
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9c422375-b097-4e31-946d-235ec216dc70",
      "name": "If36",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2180,
        360
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1eb10696-71bd-4cf7-83d1-10211dbc38cf",
      "name": "If37",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1700,
        500
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3220,
        1080
      ],
      "id": "534fad65-3f4e-4806-8a83-ec6fdd4e3b41",
      "name": "конец",
      "executeOnce": true
    },
    {
      "parameters": {
        "queryPath": "=process.AllTracks.{{ $('Датос1').item.json.processID }}",
        "filePath": "=root/n8n/sborTreckAll.json"
      },
      "id": "3765b861-8814-40e5-8eda-71ab1489f9e6",
      "name": "Достаём список со всеми треками",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -60,
        680
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43637266-275f-4fdf-9f41-e7f6664e39f2",
              "name": "процесс окончен для таблицы",
              "value": "={{ $('Датос1').first().json['Ссылка полностью'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3540,
        1080
      ],
      "id": "e4e4f7f3-d29c-4035-a6ab-abcc62547d5e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "Еженедельная проверка актуальности треков: https://n8n.makeesn8n.online/workflow/iuEDDrMBBeFpXKK8\nСбор треков в одну таблицу глубже: https://n8n.makeesn8n.online/workflow/tOhDVVYOBjamLSwH\nПеренос доставленых в отдельную таблицу:\nhttps://n8n.makeesn8n.online/workflow/EXGqCFtpn87dq5w8",
        "height": 140,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        120
      ],
      "typeVersion": 1,
      "id": "2e952b4b-5700-4b03-b973-17bb6e96e112",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "return (\n  [\n  {\n    \"row_number\": 3,\n    \"Ссылка полностью\": \"https://docs.google.com/spreadsheets/d/1uvCEYqUQmdfiQtq9sBNUS9jzxWGpAyzts1v_6wXEUYw/edit#gid=0\",\n    \"Таблица\": \"1avcQ7p1GHq5mASKgEmLOtQIDqlPsPVT38xvXaOILcxk\",\n    \"Страница\": \"0\",\n    \"Чек-бокс\": true,\n    \"Доп чек\": true,\n    \"col_6\": \"\",\n    \"col_7\": \"\",\n    \"processID\": \"ForIra\"\n  }\n]\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        280
      ],
      "id": "5897a32a-6783-49f7-a96e-56d4d61d71eb",
      "name": "Code",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Чтение данных из workProcess').first().json.start_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Чтение данных из workProcess').first().json.allTraks_pageID }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "трек": "={{ $json['трек'] }}",
            "Отметка о доставке": "Не доставлено",
            "Дата добавления": "={{ $now.format('dd.MM.yy HH:mm:ss') }}",
            "url таблицы из которой трек": "={{ $('Датос1').first().json['Ссылка полностью'] }}",
            "Индекс": "={{ $json['трек'].slice(0,2)+$now.format('mmss')+ (Math.random()*10).round(3)+$('Датос1').item.json.processID.slice(2,7) }}",
            "Актуальный статус": "Нет в БД"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата добавления",
              "displayName": "Дата добавления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url таблицы из которой трек",
              "displayName": "url таблицы из которой трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2860,
        660
      ],
      "id": "3cac809a-685f-46aa-af8f-1f212716b344",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Чтение данных из workProcess').first().json.data.variebles.start_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1749143586,
          "mode": "list",
          "cachedResultName": "Все треки",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_9LgkTKoyqjtKD4zr8yrpiS8B626zwwShptCgpfJhoE/edit#gid=1749143586"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "трек": "={{ $json['трек'] }}",
            "Отметка о доставке": "Не доставлено",
            "Дата добавления": "={{ $now.format('dd.MM.yy HH:mm:ss') }}",
            "Дата последнего обновления": "={{ $now.format('dd.MM.yy HH:mm:ss') }}",
            "url таблицы из которой трек": "={{ $('Датос1').first().json['Ссылка полностью'] }}",
            "Индекс": "={{ $json['трек'].slice(0,2)+$now.format('mmss')+ (Math.random()*10).round(3)+$('Датос1').item.json.processID.slice(2,7) }}",
            "Актуальный статус": "Нет в БД"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата добавления",
              "displayName": "Дата добавления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url таблицы из которой трек",
              "displayName": "url таблицы из которой трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2820,
        260
      ],
      "id": "335530cb-56e6-4148-82f7-8d662a32be20",
      "name": "Google Sheets26",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return (\n  [\n  {\n    \"row_number\": 2,\n    \"Ссылка полностью\": \"https://docs.google.com/spreadsheets/d/16oHTECcQN5z7xQ-3zBZCfgFNOM5MX0N7bE3S3QeiX1s/edit?pli=1#gid=655303473\",\n    \"Таблица\": \"16oHTECcQN5z7xQ-3zBZCfgFNOM5MX0N7bE3S3QeiX1s\",\n    \"Страница\": \"655303473\",\n    \"Чек-бокс\": true,\n    \"col_5\": \"\",\n    \"было\": true,\n    \"processID\": \"ForIra\"\n  }\n]\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        520
      ],
      "id": "e51b2fd9-85a6-46f0-8ebd-dc4f90d1a6a1",
      "name": "Code1",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e4da2bb-3786-44b8-a0b5-02acbecbf433",
              "leftValue": "={{ $json['Отметка о доставке'] }}",
              "rightValue": "Доставлено",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "59cec878-c3de-4fe8-a8a5-7c51990d69f6",
              "leftValue": "={{ $json['Отметка о доставке'] }}",
              "rightValue": "Вручено отправителю",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "7d48272b-24eb-4bb0-8246-c7a589e5e5bc",
              "leftValue": "={{ $json['Отметка о доставке'] }}",
              "rightValue": "не проверять",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        -140
      ],
      "id": "5e6c95cd-3204-4321-a187-5a27a207bcec",
      "name": "Отфильтровываем строки со статусом Доставлено"
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.trigers.Triger4",
        "sourceType": "sourceTypeJson",
        "sourceData": "1",
        "filePath": "=root/n8n/sborTreckAli.json"
      },
      "id": "8fc6924d-5747-4a01-90e9-23c8cefc5dfd",
      "name": "Меняем triger0 на 3",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        720,
        40
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "af3977dc-b1fa-478e-8a8e-4b3378c5ed1e",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        40
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "queryPath": "process.trigers.Triger4",
        "filePath": "=root/n8n/sborTreckAli.json"
      },
      "id": "e16b658d-f7c3-4408-b620-c3ae1ec52360",
      "name": "Достаём тригер3",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        720,
        500
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce3316d8-b3a4-465d-ad20-ca8014b7a501",
              "leftValue": "={{ $json.data }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "018ed3d4-759c-44c6-b527-1996692e5faa",
      "name": "If38",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        500
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return (\n [\n  {\n    \"row_number\": 2,\n    \"Ссылка полностью\": \"https://docs.google.com/spreadsheets/d/10NU4RLKPG8LwBoxL_qZyaeUXy6KRwq6901duTA5Hbpo/edit?gid=299525223#gid=299525223\",\n    \"Таблица\": \"10NU4RLKPG8LwBoxL_qZyaeUXy6KRwq6901duTA5Hbpo\",\n    \"Страница\": \"299525223\",\n    \"Чек-бокс\": true,\n    \"processID\": \"zsAli\"\n  }\n]\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        520
      ],
      "id": "659392c9-ff80-4e76-a8b3-6d9701b897f0",
      "name": "Code2",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        900
      ],
      "id": "a0f8b74c-48f9-4962-9268-64fdf7c36a8e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "jsCode": "return (\n[\n  {\n    \"row_number\": 6,\n    \"Ссылка полностью\": \"https://docs.google.com/spreadsheets/d/1AUzWdRvvgCZ5Fh1PV3Za5qdrewcneWX3WTqrSYiZbb0/edit?gid=707749583#gid=707749583\",\n    \"Таблица\": \"1AUzWdRvvgCZ5Fh1PV3Za5qdrewcneWX3WTqrSYiZbb0\",\n    \"Страница\": \"707749583\",\n    \"Чек-бокс\": true,\n    \"processID\": \"zsAliTwo\"\n  }\n]\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        760
      ],
      "id": "b317b8ed-c174-4c24-b7a0-3a0062740a37",
      "name": "Code3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "tablsCC",
          "mode": "list",
          "cachedResultName": "tablsCC"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "processID",
              "value": "={{ $json.processID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "29b42eeb-bf80-4834-bc38-4fc95ef179b2",
      "name": "Чтение данных из workProcess",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -520,
        -100
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d20d3a77-f5f3-4d9c-a42b-09e28be8b4c0",
              "name": "трек",
              "value": "={{ $json['трек'].toString().replace(/[^a-zA-Z0-9]/g, '').toUpperCase().replaceAll('О','0').replaceAll('O','0').replaceAll('Р','P').replaceAll('С','C').replaceAll('В','B') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        100
      ],
      "id": "f526aa10-fcbe-4cf8-81e4-7a092cfa0292",
      "name": "Редактируем и исправляем все ошибки с треком old"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d20d3a77-f5f3-4d9c-a42b-09e28be8b4c0",
              "name": "трек",
              "value": "={{ $json['трек'].toString().toUpperCase().replaceAll('О','0').replaceAll('O','0').replaceAll('Р','P').replaceAll('С','C').replaceAll('В','B').replace(/[^a-zA-Z0-9]/g, '') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        680
      ],
      "id": "11cbe0d1-ace3-4876-bb75-1c2dd77d078f",
      "name": "Редактируем и исправляем все ошибки с треком"
    },
    {
      "parameters": {
        "jsCode": "return (\n[\n  {\n    \"row_number\": 2,\n    \"Ссылка полностью\": \"https://docs.google.com/spreadsheets/d/1C7jboWXhCR8E7CwPQ7M-Ehyw6kZuazGwz4iy4PXVYMs/edit?gid=814738789#gid=814738789\",\n    \"Таблица\": \"1C7jboWXhCR8E7CwPQ7M-Ehyw6kZuazGwz4iy4PXVYMs\",\n    \"Страница\": \"814738789\",\n    \"Чек-бокс\": true,\n    \"Доп чек\": true,\n    \"processID\": \"ZsForVika12\"\n  }\n]\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -920,
        660
      ],
      "id": "82cb0fcd-2100-4c83-aeb4-22e84c30d339",
      "name": "Code4",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return (\n[\n  {\n    \"row_number\": 21,\n    \"Ссылка полностью\": \"https://docs.google.com/spreadsheets/d/1VWDxpvvv9VuReicAkVduADKZOn9N8KTeB7ako_PRMNs/edit?gid=1096774900#gid=1096774900\",\n    \"Таблица\": \"1VWDxpvvv9VuReicAkVduADKZOn9N8KTeB7ako_PRMNs\",\n    \"Страница\": \"1096774900\",\n    \"Чек-бокс\": true,\n    \"col_5\": \"\",\n    \"processID\": \"ForNat\"\n  }\n]\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        780
      ],
      "id": "fa8d628e-6c83-480a-ab7d-03ac6ce7c170",
      "name": "Code5",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e4da2bb-3786-44b8-a0b5-02acbecbf433",
              "leftValue": "={{ $json['Отметка о доставке'] }}",
              "rightValue": "Не доставлено",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ad816c7c-c430-4f62-ace2-b5242c0178bc",
              "leftValue": "={{ $json['Отметка о доставке'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "63977327-23fb-4955-baa3-f3a9e102d47f",
              "leftValue": "={{ $json['Отметка о доставке'] }}",
              "rightValue": "Результат не найден",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        280
      ],
      "id": "dfe18e2f-3d7a-42be-8f1c-920917d3ad15",
      "name": "Отфильтровываем строки со статусом Доставлено1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-15T07:34:53.000Z",
  "versionId": "f56334e2-dde2-46da-8690-6dfa11b6adde"
}