workflowSova_save.json
{
  "active": true,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-27T14:57:19.453Z",
  "id": "Dwnq6af1Trt9YncD",
  "isArchived": false,
  "meta": null,
  "name": "Sova_save",
  "nodes": [
    {
      "parameters": {},
      "id": "b5d95119-d773-4447-bbb7-f5df8dbe0f0e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        880,
        260
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sssinstagram.com/ru/r",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "sssinstagram.com"
            },
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7"
            },
            {
              "name": "cookie",
              "value": "_gid=GA1.2.766228651.1703688301; random_n=eyJpdiI6Ik8zclFLTk5iSW54SWMxOEZCMHhmaUE9PSIsInZhbHVlIjoiZXJuN0JnQWkvK1ZMcUVFc1p5MEFsMkpMMUhKT2RNSHU2WmtXOWRvVkR0U0JTZXR6UHd3QmlpcWxqc0lybGtMTSIsIm1hYyI6ImVmZTIyYzdlZmFmMmFkNzg3MzllYmRlNzU1YzNkNmVhY2M4Y2IyY2Y5YTJlM2UwYzMyOWY1OTU3ZDdjOGYzNmIiLCJ0YWciOiIifQ%3D%3D; XSRF-TOKEN=eyJpdiI6InV4K1hsL3RYajFFNEpRR3lheUpqZmc9PSIsInZhbHVlIjoiTHVoMXJBOUNpZXAyTlZZdVE2ak1UcmJua0FPQ1JjaEE5Q2N0ZkpCU0hjZytkZ0lrQUhtVzRnb0o1cDZpdEhoOGlCSkhrbmNQd0Zza3hzK2dPRG1EL3l6UGQzdHRxRDJqamY0L1VCcGFxanZrQ1o1bXVtck1Cd0xudW0zc2gvTDYiLCJtYWMiOiI2NzE0ZjY0MTYyMzU4YjI2MGRjMjY5ZTFlOWJmNmY4ZjQzNDA5NmUxZmE3ZDI5ZmIzMzc1MTQ5NGIxOGQwNWI5IiwidGFnIjoiIn0%3D; sssinstagram_session=eyJpdiI6IkxrdzRxRElONUNXZi9EZHM3dTUxZFE9PSIsInZhbHVlIjoiQVpHdjM2R0dzSkNsS0cvSjNqVW5laTVMeTZUazFCRUt0L2V6U292d0Z6QWhDclB2KzJSTDg3OHljMWJGRjRkWGhub3JKS0ZHSTFTRlFsakhnbWRxdkZ3Wkdjcm5HcmJEUndOeXZPNnhZelA1QmxaaG56d0lsSnBCRk12VFdBdXEiLCJtYWMiOiIzOTYyYzA3NzJmNGE0NDRkNGVmZjYxZTcxNWRjMWMwMTY1NDU5YjI3ZTFkZmI1MDkzOWYzMmIzOTgzNTA5ZTk5IiwidGFnIjoiIn0%3D; _ga_90WCZ6NHEE=GS1.1.1703744825.2.0.1703744825.0.0.0; _ga=GA1.2.684270589.1703688301; _gat_UA-3524196-4=1; __gads=ID=82876d20d4bafc43:T=1703688301:RT=1703744827:S=ALNI_MZgfFv0dnDoUKy7ZSsFDfgEzZnGew; __gpi=UID=00000d2c958b4516:T=1703688301:RT=1703744827:S=ALNI_ManYkLOyo5-lnIaltcZ34-BgAYf7g; _ga_CN2Z3TL83Y=GS1.2.1703744825.2.1.1703744853.32.0.0"
            },
            {
              "name": "origin",
              "value": "https://sssinstagram.com"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not_A Brand\";v=\"8\", \"Chromium\";v=\"120\", \"Google Chrome\";v=\"120\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-origin"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "x-requested-with",
              "value": "XMLHttpRequest"
            },
            {
              "name": "x-xsrf-token",
              "value": "eyJpdiI6InV4K1hsL3RYajFFNEpRR3lheUpqZmc9PSIsInZhbHVlIjoiTHVoMXJBOUNpZXAyTlZZdVE2ak1UcmJua0FPQ1JjaEE5Q2N0ZkpCU0hjZytkZ0lrQUhtVzRnb0o1cDZpdEhoOGlCSkhrbmNQd0Zza3hzK2dPRG1EL3l6UGQzdHRxRDJqamY0L1VCcGFxanZrQ1o1bXVtck1Cd0xudW0zc2gvTDYiLCJtYWMiOiI2NzE0ZjY0MTYyMzU4YjI2MGRjMjY5ZTFlOWJmNmY4ZjQzNDA5NmUxZmE3ZDI5ZmIzMzc1MTQ5NGIxOGQwNWI5IiwidGFnIjoiIn0="
            },
            {
              "name": "x-valy-cache",
              "value": "accpted"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json;charset=UTF-8",
        "body": "={\"link\":\"{{ $json.message.text }}/\",\"token\":\"\"}",
        "options": {}
      },
      "id": "8fa0c950-ee6d-4646-8236-f15eab1238f7",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.data.items[0].urls[0].urlDownloadable }}",
        "options": {}
      },
      "id": "39a607ab-bfa2-4881-b846-568b3ac3ced5",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        260
      ]
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json.data.items[0].urls[0].url }}",
        "additionalFields": {}
      },
      "id": "2ba64cdb-e129-4d4e-84d2-71098575670c",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1520,
        260
      ],
      "credentials": {
        "telegramApi": {
          "id": "d8bhAs7mxUtRt1nH",
          "name": "sova"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "62034fdb-2c66-47a0-beeb-6edb9e90beeb",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        800,
        80
      ],
      "webhookId": "b12cf69c-ab4c-40af-a555-498a1d1abd52",
      "credentials": {
        "telegramApi": {
          "id": "d8bhAs7mxUtRt1nH",
          "name": "sova"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "aa24158d-dc3e-4a82-ab2a-15cfc5ae62b4",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        80
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2023-12-27T14:57:19.458Z",
      "updatedAt": "2023-12-27T14:57:19.458Z",
      "role": "workflow:owner",
      "workflowId": "Dwnq6af1Trt9YncD",
      "projectId": "NQcsor1lU8xEGtVE"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-28T08:03:06.646Z",
      "updatedAt": "2023-12-28T08:03:06.646Z",
      "id": "b0NYL2sHCdMBP0aq",
      "name": "bot"
    },
    {
      "createdAt": "2023-12-28T08:03:06.653Z",
      "updatedAt": "2023-12-28T08:03:06.653Z",
      "id": "rez9x3A4mWjYtuqn",
      "name": "tellegram"
    },
    {
      "createdAt": "2023-12-29T05:51:00.762Z",
      "updatedAt": "2023-12-29T05:51:00.762Z",
      "id": "uR4fI9KSndwE8uhC",
      "name": "instagramm"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-12-29T05:51:08.000Z",
  "versionId": "2a9b4f99-3c3a-4980-a8a6-098821a84a4a"
}