workflowBP_check.json
{
  "active": true,
  "connections": {
    "IF3": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Без отметки доставлено мэтч по индексу (по ID) бп",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Структурируем http ответ": {
      "main": [
        [
          {
            "node": "Отправка данных в модуль статистики",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем трек и отправляем только один": {
      "main": [
        [
          {
            "node": "Получаем данные по трекам с сайта Белпочты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Тут собраны все треки на проверку",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "Тут собраны все треки на проверку",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Ввод отрибутов процесс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Без отметки доставлено мэтч по индексу (по ID) бп": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "С отметкой доставлено мэтч по индексу  (по ID) бп": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Входящие данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "С отметкой Вручено отправителюмэтч по индексу  (по ID) бп1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "С отметкой доставлено мэтч по индексу  (по ID) бп",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "С отметкой Вручено отправителюмэтч по индексу  (по ID) бп1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Входящие данные": {
      "main": [
        [
          {
            "node": "Ввод отрибутов процесс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Чтение данных всего файла в JsonDatabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF7": {
      "main": [
        [
          {
            "node": "45db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем данные по трекам с сайта Белпочты": {
      "main": [
        [
          {
            "node": "Структурируем http ответ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ошибка при получении данных по треку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "СЗПЦ1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получаем трек и отправляем только один",
            "type": "main",
            "index": 0
          },
          {
            "node": "получаем procesID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ошибка при получении данных по треку": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ввод отрибутов процесс": {
      "main": [
        [
          {
            "node": "Чтение данных из workProcess1",
            "type": "main",
            "index": 0
          },
          {
            "node": "main JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Проверка остановки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных всего файла в JsonDatabase": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СЗПЦ": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СЗПЦ1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных из workProcess1": {
      "main": [
        [
          {
            "node": "Проверка окончена ли предыдущая проверка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка окончена ли предыдущая проверка": {
      "main": [
        [
          {
            "node": "Чтение данных всего файла в JsonDatabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных всего файла в JsonDatabase1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IF7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45db": {
      "main": [
        [
          {
            "node": "IF8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF8": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка данных в модуль статистики": {
      "main": [
        [
          {
            "node": "Тупик лог 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись данных в workProcess4": {
      "main": [
        [
          {
            "node": "СЗПЦ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main JSON": {
      "main": [
        [
          {
            "node": "Тупик лог",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing4": {
      "main": [
        [
          {
            "node": "СЗПЦ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тут собраны все треки на проверку": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Запись переменной балансировщика5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "СЗПЦ2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Запись переменной балансировщика1",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Отправляем сообщение в телеграмм",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "только один трек",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных всего файла в JsonDatabase2": {
      "main": [
        [
          {
            "node": "отправляем запрос на другой сервак",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СЗПЦ2": {
      "main": [
        [
          {
            "node": "Чтение данных всего файла в JsonDatabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись переменной балансировщика1": {
      "main": [
        [
          {
            "node": "Тупик лог 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем трекномер на соответствие шаблону европочта1": {
      "main": [
        [
          {
            "node": "Запись переменной балансировщика3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tmp read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение переменной балансировщика": {
      "main": [
        [
          {
            "node": "проверяем трекномер на соответствие шаблону европочта1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тупик лог": {
      "main": [
        [
          {
            "node": "Чтение данных из workProcess1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тупик лог 1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тупик лог2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "отправляем запрос на другой сервак": {
      "main": [
        [
          {
            "node": "Тупик лог2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing5": {
      "main": [
        [
          {
            "node": "Завершение процесса. Возврат в тглавный процесс.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "только один трек": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF9": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Таймер тут",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Таймер тут",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Таймер тут": {
      "main": [
        [
          {
            "node": "Тупик лог2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Чтение переменной балансировщика",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись переменной балансировщика": {
      "main": [
        [
          {
            "node": "Чтение переменной балансировщика",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись переменной балансировщика2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tmp read": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Запись переменной балансировщика2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем сообщение в телеграмм6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись переменной балансировщика3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Запись переменной балансировщика",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем сообщение в телеграмм6": {
      "main": [
        [
          {
            "node": "Запись переменной балансировщика3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем сообщение в телеграмм": {
      "main": [
        [
          {
            "node": "Тупик лог3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тупик лог3": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запись переменной балансировщика5": {
      "main": [
        [
          {
            "node": "Тупик лог ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тупик лог ": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка остановки1": {
      "main": [
        [
          {
            "node": "Тупик лог",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка остановки": {
      "main": [
        [
          {
            "node": "Тупик лог 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тупик лог 2": {
      "main": [
        [
          {
            "node": "получаем трек и отправляем только один",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем procesID": {
      "main": [
        [
          {
            "node": "Проверка остановки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тупик лог 3": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Тупик лог 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разница": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Запись данных в workProcess4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "разница",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-24T15:52:10.628Z",
  "id": "z1ebLdFwBMuXHUut",
  "meta": null,
  "name": "BP_check",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Трек номер",
              "value": "={{ $json[\"data\"][0][\"number\"] }}"
            },
            {
              "name": "Статус и дата обновления",
              "value": "={{ $json[\"data\"][0][\"steps\"][0][\"event\"] }} / {{ $json[\"data\"][0][\"steps\"][0][\"place\"] }}  / {{ $json[\"data\"][0][\"steps\"][0][\"place_index\"] }} / {{ $json[\"data\"][0][\"steps\"][0][\"created_at\"] }}"
            },
            {
              "name": "статус кор.",
              "value": "={{ $json[\"data\"][0][\"steps\"][0][\"event\"] }}"
            },
            {
              "name": "=индекс",
              "value": "={{ $('получаем трек и отправляем только один').item.json.индекс }}"
            }
          ],
          "number": [
            {
              "name": "table",
              "value": "={{ $('получаем трек и отправляем только один').item.json.table }}"
            },
            {
              "name": "page",
              "value": "={{ $('получаем трек и отправляем только один').item.json.page }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a61c8de-91f7-4d01-828b-69976b1461b7",
      "name": "Структурируем http ответ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        640,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Статус и дата обновления'] }}",
              "operation": "contains",
              "value2": "Вручено"
            }
          ]
        }
      },
      "id": "c40c2dcd-f764-431b-96b4-85ae390de02a",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        780,
        1340
      ]
    },
    {
      "parameters": {
        "content": "## Проверка БЕЛПОЧТЫ",
        "height": 80,
        "width": 321.4218402115646
      },
      "id": "0bbe49b5-328c-4f97-8314-d499e991faaa",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2200,
        580
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7309dbd4-516e-4198-98ea-6c2015b46a56",
      "name": "получаем трек и отправляем только один",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        240,
        1300
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger",
              "value2": 1
            }
          ]
        }
      },
      "id": "e0cf1e78-183a-4cf9-98e2-0c89ccd7ac2d",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1360,
        1140
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.трек }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "937081ac-64e3-48d5-8165-fe914f45ec34",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1320,
        1340
      ]
    },
    {
      "parameters": {
        "path": "bp_check",
        "options": {}
      },
      "id": "2237620d-c629-4604-8335-6a22b462e62f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2140,
        1040
      ],
      "webhookId": "89dd9002-773a-498f-bc2d-7eae14045ffa"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} БП",
            "Индекс": "={{ $json.индекс }}",
            "Актуальный статус": "={{ $('Структурируем http ответ').first().json['Трек номер'] }}: {{ $json['Статус и дата обновления'] }} "
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "число",
              "displayName": "число",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио менеджера",
              "displayName": "фио менеджера",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "таблица",
              "displayName": "таблица",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "штраф",
              "displayName": "штраф",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "личный",
              "displayName": "личный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Рос руб",
              "displayName": "Рос руб",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "6a67fadb-6f24-4bb4-ab55-cb6790bfe526",
      "name": "Без отметки доставлено мэтч по индексу (по ID) бп",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        760,
        1660
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Отметка о доставке": "Доставлено",
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} БП",
            "Индекс": "={{ $json.индекс }}",
            "Актуальный статус": "={{ $('Структурируем http ответ').first().json['Трек номер'] }}: {{ $json['Статус и дата обновления'] }} "
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "число",
              "displayName": "число",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио менеджера",
              "displayName": "фио менеджера",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "без накрута",
              "displayName": "без накрута",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "невостреб",
              "displayName": "невостреб",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "личный",
              "displayName": "личный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "95febb49-672e-4d07-86d9-04b657f5bb28",
      "name": "С отметкой доставлено мэтч по индексу  (по ID) бп",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1220,
        1440
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "65567016-cd25-4ac9-856c-27932e6325b8",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -220,
        640
      ]
    },
    {
      "parameters": {
        "content": "## Отправка данных в модуль статистики (отправляем на другой сервер)",
        "height": 319.835896535163,
        "width": 398.53641770154377
      },
      "id": "3d14f380-c482-4446-8d8d-fab3c999daae",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        920
      ]
    },
    {
      "parameters": {},
      "id": "10eb28f8-a942-4304-bbeb-bb816dc69875",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2140,
        1240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Статус и дата обновления'] }}",
              "operation": "contains",
              "value2": "Вручено отправителю"
            }
          ]
        }
      },
      "id": "52ee66ba-11d7-4f99-a969-94a5fc41d71a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        1260
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Отметка о доставке": "Вручено отправителю",
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} БП",
            "Индекс": "={{ $json.индекс }}",
            "Актуальный статус": "={{ $('Структурируем http ответ').first().json['Трек номер'] }}: {{ $json['Статус и дата обновления']}} "
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "число",
              "displayName": "число",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио менеджера",
              "displayName": "фио менеджера",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "без накрута",
              "displayName": "без накрута",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "невостреб",
              "displayName": "невостреб",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "личный",
              "displayName": "личный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "7e8237ed-bc6b-4215-a550-396ab2c43e1d",
      "name": "С отметкой Вручено отправителюмэтч по индексу  (по ID) бп1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1200,
        1240
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return (\n[\n  {\n    \"headers\": {\n      \"host\": \"n8ns.makees.site\",\n      \"user-agent\": \"axios/0.21.4\",\n      \"content-length\": \"82\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"172.18.0.1\",\n      \"x-forwarded-host\": \"n8ns.makees.site\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"316b8289a2b8\",\n      \"x-real-ip\": \"172.18.0.1\",\n      \"accept-encoding\": \"gzip\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"url_become\": \"https://n8ns.makees.site/webhook-waiting/179\",\n      \"processID\": \"ZsTest\"\n    }\n  }\n]\n);"
      },
      "id": "470e361d-5b05-4d00-a1c0-473d0d7a4b82",
      "name": "Входящие данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1860,
        1240
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "https://n8n.makees.online/workflow/RWZ1VyvD7GhmW3Gc",
        "height": 80,
        "width": 397.1777493963409,
        "color": 4
      },
      "id": "98556f96-d6ee-46bd-9486-71cc9abc5ce0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1000,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.BP_check }}",
              "operation": "contains",
              "value2": "yes"
            }
          ]
        }
      },
      "id": "f6e2c395-ea11-4414-8f60-f3ce7e74e022",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1560,
        1260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.трек }}",
              "operation": "contains",
              "value2": "={{ $('IF6').item.json.data.BP_check }}"
            }
          ]
        }
      },
      "id": "a51cfd4c-f409-4706-b812-d248bdbe17c0",
      "name": "IF7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1960,
        1540
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.belpost.by/api/v1/tracking",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjM0OTk3NDI4OTE1MjNjYzgxMTM5OTVlMGQwNWRjNDkyZGQ2NTBmM2Y2MTM4ZDA0ZGY4YTY2M2UxYmNlOTM4NTgyMWE4M2Y0NmFmYWYwYjMxIn0.eyJhdWQiOiIyIiwianRpIjoiMzQ5OTc0Mjg5MTUyM2NjODExMzk5NWUwZDA1ZGM0OTJkZDY1MGYzZjYxMzhkMDRkZjhhNjYzZTFiY2U5Mzg1ODIxYTgzZjQ2YWZhZjBiMzEiLCJpYXQiOjE2NzcwOTkyNzgsIm5iZiI6MTY3NzA5OTI3OCwiZXhwIjoxNzA4NjM1Mjc4LCJzdWIiOiIxMjAwNzY3Iiwic2NvcGVzIjpbXX0.JHJc9aEnNpWFzxJ6P-XvJsrgp6yrXe3mI39dsGmTBKD1gGubNJnIsJoUuke0nYP7bUjRYIwDmWYTQgWRJUCZPw42UeHgdQroce4K9QOXIE39r0z3jVgNIvsJCKb36Oy-1ZKwYxiaLBohlPohDrX--BYoq0Il8dl61CIa6BlxFxkqd27IkZ-6YZ45zbpFDexWXpLWhWJZ3-IuUXkz7Es_oa6ujRLBVyWxjwMuzpGZQFom1Kxh2gAimBgUEiXhRBd_Fe-hpNmQ0Gw5h_N-udtXGbGrHxaARriUhPd70pFJ-Ns_4ucbvgfDqo3MP_XzxYct898S2dPZyro0FCTGePy-4i9JKUAB_tjEutfj60N9mKVlTB9642lJ81lJkXNsxOeXunkUSk53pVcHxHwv8v4NneWQ2KlhbTOUzS5exvBb6At1NWuNV_6FRjYlkIv_Aqii76K-sZfKmGMqkuK0Abb8ygh86xIu3O-MiacDQvsaUpbMl_MY2Xm-XMb13phHD6LL2yPuHIWGUp6i9DDgOxAzBFQqrDwqRkcIhwS_aYXqiuvupY7rv5RrP3lzv9FR_WWF57Q3Z2HmP98KA2xRoVLt7m1ARC1Tr7Ucmanm57XFfwdRZUP7L2lW1TsMWcgJPqmD5SCQJlg50_BZopwh0aVO5BzsiBISxFoaGXMPJ96KbLs"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.трек }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dfd51ae3-0918-42ee-8f12-745e4d435d09",
      "name": "Получаем данные по трекам с сайта Белпочты",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        340,
        1060
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fb1dd96b-ac98-457e-bd7a-9ff259a84a95",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        1280
      ]
    },
    {
      "parameters": {},
      "id": "650f8582-7f1d-43a1-a850-d961e089702a",
      "name": "ошибка при получении данных по треку",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        1320
      ]
    },
    {
      "parameters": {
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').item.json.processID }}.json "
      },
      "id": "183c418e-c061-4cec-a651-a710d58b296b",
      "name": "Чтение данных всего файла в JsonDatabase",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1540,
        860
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "processID",
              "value": "={{ $json.body.processID }}"
            },
            {
              "name": "url_become",
              "value": "={{ $json.body.url_become }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "907dd153-2c00-4618-8593-4863a7fd5a9c",
      "name": "Ввод отрибутов процесс",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1820,
        1040
      ],
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "0d22c61b-05ee-40c1-a5b4-5a93818d7491",
      "name": "СЗПЦ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        1500
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "82aec8a5-4df4-492b-83ba-b15bcd01d5c4",
      "name": "СЗПЦ1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -200,
        800
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $('Ввод отрибутов процесс').first().json.url_become }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow",
              "value": "=BP_check"
            },
            {
              "name": "status",
              "value": "OK"
            }
          ]
        },
        "options": {}
      },
      "id": "50fba3c8-74a4-4af7-8286-3c06cf7dc8a6",
      "name": "Завершение процесса. Возврат в тглавный процесс.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1280,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "queryPath": "process.workProcess",
        "filePath": "=root/n8n/{{ $json.processID }}.json"
      },
      "id": "51ae88ce-5c60-4d9d-a81e-03dc940e5040",
      "name": "Чтение данных из workProcess1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1740,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.BP_check }}",
              "operation": "contains",
              "value2": "no"
            }
          ]
        }
      },
      "id": "bf1ffdf1-aa0d-4d4a-901d-b3b1ace565d3",
      "name": "Проверка окончена ли предыдущая проверка",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1640,
        1040
      ]
    },
    {
      "parameters": {
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').item.json.processID }}.json "
      },
      "id": "78bdc3e9-2fe7-4165-8f97-6aa0ab42ae21",
      "name": "Чтение данных всего файла в JsonDatabase1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -2200,
        1560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.traks.BP_traks",
        "options": {}
      },
      "id": "44df0ae3-2b99-4c51-a36f-f41edcf8c363",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -2160,
        1740
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Ввод отрибутов процесс').first().json.tracks_bp_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Ввод отрибутов процесс').first().json.tracks_bp_pageID }}",
          "mode": "id"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": "={{ $json.row_number }}"
            }
          }
        }
      },
      "id": "da2d0f86-eaff-413d-8359-33af1716cebb",
      "name": "Получаем треки БП2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1740,
        1940
      ],
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.inkr }}",
              "operation": "largerEqual",
              "value2": "={{ $('45db').first().json.inkr }}"
            }
          ]
        }
      },
      "id": "cec16de6-4a36-4ff2-a134-50c343cdebb6",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -1460,
        1740
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "inkr",
              "type": "numberValue",
              "numberValue": "={{$now.toMillis()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "257685d3-9c7f-44b9-919f-64915695c9b0",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -2000,
        1740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value2": true
            }
          ]
        }
      },
      "id": "49338559-5a1c-4b46-987d-31d8fbab7b93",
      "name": "IF8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1500,
        1520
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "9ada06bf-de55-4077-b649-1e288047b47f",
      "name": "45db",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1700,
        1520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('main JSON').first().json.data.endPoints['Статистика (только на сервере online)'] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=table",
              "value": "={{ $json.table }}"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "Трек номер",
              "value": "={{ $json['Трек номер'] }}"
            },
            {
              "name": "Статус и дата обновления",
              "value": "={{ $json['Статус и дата обновления'] }}"
            },
            {
              "name": "индекс",
              "value": "={{ $json.индекс }}"
            },
            {
              "name": "=processID",
              "value": "={{ $('Ввод отрибутов процесс').first().json.processID }}_ru"
            }
          ]
        },
        "options": {}
      },
      "id": "cafbcc1a-f083-4f4f-aecd-c54a219f7d73",
      "name": "Отправка данных в модуль статистики",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1060,
        1040
      ],
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.workProcess.BP_check",
        "sourceType": "sourceTypeJson",
        "sourceData": "=\"{{ $('получаем трек и отправляем только один').first().json.трек }}\"",
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').first().json.processID }}.json"
      },
      "id": "614d8160-4d07-4337-a9e3-51065d3392f5",
      "name": "Запись данных в workProcess4",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1980,
        1780
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "filePath": "=root/n8n/main.json"
      },
      "id": "30cd5f38-b3c8-4462-b56b-743c33b2ce43",
      "name": "main JSON",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1880,
        660
      ]
    },
    {
      "parameters": {},
      "id": "304e9c10-5946-4028-836c-4cc24b072778",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1220,
        1960
      ]
    },
    {
      "parameters": {},
      "id": "be9ad6b9-a109-472a-b85a-b0a85237cf66",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        640
      ]
    },
    {
      "parameters": {},
      "id": "301ea296-7b17-48c9-8503-4b818979d4b0",
      "name": "No Operation, do nothing4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -440,
        1960
      ]
    },
    {
      "parameters": {},
      "id": "a2824c66-fb9c-4cd6-900c-0576801760d5",
      "name": "Тут собраны все треки на проверку",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1060,
        1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger",
              "value2": 250
            }
          ]
        }
      },
      "id": "9833aed8-2d76-475d-ba65-e60f6026df4d",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1080,
        1700
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "maxItems": 250
      },
      "id": "cfe76665-dc19-4e87-810f-0cd3b3c53908",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -420,
        1420
      ]
    },
    {
      "parameters": {
        "queryPath": "Balancer.balance_BP",
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').first().json.processID }}.json "
      },
      "id": "313e9d4f-34f9-4326-bea7-9dce54d74543",
      "name": "Чтение переменной балансировщика",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        400,
        520
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "Balancer.balance_BP",
        "sourceType": "sourceTypeJson",
        "sourceData": "\"on\"",
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').first().json.processID }}.json"
      },
      "id": "d4d4f4bb-7144-4ff6-a8af-d4f0037fd104",
      "name": "Запись переменной балансировщика1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -800,
        1240
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').first().json.processID }}.json"
      },
      "id": "7b1f5dc8-4177-4d27-a73a-428b65655a6e",
      "name": "Чтение данных всего файла в JsonDatabase2",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -780,
        740
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "73434353-2f7f-468e-b6b4-bea1deebf47c",
      "name": "СЗПЦ2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1140,
        740
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "value2": "off"
            }
          ]
        }
      },
      "id": "fb9bf5e8-f189-4bc8-82ed-cb0cefe030e0",
      "name": "проверяем трекномер на соответствие шаблону европочта1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        520
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "={{ $('main JSON').first().json.data.endPoints.Таймер }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "timer",
              "value": "={{ $('Таймер тут').first().json.timer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2406cc3a-751e-422a-8543-1b14910f4c40",
      "name": "Таймер 65 сек",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -40,
        340
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value2": true
            }
          ]
        }
      },
      "id": "24bc727c-1868-4c33-973e-aa418ed2752b",
      "name": "Тупик лог",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1700,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value2": true
            }
          ]
        }
      },
      "id": "03961318-ed15-4c40-851b-bb4134b585d3",
      "name": "Тупик лог 1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -640,
        1240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value2": true
            }
          ]
        }
      },
      "id": "b132161c-3749-4bea-a53c-c2a620e48fb5",
      "name": "Тупик лог2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -460,
        920
      ]
    },
    {
      "parameters": {
        "url": "=https://n8ns.makees.ru/webhook/bp_check_balance",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "processID",
              "value": "={{ $json.data.process.variebles.processID }}"
            },
            {
              "name": "json",
              "value": "={{ $json.data }}"
            },
            {
              "name": "url_offBalancer",
              "value": "https://n8n.makees.online/webhook/balancer_ru"
            }
          ]
        },
        "options": {}
      },
      "id": "f1af4573-f0ff-4c1e-838a-f2c9fb645391",
      "name": "отправляем запрос на другой сервак",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -420,
        740
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "debd017d-cf39-4210-a8e2-5ebdeebb3770",
      "name": "No Operation, do nothing5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        500
      ]
    },
    {
      "parameters": {},
      "id": "c8831e2d-8d22-4cec-83ab-7d7ca082c88c",
      "name": "только один трек",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -120,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length -250}}",
              "operation": "larger",
              "value2": 250
            }
          ]
        }
      },
      "id": "8ec0d4af-3a94-4eef-bd12-b662c9051f81",
      "name": "IF9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -800,
        420
      ],
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "timer",
              "type": "numberValue",
              "numberValue": "={{ ($input.all().length -500) * 40 + 1800}}"
            }
          ]
        },
        "options": {}
      },
      "id": "339b7b7f-ba88-44b7-9b89-52fd5443e457",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -580,
        320
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "timer",
              "type": "numberValue",
              "numberValue": "65"
            }
          ]
        },
        "options": {}
      },
      "id": "932af42a-aea5-4c36-a9c4-452d5a542d99",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -580,
        480
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "timer",
              "type": "numberValue",
              "numberValue": "={{ $json.timer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "137ce6f8-2362-40db-b707-cf7007142967",
      "name": "Таймер тут",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -360,
        400
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Таймер тут').first().json.timer / $json.data }}",
        "unit": "seconds"
      },
      "id": "8a1e305c-cad2-4ff0-a13f-cb5c395b3613",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1060,
        720
      ],
      "webhookId": "6c5eb99b-2195-4102-ac10-27e8f437bcba"
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "Items.temp",
        "sourceType": "sourceTypeJson",
        "sourceData": "0",
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').first().json.processID }}_temp.json"
      },
      "id": "63dc4714-6ea2-49a6-afdf-64c3daecb4cf",
      "name": "Запись переменной балансировщика",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        200,
        520
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "Items.temp",
        "sourceType": "sourceTypeJson",
        "sourceData": "={{JSON.stringify($json.data+1) }}",
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').first().json.processID }}_temp.json"
      },
      "id": "0af7c3cf-5432-4ef9-bf6a-7745c4d168ca",
      "name": "Запись переменной балансировщика2",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        880,
        720
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "queryPath": "Items.temp",
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').first().json.processID }}_temp.json"
      },
      "id": "ad2962d6-e6d7-4499-bcbd-2136f4aa56c6",
      "name": "tmp read",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        440,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fb294196-7608-4c5e-847b-9d83e5ca13a6",
              "leftValue": "={{ $json.data }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "be266b4e-49ea-4dca-87e9-332e902d4f73",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        740
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "Items.temp",
        "sourceType": "sourceTypeJson",
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').first().json.processID }}_temp.json"
      },
      "id": "6f504978-b1a0-408b-ae8f-191a43ef605f",
      "name": "Запись переменной балансировщика3",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        980,
        500
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "={{ $('main JSON').first().json.data.endPoints['Чат бот телеги'] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=processID",
              "value": "={{ $('Ввод отрибутов процесс').first().json.processID }}"
            },
            {
              "name": "send",
              "value": "=Белпочта слишком долго ждёт ответа от балансировщика"
            }
          ]
        },
        "options": {}
      },
      "id": "c5fe1322-13ad-4706-8ca1-9ef37ba3a560",
      "name": "Отправляем сообщение в телеграмм6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        320
      ]
    },
    {
      "parameters": {
        "url": "={{ $('main JSON').first().json.data.endPoints['Чат бот телеги'] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=processID",
              "value": "={{ $('Ввод отрибутов процесс').first().json.processID }}"
            },
            {
              "name": "send",
              "value": "=Для процесса {{ $('Ввод отрибутов процесс').first().json.processID }} {{ $input.all().length }} треков Белпочты. Поэтому проверка разбита на два сервера."
            }
          ]
        },
        "options": {}
      },
      "id": "8a349a66-d702-452e-850e-7d5d8a5132a1",
      "name": "Отправляем сообщение в телеграмм",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -820,
        1020
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value2": true
            }
          ]
        }
      },
      "id": "a9b08851-f893-40a7-893e-2fa6fc3e4a05",
      "name": "Тупик лог3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -660,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "Balancer.balance_BP",
        "sourceType": "sourceTypeJson",
        "sourceData": "\"off\"",
        "filePath": "=root/n8n/{{ $('Ввод отрибутов процесс').first().json.processID }}.json"
      },
      "id": "2e411a76-da68-4e25-b4a4-9f3cf1685c07",
      "name": "Запись переменной балансировщика5",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1120,
        900
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value2": true
            }
          ]
        }
      },
      "id": "b0f907ef-11c9-4a68-8d44-fc7787f7f389",
      "name": "Тупик лог ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -960,
        900
      ]
    },
    {
      "parameters": {
        "workflowId": "nFW3rbApSjJg8iH0",
        "options": {}
      },
      "id": "76b362bb-c681-4579-863b-bb8252c89430",
      "name": "Проверка остановки1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -2160,
        800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": "nFW3rbApSjJg8iH0",
        "options": {}
      },
      "id": "b8598157-a861-4786-8607-455c042cfead",
      "name": "Проверка остановки",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -180,
        1020
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value2": true
            }
          ]
        }
      },
      "id": "cdf14234-bab9-4b9f-a08c-f6dbee20f032",
      "name": "Тупик лог 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        940
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfcb52ee-648c-4355-86f1-4c2f525d1803",
              "name": "processID",
              "value": "={{ $('Ввод отрибутов процесс').first().json.processID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "005c5d35-0570-44b4-b2de-05d541503bdf",
      "name": "получаем procesID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        20,
        1080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.traks.BP_traks",
        "options": {}
      },
      "id": "4476c642-b670-40f9-91f6-61ccb3f0d7ee",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -1360,
        860
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value2": true
            }
          ]
        }
      },
      "id": "93ab9279-ce96-4e86-b7b8-05946173be8d",
      "name": "Тупик лог 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        1040
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "259a5768-da1f-4139-bcca-5f0853a0bb78",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        20,
        800
      ]
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $('Date & Time').first().json.currentDate }}",
        "endDate": "={{ $now }}",
        "units": [
          "second"
        ],
        "options": {}
      },
      "id": "8c477b3e-d6fa-4bb0-a574-b2dfd2a4b29b",
      "name": "разница",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1280,
        1660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e79248ef-02b4-4d93-8c40-2e478a3bac34",
              "leftValue": "={{ 35 - $json.timeDifference.seconds }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ffae9425-27c8-4596-9380-c29b7637a1be",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        1660
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.random()*10 + $json[\"timer\"] }}",
        "unit": "seconds"
      },
      "id": "bc9d17da-3ba1-460b-bdc9-099226234837",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1820,
        1660
      ],
      "webhookId": "4ea94f44-9cef-4c88-a1d6-8e2289dbcf32"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f9f64ef-8fab-4fc7-a42b-31640b614086",
              "name": "timer",
              "value": "={{42- $json.timeDifference.seconds }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "777f2abc-2c46-477e-bc7b-fb059af89b5c",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1640,
        1580
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f9f64ef-8fab-4fc7-a42b-31640b614086",
              "name": "timer",
              "value": "=1",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "8168f540-5915-48f1-916a-3b9330fbfab7",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1640,
        1720
      ]
    },
    {
      "parameters": {},
      "id": "74e36a0f-e0e7-46b9-8653-2e4acbdcd811",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1060,
        1660
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-29T05:49:12.607Z",
      "updatedAt": "2023-12-29T05:49:12.607Z",
      "id": "2F2JpICiTQCMNk1Q",
      "name": "treck_check"
    },
    {
      "createdAt": "2023-12-29T05:48:03.050Z",
      "updatedAt": "2023-12-29T05:48:03.050Z",
      "id": "AgzDK5Bx0yz5Db7h",
      "name": "json"
    },
    {
      "createdAt": "2023-12-29T05:48:23.798Z",
      "updatedAt": "2023-12-29T05:48:23.798Z",
      "id": "UR0e0BgkatF4AB4O",
      "name": "potap"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-25T20:56:23.000Z",
  "versionId": "5dfc5037-eb48-44eb-b294-597ccac0a7b6"
}