workflowПроверка старых треков в таблице и БД.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "выделяем idTables с соответствующим link": {
      "main": [
        [
          {
            "node": "Добавляем link к записям",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ПРОверяем статус подписки4": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Tabls5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ПРОверяем статус подписки5": {
      "main": [
        [
          {
            "node": "ПРОверяем статус подписки4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Tabls5": {
      "main": [
        [
          {
            "node": "выделяем idTables с соответствующим link",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отсеиваем записи без треков1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить владельцу таблицы проблемные значения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ошибка при выставлении статусов треков из БД в таблицы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выставление статусов трекам в гугл таблицу": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Traks",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Выставление статусов трекам в гугл таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Собираем строки из таблиц, в которые нужно выставить статус": {
      "main": [
        [
          {
            "node": "Проверяем есть ли соотв записи из таблицы",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить сообщение про проблему с таблицей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем записи о нужных треках в БД": {
      "main": [
        [
          {
            "node": "Добавляем link к записям",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавляем link к записям": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Собираем request": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщаем об окончании процесса": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Собираем request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Выставление статусов трекам в гугл таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Сообщаем об окончании процесса",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "-",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Собираем строки из таблиц, в которые нужно выставить статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "-": {
      "main": [
        [
          {
            "node": "формируем запрос к логированию1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Проверяем есть ли соотв записи из таблицы1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию1": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию2": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию3": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить сообщение про проблему с таблицей": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем есть ли соотв записи из таблицы": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить сообщение про проблему с таблицей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем есть ли соотв записи из таблицы1": {
      "main": [
        [
          {
            "node": "Получаем записи о нужных треках в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Отсеиваем записи без треков1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "формируем запрос к логированию4": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "формируем запрос к логированию4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Получить все записи из таблицы Traks1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Traks": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Заносим удаляяемые данные в таблицу Recycler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос в процесс логирования4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заносим удаляяемые данные в таблицу Recycler": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Traks1": {
      "main": [
        [
          {
            "node": "точка 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "точка 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос в процесс логирования": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Traks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "точка 1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Tabls1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Tabls1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Tabls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Tabls": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-26T04:26:43.601Z",
  "id": "0FVCSRW2Q4FA7czE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Проверка старых треков в таблице и БД",
  "nodes": [
    {
      "parameters": {},
      "id": "3680193c-1434-4d56-9973-ac6dbcb175c7",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        1060
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7092ee14-6828-48f6-a4de-65db9ed0c7d6",
              "name": "IdTables",
              "value": "={{ $json.IdTables }}",
              "type": "string"
            },
            {
              "id": "b1355f6d-45f2-4e11-b8ce-f695101c2d4f",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a04002cb-adda-4967-9839-a572d2c8d99f",
      "name": "выделяем idTables с соответствующим link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.WorkOn }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2e70fe3-12a4-4cd2-9874-730278e55b18",
      "name": "ПРОверяем статус подписки4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7d3eff38-9734-4841-8e8f-9ca804cf9ed7",
      "name": "ПРОверяем статус подписки5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        -1340
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Tabls",
          "mode": "list",
          "cachedResultName": "Tabls"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7e08bb01-2316-4dce-b051-db4bfba0d383",
      "name": "Получить все записи из таблицы Tabls5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        760,
        -880
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1f5304e-e789-437b-9ac1-1fc050eeb007",
              "leftValue": "={{ $json['трек'] }}",
              "rightValue": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]B|bY|y",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "87c92809-3571-4ada-b751-9bf96702cbc5",
              "leftValue": "={{ $json['трек'] }}",
              "rightValue": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "7b6e2046-620f-4d76-bade-a19961093203",
      "name": "Отсеиваем записи без треков1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        -1140
      ]
    },
    {
      "parameters": {},
      "id": "92421424-fd4f-4ba1-9a17-87784d3ea2d5",
      "name": "Отправить владельцу таблицы проблемные значения",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2120,
        -760
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "трек": "={{ $json.Track }}",
            "Отметка о доставке": "={{ $json.Status }}",
            "Дата последнего обновления": "={{ $now.format('dd.MM.yy HH-mm-ss') }}",
            "Актуальный статус": "={{ $json.Track }}: {{ $json.History }}"
          },
          "matchingColumns": [
            "трек"
          ],
          "schema": [
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "таблица",
              "displayName": "таблица",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "штраф",
              "displayName": "штраф",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ЛИЧНЫЙ",
              "displayName": "ЛИЧНЫЙ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Росс",
              "displayName": "Росс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "ebd6654f-c8b8-414a-83b0-8ebd12241996",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2980,
        -300
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "0fd02b00-5597-41df-8c7a-cef867641e71",
      "name": "Сообщаем об окончании процесса",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2700,
        -560
      ]
    },
    {
      "parameters": {},
      "id": "4549c93e-9dcd-4947-af92-9f482119005f",
      "name": "Выставление статусов трекам в гугл таблицу",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        760
      ]
    },
    {
      "parameters": {
        "content": "Сделать проверку на мэтч поразному написаных треков",
        "height": 82.08354203394998
      },
      "id": "22e95440-de8b-47c8-bfbe-05ba1818d391",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        580
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Отметка о доставке",
              "lookupValue": "Не доставлено"
            }
          ]
        },
        "options": {}
      },
      "id": "45f73b9e-ced1-4d55-a5b9-a7cf9ea929c7",
      "name": "Собираем строки из таблиц, в которые нужно выставить статус",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        -1080
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Track",
              "condition": "LIKE",
              "value": "={{ $json['трек'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7457ef44-d852-4493-bbe8-e980c8f45830",
      "name": "Получаем записи о нужных треках в БД",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2600,
        -1280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "IdTables",
        "options": {}
      },
      "id": "d7e3b692-a23d-4c08-8f94-eb4b18748f72",
      "name": "Добавляем link к записям",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2500,
        -440
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://n8n.makeesn8n.online/webhook/proceses_control",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Error",
              "value": "={{ $json.Error }}"
            },
            {
              "name": "Ditales",
              "value": "={{ $json.Ditales }}"
            },
            {
              "name": "From",
              "value": "={{ $json.From }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fe5c6343-2a55-4e73-b4ed-4ee8ff3ff845",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        -560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67797e6a-dcf6-4b16-bc97-a01c11094613",
              "name": "Error",
              "value": "no",
              "type": "string"
            },
            {
              "id": "cf26a33d-0781-4a07-a7df-b756f3703858",
              "name": "Ditales",
              "value": "=тут будет информация по процессу и ошибки, если возникнут",
              "type": "string"
            },
            {
              "id": "85fd636e-edfe-4d59-b17c-1c2d08edfc53",
              "name": "From",
              "value": "from_bd_to_google_sheets",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f956b253-8316-4608-a17e-10fc19b9e81d",
      "name": "Собираем request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3140,
        -560
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ba4f6f4a-899d-4dfa-a919-2633b6e57945",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2920,
        -560
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "path": "old_traks_check",
        "options": {}
      },
      "id": "7b470216-56dd-4687-ad1d-28f58c08898e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        760
      ],
      "webhookId": "4e6cfdfb-ac85-427a-9059-c91476aad727",
      "disabled": true
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2660,
        -320
      ],
      "id": "39a63496-1c00-4f4f-8730-61c761887dd2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3280,
        -300
      ],
      "id": "550bdca9-6b2b-457f-b324-a6a6c8d0f949",
      "name": "Wait",
      "webhookId": "adcfef46-5bbe-4e4b-b6c7-f221309bf0e9"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "IdTables"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2340,
        -180
      ],
      "id": "f36fc642-8739-445f-a83b-fe89c3857f51",
      "name": "Sort"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1400,
        -1100
      ],
      "id": "f57348f8-0c63-4acc-898b-cbfe7815eefa",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1380,
        -600
      ],
      "id": "6e59bcde-8e3c-4d0b-b62a-7287aabd0f33",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "new",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "old_traks_check",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "null",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        560
      ],
      "id": "fb07fcf7-31e7-4ce9-bd84-11388916aa3f",
      "name": "формируем запрос к логированию",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        360,
        560
      ],
      "id": "2865c82f-3e9d-482d-9031-c125af7ce2e6",
      "name": "Запрос в процесс логирования"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1380,
        -1260
      ],
      "id": "cf3e64e5-a5e2-4876-bcb7-59a7c451a132",
      "name": "-"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "from_bd_to_google_sheets",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : {{ $input.all().length }} треков из таблиц для которых нужно обновление\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        -1400
      ],
      "id": "9dac9904-2010-40a8-99f0-e36b89604171",
      "name": "формируем запрос к логированию1",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        760,
        -1460
      ],
      "id": "3d8b4d04-d849-4f9d-83aa-929019d1e214",
      "name": "Запрос в процесс логирования1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "from_bd_to_google_sheets",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : {{ $input.all().length }} треков, по которым нашлись совпадения в БД.",
              "type": "string"
            },
            {
              "id": "b73b2f0a-f66a-438d-885f-221f82a57f59",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2680,
        -800
      ],
      "id": "94e78d01-83c5-4ffb-9805-06b561110e8d",
      "name": "формируем запрос к логированию2",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2420,
        -640
      ],
      "id": "8bf8c231-5ee9-4d31-8b5e-066fb017dea0",
      "name": "Запрос в процесс логирования2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "from_bd_to_google_sheets",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "=Finish: {{ $now.format('HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "b73b2f0a-f66a-438d-885f-221f82a57f59",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2700,
        -820
      ],
      "id": "0824f16e-d8c4-4002-a213-2e82fd08b318",
      "name": "формируем запрос к логированию3",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2940,
        -820
      ],
      "id": "153e0e83-e0ed-459b-ad76-bfb848be0408",
      "name": "Запрос в процесс логирования3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3000,
        -440
      ],
      "id": "f20af267-cc11-4109-9a30-f99d2322760e",
      "name": "Ошибка при выставлении статусов треков из БД в таблицы"
    },
    {
      "parameters": {
        "content": "## Список всех связанных процессов\n\nКонтролирующий процесс: https://n8n.makeesn8n.online/workflow/bMvuHeBYvdHDiEIe\nПроверка оплаты: https://n8n.makeesn8n.online/workflow/aumuEuypCPDeduJl\nВыставление статусов из БД в гугл таблицы: https://n8n.makeesn8n.online/workflow/h5YM9whrOFCP3UOu\nСбор треков из гугл таблиц: https://n8n.makeesn8n.online/workflow/cFIhZIUCa83nOqy2\nСбор треков из БД: https://n8n.makeesn8n.online/workflow/5OMCiCkLN9V8Gpmw\nПроверка треков БП из БД: https://n8n.makeesn8n.online/workflow/YmijBbofjG27z5Tx\nПроверка треков ЕП из БД: https://n8n.makeesn8n.online/workflow/UC7sB9OYqdYSVdln\n\n## Дополнительные процессы:\nДобавление треков на  проверку в сервера (сбор треков из БД): https://n8n.makeesn8n.online/workflow/4BkOIQhV62y7mbvD\nЛог в БД: https://n8n.makeesn8n.online/workflow/lOtPJcL6AitkSaoP\nРабота с переменными: https://n8n.makeesn8n.online/workflow/KLOTYwG7rXVfZCKr\n\n## Служебные процессы:\nРабота с БД: https://n8n.makeesn8n.online/workflow/BN33z2RD9BacyBSt\nФормы для БД: https://n8n.makeesn8n.online/workflow/bUJavMgjLppjbo49\n",
        "height": 700,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -760,
        400
      ],
      "typeVersion": 1,
      "id": "617eb964-b484-4f99-86a2-f04096350d04",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1540,
        -800
      ],
      "id": "a1367d60-5ca5-429e-a038-1cff041d22bb",
      "name": "Отправить сообщение про проблему с таблицей"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87c92809-3571-4ada-b751-9bf96702cbc5",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "748b1baf-c0b0-4280-b905-a62e8cc63bd8",
      "name": "Проверяем есть ли соотв записи из таблицы",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        -1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87c92809-3571-4ada-b751-9bf96702cbc5",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "57d0c95d-9a6a-437a-b935-39fc7ed04b49",
      "name": "Проверяем есть ли соотв записи из таблицы1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        -1340
      ]
    },
    {
      "parameters": {
        "maxItems": 247
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2140,
        -1140
      ],
      "id": "bbff66d2-32f0-4bfd-91e5-4767da0f666c",
      "name": "Limit",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3620,
        -400
      ],
      "id": "7e95039b-5910-4133-a4be-311826ce7366",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7a63dc8-97e4-42ee-bb76-ea37d3152847",
              "leftValue": "={{ $json['трек'].length }}",
              "rightValue": 11,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        -1120
      ],
      "id": "3edbf7e7-0846-40f4-8908-c01ce28630a2",
      "name": "If8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34bf5933-5d74-40a2-a901-7d75b887ffb9",
              "leftValue": "={{ $json.DateLastUpd }}",
              "rightValue": "={{ $today.minus(2, 'month') }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        1120
      ],
      "id": "d6872971-fc02-4fce-b71e-0589bb94e26c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "from_bd_to_google_sheets",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : {{ $input.all().length }} найдено старых треков\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        520
      ],
      "id": "972c560c-c925-4690-b2db-dcdcc4a0cd3e",
      "name": "формируем запрос к логированию4",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1340,
        520
      ],
      "id": "e65d6051-62ac-4c01-8150-de2b934a76cf",
      "name": "Запрос в процесс логирования4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "Track, IdTables, Status, DateAdd, DateLastUpd",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        740
      ],
      "id": "edca3368-2afc-4a50-9949-25977d87953d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Traks ",
        "options": {}
      },
      "id": "1dbdbb20-002b-4a3c-9947-c5752634859b",
      "name": "Получить все записи из таблицы Traks",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        500,
        760
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "Recycler",
          "mode": "list",
          "cachedResultName": "Recycler"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "DelData",
              "value": "=Удалено из БД:{{ $json.data.toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "256f52de-7bf2-402c-b8ea-8683ea7434ed",
      "name": "Заносим удаляяемые данные в таблицу Recycler",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1340,
        740
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "Track",
              "value": "={{ $json.Track }}"
            },
            {
              "column": "IdTables",
              "value": "={{ $json.IdTables }}"
            }
          ]
        },
        "options": {}
      },
      "id": "18cf924c-4d91-4e5a-86c2-e8538b8ea287",
      "name": "Получить все записи из таблицы Traks1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1200,
        960
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "947e08e9-5bd7-4c9a-b32f-829e19c7c8ca",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        740
      ],
      "id": "bed646dd-5382-40e7-8a5b-a6cea1129cdc",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "947e08e9-5bd7-4c9a-b32f-829e19c7c8ca",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        560
      ],
      "id": "0a72badc-ddfc-48bc-b753-0606ad5be163",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "947e08e9-5bd7-4c9a-b32f-829e19c7c8ca",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1880,
        960
      ],
      "id": "66bcfc92-f584-4493-b357-b648b94d9428",
      "name": "If4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1660,
        960
      ],
      "id": "e61bed04-1ae9-472c-a6dc-6da9453b43a6",
      "name": "точка 1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1880,
        1140
      ],
      "id": "c32a054a-8aa3-4f63-b08b-9d3d0884eed6",
      "name": "No Operation, do nothing2",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Tabls",
          "mode": "list",
          "cachedResultName": "Tabls"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6aa00da-c78e-4100-a51d-058c35ad99a5",
      "name": "Получить все записи из таблицы Tabls",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1000,
        1440
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Users",
          "mode": "list",
          "cachedResultName": "Users"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "86fa839d-0737-43df-964a-b153ec643ccc",
      "name": "Получить все записи из таблицы Tabls1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        1480
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6985be7-16a0-4c00-8e7a-39d5adc65692",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        1480
      ],
      "id": "d0bb154f-c72e-4b54-ab8b-6c3600c03413",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6985be7-16a0-4c00-8e7a-39d5adc65692",
              "leftValue": "={{ $json.WorkOn }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        740,
        1460
      ],
      "id": "dcef80f7-c47e-4842-b89d-c865bbadc9c6",
      "name": "If5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        1440
      ],
      "id": "41a41c6f-441f-4ba1-b54f-5088bbe129c5",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1940,
        1700
      ],
      "id": "a8251ef5-0a92-44c4-bca2-2b60e8d5cc8e"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ChuqUXTlT8elzHNI",
          "mode": "list",
          "cachedResultName": "Проверка старых треков в таблице(диип)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1520,
        1460
      ],
      "id": "5ce22ccf-6892-43ef-acc7-9650c3e304e7",
      "name": "Execute Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1940,
        1460
      ],
      "id": "451d708a-d8ce-4952-8047-e5c8bae96ae7",
      "name": "Wait1",
      "webhookId": "b0549546-3a75-440a-88a3-42c092ee9693"
    },
    {
      "parameters": {
        "content": "## Удалеие из таблиц",
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        1300
      ],
      "typeVersion": 1,
      "id": "3dbeb6a8-f6e4-4239-9ea6-37a0ffabab32",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-26T04:26:43.609Z",
      "createdAt": "2025-07-26T04:26:43.609Z",
      "role": "workflow:owner",
      "workflowId": "0FVCSRW2Q4FA7czE",
      "projectId": "NQcsor1lU8xEGtVE"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-02-05T16:24:37.889Z",
      "createdAt": "2025-02-05T16:24:37.889Z",
      "id": "vsUr1hQQVG3ZP6Nk",
      "name": "BDCheck"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-03T07:58:30.000Z",
  "versionId": "6e27b98d-ed60-416a-8b58-db183db45771"
}