workflowПеренос ВрОтпр в отдельную таблицу (для всех).json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ДатосЦикл",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем треки с отметкой доставлено": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Копируем запись в все треки доставлено": {
      "main": [
        [
          {
            "node": "Получаем данные из таблицы все треки по треку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем данные из таблицы все треки по треку": {
      "main": [
        [
          {
            "node": "Удаляем строку по полученному номеру строки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Удаляем строку по полученному номеру строки": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Датос": {
      "main": [
        [
          {
            "node": "Получаем треки с отметкой доставлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ДатосЦикл": {
      "main": [
        [
          {
            "node": "Копируем запись в все треки доставлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ВД": {
      "main": [
        [
          {
            "node": "Чтение данных из workProcess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных из workProcess": {
      "main": [
        [
          {
            "node": "Датос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "ВД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-02T14:39:54.078Z",
  "id": "7fnXycgDiNJ7YWwO",
  "isArchived": false,
  "meta": null,
  "name": "Перенос ВрОтпр в отдельную таблицу (для всех)",
  "nodes": [
    {
      "parameters": {
        "content": "# Перенос ВрОтпр в отдельную таблицу (для всех)",
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1700,
        -180
      ],
      "typeVersion": 1,
      "id": "c7cc6aaf-7327-403d-915f-e374b283b076",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1780,
        340
      ],
      "id": "e31ceadc-2f9a-490f-9dfd-4166f3d124d1",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -280,
        340
      ],
      "id": "91d1606c-12a1-4abc-96ca-718a4f84290f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -320,
        0
      ],
      "id": "ab1fe317-735b-4d90-b3ec-74ebcc71bfe4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        620
      ],
      "id": "2a0c5d36-9ef5-4c0f-acf5-669b5e9d1a34",
      "name": "Wait1",
      "webhookId": "8a8d93ab-388c-4afd-acd3-9a7ef445ac23"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.start_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.allTraks_pageID }}",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Отметка о доставке",
              "lookupValue": "Вручено отправителю"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -760,
        340
      ],
      "id": "5cbcf038-4005-425c-93a5-795dd6af420b",
      "name": "Получаем треки с отметкой доставлено",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Датос').first().json.start_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Датос').first().json.allTraksVO_pageID }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "трек": "={{ $json['трек'] }}",
            "Отметка о доставке": "={{ $json['Отметка о доставке'] }}",
            "Дата последнего обновления": "={{ $json['Дата последнего обновления'] }}",
            "url таблицы из которой трек": "={{ $json['url таблицы из которой трек'] }}",
            "Индекс": "={{ $json['Индекс'] }}",
            "Актуальный статус": "={{ $json['Актуальный статус'] }}",
            "Дата добавления": "={{ $now.format('dd.MM.yy HH-mm-ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата добавления",
              "displayName": "Дата добавления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url таблицы из которой трек",
              "displayName": "url таблицы из которой трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        360
      ],
      "id": "98982efa-f70d-4b2d-a10f-586c511503ce",
      "name": "Копируем запись в все треки доставлено",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Датос').item.json.start_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Датос').item.json.allTraks_pageID }}",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "трек",
              "lookupValue": "={{ $json['трек'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        360
      ],
      "id": "7e9d6aa5-6c70-4892-b2fe-62907d74278a",
      "name": "Получаем данные из таблицы все треки по треку",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Датос').item.json.start_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Датос').item.json.allTraks_pageID }}",
          "mode": "id"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        360
      ],
      "id": "8fe6bce1-1489-418d-b455-a5d57f8932aa",
      "name": "Удаляем строку по полученному номеру строки",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1000,
        340
      ],
      "id": "e1232bdb-e7ee-463f-9cb1-74cba73f4b8d",
      "name": "Датос"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -20,
        360
      ],
      "id": "cc6f7c0c-c222-496f-b405-229e52056763",
      "name": "ДатосЦикл"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -540,
        340
      ],
      "id": "68567b17-0568-4405-9bd1-8ec5951f0ffe",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9bdf60f9-a502-441b-96c3-fde17dfeb2ff",
              "name": "processID",
              "value": "={{ $json.ProcessID }}",
              "type": "string"
            },
            {
              "id": "0d45aa79-3123-4585-b1b2-3dea228564f3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1380,
        360
      ],
      "id": "15900d71-927e-4a5a-9371-4f16949a7fc2",
      "name": "ВД"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "tablsCC",
          "mode": "list",
          "cachedResultName": "tablsCC"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "processID",
              "value": "={{ $json.processID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ad3e3e0-a532-4dbf-b380-7abfdcd4af8b",
      "name": "Чтение данных из workProcess",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1180,
        340
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return (\n[\n  {\n    \"ProcessID\": \"ForIra\"\n  }\n]\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1580,
        360
      ],
      "id": "a22d04cb-ebd8-4944-b79a-865764e99710",
      "name": "Code2",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-05T05:46:17.000Z",
  "versionId": "0b668f0c-70ec-489d-966e-0268ebed5ce7"
}