workflowРабота с БД.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Таблица traks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Таблица user",
            "type": "main",
            "index": 0
          },
          {
            "node": "Таблица tabls",
            "type": "main",
            "index": 0
          },
          {
            "node": "Произвольный запрос",
            "type": "main",
            "index": 0
          },
          {
            "node": "Программа - контролёр",
            "type": "main",
            "index": 0
          },
          {
            "node": "Таблица servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные для добавления": {
      "main": [
        [
          {
            "node": "Добавление записи в таблицу Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные для добавления1": {
      "main": [
        [
          {
            "node": "Добавление записи в таблицу tabls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные для добавления2": {
      "main": [
        [
          {
            "node": "Добавление записи в таблицу traks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Таблица traks": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Traks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Данные для добавления2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Обновление параметра в таблице Traks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Параметр для удаления и его значение",
            "type": "main",
            "index": 0
          },
          {
            "node": "Параметры запроса для замены1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Выставление статусов трекам в гугл таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Таблица user": {
      "main": [
        [
          {
            "node": "Данные для добавления",
            "type": "main",
            "index": 0
          },
          {
            "node": "Обновление параметра в таблице Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Получить все записи из таблицы Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Параметр и его значение для удаления",
            "type": "main",
            "index": 0
          },
          {
            "node": "Параметры запроса для замены",
            "type": "main",
            "index": 0
          },
          {
            "node": "Проверка оплаты",
            "type": "main",
            "index": 0
          },
          {
            "node": "Сбор треков из гугл таблиц",
            "type": "main",
            "index": 0
          },
          {
            "node": "Сбор треков из БД таблицы traks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Таблица tabls": {
      "main": [
        [
          {
            "node": "Данные для добавления1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Обновление параметра в таблице Tabls",
            "type": "main",
            "index": 0
          },
          {
            "node": "Получить все записи из таблицы Tabls",
            "type": "main",
            "index": 0
          },
          {
            "node": "Параметр для удаления и его значение1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Параметры запроса для замены2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Получить все записи из таблицы Tabls1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметр для удаления и его значение": {
      "main": [
        [
          {
            "node": "Удаление строки в таблице traks по заданному параметру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметр и его значение для удаления": {
      "main": [
        [
          {
            "node": "Удаление строки в таблице Users по заданному параметру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметр для удаления и его значение1": {
      "main": [
        [
          {
            "node": "Удаление строки в таблице tabls по заданному параметру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры запроса для замены": {
      "main": [
        [
          {
            "node": "Изменение  строки в таблице Users по заданному параметру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры запроса для замены1": {
      "main": [
        [
          {
            "node": "Замена строки в таблице Traks по заданному параметру2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры запроса для замены2": {
      "main": [
        [
          {
            "node": "Удаление строки в таблице Tabls по заданному параметру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Tabls1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Users1": {
      "main": [
        [
          {
            "node": "ПРОверяем статус подписки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка оплаты": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Users1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Считаем оставшееся колличество дней до оплаты": {
      "main": [
        [
          {
            "node": "Проверяем что до оплаты больше 3 дней",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем что до оплаты больше 3 дней": {
      "main": [
        [
          {
            "node": "тут нода в которую отправляем тех пользователей , у которых всё ок",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Тут нода, которая собирает списки на оповещение о пополнении",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем у кого истёк срок оплаты": {
      "main": [
        [
          {
            "node": "Считаем оставшееся колличество дней до оплаты",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Выставляем Nok в Status тем, у кого просрочена оплата",
            "type": "main",
            "index": 0
          },
          {
            "node": "Тут нода, которая собирает списки на оповещение о пополнении",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ПРОверяем статус подписки": {
      "main": [
        [
          {
            "node": "Проверяем у кого истёк срок оплаты",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Выставляем 0 в WorkOn тем, у кого статус подписки Nok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Тут нода, которая собирает списки на оповещение о пополнении",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сбор треков из гугл таблиц": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Users2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Users2": {
      "main": [
        [
          {
            "node": "ПРОверяем статус подписки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ПРОверяем статус подписки1": {
      "main": [
        [
          {
            "node": "ПРОверяем workOn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ПРОверяем workOn": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Tabls2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Tabls2": {
      "main": [
        [
          {
            "node": "ПРОверяем NeedCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ПРОверяем NeedCheck": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Данные в цикле",
            "type": "main",
            "index": 0
          },
          {
            "node": "JsonDatabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные в цикле": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Traks1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Достаём тригер1",
            "type": "main",
            "index": 0
          },
          {
            "node": "достаём тригер2",
            "type": "main",
            "index": 0
          },
          {
            "node": "достаём тригер 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "достаём тригер4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Данные для добавления3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Меняем triger1 на 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные для добавления3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Данные для добавления4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Меняем triger2 на 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Traks1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем наличие треков в БД": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Меняем triger3 на ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Проверяем наличие треков в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные для добавления4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Добавление записи в таблицу traks2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отсеиваем записи без треков": {
      "main": [
        [
          {
            "node": "Проверяем наличие треков в БД",
            "type": "main",
            "index": 1
          },
          {
            "node": "Меняем triger3 на 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Добавление записи в таблицу traks2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonDatabase": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Меняем triger1 на 0": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Данные в цикле",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Данные для добавления3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "пустой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "пустой": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Данные для добавления4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "пустой1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Отсеиваем записи без треков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Меняем triger2 на 0": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "достаём тригер2": {
      "main": [
        [
          {
            "node": "проверяем тригер 2к 1це",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем тригер 2к 1це": {
      "main": [
        [
          {
            "node": "пустой1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Достаём тригер1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Проверяем наличие треков в БД",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "проверяем тригер 2к 1це1": {
      "main": [
        [
          {
            "node": "пустой2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "пустой2": {
      "main": [
        [
          {
            "node": "Проверяем наличие треков в БД",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Меняем triger3 на 0": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Меняем triger3 на ": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "достаём тригер4": {
      "main": [
        [
          {
            "node": "проверяем тригер 4к 1це",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "достаём тригер 3": {
      "main": [
        [
          {
            "node": "проверяем тригер 2к 1це1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "пустой3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем тригер 4к 1це": {
      "main": [
        [
          {
            "node": "пустой3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Users3": {
      "main": [
        [
          {
            "node": "ПРОверяем статус подписки2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сбор треков из БД таблицы traks": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Users3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ПРОверяем статус подписки2": {
      "main": [
        [
          {
            "node": "ПРОверяем статус подписки3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ПРОверяем статус подписки3": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Tabls3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Tabls3": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Tabls4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Tabls4": {
      "main": [
        [
          {
            "node": "Разделяем BP и EP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разделяем BP и EP": {
      "main": [
        [
          {
            "node": "Подсчёт необходимого колличества серверов",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Подсчёт необходимого колличества серверов1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Делим на 2 сервера": {
      "main": [
        [
          {
            "node": "Первая часть",
            "type": "main",
            "index": 0
          },
          {
            "node": "Вторая часть",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Первая часть": {
      "main": [
        [
          {
            "node": "Проверяем наличие треков в БД1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Количество проверяемых треков BP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Объединяем все треки в один массив",
            "type": "main",
            "index": 0
          },
          {
            "node": "Обнуляем сервер на который придут треки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вторая часть": {
      "main": [
        [
          {
            "node": "Отправка данных на проверку на 2й сервер",
            "type": "main",
            "index": 0
          },
          {
            "node": "Проверяем наличие треков в БД2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Делим на 3 сервера": {
      "main": [
        [
          {
            "node": "Первая часть",
            "type": "main",
            "index": 0
          },
          {
            "node": "Вторая часть",
            "type": "main",
            "index": 0
          },
          {
            "node": "Проверяем наличие треков в БД1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем наличие треков в БД1": {
      "main": [
        [
          {
            "node": "Проверяем наличие треков в БД2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем наличие треков в БД2": {
      "main": [
        [
          {
            "node": "Отправка данных на проверку на 3й сервер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "отправка на один сервер": {
      "main": [
        [
          {
            "node": "Делим на 2 сервера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Делим на 2 сервера1": {
      "main": [
        [
          {
            "node": "Первая часть1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Вторая часть1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подсчёт необходимого колличества серверов1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Делим на 2 сервера1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "сообщить о проблеме",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Первая часть1": {
      "main": [
        [
          {
            "node": "отправляем на один сервер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вторая часть1": {
      "main": [
        [
          {
            "node": "Отправка на проверка ЕР на 1й сервер1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "отправляем на один сервер": {
      "main": [
        [
          {
            "node": "Отправка на проверка ЕР на 1й сервер",
            "type": "main",
            "index": 0
          },
          {
            "node": "Количество проверяемых треков EP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запуск проверки оплаты": {
      "main": [
        [
          {
            "node": "Программа - контролёр",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Программа - контролёр": {
      "main": [
        [
          {
            "node": "Запрос к процессу проверки оплаты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос к процессу проверки оплаты": {
      "main": [
        [
          {
            "node": "Получаем подтверждение об окончании проверки оплаты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем подтверждение об окончании проверки оплаты": {
      "main": [
        [
          {
            "node": "Запрос к процессу выставления статусов в гугл таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос к процессу сбора треков из гугл таблиц": {
      "main": [
        [
          {
            "node": "Получаем подтверждение об окончании сбора треков из гугл таблиц",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем подтверждение об окончании сбора треков из гугл таблиц": {
      "main": [
        [
          {
            "node": "Ежедневная проверка треков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос к процессу сбора треков из БД": {
      "main": [
        [
          {
            "node": "Получаем подтверждение об окончании сбора треков из БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ежедневная проверка треков": {
      "main": [
        [
          {
            "node": "Запрос к процессу сбора треков из БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Количество проверяемых треков EP": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Количество проверяемых треков BP": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "отправляем на один сервер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подсчёт необходимого колличества серверов": {
      "main": [
        [
          {
            "node": "отправка на один сервер",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Делим на 2 сервера",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Делим на 3 сервера",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "сообщаем о проблеме",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Отправляем максимальное колличество проверяемых треков в контролирующий процесс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем подтверждение об окончании сбора треков из БД": {
      "main": [
        [
          {
            "node": "Выставляем максимальное количество треков в проверке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выставляем максимальное количество треков в проверке": {
      "main": [
        [
          {
            "node": "Получаем время окончания всех проверок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем время окончания всех проверок": {
      "main": [
        [
          {
            "node": "Ожидаем завершения всех проверок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ожидаем завершения всех проверок": {
      "main": [
        [
          {
            "node": "проверяем завершили ли проверку все сервера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем завершили ли проверку все сервера": {
      "main": [
        [
          {
            "node": "Окончание дневной проверки отправка отчёта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос к процессу выставления статусов в гугл таблицу": {
      "main": [
        [
          {
            "node": "Получаем подтверждение об окончании выставления статусов в гугл таблицы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем подтверждение об окончании выставления статусов в гугл таблицы": {
      "main": [
        [
          {
            "node": "Запрос к процессу сбора треков из гугл таблиц",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединяем все треки в один массив": {
      "main": [
        [
          {
            "node": "Обновление параметра в таблице Servers3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Отправка данных на проверку на 1й сервер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "выделяем idTables с соответствующим link": {
      "main": [
        [
          {
            "node": "Добавляем link к записям",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Данные для добавления5": {
      "main": [
        [
          {
            "node": "Добавление записи в таблицу Servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметр для удаления и его значение2": {
      "main": [
        [
          {
            "node": "Удаление строки в таблице Servers по заданному параметру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Параметры запроса для замены3": {
      "main": [
        [
          {
            "node": "Замена строки в таблице Servers по заданному параметру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Таблица servers": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Traks2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Данные для добавления5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Обновление параметра в таблице Servers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Параметр для удаления и его значение2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Параметры запроса для замены3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обнуляем сервер на который придут треки": {
      "main": [
        [
          {
            "node": "Ложим 0 в Status_Work для сервера BP_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Объединяем все треки в один массив",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ложим 0 в TrFch для сервера BP_1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ложим 0 в Status_Work для сервера BP_1": {
      "main": [
        [
          {
            "node": "Ложим 0 в TrFch для сервера BP_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ПРОверяем статус подписки4": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Tabls5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ПРОверяем статус подписки5": {
      "main": [
        [
          {
            "node": "ПРОверяем статус подписки4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Users4": {
      "main": [
        [
          {
            "node": "ПРОверяем статус подписки5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Tabls5": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          },
          {
            "node": "выделяем idTables с соответствующим link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Отсеиваем записи без треков1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отсеиваем записи без треков1": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Tabls7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить владельцу таблицы проблемные значения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Tabls7": {
      "main": [
        [
          {
            "node": "Добавляем link к записям",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавляем link к записям": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Сообщаем об окончании процесса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выставление статусов трекам в гугл таблицу": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Users4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Traks": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [],
        [
          {
            "node": "Удаление строки в таблице traks по заданному параметру1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [],
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [],
        [
          {
            "node": "Обновление параметра в таблице Traks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-04T12:27:38.434Z",
  "id": "BN33z2RD9BacyBSt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Работа с БД",
  "nodes": [
    {
      "parameters": {},
      "id": "1e3f610d-c254-40f7-a47d-e19797e264d5",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Users",
          "mode": "list",
          "cachedResultName": "Users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "ID",
        "valueToMatchOn": "ZsTest",
        "valuesToSend": {
          "values": [
            {
              "column": "Status",
              "value": "ok"
            }
          ]
        },
        "options": {}
      },
      "id": "59c6fba6-b7fc-4cb6-9104-13a1eaac647b",
      "name": "Обновление параметра в таблице Users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        640,
        -180
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO Users (ID, DateLastPay, DateNextPay, Summa, Status, WorkOn)\nVALUE ('{{ $json.ID }}', '{{ $json.DateLastPay }}', '{{ $json.DateNextPay }}', {{ $json.Summa }}, '{{ $json.Status }}', {{ $json.WorkOn }}); ",
        "options": {}
      },
      "id": "7633acd0-f75b-4ab2-afda-2d5a53b94a93",
      "name": "Добавление записи в таблицу Users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1520,
        60
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Users ",
        "options": {}
      },
      "id": "496ee9aa-db3e-4a76-8817-5704f87c180e",
      "name": "Получить все записи из таблицы Users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        380,
        -180
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "ID",
              "value": "ZsTestMinDoljnik",
              "type": "string"
            },
            {
              "id": "ab9d10cc-5ff3-4b35-9b9a-a7b9454e9088",
              "name": "DateLastPay",
              "value": "2024-10-08",
              "type": "string"
            },
            {
              "id": "51f33998-208f-47d0-92bb-19d9d73c9dd0",
              "name": "DateNextPay",
              "value": "2024-10-06",
              "type": "string"
            },
            {
              "id": "1ef43b64-0bdd-4332-899a-9e17a7fd07af",
              "name": "Summa",
              "value": 100,
              "type": "number"
            },
            {
              "id": "3a1943fc-7258-4c8c-8027-55291c9b84a3",
              "name": "Status",
              "value": "Nok",
              "type": "string"
            },
            {
              "id": "b97b5ad9-1201-46f8-a916-e07511e0efe9",
              "name": "WorkOn",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f5065adb-f3f7-4db4-b002-f2b83b96b931",
      "name": "Данные для добавления",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        60
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Tabls ",
        "options": {}
      },
      "id": "9141ea12-666a-451b-83c1-457a119377ca",
      "name": "Получить все записи из таблицы Tabls",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        280,
        840
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Tabls",
          "mode": "list",
          "cachedResultName": "Tabls"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "ID",
        "valueToMatchOn": "ZsForIra",
        "valuesToSend": {
          "values": [
            {
              "column": "IdTables",
              "value": "ZsForIra001"
            }
          ]
        },
        "options": {}
      },
      "id": "1351bb12-2b98-4f5d-b27b-29d6085730e7",
      "name": "Обновление параметра в таблице Tabls",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        620,
        760
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Работа с таблицей Users",
        "height": 80,
        "width": 350.204081632653
      },
      "id": "1b0b21d5-b2ed-4b39-8b01-d7b728a19a8b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        40
      ]
    },
    {
      "parameters": {
        "content": "## Работа с таблицей Tabls",
        "height": 80,
        "width": 345.9449043924758,
        "color": 4
      },
      "id": "5f3b3225-9a50-4243-b5fb-92fd29156cd2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "ID",
              "value": "ForIra",
              "type": "string"
            },
            {
              "id": "1ef43b64-0bdd-4332-899a-9e17a7fd07af",
              "name": "Link",
              "value": "https://docs.google.com/spreadsheets/d/16oHTECcQN5z7xQ-3zBZCfgFNOM5MX0N7bE3S3QeiX1s/edit?gid=208083408#gid=208083408",
              "type": "string"
            },
            {
              "id": "3a1943fc-7258-4c8c-8027-55291c9b84a3",
              "name": "IdTables",
              "value": "ForIra001",
              "type": "string"
            },
            {
              "id": "b97b5ad9-1201-46f8-a916-e07511e0efe9",
              "name": "NeedCheck",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "841fa38d-f814-4ddf-b3f1-6b305d1dde8d",
      "name": "Данные для добавления1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "Track",
              "value": "PC305185556BY",
              "type": "string"
            },
            {
              "id": "1ef43b64-0bdd-4332-899a-9e17a7fd07af",
              "name": "IdTables",
              "value": "ZsForIra002",
              "type": "string"
            },
            {
              "id": "3a1943fc-7258-4c8c-8027-55291c9b84a3",
              "name": "DateAdd",
              "value": "2024-10-04",
              "type": "string"
            },
            {
              "id": "b97b5ad9-1201-46f8-a916-e07511e0efe9",
              "name": "DateLastUpd",
              "value": "2024-10-04",
              "type": "string"
            },
            {
              "id": "254da46e-9ba3-478a-8cce-f57701a04171",
              "name": "History",
              "value": "Это история о том как этот трек гулял по адресам и что там с ним делали",
              "type": "string"
            },
            {
              "id": "4b12692a-202d-4235-ae5a-7d2c8865500f",
              "name": "PP",
              "value": "BP",
              "type": "string"
            },
            {
              "id": "2631a270-2360-4005-bace-c640688a37f2",
              "name": "Status",
              "value": "Не доставлено",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2cbb11a5-b461-4781-9684-8954399655d8",
      "name": "Данные для добавления2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Traks ",
        "options": {}
      },
      "id": "4e011c54-ca87-450e-b55b-91049493613e",
      "name": "Получить все записи из таблицы Traks",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1820,
        60
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Track",
        "valueToMatchOn": "PC305187844BY",
        "valuesToSend": {
          "values": [
            {
              "column": "Status",
              "value": "Доставлено"
            }
          ]
        },
        "options": {}
      },
      "id": "b65aae58-3c5f-4fe6-a019-9ab936c765b1",
      "name": "Обновление параметра в таблице Traks",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -860,
        -220
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "id": "0bd22a57-9cc8-45c8-9c22-d4d9e9016ff3",
      "name": "Таблица traks",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -800,
        120
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO Traks (Track, IdTables, Status, DateAdd, DateLastUpd, History, PostProvider)\nVALUE ('{{ $json.Track }}', '{{ $json.IdTables }}', '{{ $json.Status }}', {{ $json.DateAdd }}, '{{ $json.DateLastUpd }}','{{ $json.History }}', '{{ $json.PP }}') ; ",
        "options": {}
      },
      "id": "95d79b97-fbe0-4495-bf81-871e12071c9c",
      "name": "Добавление записи в таблицу traks",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -120,
        160
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "id": "abcc8084-558c-4de0-a332-eb3f0b4dfc88",
      "name": "Таблица user",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        160
      ]
    },
    {
      "parameters": {},
      "id": "42a67374-66fa-41df-8a64-07bd67e596b9",
      "name": "Таблица tabls",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO Tabls (ID, Link, IdTables, NeedCheck)\nVALUE ('{{ $json.ID }}', '{{ $json.Link }}', '{{ $json.IdTables }}', {{ $json.NeedCheck }}); ",
        "options": {}
      },
      "id": "3710b77a-cebb-48d3-8d61-74d1e8422168",
      "name": "Добавление записи в таблицу tabls",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1140,
        540
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "IdTables",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0bc245e5-e613-4ac5-99d6-11348fca3f41",
      "name": "Удаление строки в таблице traks по заданному параметру",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -80,
        -40
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "prm",
              "value": "Track",
              "type": "string"
            },
            {
              "id": "ab9d10cc-5ff3-4b35-9b9a-a7b9454e9088",
              "name": "data",
              "value": "[empty]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5588b472-f06c-4b22-822e-c32e6073b17f",
      "name": "Параметр для удаления и его значение",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "Users",
          "mode": "list",
          "cachedResultName": "Users"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "={{ $json.prm }}",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f9f5b9b6-3098-48d6-af26-9f5bb61748bc",
      "name": "Удаление строки в таблице Users по заданному параметру",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1500,
        -160
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "prm",
              "value": "DateLastPay",
              "type": "string"
            },
            {
              "id": "ab9d10cc-5ff3-4b35-9b9a-a7b9454e9088",
              "name": "data",
              "value": "2024-10-08",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ebf32648-4f10-45c2-ae5e-112da529dc47",
      "name": "Параметр и его значение для удаления",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE Tabls DROP FOREIGN KEY IdTables;",
        "options": {}
      },
      "id": "0f31d8df-423e-46c8-97c9-8559b5c26f3d",
      "name": "Произвольный запрос",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -300,
        700
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Работа с таблицей Traks",
        "height": 80,
        "width": 345.9449043924758,
        "color": 5
      },
      "id": "d2ea0581-5449-4f3b-91bd-5fd52c866414",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "prm",
              "value": "IdTables",
              "type": "string"
            },
            {
              "id": "ab9d10cc-5ff3-4b35-9b9a-a7b9454e9088",
              "name": "data",
              "value": "ZsForIra003",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "368c954c-c446-43e7-aabd-aa582a7cc4c8",
      "name": "Параметр для удаления и его значение1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        760
      ]
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "Tabls",
          "mode": "list",
          "cachedResultName": "Tabls"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "IdTables",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a41f52d4-280c-4a68-83d9-cd6d7b323eea",
      "name": "Удаление строки в таблице tabls по заданному параметру",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1140,
        760
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "prmFmatch",
              "value": "ID",
              "type": "string"
            },
            {
              "id": "ab9d10cc-5ff3-4b35-9b9a-a7b9454e9088",
              "name": "dataFmatch",
              "value": "ZsTestMinD",
              "type": "string"
            },
            {
              "id": "1c7c9c85-0e29-4786-8a4b-9ee36ea6cf36",
              "name": "prmFchange",
              "value": "Status",
              "type": "string"
            },
            {
              "id": "d34c6735-4050-4629-adcd-3f6110411b3a",
              "name": "dataFchange",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "654b547a-b51f-49e9-a7cc-003aff039a92",
      "name": "Параметры запроса для замены",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "prmFmatch",
              "value": "Track",
              "type": "string"
            },
            {
              "id": "ab9d10cc-5ff3-4b35-9b9a-a7b9454e9088",
              "name": "dataFmatch",
              "value": "PC305187476BY",
              "type": "string"
            },
            {
              "id": "1c7c9c85-0e29-4786-8a4b-9ee36ea6cf36",
              "name": "prmFchange",
              "value": "Status",
              "type": "string"
            },
            {
              "id": "d34c6735-4050-4629-adcd-3f6110411b3a",
              "name": "dataFchange",
              "value": "Доставлено",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b492f6f5-3e92-42fd-b64e-b24fe61c19d9",
      "name": "Параметры запроса для замены1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "prmFmatch",
              "value": "IdTables",
              "type": "string"
            },
            {
              "id": "ab9d10cc-5ff3-4b35-9b9a-a7b9454e9088",
              "name": "dataFmatch",
              "value": "ZsForIra001",
              "type": "string"
            },
            {
              "id": "1c7c9c85-0e29-4786-8a4b-9ee36ea6cf36",
              "name": "prmFchange",
              "value": "NeedCheck",
              "type": "string"
            },
            {
              "id": "d34c6735-4050-4629-adcd-3f6110411b3a",
              "name": "dataFchange",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8c0c7dfa-de18-40ac-a4c7-514afe6ec7e5",
      "name": "Параметры запроса для замены2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        980
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Tabls",
          "mode": "list",
          "cachedResultName": "Tabls"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "={{ $json.prmFmatch }}",
        "valueToMatchOn": "={{ $json.dataFmatch }}",
        "valuesToSend": {
          "values": [
            {
              "column": "={{ $json.prmFchange }}",
              "value": "={{ $json.dataFchange }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9203316e-5f25-40cf-bde7-db55393b86d6",
      "name": "Удаление строки в таблице Tabls по заданному параметру",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1140,
        980
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Tabls ",
        "options": {}
      },
      "id": "39afea41-b112-44fe-9e1a-95a340d3155a",
      "name": "Получить все записи из таблицы Tabls1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        800,
        1220
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9efd1968-1734-457d-b0b6-44d211634d97",
              "leftValue": "={{ $json.IdTables }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ceacd24e-6b90-4d3b-b565-5c2d8ad3aedb",
              "leftValue": "={{ $json.ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "253417c9-bc00-492c-a9a2-5396c2ab9295",
              "leftValue": "={{ $json.Link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e9ce045a-ecb6-4163-a8b1-ef1e88ac4573",
              "leftValue": "={{ $json.NeedCheck }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ebfa8e1d-b2ec-4076-8573-7ab7433f217e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        1240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Users ",
        "options": {}
      },
      "id": "2569f549-beba-46a4-b5f2-cd822a14f7c9",
      "name": "Получить все записи из таблицы Users1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1980,
        -760
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "id": "982b816e-4de3-4891-ab55-43e12afef030",
      "name": "Проверка оплаты",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1660,
        -760
      ]
    },
    {
      "parameters": {},
      "id": "48c4d734-580b-4bb3-a79d-debe737d0562",
      "name": "Тут нода, которая собирает списки на оповещение о пополнении",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2720,
        -560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Users",
          "mode": "list",
          "cachedResultName": "Users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "={{ $json.prmFmatch }}",
        "valueToMatchOn": "={{ $json.dataFmatch }}",
        "valuesToSend": {
          "values": [
            {
              "column": "={{ $json.prmFchange }}",
              "value": "={{ $json.dataFchange }}"
            }
          ]
        },
        "options": {}
      },
      "id": "81a6d525-b9b5-443b-ab1a-c750518bbcf2",
      "name": "Изменение  строки в таблице Users по заданному параметру",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1500,
        -340
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "57fa4b0e-cca4-4551-b0c3-6acc60da4398",
              "leftValue": "={{ $json.timeDifference.days }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e18a2082-2f08-4cd6-b7f0-847d03d9dec1",
      "name": "Проверяем что до оплаты больше 3 дней",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2900,
        -800
      ]
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $today }}",
        "endDate": "={{ $json.DateNextPay }}",
        "options": {
          "includeInputFields": true
        }
      },
      "id": "7b54f70f-3f10-410e-a03f-2d66a5a8d6ec",
      "name": "Считаем оставшееся колличество дней до оплаты",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2680,
        -800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a97b329-1205-4c32-a83a-d5f6aa6fba0f",
              "leftValue": "={{ $today }}",
              "rightValue": "={{ $json.DateNextPay }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fbcdf741-e0b0-4750-9dd2-04028134f97a",
      "name": "Проверяем у кого истёк срок оплаты",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2440,
        -780
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Users",
          "mode": "list",
          "cachedResultName": "Users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "ID",
        "valueToMatchOn": "={{ $json.ID }}",
        "valuesToSend": {
          "values": [
            {
              "column": "WorkOn",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "555feb19-eb3e-40be-a33e-c54fb849f2f1",
      "name": "Выставляем 0 в WorkOn тем, у кого статус подписки Nok",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2200,
        -1000
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57210d08-d03f-4934-9fe6-dfcbe23944b9",
      "name": "ПРОверяем статус подписки",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2220,
        -760
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Users",
          "mode": "list",
          "cachedResultName": "Users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "ID",
        "valueToMatchOn": "={{ $json.ID }}",
        "valuesToSend": {
          "values": [
            {
              "column": "WorkOn",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "92bc374f-704b-4daa-9780-a06d4f68e437",
      "name": "Выставляем Nok в Status тем, у кого просрочена оплата",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2440,
        -1000
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d1ff7b5c-931c-4a99-b801-3a133de6fb2c",
      "name": "тут нода в которую отправляем тех пользователей , у которых всё ок",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3180,
        -820
      ]
    },
    {
      "parameters": {},
      "id": "9ce8fce5-a838-414f-9968-ffcb7f5c7b75",
      "name": "Сбор треков из гугл таблиц",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1720,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Users ",
        "options": {}
      },
      "id": "626dd382-43f9-417d-9c1c-5a719514bc31",
      "name": "Получить все записи из таблицы Users2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1900,
        400
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "41d01a35-d70c-4c66-ac19-eec7343cd567",
      "name": "ПРОверяем статус подписки1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.WorkOn }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5b422004-c30e-4a48-835e-f4ff1457ae15",
      "name": "ПРОверяем workOn",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        280
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Tabls",
          "mode": "list",
          "cachedResultName": "Tabls"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b0a50a1-d962-4987-b112-0abefbe3659c",
      "name": "Получить все записи из таблицы Tabls2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2400,
        420
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.NeedCheck }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4a9c0f36-7246-4769-9f31-8196caedde23",
      "name": "ПРОверяем NeedCheck",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2660,
        420
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Отметка о доставке",
              "lookupValue": "нет в БД"
            }
          ]
        },
        "options": {}
      },
      "id": "7d02f8aa-ddab-458c-aae2-6f35527a84be",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3660,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "373fc6a1-cf49-4b45-91f1-d74382aab05f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2980,
        400
      ]
    },
    {
      "parameters": {},
      "id": "2ea7a86d-9f59-44c1-a877-d75187785791",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2900,
        -120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c48ff9e-4fce-4900-9986-0c03a1242984",
              "name": "IdTables",
              "value": "={{ $json.IdTables }}",
              "type": "string"
            },
            {
              "id": "13f1e269-6cb5-4c50-b329-939de93422bc",
              "name": "ID",
              "value": "={{ $json.ID }}",
              "type": "string"
            },
            {
              "id": "4fefd33e-02f7-45a2-9b2f-f5c4123b3a0e",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            },
            {
              "id": "25080ef7-a4a4-4fce-aba6-c55b29097354",
              "name": "NeedCheck",
              "value": "={{ $json.NeedCheck }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "6b578e45-b715-4a99-9db9-b25b21289242",
      "name": "Данные в цикле",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3320,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "Track",
              "value": "={{ $json['трек'] }}",
              "type": "string"
            },
            {
              "id": "1ef43b64-0bdd-4332-899a-9e17a7fd07af",
              "name": "IdTables",
              "value": "={{ $('Данные в цикле').item.json.IdTables }}",
              "type": "string"
            },
            {
              "id": "b97b5ad9-1201-46f8-a916-e07511e0efe9",
              "name": "DateLastUpd",
              "value": "={{ $today.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "254da46e-9ba3-478a-8cce-f57701a04171",
              "name": "History",
              "value": "Этот трек впервые попал в БД",
              "type": "string"
            },
            {
              "id": "4b12692a-202d-4235-ae5a-7d2c8865500f",
              "name": "PP",
              "value": "={{ $if($json['трек'].endsWith('BY') 'BP', 'EP') }}",
              "type": "string"
            },
            {
              "id": "2631a270-2360-4005-bace-c640688a37f2",
              "name": "Status",
              "value": "Не доставлено",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b3c455fb-0f20-4f03-ae28-f90afb182659",
      "name": "Данные для добавления3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3980,
        420
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Отметка о доставке",
              "lookupValue": "Не доставлено"
            },
            {
              "lookupColumn": "Дата последнего обновления",
              "lookupValue": "="
            }
          ]
        },
        "options": {}
      },
      "id": "103efc80-1dd0-4b45-b34f-7407ff88f938",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3360,
        920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO Traks (Track, IdTables, Status, DateLastUpd, History, PostProvider)\nVALUE ('{{ $json.Track }}', '{{ $json.IdTables }}', '{{ $json.Status }}', '{{ $json.DateLastUpd }}','{{ $json.History }}', '{{ $json.PP }}') ; ",
        "options": {}
      },
      "id": "adcad403-e8ec-4d33-a4f3-c74ed8aa715c",
      "name": "Добавление записи в таблицу traks2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        5100,
        1520
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "Track",
              "value": "={{ $json['трек'] }}",
              "type": "string"
            },
            {
              "id": "1ef43b64-0bdd-4332-899a-9e17a7fd07af",
              "name": "IdTables",
              "value": "={{ $('Данные в цикле').item.json.IdTables }}",
              "type": "string"
            },
            {
              "id": "b97b5ad9-1201-46f8-a916-e07511e0efe9",
              "name": "DateLastUpd",
              "value": "={{ $today.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "254da46e-9ba3-478a-8cce-f57701a04171",
              "name": "History",
              "value": "Этот трек впервые попал в БД",
              "type": "string"
            },
            {
              "id": "4b12692a-202d-4235-ae5a-7d2c8865500f",
              "name": "PP",
              "value": "={{ $if($json['трек'].endsWith('BY') 'BP', 'EP') }}",
              "type": "string"
            },
            {
              "id": "2631a270-2360-4005-bace-c640688a37f2",
              "name": "Status",
              "value": "Не доставлено",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "477a0202-c2ff-40e7-bce7-ed73bd0cdca9",
      "name": "Данные для добавления4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3980,
        920
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Traks ",
        "options": {}
      },
      "id": "4882db81-d2a2-41f7-9b3c-f51399cc0039",
      "name": "Получить все записи из таблицы Traks1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3600,
        -20
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Track",
              "field2": "Track"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {
          "multipleMatches": "all"
        }
      },
      "id": "444c09ce-1130-44fe-b789-23d216fc080f",
      "name": "Проверяем наличие треков в БД",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        4940,
        480
      ]
    },
    {
      "parameters": {},
      "id": "facf79a4-3233-4a07-82da-ee75ae5b5571",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4480,
        -20
      ]
    },
    {
      "parameters": {},
      "id": "e4b0a4f9-696c-471f-a38c-9b41956eac64",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2740,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1f5304e-e789-437b-9ac1-1fc050eeb007",
              "leftValue": "={{ $json.Track }}",
              "rightValue": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]B|bY|y",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "87c92809-3571-4ada-b751-9bf96702cbc5",
              "leftValue": "={{ $json.Track }}",
              "rightValue": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2004f6ad-25ce-43ba-84e1-10b60a725f8f",
      "name": "Отсеиваем записи без треков",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4460,
        460
      ]
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "Track",
        "options": {}
      },
      "id": "a0cbf0ab-fe71-4dc4-a2c5-42b0ac9600e7",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        5020,
        900
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.trigers",
        "sourceType": "sourceTypeJson",
        "sourceData": "{  \"Triger1\":  1, \"Triger2\":  1, \"Triger3\":  1, \"Triger4\":  1 } ",
        "filePath": "=root/n8n/sborTraks.json"
      },
      "id": "693ab24a-db14-439c-b069-5dbbbcb82511",
      "name": "JsonDatabase",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        3160,
        220
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.trigers.Triger1",
        "sourceType": "sourceTypeJson",
        "sourceData": "0",
        "filePath": "=root/n8n/sborTraks.json"
      },
      "id": "1b500d1c-ed49-43b4-80af-e74563f1f882",
      "name": "Меняем triger1 на 0",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        3640,
        220
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce3316d8-b3a4-465d-ad20-ca8014b7a501",
              "leftValue": "={{ $json.data }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "995eb409-8702-4f52-8fe9-bf5699945ffa",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3740,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "04611b63-2059-4d2a-aaad-76f971b1fd70",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3320,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2ab4e8f4-a2c4-44e8-897a-03b58d1ba6a1",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3980,
        220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b201314f-a20f-4852-87e8-3756a30da0e8",
      "name": "пустой",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3980,
        600
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2df80932-fe26-4c28-a82b-397271e010f2",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3800,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3fe411e8-e7be-46d0-96f9-b32e19c09080",
      "name": "пустой1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4240,
        1080
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "beea00a1-3ed9-4d23-a1e9-63ea31580182",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4240,
        460
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.trigers.Triger2",
        "sourceType": "sourceTypeJson",
        "sourceData": "0",
        "filePath": "=root/n8n/sborTraks.json"
      },
      "id": "53e6fb47-a9cf-46bf-96b5-3cb3990160c1",
      "name": "Меняем triger2 на 0",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        3520,
        780
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "queryPath": "process.trigers.Triger2",
        "filePath": "=root/n8n/sborTraks.json"
      },
      "id": "97856cce-5f28-49f1-9be1-bd8ba7135bb3",
      "name": "достаём тригер2",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        3280,
        1100
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce3316d8-b3a4-465d-ad20-ca8014b7a501",
              "leftValue": "={{ $json.data }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "41c36433-ebaa-4402-a43d-da9dc2e26961",
      "name": "проверяем тригер 2к 1це",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3720,
        1100
      ]
    },
    {
      "parameters": {
        "queryPath": "process.trigers.Triger1",
        "filePath": "=root/n8n/sborTraks.json"
      },
      "id": "32b968ab-0833-40db-b05e-91986d3842bb",
      "name": "Достаём тригер1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        3520,
        620
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4ab4af3b-879f-4f55-aae1-9201f5ce11b1",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4780,
        700
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6ea19a42-26b1-44dc-9d6d-15cd42e8635c",
      "name": "пустой2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4500,
        1260
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce3316d8-b3a4-465d-ad20-ca8014b7a501",
              "leftValue": "={{ $json.data }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1fdfe144-1416-47a0-8ada-0a9b2400e1f0",
      "name": "проверяем тригер 2к 1це1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3860,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.trigers.Triger3",
        "sourceType": "sourceTypeJson",
        "sourceData": "0",
        "filePath": "=root/n8n/sborTraks.json"
      },
      "id": "c054bfc7-c627-475f-9554-fadc07d4c565",
      "name": "Меняем triger3 на 0",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        4460,
        700
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "68cd4b3e-e9b2-45e1-83bc-80ab33a905dc",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5280,
        640
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "process.trigers.Triger4",
        "sourceType": "sourceTypeJson",
        "sourceData": "0",
        "filePath": "=root/n8n/sborTraks.json"
      },
      "id": "ff175291-b24e-459a-a4e0-fecf72a37b4b",
      "name": "Меняем triger3 на ",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        5260,
        420
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b30b4092-c724-4aea-9528-7d1455cc029f",
      "name": "пустой3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3000,
        820
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "queryPath": "process.trigers.Triger4",
        "filePath": "=root/n8n/sborTraks.json"
      },
      "id": "8e8c89ab-18d6-479c-833c-b9cc1fe2e477",
      "name": "достаём тригер4",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        3020,
        1460
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "queryPath": "process.trigers.Triger3",
        "filePath": "=root/n8n/sborTraks.json"
      },
      "id": "77a66473-6565-4ff4-b21a-73c72a1d3273",
      "name": "достаём тригер 3",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        3220,
        1280
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce3316d8-b3a4-465d-ad20-ca8014b7a501",
              "leftValue": "={{ $json.data }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "521db1be-1624-4def-9a2c-a87317385523",
      "name": "проверяем тригер 4к 1це",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3420,
        1460
      ]
    },
    {
      "parameters": {},
      "id": "6ed84b82-9483-411b-b219-0b18baa95eec",
      "name": "Сбор треков из БД таблицы traks",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1960,
        -960
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Users ",
        "options": {}
      },
      "id": "c701bd38-7c46-4356-aeb2-cae92375a06a",
      "name": "Получить все записи из таблицы Users3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1720,
        -960
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0a253a3-ab51-44a8-a963-37410c2c714d",
      "name": "ПРОверяем статус подписки2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        -800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.WorkOn }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "980c372d-2238-4ea0-a055-66d1dfc4ef66",
      "name": "ПРОверяем статус подписки3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        -1000
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Tabls",
          "mode": "list",
          "cachedResultName": "Tabls"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "56f6c396-4805-413b-a05d-96788091ba19",
      "name": "Получить все записи из таблицы Tabls3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1160,
        -1020
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "IdTables",
              "value": "={{ $json.IdTables }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e0d2ed1-84a6-4679-a6b1-713379e9a435",
      "name": "Получить все записи из таблицы Tabls4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -720,
        -1020
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29bb2489-c999-4a5a-b8de-be3fd13f3696",
              "leftValue": "={{ $json.PostProvider }}",
              "rightValue": "BP",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "19a0ddc2-4124-44c3-8b5e-d3e14d57ea05",
      "name": "Разделяем BP и EP",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        -1020
      ]
    },
    {
      "parameters": {},
      "id": "4a970b9f-1640-417f-bfd5-3addbeaeaae9",
      "name": "Отправка данных на проверку на 1й сервер",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1320,
        -1540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d6a5f25-4b4a-4162-a9e4-79e12cfc608f",
              "name": "lim",
              "value": "={{ $input.all().length / 2 +1}}",
              "type": "number"
            },
            {
              "id": "bf68eb27-f2ce-4424-af83-eb501fbe6e6f",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5e8c5330-26e3-4e12-a846-afa85da0fac6",
      "name": "Делим на 2 сервера",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        -1680
      ]
    },
    {
      "parameters": {
        "maxItems": "={{ $json.lim }}"
      },
      "id": "00dd8527-63be-4954-aa1f-8d2bb18a66e4",
      "name": "Первая часть",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        580,
        -1680
      ]
    },
    {
      "parameters": {
        "maxItems": "={{ $json.lim }}",
        "keep": "lastItems"
      },
      "id": "e86701b0-73d2-4552-aae2-3be0d14a331d",
      "name": "Вторая часть",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        580,
        -1460
      ]
    },
    {
      "parameters": {},
      "id": "514f44e0-9381-426e-85d9-899ea8565b0f",
      "name": "Отправка данных на проверку на 3й сервер",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1080,
        -1300
      ]
    },
    {
      "parameters": {},
      "id": "06318b4f-e36e-4c35-80d4-52b92cc0eb10",
      "name": "Отправка данных на проверку на 2й сервер",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        -1500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d6a5f25-4b4a-4162-a9e4-79e12cfc608f",
              "name": "lim",
              "value": "={{ $input.all().length / 3 +1}}",
              "type": "number"
            },
            {
              "id": "bf68eb27-f2ce-4424-af83-eb501fbe6e6f",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c7627a00-3d18-4b81-8ca6-eba2ff6dde10",
      "name": "Делим на 3 сервера",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        -1460
      ]
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Track",
              "field2": "Track"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {
          "multipleMatches": "all"
        }
      },
      "id": "80a83f56-3771-4233-91f9-b87311c18bfa",
      "name": "Проверяем наличие треков в БД1",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        140,
        -1240
      ]
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Track",
              "field2": "Track"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {
          "multipleMatches": "all"
        }
      },
      "id": "5b95d11a-d769-4937-85f1-c7804da2e65d",
      "name": "Проверяем наличие треков в БД2",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        800,
        -1260
      ]
    },
    {
      "parameters": {},
      "id": "01795a5a-8577-4850-88fd-74d44b3edaca",
      "name": "сообщаем о проблеме",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -660,
        -1260
      ]
    },
    {
      "parameters": {},
      "id": "e560c934-11e4-49ba-ac15-882ec61828b0",
      "name": "отправка на один сервер",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -320,
        -1800
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d6a5f25-4b4a-4162-a9e4-79e12cfc608f",
              "name": "lim",
              "value": "={{ $input.all().length / 2 +1}}",
              "type": "number"
            },
            {
              "id": "bf68eb27-f2ce-4424-af83-eb501fbe6e6f",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9434ccb1-8e99-4556-a986-64aea88e3a6d",
      "name": "Делим на 2 сервера1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        -600
      ]
    },
    {
      "parameters": {
        "maxItems": "={{ $json.lim }}"
      },
      "id": "99246ce1-bf6e-43b1-989b-e16317ee3108",
      "name": "Первая часть1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -320,
        -720
      ]
    },
    {
      "parameters": {
        "maxItems": "={{ $json.lim }}",
        "keep": "lastItems"
      },
      "id": "589f6dee-e335-4c23-a367-230691f5941d",
      "name": "Вторая часть1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -320,
        -560
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $input.all().length /1200 }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 сервер"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea77c958-d5f8-48bb-91b5-147d9b8ef117",
                    "leftValue": "={{ $input.all().length /1200 }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 сервера"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d92b9161-db5c-4cfb-bb78-ee9385b1314e",
                    "leftValue": "={{ $input.all().length /1200 }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "нужно больше серверов"
            }
          ]
        },
        "options": {}
      },
      "id": "d58a7e9b-a428-4443-b1b4-9386c89ac7e0",
      "name": "Подсчёт необходимого колличества серверов1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -980,
        -600
      ]
    },
    {
      "parameters": {},
      "id": "f806b5ef-2b44-488c-8873-6ccd2a25b85c",
      "name": "Отправка на проверка ЕР на 1й сервер",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        160,
        -780
      ]
    },
    {
      "parameters": {},
      "id": "8f0f7d2b-eb2f-47ae-aa7a-723d19ce98c1",
      "name": "Отправка на проверка ЕР на 1й сервер1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        160,
        -560
      ]
    },
    {
      "parameters": {},
      "id": "8708641e-6435-41df-a068-c715dc96f810",
      "name": "сообщить о проблеме",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1460,
        -580
      ]
    },
    {
      "parameters": {},
      "id": "0eefc181-4f09-44ca-8eb4-5ec70c50b958",
      "name": "отправляем на один сервер",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -60,
        -720
      ]
    },
    {
      "parameters": {
        "content": "# Сбор треков из БД и \n# разбиение на сервера",
        "height": 1826.1650767269684,
        "width": 3495.475641449157
      },
      "id": "9398bc6c-bb44-473a-a125-804baf0125e8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2020,
        -2180
      ]
    },
    {
      "parameters": {
        "content": "#  Проверка оплаты",
        "height": 688.7061192091505,
        "width": 1794.0755625238667,
        "color": 4
      },
      "id": "7eab417a-1276-44c2-9298-bde74c2ac5cc",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1580,
        -1040
      ]
    },
    {
      "parameters": {
        "content": "# Сбор треков из гугл таблиц",
        "height": 1911.92780070395,
        "width": 3886.0715141127403,
        "color": 5
      },
      "id": "6692bf81-3256-402a-a74c-85b21c4afe8e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "f47bc177-414f-4486-90df-f8a3c429f07b",
      "name": "Программа - контролёр",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1840,
        700
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "id": "254fc21e-53bb-4cfa-8f84-0fdc62183ffd",
      "name": "Запуск проверки оплаты",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2100,
        700
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "{{ $input.all().length /1200 }}",
        "options": {}
      },
      "id": "228f6dd3-1ba7-4e8d-83b0-68e1952e8f7e",
      "name": "Запрос к процессу проверки оплаты",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1860,
        920
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "5992d5c1-4f93-471c-89f5-a1fca71776c9",
      "name": "Получаем подтверждение об окончании проверки оплаты",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1660,
        920
      ],
      "webhookId": "02cc4cad-b0b0-40ae-ac55-8420ead85756"
    },
    {
      "parameters": {
        "url": "{{ $input.all().length /1200 }}",
        "options": {}
      },
      "id": "03b7c33d-20e6-4171-8c70-7ef98af7a35c",
      "name": "Запрос к процессу сбора треков из гугл таблиц",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        1300
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "e68cb748-da9e-4f6e-9f8e-2e294db322b5",
      "name": "Получаем подтверждение об окончании сбора треков из гугл таблиц",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1380,
        1300
      ],
      "webhookId": "02cc4cad-b0b0-40ae-ac55-8420ead85756"
    },
    {
      "parameters": {
        "url": "{{ $input.all().length /1200 }}",
        "options": {}
      },
      "id": "3d352f6b-5fc1-400c-a045-c1bfba5a383a",
      "name": "Запрос к процессу сбора треков из БД",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1400,
        1520
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "85e8db9f-cd88-4e23-9681-b6c642cfcd48",
      "name": "Получаем подтверждение об окончании сбора треков из БД",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1200,
        1520
      ],
      "webhookId": "02cc4cad-b0b0-40ae-ac55-8420ead85756"
    },
    {
      "parameters": {},
      "id": "bc0fc39d-49fc-498a-aaed-8b072c18a183",
      "name": "Ежедневная проверка треков",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1600,
        1520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9c593a3-398b-45f1-8dfe-bd448579ff3c",
              "name": "PP",
              "value": "EP",
              "type": "string"
            },
            {
              "id": "df0a38c3-0eb7-46c9-b190-6d839a90a50a",
              "name": "Items",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c66eb97f-572c-4541-8e18-4f94d43e9561",
      "name": "Количество проверяемых треков EP",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        -900
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9c593a3-398b-45f1-8dfe-bd448579ff3c",
              "name": "PP",
              "value": "BP",
              "type": "string"
            },
            {
              "id": "df0a38c3-0eb7-46c9-b190-6d839a90a50a",
              "name": "Items",
              "value": "={{ $input.all().length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6f43d26d-86b6-4901-88b6-f07380321b2e",
      "name": "Количество проверяемых треков BP",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        -1080
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "Items"
            }
          ]
        },
        "options": {}
      },
      "id": "0f7aaf1e-2dae-45c1-8c68-c90cbdb35962",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        820,
        -980
      ]
    },
    {
      "parameters": {},
      "id": "0a21059e-2c8a-4e85-9e4d-d4ff583e095f",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -540,
        -780
      ]
    },
    {
      "parameters": {},
      "id": "5c0c0131-a932-4ba1-96fa-c57209f8dfbe",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        320,
        -980
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $input.all().length /1200 }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 сервер"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea77c958-d5f8-48bb-91b5-147d9b8ef117",
                    "leftValue": "={{ $input.all().length /1200 }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 сервера"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a2a60ea-3057-42d4-95a3-56483b16439f",
                    "leftValue": "={{ $input.all().length /1200 }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3 сервера"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d92b9161-db5c-4cfb-bb78-ee9385b1314e",
                    "leftValue": "={{ $input.all().length /1200 }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "нужно больше серверов"
            }
          ]
        },
        "options": {}
      },
      "id": "7fc62170-ee48-4304-8e83-31ecc67ebdb3",
      "name": "Подсчёт необходимого колличества серверов",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -380,
        -1540
      ]
    },
    {
      "parameters": {},
      "id": "5f0b988b-a1f8-4a6b-bfe1-f71fbe1d629b",
      "name": "Отправляем максимальное колличество проверяемых треков в контролирующий процесс",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1080,
        -980
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b33bda4-ae4b-4e70-b555-176766505d90",
              "name": "TraksInCheck",
              "value": 15,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "b6192726-b4c2-436f-9243-ab4f1156f28a",
      "name": "Выставляем максимальное количество треков в проверке",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        1760
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $now }}",
        "timeUnit": "minutes",
        "duration": "={{ $json.TraksInCheck + 5 }}",
        "outputFieldName": "=newDate",
        "options": {}
      },
      "id": "61e742cb-261f-436f-b6ce-e043bf3147f6",
      "name": "Получаем время окончания всех проверок",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1400,
        1760
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.newDate }}"
      },
      "id": "770ea790-4e6c-4e5e-bb46-17cefd201917",
      "name": "Ожидаем завершения всех проверок",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1180,
        1760
      ],
      "webhookId": "3671ae5f-457e-4f7b-a792-901245ff6d27"
    },
    {
      "parameters": {},
      "id": "1142b6bc-b0ed-499a-a558-612d23f5c305",
      "name": "проверяем завершили ли проверку все сервера",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2060,
        1860
      ]
    },
    {
      "parameters": {
        "url": "{{ $input.all().length /1200 }}",
        "options": {}
      },
      "id": "e83f21a3-9b56-4a77-bdf0-c639ebbf99b5",
      "name": "Запрос к процессу выставления статусов в гугл таблицу",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1740,
        1120
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "30b04dc0-a338-4df9-b4ab-93cd12a3d0ad",
      "name": "Получаем подтверждение об окончании выставления статусов в гугл таблицы",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1520,
        1120
      ],
      "webhookId": "02cc4cad-b0b0-40ae-ac55-8420ead85756"
    },
    {
      "parameters": {},
      "id": "cfefa3a2-8c5e-4084-b655-877aea558f71",
      "name": "Окончание дневной проверки отправка отчёта",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2100,
        1300
      ]
    },
    {
      "parameters": {
        "content": "# Контролирующий процесс\n",
        "height": 1450.2828524533638,
        "width": 1688.2062430652622
      },
      "id": "549bec91-4e72-4307-9924-350b29df4ea5",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2600,
        620
      ]
    },
    {
      "parameters": {
        "operation": "concatenateItems",
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b935b32f-edf5-47dc-85b2-22aa7555c820",
      "name": "Объединяем все треки в один массив",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        980,
        -1780
      ]
    },
    {
      "parameters": {
        "url": "https://n8n.makees.online/webhook/check_trackBP",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.item.json.data) }}",
        "options": {}
      },
      "id": "353373fd-81c2-433d-849f-eda7b1b4bab5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        -1540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7092ee14-6828-48f6-a4de-65db9ed0c7d6",
              "name": "IdTables",
              "value": "={{ $json.IdTables }}",
              "type": "string"
            },
            {
              "id": "b1355f6d-45f2-4e11-b8ce-f695101c2d4f",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b6214a31-05f9-4d7e-aa52-4d6092b66e26",
      "name": "выделяем idTables с соответствующим link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3520,
        -780
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "={{ $json.prmFmatch }}",
        "valueToMatchOn": "={{ $json.dataFmatch }}",
        "valuesToSend": {
          "values": [
            {
              "column": "={{ $json.prmFchange }}",
              "value": "={{ $json.dataFchange }}"
            }
          ]
        },
        "options": {}
      },
      "id": "50b521aa-77a9-4997-bdee-a54860ef620f",
      "name": "Замена строки в таблице Traks по заданному параметру2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -60,
        -240
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "254da46e-9ba3-478a-8cce-f57701a04171",
              "name": "Server_name",
              "value": "EP_3",
              "type": "string"
            },
            {
              "id": "4b12692a-202d-4235-ae5a-7d2c8865500f",
              "name": "PP",
              "value": "EP",
              "type": "string"
            },
            {
              "id": "2631a270-2360-4005-bace-c640688a37f2",
              "name": "Status_Work",
              "value": "0",
              "type": "string"
            },
            {
              "id": "0820ce64-336e-4fe5-a10b-07e1a87708ab",
              "name": "TrFch",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5f064605-6913-4e59-a194-8bace0d27c04",
      "name": "Данные для добавления5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2580,
        60
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Servers ",
        "options": {}
      },
      "id": "cdd75b4b-7f5c-4e16-b399-0270f16dbaee",
      "name": "Получить все записи из таблицы Traks2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -3120,
        -60
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "prm",
              "value": "Server_name",
              "type": "string"
            },
            {
              "id": "ab9d10cc-5ff3-4b35-9b9a-a7b9454e9088",
              "name": "data",
              "value": "BP_4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c1c3ef73-7161-460e-aebb-010a97e104cb",
      "name": "Параметр для удаления и его значение2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2580,
        -140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "797f5835-c47a-480d-9409-182e9c6d320f",
              "name": "prmFmatch",
              "value": "Server_name",
              "type": "string"
            },
            {
              "id": "ab9d10cc-5ff3-4b35-9b9a-a7b9454e9088",
              "name": "dataFmatch",
              "value": "BP_4",
              "type": "string"
            },
            {
              "id": "1c7c9c85-0e29-4786-8a4b-9ee36ea6cf36",
              "name": "prmFchange",
              "value": "PP",
              "type": "string"
            },
            {
              "id": "d34c6735-4050-4629-adcd-3f6110411b3a",
              "name": "dataFchange",
              "value": "BP",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "09e2fc26-7228-41e3-87ac-7d838612ad8e",
      "name": "Параметры запроса для замены3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2580,
        -340
      ]
    },
    {
      "parameters": {},
      "id": "28c88f5a-792c-4422-bd48-4526f4bb958d",
      "name": "Таблица servers",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2840,
        20
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO Servers (Server_name, PP, Status_Work, TrFch)\nVALUE ( '{{ $json.Server_name }}', '{{ $json.PP }}','{{ $json.Status_Work }}', '{{ $json.TrFch }}') ; ",
        "options": {}
      },
      "id": "10f6d41d-8f44-40eb-8c46-0eab6364188e",
      "name": "Добавление записи в таблицу Servers",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2380,
        60
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "BP_2",
        "valuesToSend": {
          "values": [
            {
              "column": "Status_Work",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "2e3b88b3-326e-4f95-8f76-e93902c10b55",
      "name": "Обновление параметра в таблице Servers",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2900,
        -320
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "={{ $json.prmFmatch }}",
        "valueToMatchOn": "={{ $json.dataFmatch }}",
        "valuesToSend": {
          "values": [
            {
              "column": "={{ $json.prmFchange }}",
              "value": "={{ $json.dataFchange }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4833947a-90ae-414f-9703-b1d8dc6e8a87",
      "name": "Замена строки в таблице Servers по заданному параметру",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2380,
        -340
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "={{ $json.prm }}",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cab867d7-16fd-4e86-8d06-ca03a1733ca5",
      "name": "Удаление строки в таблице Servers по заданному параметру",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2380,
        -140
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "id": "53753f60-f5a0-4c40-a5b8-b5dd2cc249cb",
      "name": "Обнуляем сервер на который придут треки",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        -1920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2db7bd2-b66b-4345-afba-e1d96846a5bd",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "26062e7a-c130-4bd1-9006-9df72292861f",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        -2120
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "BP_1",
        "valuesToSend": {
          "values": [
            {
              "column": "TrFch",
              "value": "={{ JSON.stringify($input.item.json.data) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e72caaa-30e5-4562-8fe9-158e6ce0b895",
      "name": "Обновление параметра в таблице Servers3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1220,
        -1780
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "BP_1",
        "valuesToSend": {
          "values": [
            {
              "column": "TrFch",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "3204d2b2-74cd-44d6-ac99-8269475bcee5",
      "name": "Ложим 0 в TrFch для сервера BP_1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        660,
        -2120
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "BP_1",
        "valuesToSend": {
          "values": [
            {
              "column": "Status_Work",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "a125d59a-6894-4176-8f3a-761408df1eec",
      "name": "Ложим 0 в Status_Work для сервера BP_1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        700,
        -1920
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Users ",
        "options": {}
      },
      "id": "6baeb5ab-9473-42b8-bb8d-ebddbfa8766e",
      "name": "Получить все записи из таблицы Users4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -4500,
        -960
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.WorkOn }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e4b6d4d6-643b-4436-b909-18df5ea7172c",
      "name": "ПРОверяем статус подписки4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4280,
        -1160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12b19278-8296-4572-8bcf-ef620474ce27",
      "name": "ПРОверяем статус подписки5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4280,
        -960
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Tabls",
          "mode": "list",
          "cachedResultName": "Tabls"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0d40aa87-ecdb-43e3-8c40-7f29a9da6ae8",
      "name": "Получить все записи из таблицы Tabls5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -4000,
        -1180
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "IdTables",
              "value": "={{ $json.IdTables }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3fb4f19-9d61-46ce-9f4b-a572b7450539",
      "name": "Получить все записи из таблицы Tabls6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2340,
        -1500
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Отметка о доставке",
              "lookupValue": "Не доставлено"
            }
          ]
        },
        "options": {}
      },
      "id": "00aa9765-8eb2-40f3-9b40-e126ea1340f0",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3760,
        -1180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Track",
              "value": "={{ $json['трек'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "269f81c7-a15a-4cb6-8b64-6e36aeb573b8",
      "name": "Получить все записи из таблицы Tabls7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -3180,
        -1200
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "трек",
              "field2": "Track"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {}
      },
      "id": "d46b016c-99a3-4047-be7a-ff980941d0c6",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -2360,
        -1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1f5304e-e789-437b-9ac1-1fc050eeb007",
              "leftValue": "={{ $json['трек'] }}",
              "rightValue": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]B|bY|y",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "87c92809-3571-4ada-b751-9bf96702cbc5",
              "leftValue": "={{ $json['трек'] }}",
              "rightValue": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ba4d647e-3e2d-460e-bfc7-ba4822fe8d79",
      "name": "Отсеиваем записи без треков1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3460,
        -1180
      ]
    },
    {
      "parameters": {},
      "id": "b899c042-98bf-4c49-ace5-078ac4699df3",
      "name": "Отправить владельцу таблицы проблемные значения",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3600,
        -940
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "трек": "={{ $json.Track }}",
            "Отметка о доставке": "={{ $json.Status }}",
            "Дата последнего обновления": "={{ $now.format('dd-MM-yy') }}",
            "Актуальный статус": "={{ $json.Track }}: {{ $json.History }}"
          },
          "matchingColumns": [
            "трек"
          ],
          "schema": [
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "таблица",
              "displayName": "таблица",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "штраф",
              "displayName": "штраф",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ЛИЧНЫЙ",
              "displayName": "ЛИЧНЫЙ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Росс",
              "displayName": "Росс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "15259b7a-aaee-479a-b3cf-ffcd98d8a6e4",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2720,
        -1080
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "IdTables",
        "options": {}
      },
      "id": "204dbbce-3874-4d41-8cf3-0e6bafbb4256",
      "name": "Добавляем link к записям",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2940,
        -1080
      ]
    },
    {
      "parameters": {},
      "id": "f46ed6bc-083c-41ad-a8e2-e5986cdc501e",
      "name": "Сообщаем об окончании процесса",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2960,
        -780
      ]
    },
    {
      "parameters": {},
      "id": "f8a3bd88-612b-43ac-a742-b15dda8bc3f8",
      "name": "Выставление статусов трекам в гугл таблицу",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4700,
        -960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7a63dc8-97e4-42ee-bb76-ea37d3152847",
              "leftValue": "={{ $json.Track.length }}",
              "rightValue": 11,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1400,
        -180
      ],
      "id": "c687799b-eaa1-4d0d-838b-ccd64a161f7e",
      "name": "If8"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "Track",
              "value": "={{ $json.Track }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6b6fb540-8541-41a9-8a7f-dc2c386fb0ba",
      "name": "Удаление строки в таблице traks по заданному параметру1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1120,
        -160
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a229b858-44d3-4c4c-a9a5-9c80a0f4fcb1",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Доставлено",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1620,
        60
      ],
      "id": "62636ab6-4ada-4264-bed5-e5dfa5ac8cf3",
      "name": "If9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3abb3dc-97ea-443d-99ff-8883134352c1",
              "leftValue": "={{ $json.PostProvider }}",
              "rightValue": "BP",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        0
      ],
      "id": "a9d50330-72e0-4fb2-8093-5423586842b7",
      "name": "If10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8062d1d9-a5a8-4b46-87ab-b35a8697bd0c",
              "leftValue": "={{ $json.History }}",
              "rightValue": "Вручено",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1180,
        40
      ],
      "id": "b44a5a56-c376-4039-a38e-15fe128862fa",
      "name": "If11"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Track",
        "valueToMatchOn": "={{ $json.Track }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Status",
              "value": "Не доставлено"
            }
          ]
        },
        "options": {}
      },
      "id": "36da2773-d717-4534-a5d4-3b66537b4750",
      "name": "Обновление параметра в таблице Traks1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1240,
        380
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a70b959e-e07b-4838-a141-78ab7352275a",
              "leftValue": "={{ $json.History }}",
              "rightValue": "Вручено отправителю",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1560,
        360
      ],
      "id": "b13f3ff6-7894-478e-9040-c08617a9c1c0",
      "name": "If12"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-26T12:07:52.000Z",
  "versionId": "8b2e97b0-7a34-4267-acae-1e9e2aa1f810"
}