workflowПроверка треков ЕП из БД.json
{
  "active": false,
  "connections": {
    "Распаковываем массив с треками": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Произведём логические расчёты для Servers в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Закидываем колличество треков в таблицу Servers для сервера BP_2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Трэк в цикле",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Трэк в цикле": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Выставляем в БД табл Traks статус Доставлено1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Выставляем в БД табл Traks статус Доставлено отправителю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Выставляем в БД табл Traks статус Доставлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "разница",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разница": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выставляем в БД табл Traks статус Доставлено отправителю": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выставляем в БД табл Traks статус Доставлено": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выставляем в БД табл Traks статус Доставлено1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Произведём логические расчёты для Servers в БД": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Закидываем колличество треков в таблицу Servers для сервера BP_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Закидываем колличество треков в таблицу Servers для сервера BP_1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Servers": {
      "main": [
        [
          {
            "node": "Уменьшаем на 1 количество оставшихся треков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уменьшаем на 1 количество оставшихся треков": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Servers для BP_X": {
      "main": [
        [
          {
            "node": "Получаем треки в массив",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем треки в массив": {
      "main": [
        [
          {
            "node": "Распаковываем массив с треками",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные процесса": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Servers для BP_X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Данные процесса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Закидываем колличество треков в таблицу Servers для сервера BP_2": {
      "main": [
        [
          {
            "node": "Отправляем уведомление об окончании проверки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Данные процесса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "С отметкой доставлено мэтч по индексу (по ID) еп1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Без отметки доставлено мэтч по индексу (по ID) еп",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data_in_cicle": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сброс значений после цикла3": {
      "main": [
        [
          {
            "node": "Структурируем http ответ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Структурируем http ответ1": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем трек и отправляем только один1": {
      "main": [
        [
          {
            "node": "Отправляем данные на вспомогательный сервер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "сброс значений после цикла3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получаем трек и отправляем только один1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "С отметкой доставлено мэтч по индексу (по ID) еп",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-03T16:36:45.367Z",
  "id": "UC7sB9OYqdYSVdln",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Проверка треков ЕП из БД",
  "nodes": [
    {
      "parameters": {},
      "id": "75db125c-974e-4d42-ae7f-1b3b51cd0171",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        660,
        580
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "id": "190042b9-853c-443a-b776-60f6fac7bfdc",
      "name": "Распаковываем массив с треками",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1200,
        340
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9c8f63fc-adf8-4a01-80b5-537c31e1e89d",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1620,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.belpost.by/api/v1/tracking",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjM0OTk3NDI4OTE1MjNjYzgxMTM5OTVlMGQwNWRjNDkyZGQ2NTBmM2Y2MTM4ZDA0ZGY4YTY2M2UxYmNlOTM4NTgyMWE4M2Y0NmFmYWYwYjMxIn0.eyJhdWQiOiIyIiwianRpIjoiMzQ5OTc0Mjg5MTUyM2NjODExMzk5NWUwZDA1ZGM0OTJkZDY1MGYzZjYxMzhkMDRkZjhhNjYzZTFiY2U5Mzg1ODIxYTgzZjQ2YWZhZjBiMzEiLCJpYXQiOjE2NzcwOTkyNzgsIm5iZiI6MTY3NzA5OTI3OCwiZXhwIjoxNzA4NjM1Mjc4LCJzdWIiOiIxMjAwNzY3Iiwic2NvcGVzIjpbXX0.JHJc9aEnNpWFzxJ6P-XvJsrgp6yrXe3mI39dsGmTBKD1gGubNJnIsJoUuke0nYP7bUjRYIwDmWYTQgWRJUCZPw42UeHgdQroce4K9QOXIE39r0z3jVgNIvsJCKb36Oy-1ZKwYxiaLBohlPohDrX--BYoq0Il8dl61CIa6BlxFxkqd27IkZ-6YZ45zbpFDexWXpLWhWJZ3-IuUXkz7Es_oa6ujRLBVyWxjwMuzpGZQFom1Kxh2gAimBgUEiXhRBd_Fe-hpNmQ0Gw5h_N-udtXGbGrHxaARriUhPd70pFJ-Ns_4ucbvgfDqo3MP_XzxYct898S2dPZyro0FCTGePy-4i9JKUAB_tjEutfj60N9mKVlTB9642lJ81lJkXNsxOeXunkUSk53pVcHxHwv8v4NneWQ2KlhbTOUzS5exvBb6At1NWuNV_6FRjYlkIv_Aqii76K-sZfKmGMqkuK0Abb8ygh86xIu3O-MiacDQvsaUpbMl_MY2Xm-XMb13phHD6LL2yPuHIWGUp6i9DDgOxAzBFQqrDwqRkcIhwS_aYXqiuvupY7rv5RrP3lzv9FR_WWF57Q3Z2HmP98KA2xRoVLt7m1ARC1Tr7Ucmanm57XFfwdRZUP7L2lW1TsMWcgJPqmD5SCQJlg50_BZopwh0aVO5BzsiBISxFoaGXMPJ96KbLs"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Track }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5fb8fc75-3de5-421c-81ff-ef649cdbb611",
      "name": "Получаем данные по трекам с сайта Белпочты",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2280,
        -420
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9bab58ba-391d-4429-bd78-258a475469a8",
              "name": "Track",
              "value": "={{ $json.Track }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0af46635-cd6c-4ede-b433-d9676ce120d0",
      "name": "Трэк в цикле",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1900,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data[0].steps[0].event }}",
              "operation": "contains",
              "value2": "Вручено"
            }
          ]
        }
      },
      "id": "914b0351-7647-4b6e-8689-7324ecc5ccdb",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2880,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data[0].steps[0].event }}",
              "operation": "contains",
              "value2": "Вручено отправителю"
            }
          ]
        }
      },
      "id": "a3efe06d-d4b7-45d0-8357-61913277adfe",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3180,
        260
      ]
    },
    {
      "parameters": {},
      "id": "b39a693a-f5ef-40ee-96bc-6461adef32aa",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3460,
        540
      ]
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $('Date & Time').first().json.currentDate }}",
        "endDate": "={{ $now }}",
        "units": [
          "second"
        ],
        "options": {}
      },
      "id": "c3fd912d-e587-447c-ac8b-81a04fef66d7",
      "name": "разница",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3320,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e79248ef-02b4-4d93-8c40-2e478a3bac34",
              "leftValue": "={{ 35 - $json.timeDifference.seconds }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ab02f793-b703-44ce-89df-b6eec2a7d2f9",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3560,
        860
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f9f64ef-8fab-4fc7-a42b-31640b614086",
              "name": "timer",
              "value": "={{42- $json.timeDifference.seconds }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "fcb0a290-28a6-4485-9fca-fdeee57411ca",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        3780,
        700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f9f64ef-8fab-4fc7-a42b-31640b614086",
              "name": "timer",
              "value": "=1",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "fe83d8fd-e444-4b62-ab12-886c3423d369",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        3780,
        880
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.random()*10 + $json[\"timer\"] }}",
        "unit": "seconds"
      },
      "id": "0d1a7878-9d9b-4597-9b9f-8fba4d44bcd0",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3980,
        1100
      ],
      "webhookId": "ba4a9966-c43b-4b8d-8fdc-211899cf3077"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4537afc-1288-4793-90e5-dc1192e4b985",
              "name": "data[0].number",
              "value": "={{ $json.data[0].number }}",
              "type": "string"
            },
            {
              "id": "694bfdba-5419-46ac-af61-233d9dee5316",
              "name": "data[0].steps[0].event",
              "value": "={{ $json.data[0].steps[0].event }}",
              "type": "string"
            },
            {
              "id": "5a20f685-f36c-46c2-b690-f5ff0a9d49fc",
              "name": "data[0].steps",
              "value": "={{ $json.data[0].steps }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "78f33f6c-492f-4949-b2fd-9a91ab408eda",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2680,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Track",
        "valueToMatchOn": "={{ $json.data[0].number }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Status",
              "value": "=Доставлено"
            },
            {
              "column": "DateLastUpd",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "column": "History",
              "value": "={{ JSON.stringify($json.data[0].steps) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "86f27091-c7a4-45f8-971f-c66158ee946e",
      "name": "Выставляем в БД табл Traks статус Доставлено",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3140,
        540
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Track",
        "valueToMatchOn": "={{ $json.data[0].number }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Status",
              "value": "=Доставлено отправителю"
            }
          ]
        },
        "options": {}
      },
      "id": "8de555a3-bd4f-4faa-92d8-14bd60032b2c",
      "name": "Выставляем в БД табл Traks статус Доставлено отправителю",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3520,
        240
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Track",
        "valueToMatchOn": "={{ $json.data[0].number }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Status",
              "value": "={{ $json.data[0].steps[0].event }}"
            },
            {
              "column": "DateLastUpd",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "column": "History",
              "value": "={{ JSON.stringify($json.data[0].steps) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0321670f-170f-48ca-acc0-d959f220e301",
      "name": "Выставляем в БД табл Traks статус Доставлено1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2940,
        800
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b3454bbf-9770-469d-a03c-a522670bec5a",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "130997e0-9937-4e87-ac6b-a30e673b0c8a",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fe680f3c-bcbf-47ec-962e-bb5b454b7ace",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2140,
        140
      ]
    },
    {
      "parameters": {},
      "id": "5b0eda1e-d8be-450a-9889-0a2de0e462d5",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3980,
        880
      ]
    },
    {
      "parameters": {},
      "id": "56bfd57b-9169-4b3b-a8e8-0967a8b1dfb5",
      "name": "Отправляем уведомление об окончании проверки",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1980,
        -260
      ]
    },
    {
      "parameters": {},
      "id": "6dfb0a23-f0e1-42ed-a842-66449993b563",
      "name": "Произведём логические расчёты для Servers в БД",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b78f8de6-4c96-4704-a9a2-d80d429f48f0",
              "name": "items",
              "value": "={{ $input.all().length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "99d36be3-1e18-4fe6-9ce3-66e8cdfe4681",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        -80
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "={{ $('Данные процесса').item.json.Server }}",
        "valuesToSend": {
          "values": [
            {
              "column": "All_traks",
              "value": "={{ $json.items }}"
            },
            {
              "column": "Traks_left",
              "value": "={{ $json.items }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d9a43dd-7216-46aa-9caf-76f239422c7d",
      "name": "Закидываем колличество треков в таблицу Servers для сервера BP_1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1320,
        -80
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ae808ddb-2e36-49bd-a7de-e5826056fac8",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "363cc8a8-fc07-47c8-9f50-ea0dd7911c9a",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "={{ $('Данные процесса').item.json.Server }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Traks_left",
              "value": "={{ $json.items }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2c6ed30c-b74e-419a-a460-1041c3aec28c",
      "name": "Закидываем колличество треков в таблицу Servers для сервера BP_",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        880,
        -240
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "content": "## меняем счётчик оставшихся треков",
        "height": 80,
        "width": 494.0052728237823
      },
      "id": "40298cb8-a1ab-44da-89e7-e107ef82684e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1740,
        880
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Server_name",
              "value": "={{ $('Данные процесса').item.json.Server }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ce8281ab-8e69-4b0f-8bac-b32f58ff5d57",
      "name": "Получить все записи из таблицы Servers",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1720,
        1020
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "={{ $('Данные процесса').item.json.Server }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Traks_left",
              "value": "={{ $json.Traks_left - 1}}"
            },
            {
              "column": "All_traks",
              "value": "={{ $json.All_traks - 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f07af3ba-12ee-4286-93a7-a3521cccb0b2",
      "name": "Уменьшаем на 1 количество оставшихся треков",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2120,
        1020
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Server_name",
              "value": "={{ $json.Server }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2e1576a0-73b7-4a20-8c17-a6ea6583593e",
      "name": "Получить все записи из таблицы Servers для BP_X",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        820,
        340
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e68fd29a-2217-4dde-b045-ab192fb6faa5",
              "name": "body",
              "value": "={{ $json.TrFch }}",
              "type": "array"
            },
            {
              "id": "a30fdad0-ff52-4362-be0a-c75f6e2d6294",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2539f676-36ba-45e0-809e-eec5870bc146",
      "name": "Получаем треки в массив",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a30fdad0-ff52-4362-be0a-c75f6e2d6294",
              "name": "Server",
              "value": "EP_1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bc51f15e-e70d-4e46-b977-a337e13907ce",
      "name": "Данные процесса",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        340
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "={{ $('Данные процесса').item.json.Server }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Status_Work",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "dddef527-d9f8-4885-939c-ae9be4881f01",
      "name": "Закидываем колличество треков в таблицу Servers для сервера BP_2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1720,
        -260
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "path": "check_trackEP",
        "options": {}
      },
      "id": "25676d0c-bf95-42f2-b512-9e065285ea42",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        340
      ],
      "webhookId": "9511889c-228b-4775-bd00-c430f4161789",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Отметка о доставке": "Доставлено",
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} европочта",
            "Индекс": "={{ $json.Индекс }}",
            "Актуальный статус": "={{ $('Структурируем http ответ1').first().json['Трек номер'] }}: {{ $json.status }} "
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "число",
              "displayName": "число",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио менеджера",
              "displayName": "фио менеджера",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "без накрута",
              "displayName": "без накрута",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "невостреб",
              "displayName": "невостреб",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "личный",
              "displayName": "личный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "14a255c1-fa55-4af7-af6f-ae368a1fd521",
      "name": "С отметкой доставлено мэтч по индексу (по ID) еп",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3900,
        -280
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} европочта",
            "Индекс": "={{ $json.Индекс }}",
            "Актуальный статус": "={{ $('Структурируем http ответ1').first().json['Трек номер'] }}: {{ $json.status }}"
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "число",
              "displayName": "число",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио менеджера",
              "displayName": "фио менеджера",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "без накрута",
              "displayName": "без накрута",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "невостреб",
              "displayName": "невостреб",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "личный",
              "displayName": "личный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "5680ca45-3bd9-4037-8387-e13b977d7292",
      "name": "Без отметки доставлено мэтч по индексу (по ID) еп",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3600,
        60
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "contains",
              "value2": "возвращено отправителю"
            },
            {
              "value1": "={{ $json.status }}",
              "operation": "notContains",
              "value2": "будет"
            }
          ]
        }
      },
      "id": "26089677-3a2c-42df-b891-dde917ef5925",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3420,
        -20
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.table }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.page }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Отметка о доставке": "Вручено отправителю",
            "Дата последнего обновления": "={{ $now.toISO().slice(0,19) }} европочта",
            "Индекс": "={{ $json.Индекс }}",
            "Актуальный статус": "={{ $('Структурируем http ответ1').first().json['Трек номер'] }}: {{ $json.status }}"
          },
          "matchingColumns": [
            "Индекс"
          ],
          "schema": [
            {
              "id": "число",
              "displayName": "число",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио менеджера",
              "displayName": "фио менеджера",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "без накрута",
              "displayName": "без накрута",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "невостреб",
              "displayName": "невостреб",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "личный",
              "displayName": "личный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d6a6c911-f19e-441d-909f-a0b86320a9be",
      "name": "С отметкой доставлено мэтч по индексу (по ID) еп1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3620,
        -140
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "treck",
              "value": "={{ $json.трек }}"
            }
          ],
          "string": [
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "table",
              "value": "={{ $json.table }}"
            },
            {
              "name": "индекс",
              "value": "={{ $json.индекс }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "e367dad8-9b76-4625-a3c4-80cbd4d25fb7",
      "name": "data_in_cicle",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2540,
        -400
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {
          "dotNotation": false
        }
      },
      "id": "f1611c36-6b75-4f7a-b2cf-077e31a0341c",
      "name": "сброс значений после цикла3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2800,
        -600
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ $('HTTP Request').last().json.client_info }}"
            },
            {
              "name": "table",
              "value": "={{ $('data_in_cicle').first().json.table }}"
            },
            {
              "name": "Трек номер",
              "value": "={{ $('data_in_cicle').first().json.treck }}"
            },
            {
              "name": "Индекс",
              "value": "={{ $('data_in_cicle').first().json.индекс }}"
            }
          ],
          "number": [
            {
              "name": "page",
              "value": "={{ $('data_in_cicle').first().json.page }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9bc95c6-fa84-42dd-9bc8-c506cbe0777d",
      "name": "Структурируем http ответ1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3200,
        -500
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=processID",
              "value": "={{ $('Ввод id статичных таблиц').first().json.processID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b734b593-87d6-46f9-9bcf-0334c3e718d1",
      "name": "получаем трек и отправляем только один1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2600,
        -100
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://n8n.makees.ru/webhook/EPrtt",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "treck",
              "value": "={{ $json.treck }}"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "table",
              "value": "={{ $json.table }}"
            },
            {
              "name": "=индекс",
              "value": "={{ $json.индекс }}"
            },
            {
              "name": "processID",
              "value": "={{ $json.processID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0c2cafd-3521-45c8-b9d4-de3d14c21a44",
      "name": "Отправляем данные на вспомогательный сервер",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2820,
        -60
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api-kassa.evropochta.by/api/ops/postal/tracking/{{ $json.treck }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "api-kassa.evropochta.by"
            },
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7"
            },
            {
              "name": "operatoropstoken",
              "value": "DzjvfymAsXmy2LGMJy0KK6e84ZKbh1FZ"
            },
            {
              "name": "origin",
              "value": "https://evropochta.by"
            },
            {
              "name": "referer",
              "value": "https://evropochta.by/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "3da86bb5-4848-4713-99f7-a16a23717da6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2760,
        -400
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "contains",
              "value2": "выдано"
            }
          ]
        }
      },
      "id": "b7bbac1f-5447-4594-83d0-238ec47b5e74",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3420,
        -260
      ]
    },
    {
      "parameters": {
        "url": "=https://api-kassa.evropochta.by/api/ops/postal/tracking/{{ $json.Track }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "api-kassa.evropochta.by"
            },
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7"
            },
            {
              "name": "operatoropstoken",
              "value": "DzjvfymAsXmy2LGMJy0KK6e84ZKbh1FZ"
            },
            {
              "name": "origin",
              "value": "https://evropochta.by"
            },
            {
              "name": "referer",
              "value": "https://evropochta.by/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "c008e2d9-5486-4e7c-9182-c0ad02a57045",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2180,
        380
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "3fa00307-1cae-45c9-a495-4b1cbe68261a",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2420,
        400
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "employee_info"
            },
            {
              "fieldToAggregate": "client_info"
            }
          ]
        },
        "options": {}
      },
      "id": "5eaafa24-2a53-4ccc-9738-39c88d052dc0",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2300,
        20
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "employee_info, client_info",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "51cdd5cb-123d-45a2-95c3-9c947199166b",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2460,
        40
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "83aa88d1-e4d0-4c1f-ba09-40763d804b1e",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2400,
        240
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "f6a51b46-8864-4509-a8cd-f154374a2f63",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2580,
        300
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-04T13:02:37.000Z",
  "versionId": "9add0eb3-eee8-42ec-95a9-71e590d5aacc"
}