workflowДобавление треков на  проверку в сервера (сбор треков из БД).json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Входные данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединяем все треки в один массив": {
      "main": [
        [
          {
            "node": "Обновление параметра в таблице Servers для BP_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Объединяем все треки в один массив",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "формируем запрос к логированию8": {
      "main": [
        [
          {
            "node": "Запрос в процесс логирования8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос в процесс логирования8": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Входные данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Входные данные": {
      "main": [
        [
          {
            "node": "Объединяем все треки в один массив",
            "type": "main",
            "index": 0
          },
          {
            "node": "Лог Треков создаем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ложим 1 в Status_Work для сервера": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          },
          {
            "node": "формируем запрос к логированию8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Лог Треков создаем": {
      "main": [
        [
          {
            "node": "Ложим 1 в Status_Work для сервера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-06T11:21:18.953Z",
  "id": "4BkOIQhV62y7mbvD",
  "isArchived": false,
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls="
  },
  "name": "Добавление треков на  проверку в сервера (сбор треков из БД)",
  "nodes": [
    {
      "parameters": {},
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -820,
        400
      ]
    },
    {
      "parameters": {
        "operation": "concatenateItems",
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "046cdf20-0174-4093-9a11-c3c0e9c3d611",
      "name": "Объединяем все треки в один массив",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -120,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2db7bd2-b66b-4345-afba-e1d96846a5bd",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a6ecff66-9578-4c33-bfbc-821ccd9af036",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "={{ $json.data[0].server }}",
        "valuesToSend": {
          "values": [
            {
              "column": "TrFch",
              "value": "={{ JSON.stringify($input.item.json.data) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "13270511-486a-4e3b-86ed-ad81ce256b8a",
      "name": "Обновление параметра в таблице Servers для BP_1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        140,
        400
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d35f9-6a2c-4806-926f-fa11b5f5f566",
              "name": "opr",
              "value": "add",
              "type": "string"
            },
            {
              "id": "1899134f-bf98-48f0-a9cf-6a4f89849e2f",
              "name": "poc_name",
              "value": "take_traks_from_bd",
              "type": "string"
            },
            {
              "id": "e953757c-1e36-4772-9860-f255d33f2d81",
              "name": "message",
              "value": "={{ $now.format('HH:mm:ss') }} : Включен сервер {{ $('Входные данные').item.json.server }}\nЛог треков: https://docs.google.com/document/d/{{ $('Лог Треков создаем').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -60
      ],
      "id": "d07a33e6-f781-4811-b8ca-6b4abf3d9b6a",
      "name": "формируем запрос к логированию8",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lOtPJcL6AitkSaoP",
          "mode": "list",
          "cachedResultName": "Лог в БД"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -200,
        -60
      ],
      "id": "add3e8be-490b-483b-a402-312c82a42207",
      "name": "Запрос в процесс логирования8"
    },
    {
      "parameters": {
        "jsCode": "return (\n[\n  {\n    \"Track\": \"BP191891205BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191891280BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191891347BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191891894BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191892033BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191892095BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191912400BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191912648BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191912872BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191913008BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191913285BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191940003BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191949444BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191949475BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191949550BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191980395BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP191980400BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP216743766BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"BP216744259BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310608522BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310608540BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310608615BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310608638BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310608641BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310608831BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310608845BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310608859BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310608862BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310608947BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310609063BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310609094BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:29\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310609338BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310688070BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310688239BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310688273BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310688313BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310688622BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310688772BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC310689279BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969567BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969575BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969584BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969598BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969607BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969624BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969638BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969641BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969655BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969669BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969672BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969686BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969690BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969709BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969712BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969726BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969730BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969743BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969757BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969765BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969774BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969788BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969791BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969805BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969814BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969828BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969831BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969845BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969859BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969862BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969876BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969880BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969893BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969902BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969916BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969920BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969933BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969947BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969955BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969964BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969978BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969981BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311969995BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970004BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970018BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970021BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970035BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970049BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970052BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970066BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970070BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970083BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970097BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970106BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970110BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970123BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970137BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970145BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970154BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970168BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970171BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970185BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970199BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970208BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970211BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970225BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970239BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970242BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970256BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970260BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970273BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970287BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970295BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970300BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970313BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970327BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970335BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970344BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970358BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970361BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970375BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970389BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970392BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970401BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970415BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970429BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970432BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970446BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970450BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970463BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970477BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970485BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970494BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970503BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970517BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970525BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970534BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970548BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970551BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970565BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970579BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311970582BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:27\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980165BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980179BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980182BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980196BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980205BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980219BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980222BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980236BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980240BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980253BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980267BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980275BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980284BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980298BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980307BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980315BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980324BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980338BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980341BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980355BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980369BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980372BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980386BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980390BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980409BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980412BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980426BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980430BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980443BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980457BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980465BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980474BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980488BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980491BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980505BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980514BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980528BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980531BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980545BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980559BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980562BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980580BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980593BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980602BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980616BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980620BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980633BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980647BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980655BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980664BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980678BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980681BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980695BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980704BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980718BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980721BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980735BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980749BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980752BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980766BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980770BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980783BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980797BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980806BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980810BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980823BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980837BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980845BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980854BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980868BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980871BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980885BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980899BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980908BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980911BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980925BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980939BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980942BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980956BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980960BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980973BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980987BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311980995BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981007BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981015BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981024BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981038BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981041BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981055BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981069BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981072BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981086BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981090BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981109BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981112BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981126BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981130BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981143BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981157BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981165BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981174BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981188BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981205BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981214BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981228BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981231BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311981245BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  },\n  {\n    \"Track\": \"PC311991287BY\",\n    \"IdTables\": \"ZsForIra001\",\n    \"Status\": \"Доставлено\",\n    \"DateAdd\": \"2024-12-30 16:34:28\",\n    \"DateLastUpd\": \"2025-01-01\",\n    \"PostProvider\": \"BP\",\n    \"lim\": 249,\n    \"server\": \"BP_1\"\n  }\n]\n  );"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        660
      ],
      "id": "3f11d198-6f1f-4b63-bbe5-e98faf970b84",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        660
      ],
      "id": "0f7b0f40-6c5c-47ad-b55f-5eb8c61b9815",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {},
      "id": "b5942df6-0160-4ef7-965d-57583acdc8aa",
      "name": "Входные данные",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -540,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "Servers",
          "mode": "list",
          "cachedResultName": "Servers"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Server_name",
        "valueToMatchOn": "={{ $('Входные данные').item.json.server }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Status_Work",
              "value": "1"
            },
            {
              "column": "TrFch",
              "value": "0"
            },
            {
              "column": "Log_ID",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3867ac8c-6ddc-4d33-a362-0c662d34c85e",
      "name": "Ложим 1 в Status_Work для сервера",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -580,
        160
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1fWyuHqxIO2MR6vhyYu2ZVJYoztAaw6CZ",
        "title": "={{ $now.format('dd-MM-yy') }}{{ $json.server }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -840,
        160
      ],
      "id": "0cf1e08b-d069-402d-9a2f-057d078677d0",
      "name": "Лог Треков создаем",
      "executeOnce": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "IChkHNpLaUZfm6R4",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-01-06T11:21:18.959Z",
      "updatedAt": "2025-01-06T11:21:18.959Z",
      "role": "workflow:owner",
      "workflowId": "4BkOIQhV62y7mbvD",
      "projectId": "NQcsor1lU8xEGtVE"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-20T14:19:57.000Z",
  "versionId": "e01bbb6b-a9df-45d0-9f51-274f78bb8e34"
}