workflowВыставление статусов из БД в гугл таблицы.json
{
  "active": false,
  "connections": {
    "выделяем idTables с соответствующим link": {
      "main": [
        [
          {
            "node": "Добавляем link к записям",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Получить все записи из таблицы Users4": {
      "main": [
        [
          {
            "node": "ПРОверяем статус подписки5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ПРОверяем статус подписки4": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Tabls5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ПРОверяем статус подписки5": {
      "main": [
        [
          {
            "node": "ПРОверяем статус подписки4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Tabls5": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          },
          {
            "node": "выделяем idTables с соответствующим link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Отсеиваем записи без треков1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить все записи из таблицы Tabls7": {
      "main": [
        [
          {
            "node": "Добавляем link к записям",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отсеиваем записи без треков1": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Tabls7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить владельцу таблицы проблемные значения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Сообщаем об окончании процесса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавляем link к записям": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выставление статусов трекам в гугл таблицу": {
      "main": [
        [
          {
            "node": "Получить все записи из таблицы Users4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Выставление статусов трекам в гугл таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Выставление статусов трекам в гугл таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-20T13:10:59.187Z",
  "id": "h5YM9whrOFCP3UOu",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Выставление статусов из БД в гугл таблицы",
  "nodes": [
    {
      "parameters": {},
      "id": "b852820a-7f33-4501-a355-4a5e4bf6d6d6",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        40,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7092ee14-6828-48f6-a4de-65db9ed0c7d6",
              "name": "IdTables",
              "value": "={{ $json.IdTables }}",
              "type": "string"
            },
            {
              "id": "b1355f6d-45f2-4e11-b8ce-f695101c2d4f",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e2add8b9-d846-4809-9ede-94679855d783",
      "name": "выделяем idTables с соответствующим link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        780
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Users ",
        "options": {}
      },
      "id": "ff99d42b-55a3-46a9-a6a7-b071ec051649",
      "name": "Получить все записи из таблицы Users4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        460,
        540
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.WorkOn }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5ae8b3d9-4313-4a5f-aafa-5165bd41bd3e",
      "name": "ПРОверяем статус подписки4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ea1652c-f08e-4b32-abdc-b376482ed786",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8c020b95-b401-4e38-867e-a2988a56972d",
      "name": "ПРОверяем статус подписки5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        540
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Tabls",
          "mode": "list",
          "cachedResultName": "Tabls"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ID",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d248d56a-d2be-49bf-a961-1c691da43966",
      "name": "Получить все записи из таблицы Tabls5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        960,
        340
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Отметка о доставке",
              "lookupValue": "Не доставлено"
            }
          ]
        },
        "options": {}
      },
      "id": "27e6365b-7412-40c7-badf-4d54bd569431",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1220,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Traks",
          "mode": "list",
          "cachedResultName": "Traks"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Track",
              "value": "={{ $json['трек'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e5d70dd-15a3-4b26-ba50-a3c2881b3e5c",
      "name": "Получить все записи из таблицы Tabls7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1760,
        320
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1f5304e-e789-437b-9ac1-1fc050eeb007",
              "leftValue": "={{ $json['трек'] }}",
              "rightValue": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]B|bY|y",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "87c92809-3571-4ada-b751-9bf96702cbc5",
              "leftValue": "={{ $json['трек'] }}",
              "rightValue": "[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2d43e665-9fdc-4346-8d37-9588dd8a8491",
      "name": "Отсеиваем записи без треков1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        340
      ]
    },
    {
      "parameters": {},
      "id": "edd2decf-9095-4291-8c1d-da329259617a",
      "name": "Отправить владельцу таблицы проблемные значения",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1180,
        560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Link }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "трек": "={{ $json.Track }}",
            "Отметка о доставке": "={{ $json.Status }}",
            "Дата последнего обновления": "={{ $now.format('dd-MM-yy') }}",
            "Актуальный статус": "={{ $json.Track }}: {{ $json.History }}"
          },
          "matchingColumns": [
            "трек"
          ],
          "schema": [
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "таблица",
              "displayName": "таблица",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "штраф",
              "displayName": "штраф",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ЛИЧНЫЙ",
              "displayName": "ЛИЧНЫЙ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Росс",
              "displayName": "Росс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "b5a37bc0-2293-49cd-8cbb-441b7537524e",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2240,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "IdTables",
        "options": {}
      },
      "id": "7d45e20e-6fce-4d73-adc3-69526557576f",
      "name": "Добавляем link к записям",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2020,
        420
      ]
    },
    {
      "parameters": {},
      "id": "c630bfe5-db90-4db8-8865-15b448977a06",
      "name": "Сообщаем об окончании процесса",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2000,
        720
      ]
    },
    {
      "parameters": {},
      "id": "af74dbe7-2252-431c-bee4-1a9fb4de9be0",
      "name": "Выставление статусов трекам в гугл таблицу",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        540
      ]
    },
    {
      "parameters": {
        "path": "from_bd_to_google_sheets",
        "options": {}
      },
      "id": "d437b4f1-6f4f-4bea-b253-fbc531e1aaf3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        360
      ],
      "webhookId": "7a805f01-3479-4f94-850c-5db240030c7d"
    },
    {
      "parameters": {
        "content": "Сделать проверку на мэтч поразному написаных треков",
        "height": 82.08354203394998
      },
      "id": "6df581b2-8dbe-4472-bf4e-1fa7048d11cc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        260
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-10-23T11:56:00.000Z",
  "versionId": "6e5a53fa-f36b-4f45-9909-e700340fa518"
}