workflowПеренос доставленых в отдельную таблицу(для всех).json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ДатосЦикл",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем треки с отметкой доставлено": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Копируем запись в все треки доставлено": {
      "main": [
        [
          {
            "node": "Получаем данные по треку в исходной таблице",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подменяем формулы в исходной таблице": {
      "main": [
        [
          {
            "node": "Получаем данные из таблицы все треки по треку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем данные из таблицы все треки по треку": {
      "main": [
        [
          {
            "node": "Удаляем строку по полученному номеру строки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Удаляем строку по полученному номеру строки": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем данные по треку в исходной таблице": {
      "main": [
        [
          {
            "node": "Проверяем есть ли такой трек в исходной таблице",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чтение данных из workProcess": {
      "main": [
        [
          {
            "node": "Датос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Датос": {
      "main": [
        [
          {
            "node": "Получаем треки с отметкой доставлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем есть ли такой трек в исходной таблице": {
      "main": [
        [
          {
            "node": "JsonDatabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Подменяем формулы в исходной таблице",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JsonDatabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ДатосЦикл": {
      "main": [
        [
          {
            "node": "Копируем запись в все треки доставлено",
            "type": "main",
            "index": 0
          },
          {
            "node": "JsonDatabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonDatabase1": {
      "main": [
        [
          {
            "node": "If27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If27": {
      "main": [
        []
      ]
    },
    "JsonDatabase": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Подменяем формулы в исходной таблице",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonDatabase2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Чтение данных из workProcess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonDatabase3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Копируем запись в все треки доставлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-09T07:18:58.887Z",
  "id": "yzGni57zMlaAsGzq",
  "meta": null,
  "name": "Перенос доставленых в отдельную таблицу(для всех)",
  "nodes": [
    {
      "parameters": {
        "content": "# Перенос доставленых в отдельную таблицу(для всех)",
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1700,
        -180
      ],
      "typeVersion": 1,
      "id": "30c29a0e-83c2-493c-b1fc-2f60c305df31",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1580,
        340
      ],
      "id": "98e83fb1-563f-4b5e-9ff6-c5f447ec2528",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -280,
        340
      ],
      "id": "f14ecab4-35d3-4874-a1ff-750e40fe437a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -320,
        0
      ],
      "id": "db54b3e1-6b4a-470f-9447-e62361cdee26"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1180,
        800
      ],
      "id": "9a61dc52-378e-47d1-a7a9-92ba25a6e690",
      "name": "Wait1",
      "webhookId": "d5517b37-7248-43a0-9380-721999b37f8a"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.data.variebles.start_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.data.variebles.allTraks_pageID }}",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Отметка о доставке",
              "lookupValue": "Доставлено"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -760,
        340
      ],
      "id": "8ed00567-b73c-4dc0-bafe-3ca4922a9f66",
      "name": "Получаем треки с отметкой доставлено",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Датос').first().json.data.variebles.start_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Датос').first().json.data.variebles.allTraksDone_pageID }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "трек": "={{ $json['трек'] }}",
            "Отметка о доставке": "={{ $json['Отметка о доставке'] }}",
            "Дата последнего обновления": "={{ $json['Дата последнего обновления'] }}",
            "url таблицы из которой трек": "={{ $json['url таблицы из которой трек'] }}",
            "Индекс": "={{ $json['Индекс'] }}",
            "Актуальный статус": "={{ $json['Актуальный статус'] }}",
            "Дата добавления": "={{ $now.format('dd.MM.yy HH-mm-ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата добавления",
              "displayName": "Дата добавления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url таблицы из которой трек",
              "displayName": "url таблицы из которой трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Индекс",
              "displayName": "Индекс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        360
      ],
      "id": "6e55b0b6-13e9-45b1-acb9-0decf4465d4c",
      "name": "Копируем запись в все треки доставлено",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Получаем треки с отметкой доставлено').item.json['url таблицы из которой трек'] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Получаем треки с отметкой доставлено').item.json['url таблицы из которой трек'] }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Отметка о доставке": "={{ \"=ЕСЛИ(ЕОШИБКА(ВПР(H\"}}{{ $json.row_number }}{{ '; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Датос').first().json.data.variebles.start_tableID }}{{'/edit\"; \"Все треки доставлено!A:B\")); 2; ЛОЖЬ)); \"Результат не найден\";ВПР(H'}}{{ $json.row_number }}{{ '; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Датос').first().json.data.variebles.start_tableID }}{{'/edit\"; \"Все треки доставлено!A:B\")); 2; ЛОЖЬ)) '}}",
            "Актуальный статус": "={{ '=ЕСЛИ(ЕОШИБКА(ВПР(H'}}{{ $json.row_number }}{{ '; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Датос').first().json.data.variebles.start_tableID }}{{'/edit\"; \"Все треки доставлено!A:G\")); 7; ЛОЖЬ)); \"Результат не найден\";ВПР(H'}}{{ $json.row_number }}{{ '; (IMPORTRANGE(\"https://docs.google.com/spreadsheets/d/'}}{{ $('Датос').first().json.data.variebles.start_tableID }}{{'/edit\"; \"Все треки доставлено!A:G\")); 7; ЛОЖЬ))'}}",
            "трек": "={{ $json['трек'] }}"
          },
          "matchingColumns": [
            "трек"
          ],
          "schema": [
            {
              "id": "Заказ",
              "displayName": "Заказ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Тип ЗАКАЗА",
              "displayName": "Тип ЗАКАЗА",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Фамилия",
              "displayName": "Фамилия",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "RUB",
              "displayName": "RUB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BYN",
              "displayName": "BYN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Накрут",
              "displayName": "Накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Продажа",
              "displayName": "Продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Итог",
              "displayName": "Итог",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Вычет",
              "displayName": "Вычет",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "% от цены в зависимости от типа заказа",
              "displayName": "% от цены в зависимости от типа заказа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "% от накрутов зависимости от типа заказа",
              "displayName": "% от накрутов зависимости от типа заказа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Доставлено byn",
              "displayName": "Доставлено byn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        340
      ],
      "id": "db8796de-3cbf-43d2-96df-64ba0e80586f",
      "name": "Подменяем формулы в исходной таблице",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Датос').item.json.data.variebles.start_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Датос').item.json.data.variebles.allTraks_pageID }}",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "трек",
              "lookupValue": "={{ $json['трек'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1400,
        340
      ],
      "id": "64ade735-9cb8-4128-b22b-51035559891d",
      "name": "Получаем данные из таблицы все треки по треку",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Датос').item.json.data.variebles.start_tableID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Датос').item.json.data.variebles.allTraks_pageID }}",
          "mode": "id"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        560
      ],
      "id": "525c6c5b-cd5e-4f8f-9ed6-8a4702a5b0d8",
      "name": "Удаляем строку по полученному номеру строки",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json['url таблицы из которой трек'] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json['url таблицы из которой трек'] }}",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "трек",
              "lookupValue": "={{ $json['трек'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        540,
        360
      ],
      "id": "6db91102-5ec6-4c51-bb2f-ceedf11718b3",
      "name": "Получаем данные по треку в исходной таблице",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return (\n  [\n  {\n    \"data\": {\n      \"process\": {\n        \"variebles\": {\n          \"processID\": \"ForIra\",\n          \"start_tableID\": \"16oHTECcQN5z7xQ-3zBZCfgFNOM5MX0N7bE3S3QeiX1s\",\n          \"start_pageID\": 343946080,\n          \"allTables_pageID\": 645009985,\n          \"allTraks_pageID\": 208083408,\n          \"allTraksDone_pageID\": 1070462072,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {}\n        ],\n        \"EP_traks\": [\n          {}\n        ]\n      }\n    },\n    \"ProcessID\": \"ForIra\"\n  }\n]\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1400,
        340
      ],
      "id": "1edbf689-35fc-4dad-93ea-c1f4e104459f",
      "name": "Code",
      "disabled": true
    },
    {
      "parameters": {
        "queryPath": "process",
        "filePath": "=root/n8n/{{ $json.ProcessID }}.json "
      },
      "id": "45b35130-c72b-4f79-9378-d1cb428f571f",
      "name": "Чтение данных из workProcess",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1220,
        340
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1000,
        340
      ],
      "id": "f516e3e3-6945-424e-9bd2-eb45c024f6e7",
      "name": "Датос"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69d89f4b-374d-48e5-a781-614e175c8763",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        360
      ],
      "id": "98057e97-19ab-461f-85c5-7501e7137c48",
      "name": "Проверяем есть ли такой трек в исходной таблице"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -20,
        360
      ],
      "id": "d9aedd77-be17-46e6-8471-17e5bb7bd4e0",
      "name": "ДатосЦикл"
    },
    {
      "parameters": {
        "maxItems": 500
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -540,
        340
      ],
      "id": "c54e36af-3d3b-4f43-a6a1-0b3efd9fc53c",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "trigers",
        "sourceType": "sourceTypeJson",
        "sourceData": "{  \"Triger1\":  0, \"Triger2\":  0 } ",
        "filePath": "=root/n8n/replaceTreckDone.json"
      },
      "id": "7c8239ec-f748-4541-a22a-54ed963862cc",
      "name": "JsonDatabase1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -900,
        100
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "69f970c8-eaef-4df6-bab8-aa604df03e96",
      "name": "If27",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "trigers.Triger1",
        "sourceType": "sourceTypeJson",
        "sourceData": "1",
        "filePath": "=root/n8n/replaceTreckDone.json"
      },
      "id": "72344335-72e2-425e-8d06-4acf10c56dfc",
      "name": "JsonDatabase",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        840,
        140
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9e0e2113-b6e9-4af1-9945-08fbec508e7f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        140
      ]
    },
    {
      "parameters": {
        "queryPath": "trigers.Triger1",
        "filePath": "=root/n8n/replaceTreckDone.json"
      },
      "id": "6fa49731-d138-494a-a3e0-f6c14f02be73",
      "name": "JsonDatabase2",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        900,
        600
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff5c40fc-c198-4102-9fb2-626c8a55f2d7",
              "leftValue": "={{ $json.data }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2adc4036-1783-40e4-a6cb-1e120cc69a51",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1140,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "return (\n [\n  {\n    \"data\": {\n      \"process\": {\n        \"variebles\": {\n          \"processID\": \"zsAli\",\n          \"start_tableID\": \"1LkwUx00HWCfu_oSwnH3NVeTF_QiEwytuEO37R12TkWY\",\n          \"start_pageID\": 0,\n          \"allTables_pageID\": 75948859,\n          \"allTraks_pageID\": 538648616,\n          \"allTraksDone_pageID\": 111638545,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {}\n        ],\n        \"EP_traks\": [\n          {}\n        ]\n      }\n    },\n    \"ProcessID\": \"zsAli\"\n  }\n]\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1340,
        560
      ],
      "id": "665412bc-1cac-458a-8924-79bdb972aea1",
      "name": "Code1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "queryPath": "trigers.Triger1",
        "sourceType": "sourceTypeJson",
        "sourceData": "0",
        "filePath": "=root/n8n/replaceTreckDone.json"
      },
      "id": "de842968-f77e-4490-aea0-4cd61b9f51fc",
      "name": "JsonDatabase3",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -20,
        120
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35da34d4-5f4d-4c9b-8b8e-f212cdbbe1c9",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7d3a8a9a-05e1-4168-9c2e-ed9b85302867",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        120
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-19T12:13:04.000Z",
  "versionId": "9bfb4fed-3176-4419-87aa-5cf71a71c181"
}