workflowMy workflow 5.json
{
  "active": true,
  "connections": {
    "HTML": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Notion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "css": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "index": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-25T08:15:40.741Z",
  "id": "6IO790AJfly7jakY",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "https://docs.google.com/document/d/1PtxJPhG4s-GORzO7OxRkHzARadVo4TwanUGY1hKAe-Y/edit?usp=sharing",
        "options": {}
      },
      "id": "f029facc-84e3-42f0-83de-c9d5401fc459",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        -180
      ]
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Изменён3</h1>\n    <h2>This is an H2 heading</h2>\n    <p>This is a paragraph</p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"
      },
      "id": "1925f1f0-580a-44b6-8c6e-9b57020e0c9b",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        440,
        -120
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "makees-n8n",
          "mode": "list",
          "cachedResultName": "makees-n8n",
          "cachedResultUrl": "https://github.com/makees-n8n"
        },
        "repository": {
          "__rl": true,
          "value": "makees-n8n.github.io",
          "mode": "list",
          "cachedResultName": "makees-n8n.github.io",
          "cachedResultUrl": "https://github.com/makees-n8n/makees-n8n.github.io"
        },
        "filePath": "index.html",
        "binaryData": true,
        "commitMessage": "Обновление README.md"
      },
      "id": "ae15729b-aba5-4c02-a297-02601c92be86",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        900,
        -120
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "pedIjuqpsxfsydB7",
          "name": "makees-n8n"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "user",
        "owner": {
          "__rl": true,
          "value": "makees-n8n",
          "mode": "list",
          "cachedResultName": "makees-n8n",
          "cachedResultUrl": "https://github.com/makees-n8n"
        }
      },
      "id": "fa571461-f19c-45a2-bf07-5862c82d1caf",
      "name": "GitHub1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1100,
        -120
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "pedIjuqpsxfsydB7",
          "name": "makees-n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "id": "2949521e-34c7-432d-9dbd-5033df736e33",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        700,
        -120
      ]
    },
    {
      "parameters": {
        "path": "cnc",
        "formTitle": "Какие станки гоняем",
        "formDescription": "пришли какие станки ты гоняешь сегодня",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Какой станок 1й",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Какой станок 2й",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "какой станок 3й",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a43e67e0-b6b6-43ab-ae99-87267961559b",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        520,
        400
      ],
      "webhookId": "6d92cd65-c1df-486a-8767-c504b3b9ba63"
    },
    {
      "parameters": {
        "jsCode": "return (\n  [\n  {\n    \"Какой станок 1й\": 1.3,\n    \"Какой станок 2й\": 1.2,\n    \"какой станок 3й\": 1.1,\n    \"submittedAt\": \"2024-04-25T15:33:42.967Z\",\n    \"formMode\": \"production\"\n  }\n]\n);"
      },
      "id": "941fc632-9f99-4012-882f-4412c7f992db",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        400
      ]
    },
    {
      "parameters": {},
      "id": "9ed6dac1-dd6e-4584-94c7-3adba0291246",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        -480
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/n8n8n-239d7743ed784cad87b047442da4b32a",
          "mode": "url"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Tags|rich_text",
              "textContent": "Таким образом, дальнейшее развитие различных форм деятельности обеспечивает актуальность дальнейших направлений развития проекта. Повседневная практика показывает, что социально-экономическое развитие представляет собой интересный эксперимент проверки модели развития! Не следует, однако, забывать о том, что сложившаяся структура организации обеспечивает широкому кругу специалистов участие в формировании системы масштабного изменения ряда параметров.  Не следует, однако, забывать о том, что повышение уровня гражданского сознания требует определения и уточнения соответствующих условий активизации.  Равным образом консультация с профессионалами из IT требует от нас анализа соответствующих условий активизации? Дорогие друзья, постоянное информационно-техническое обеспечение нашей деятельности представляет собой интересный эксперимент проверки модели развития. Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь влечет за собой процесс внедрения и модернизации новых предложений.  Не следует, однако, забывать о том, что повышение уровня гражданского сознания представляет собой интересный эксперимент проверки модели развития. Повседневная практика показывает, что курс на социально-ориентированный национальный проект способствует повышению актуальности системы масштабного изменения ряда параметров. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности обеспечивает актуальность модели развития! Повседневная практика показывает, что социально-экономическое развитие в значительной степени обуславливает создание ключевых компонентов планируемого обновления. Не следует, однако, забывать о том, что сложившаяся структура организации требует от нас системного анализа новых предложений? Таким образом, рамки и место..."
            }
          ]
        },
        "options": {}
      },
      "id": "111c7052-2882-45c8-8713-d6840a652761",
      "name": "Notion2",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -380,
        40
      ],
      "credentials": {
        "notionApi": {
          "id": "7SpLd7HTUj4VhGrA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "path": "create_page",
        "options": {}
      },
      "id": "b5a8fd07-9ff2-4758-a845-10faa217615c",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -740,
        40
      ],
      "webhookId": "3c63b3ec-a139-4f10-baca-df409ba8977e"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update"
      },
      "id": "6bb3f066-67ab-4ed1-bf67-88f0a4c33854",
      "name": "Webflow",
      "type": "n8n-nodes-base.webflow",
      "typeVersion": 1,
      "position": [
        40,
        140
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert"
            }
          ]
        }
      },
      "id": "487f179f-37cc-4742-b670-19081ca5f808",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -240,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "id": "e96a1ce3-8561-4a16-8aa3-86e3820b431b",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        620,
        -600
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7b06cb08-aadb-483f-924f-cc102df6d2f6",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -60,
        -860
      ]
    },
    {
      "parameters": {
        "html": "html {\n  -ms-text-size-adjust: 100%;\n  -webkit-text-size-adjust: 100%;\n  font-family: sans-serif;\n}\n\nbody {\n  margin: 0;\n}\n\narticle, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {\n  display: block;\n}\n\naudio, canvas, progress, video {\n  vertical-align: baseline;\n  display: inline-block;\n}\n\naudio:not([controls]) {\n  height: 0;\n  display: none;\n}\n\n[hidden], template {\n  display: none;\n}\n\na {\n  background-color: rgba(0, 0, 0, 0);\n}\n\na:active, a:hover {\n  outline: 0;\n}\n\nabbr[title] {\n  border-bottom: 1px dotted;\n}\n\nb, strong {\n  font-weight: bold;\n}\n\ndfn {\n  font-style: italic;\n}\n\nh1 {\n  margin: .67em 0;\n  font-size: 2em;\n}\n\nmark {\n  color: #000;\n  background: #ff0;\n}\n\nsmall {\n  font-size: 80%;\n}\n\nsub, sup {\n  vertical-align: baseline;\n  font-size: 75%;\n  line-height: 0;\n  position: relative;\n}\n\nsup {\n  top: -.5em;\n}\n\nsub {\n  bottom: -.25em;\n}\n\nimg {\n  border: 0;\n}\n\nsvg:not(:root) {\n  overflow: hidden;\n}\n\nfigure {\n  margin: 1em 40px;\n}\n\nhr {\n  box-sizing: content-box;\n  height: 0;\n}\n\npre {\n  overflow: auto;\n}\n\ncode, kbd, pre, samp {\n  font-family: monospace;\n  font-size: 1em;\n}\n\nbutton, input, optgroup, select, textarea {\n  color: inherit;\n  font: inherit;\n  margin: 0;\n}\n\nbutton {\n  overflow: visible;\n}\n\nbutton, select {\n  text-transform: none;\n}\n\nbutton, html input[type=\"button\"], input[type=\"reset\"] {\n  -webkit-appearance: button;\n  cursor: pointer;\n}\n\nbutton[disabled], html input[disabled] {\n  cursor: default;\n}\n\nbutton::-moz-focus-inner, input::-moz-focus-inner {\n  border: 0;\n  padding: 0;\n}\n\ninput {\n  line-height: normal;\n}\n\ninput[type=\"checkbox\"], input[type=\"radio\"] {\n  box-sizing: border-box;\n  padding: 0;\n}\n\ninput[type=\"number\"]::-webkit-inner-spin-button, input[type=\"number\"]::-webkit-outer-spin-button {\n  height: auto;\n}\n\ninput[type=\"search\"] {\n  -webkit-appearance: none;\n}\n\ninput[type=\"search\"]::-webkit-search-cancel-button, input[type=\"search\"]::-webkit-search-decoration {\n  -webkit-appearance: none;\n}\n\nfieldset {\n  border: 1px solid silver;\n  margin: 0 2px;\n  padding: .35em .625em .75em;\n}\n\nlegend {\n  border: 0;\n  padding: 0;\n}\n\ntextarea {\n  overflow: auto;\n}\n\noptgroup {\n  font-weight: bold;\n}\n\ntable {\n  border-collapse: collapse;\n  border-spacing: 0;\n}\n\ntd, th {\n  padding: 0;\n}\n\n@font-face {\n  font-family: webflow-icons;\n  src: url(\"data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==\") format(\"truetype\");\n  font-weight: normal;\n  font-style: normal;\n}\n\n[class^=\"w-icon-\"], [class*=\" w-icon-\"] {\n  speak: none;\n  font-variant: normal;\n  text-transform: none;\n  -webkit-font-smoothing: antialiased;\n  -moz-osx-font-smoothing: grayscale;\n  font-style: normal;\n  font-weight: normal;\n  line-height: 1;\n  font-family: webflow-icons !important;\n}\n\n.w-icon-slider-right:before {\n  content: \"\";\n}\n\n.w-icon-slider-left:before {\n  content: \"\";\n}\n\n.w-icon-nav-menu:before {\n  content: \"\";\n}\n\n.w-icon-arrow-down:before, .w-icon-dropdown-toggle:before {\n  content: \"\";\n}\n\n.w-icon-file-upload-remove:before {\n  content: \"\";\n}\n\n.w-icon-file-upload-icon:before {\n  content: \"\";\n}\n\n* {\n  box-sizing: border-box;\n}\n\nhtml {\n  height: 100%;\n}\n\nbody {\n  min-height: 100%;\n  color: #333;\n  background-color: #fff;\n  margin: 0;\n  font-family: Arial, sans-serif;\n  font-size: 14px;\n  line-height: 20px;\n}\n\nimg {\n  max-width: 100%;\n  vertical-align: middle;\n  display: inline-block;\n}\n\nhtml.w-mod-touch * {\n  background-attachment: scroll !important;\n}\n\n.w-block {\n  display: block;\n}\n\n.w-inline-block {\n  max-width: 100%;\n  display: inline-block;\n}\n\n.w-clearfix:before, .w-clearfix:after {\n  content: \" \";\n  grid-area: 1 / 1 / 2 / 2;\n  display: table;\n}\n\n.w-clearfix:after {\n  clear: both;\n}\n\n.w-hidden {\n  display: none;\n}\n\n.w-button {\n  color: #fff;\n  line-height: inherit;\n  cursor: pointer;\n  background-color: #3898ec;\n  border: 0;\n  border-radius: 0;\n  padding: 9px 15px;\n  text-decoration: none;\n  display: inline-block;\n}\n\ninput.w-button {\n  -webkit-appearance: button;\n}\n\nhtml[data-w-dynpage] [data-w-cloak] {\n  color: rgba(0, 0, 0, 0) !important;\n}\n\n.w-webflow-badge, .w-webflow-badge * {\n  z-index: auto;\n  visibility: visible;\n  box-sizing: border-box;\n  width: auto;\n  height: auto;\n  max-height: none;\n  max-width: none;\n  min-height: 0;\n  min-width: 0;\n  float: none;\n  clear: none;\n  box-shadow: none;\n  opacity: 1;\n  direction: ltr;\n  font-family: inherit;\n  font-weight: inherit;\n  color: inherit;\n  font-size: inherit;\n  line-height: inherit;\n  font-style: inherit;\n  font-variant: inherit;\n  text-align: inherit;\n  letter-spacing: inherit;\n  -webkit-text-decoration: inherit;\n  text-decoration: inherit;\n  text-indent: 0;\n  text-transform: inherit;\n  text-shadow: none;\n  font-smoothing: auto;\n  vertical-align: baseline;\n  cursor: inherit;\n  white-space: inherit;\n  word-break: normal;\n  word-spacing: normal;\n  word-wrap: normal;\n  background: none;\n  border: 0 rgba(0, 0, 0, 0);\n  border-radius: 0;\n  margin: 0;\n  padding: 0;\n  list-style-type: disc;\n  transition: none;\n  display: block;\n  position: static;\n  top: auto;\n  bottom: auto;\n  left: auto;\n  right: auto;\n  overflow: visible;\n  transform: none;\n}\n\n.w-webflow-badge {\n  white-space: nowrap;\n  cursor: pointer;\n  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .1);\n  visibility: visible !important;\n  z-index: 2147483647 !important;\n  color: #aaadb0 !important;\n  opacity: 1 !important;\n  width: auto !important;\n  height: auto !important;\n  background-color: #fff !important;\n  border-radius: 3px !important;\n  margin: 0 !important;\n  padding: 6px 8px 6px 6px !important;\n  font-size: 12px !important;\n  line-height: 14px !important;\n  text-decoration: none !important;\n  display: inline-block !important;\n  position: fixed !important;\n  top: auto !important;\n  bottom: 12px !important;\n  left: auto !important;\n  right: 12px !important;\n  overflow: visible !important;\n  transform: none !important;\n}\n\n.w-webflow-badge > img {\n  visibility: visible !important;\n  opacity: 1 !important;\n  vertical-align: middle !important;\n  display: inline-block !important;\n}\n\nh1, h2, h3, h4, h5, h6 {\n  margin-bottom: 10px;\n  font-weight: bold;\n}\n\nh1 {\n  margin-top: 20px;\n  font-size: 38px;\n  line-height: 44px;\n}\n\nh2 {\n  margin-top: 20px;\n  font-size: 32px;\n  line-height: 36px;\n}\n\nh3 {\n  margin-top: 20px;\n  font-size: 24px;\n  line-height: 30px;\n}\n\nh4 {\n  margin-top: 10px;\n  font-size: 18px;\n  line-height: 24px;\n}\n\nh5 {\n  margin-top: 10px;\n  font-size: 14px;\n  line-height: 20px;\n}\n\nh6 {\n  margin-top: 10px;\n  font-size: 12px;\n  line-height: 18px;\n}\n\np {\n  margin-top: 0;\n  margin-bottom: 10px;\n}\n\nblockquote {\n  border-left: 5px solid #e2e2e2;\n  margin: 0 0 10px;\n  padding: 10px 20px;\n  font-size: 18px;\n  line-height: 22px;\n}\n\nfigure {\n  margin: 0 0 10px;\n}\n\nfigcaption {\n  text-align: center;\n  margin-top: 5px;\n}\n\nul, ol {\n  margin-top: 0;\n  margin-bottom: 10px;\n  padding-left: 40px;\n}\n\n.w-list-unstyled {\n  padding-left: 0;\n  list-style: none;\n}\n\n.w-embed:before, .w-embed:after {\n  content: \" \";\n  grid-area: 1 / 1 / 2 / 2;\n  display: table;\n}\n\n.w-embed:after {\n  clear: both;\n}\n\n.w-video {\n  width: 100%;\n  padding: 0;\n  position: relative;\n}\n\n.w-video iframe, .w-video object, .w-video embed {\n  width: 100%;\n  height: 100%;\n  border: none;\n  position: absolute;\n  top: 0;\n  left: 0;\n}\n\nfieldset {\n  border: 0;\n  margin: 0;\n  padding: 0;\n}\n\nbutton, [type=\"button\"], [type=\"reset\"] {\n  cursor: pointer;\n  -webkit-appearance: button;\n  border: 0;\n}\n\n.w-form {\n  margin: 0 0 15px;\n}\n\n.w-form-done {\n  text-align: center;\n  background-color: #ddd;\n  padding: 20px;\n  display: none;\n}\n\n.w-form-fail {\n  background-color: #ffdede;\n  margin-top: 10px;\n  padding: 10px;\n  display: none;\n}\n\nlabel {\n  margin-bottom: 5px;\n  font-weight: bold;\n  display: block;\n}\n\n.w-input, .w-select {\n  width: 100%;\n  height: 38px;\n  color: #333;\n  vertical-align: middle;\n  background-color: #fff;\n  border: 1px solid #ccc;\n  margin-bottom: 10px;\n  padding: 8px 12px;\n  font-size: 14px;\n  line-height: 1.42857;\n  display: block;\n}\n\n.w-input:-moz-placeholder, .w-select:-moz-placeholder {\n  color: #999;\n}\n\n.w-input::-moz-placeholder, .w-select::-moz-placeholder {\n  color: #999;\n  opacity: 1;\n}\n\n.w-input::-webkit-input-placeholder, .w-select::-webkit-input-placeholder {\n  color: #999;\n}\n\n.w-input:focus, .w-select:focus {\n  border-color: #3898ec;\n  outline: 0;\n}\n\n.w-input[disabled], .w-select[disabled], .w-input[readonly], .w-select[readonly], fieldset[disabled] .w-input, fieldset[disabled] .w-select {\n  cursor: not-allowed;\n}\n\n.w-input[disabled]:not(.w-input-disabled), .w-select[disabled]:not(.w-input-disabled), .w-input[readonly], .w-select[readonly], fieldset[disabled]:not(.w-input-disabled) .w-input, fieldset[disabled]:not(.w-input-disabled) .w-select {\n  background-color: #eee;\n}\n\ntextarea.w-input, textarea.w-select {\n  height: auto;\n}\n\n.w-select {\n  background-color: #f3f3f3;\n}\n\n.w-select[multiple] {\n  height: auto;\n}\n\n.w-form-label {\n  cursor: pointer;\n  margin-bottom: 0;\n  font-weight: normal;\n  display: inline-block;\n}\n\n.w-radio {\n  margin-bottom: 5px;\n  padding-left: 20px;\n  display: block;\n}\n\n.w-radio:before, .w-radio:after {\n  content: \" \";\n  grid-area: 1 / 1 / 2 / 2;\n  display: table;\n}\n\n.w-radio:after {\n  clear: both;\n}\n\n.w-radio-input {\n  float: left;\n  margin: 3px 0 0 -20px;\n  line-height: normal;\n}\n\n.w-file-upload {\n  margin-bottom: 10px;\n  display: block;\n}\n\n.w-file-upload-input {\n  width: .1px;\n  height: .1px;\n  opacity: 0;\n  z-index: -100;\n  position: absolute;\n  overflow: hidden;\n}\n\n.w-file-upload-default, .w-file-upload-uploading, .w-file-upload-success {\n  color: #333;\n  display: inline-block;\n}\n\n.w-file-upload-error {\n  margin-top: 10px;\n  display: block;\n}\n\n.w-file-upload-default.w-hidden, .w-file-upload-uploading.w-hidden, .w-file-upload-error.w-hidden, .w-file-upload-success.w-hidden {\n  display: none;\n}\n\n.w-file-upload-uploading-btn {\n  cursor: pointer;\n  background-color: #fafafa;\n  border: 1px solid #ccc;\n  margin: 0;\n  padding: 8px 12px;\n  font-size: 14px;\n  font-weight: normal;\n  display: flex;\n}\n\n.w-file-upload-file {\n  background-color: #fafafa;\n  border: 1px solid #ccc;\n  flex-grow: 1;\n  justify-content: space-between;\n  margin: 0;\n  padding: 8px 9px 8px 11px;\n  display: flex;\n}\n\n.w-file-upload-file-name {\n  font-size: 14px;\n  font-weight: normal;\n  display: block;\n}\n\n.w-file-remove-link {\n  width: auto;\n  height: auto;\n  cursor: pointer;\n  margin-top: 3px;\n  margin-left: 10px;\n  padding: 3px;\n  display: block;\n}\n\n.w-icon-file-upload-remove {\n  margin: auto;\n  font-size: 10px;\n}\n\n.w-file-upload-error-msg {\n  color: #ea384c;\n  padding: 2px 0;\n  display: inline-block;\n}\n\n.w-file-upload-info {\n  padding: 0 12px;\n  line-height: 38px;\n  display: inline-block;\n}\n\n.w-file-upload-label {\n  cursor: pointer;\n  background-color: #fafafa;\n  border: 1px solid #ccc;\n  margin: 0;\n  padding: 8px 12px;\n  font-size: 14px;\n  font-weight: normal;\n  display: inline-block;\n}\n\n.w-icon-file-upload-icon, .w-icon-file-upload-uploading {\n  width: 20px;\n  margin-right: 8px;\n  display: inline-block;\n}\n\n.w-icon-file-upload-uploading {\n  height: 20px;\n}\n\n.w-container {\n  max-width: 940px;\n  margin-left: auto;\n  margin-right: auto;\n}\n\n.w-container:before, .w-container:after {\n  content: \" \";\n  grid-area: 1 / 1 / 2 / 2;\n  display: table;\n}\n\n.w-container:after {\n  clear: both;\n}\n\n.w-container .w-row {\n  margin-left: -10px;\n  margin-right: -10px;\n}\n\n.w-row:before, .w-row:after {\n  content: \" \";\n  grid-area: 1 / 1 / 2 / 2;\n  display: table;\n}\n\n.w-row:after {\n  clear: both;\n}\n\n.w-row .w-row {\n  margin-left: 0;\n  margin-right: 0;\n}\n\n.w-col {\n  float: left;\n  width: 100%;\n  min-height: 1px;\n  padding-left: 10px;\n  padding-right: 10px;\n  position: relative;\n}\n\n.w-col .w-col {\n  padding-left: 0;\n  padding-right: 0;\n}\n\n.w-col-1 {\n  width: 8.33333%;\n}\n\n.w-col-2 {\n  width: 16.6667%;\n}\n\n.w-col-3 {\n  width: 25%;\n}\n\n.w-col-4 {\n  width: 33.3333%;\n}\n\n.w-col-5 {\n  width: 41.6667%;\n}\n\n.w-col-6 {\n  width: 50%;\n}\n\n.w-col-7 {\n  width: 58.3333%;\n}\n\n.w-col-8 {\n  width: 66.6667%;\n}\n\n.w-col-9 {\n  width: 75%;\n}\n\n.w-col-10 {\n  width: 83.3333%;\n}\n\n.w-col-11 {\n  width: 91.6667%;\n}\n\n.w-col-12 {\n  width: 100%;\n}\n\n.w-hidden-main {\n  display: none !important;\n}\n\n@media screen and (max-width: 991px) {\n  .w-container {\n    max-width: 728px;\n  }\n\n  .w-hidden-main {\n    display: inherit !important;\n  }\n\n  .w-hidden-medium {\n    display: none !important;\n  }\n\n  .w-col-medium-1 {\n    width: 8.33333%;\n  }\n\n  .w-col-medium-2 {\n    width: 16.6667%;\n  }\n\n  .w-col-medium-3 {\n    width: 25%;\n  }\n\n  .w-col-medium-4 {\n    width: 33.3333%;\n  }\n\n  .w-col-medium-5 {\n    width: 41.6667%;\n  }\n\n  .w-col-medium-6 {\n    width: 50%;\n  }\n\n  .w-col-medium-7 {\n    width: 58.3333%;\n  }\n\n  .w-col-medium-8 {\n    width: 66.6667%;\n  }\n\n  .w-col-medium-9 {\n    width: 75%;\n  }\n\n  .w-col-medium-10 {\n    width: 83.3333%;\n  }\n\n  .w-col-medium-11 {\n    width: 91.6667%;\n  }\n\n  .w-col-medium-12 {\n    width: 100%;\n  }\n\n  .w-col-stack {\n    width: 100%;\n    left: auto;\n    right: auto;\n  }\n}\n\n@media screen and (max-width: 767px) {\n  .w-hidden-main, .w-hidden-medium {\n    display: inherit !important;\n  }\n\n  .w-hidden-small {\n    display: none !important;\n  }\n\n  .w-row, .w-container .w-row {\n    margin-left: 0;\n    margin-right: 0;\n  }\n\n  .w-col {\n    width: 100%;\n    left: auto;\n    right: auto;\n  }\n\n  .w-col-small-1 {\n    width: 8.33333%;\n  }\n\n  .w-col-small-2 {\n    width: 16.6667%;\n  }\n\n  .w-col-small-3 {\n    width: 25%;\n  }\n\n  .w-col-small-4 {\n    width: 33.3333%;\n  }\n\n  .w-col-small-5 {\n    width: 41.6667%;\n  }\n\n  .w-col-small-6 {\n    width: 50%;\n  }\n\n  .w-col-small-7 {\n    width: 58.3333%;\n  }\n\n  .w-col-small-8 {\n    width: 66.6667%;\n  }\n\n  .w-col-small-9 {\n    width: 75%;\n  }\n\n  .w-col-small-10 {\n    width: 83.3333%;\n  }\n\n  .w-col-small-11 {\n    width: 91.6667%;\n  }\n\n  .w-col-small-12 {\n    width: 100%;\n  }\n}\n\n@media screen and (max-width: 479px) {\n  .w-container {\n    max-width: none;\n  }\n\n  .w-hidden-main, .w-hidden-medium, .w-hidden-small {\n    display: inherit !important;\n  }\n\n  .w-hidden-tiny {\n    display: none !important;\n  }\n\n  .w-col {\n    width: 100%;\n  }\n\n  .w-col-tiny-1 {\n    width: 8.33333%;\n  }\n\n  .w-col-tiny-2 {\n    width: 16.6667%;\n  }\n\n  .w-col-tiny-3 {\n    width: 25%;\n  }\n\n  .w-col-tiny-4 {\n    width: 33.3333%;\n  }\n\n  .w-col-tiny-5 {\n    width: 41.6667%;\n  }\n\n  .w-col-tiny-6 {\n    width: 50%;\n  }\n\n  .w-col-tiny-7 {\n    width: 58.3333%;\n  }\n\n  .w-col-tiny-8 {\n    width: 66.6667%;\n  }\n\n  .w-col-tiny-9 {\n    width: 75%;\n  }\n\n  .w-col-tiny-10 {\n    width: 83.3333%;\n  }\n\n  .w-col-tiny-11 {\n    width: 91.6667%;\n  }\n\n  .w-col-tiny-12 {\n    width: 100%;\n  }\n}\n\n.w-widget {\n  position: relative;\n}\n\n.w-widget-map {\n  width: 100%;\n  height: 400px;\n}\n\n.w-widget-map label {\n  width: auto;\n  display: inline;\n}\n\n.w-widget-map img {\n  max-width: inherit;\n}\n\n.w-widget-map .gm-style-iw {\n  text-align: center;\n}\n\n.w-widget-map .gm-style-iw > button {\n  display: none !important;\n}\n\n.w-widget-twitter {\n  overflow: hidden;\n}\n\n.w-widget-twitter-count-shim {\n  vertical-align: top;\n  width: 28px;\n  height: 20px;\n  text-align: center;\n  background: #fff;\n  border: 1px solid #758696;\n  border-radius: 3px;\n  display: inline-block;\n  position: relative;\n}\n\n.w-widget-twitter-count-shim * {\n  pointer-events: none;\n  -webkit-user-select: none;\n  -ms-user-select: none;\n  user-select: none;\n}\n\n.w-widget-twitter-count-shim .w-widget-twitter-count-inner {\n  text-align: center;\n  color: #999;\n  font-family: serif;\n  font-size: 15px;\n  line-height: 12px;\n  position: relative;\n}\n\n.w-widget-twitter-count-shim .w-widget-twitter-count-clear {\n  display: block;\n  position: relative;\n}\n\n.w-widget-twitter-count-shim.w--large {\n  width: 36px;\n  height: 28px;\n}\n\n.w-widget-twitter-count-shim.w--large .w-widget-twitter-count-inner {\n  font-size: 18px;\n  line-height: 18px;\n}\n\n.w-widget-twitter-count-shim:not(.w--vertical) {\n  margin-left: 5px;\n  margin-right: 8px;\n}\n\n.w-widget-twitter-count-shim:not(.w--vertical).w--large {\n  margin-left: 6px;\n}\n\n.w-widget-twitter-count-shim:not(.w--vertical):before, .w-widget-twitter-count-shim:not(.w--vertical):after {\n  content: \" \";\n  height: 0;\n  width: 0;\n  pointer-events: none;\n  border: solid rgba(0, 0, 0, 0);\n  position: absolute;\n  top: 50%;\n  left: 0;\n}\n\n.w-widget-twitter-count-shim:not(.w--vertical):before {\n  border-width: 4px;\n  border-color: rgba(117, 134, 150, 0) #5d6c7b rgba(117, 134, 150, 0) rgba(117, 134, 150, 0);\n  margin-top: -4px;\n  margin-left: -9px;\n}\n\n.w-widget-twitter-count-shim:not(.w--vertical).w--large:before {\n  border-width: 5px;\n  margin-top: -5px;\n  margin-left: -10px;\n}\n\n.w-widget-twitter-count-shim:not(.w--vertical):after {\n  border-width: 4px;\n  border-color: rgba(255, 255, 255, 0) #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);\n  margin-top: -4px;\n  margin-left: -8px;\n}\n\n.w-widget-twitter-count-shim:not(.w--vertical).w--large:after {\n  border-width: 5px;\n  margin-top: -5px;\n  margin-left: -9px;\n}\n\n.w-widget-twitter-count-shim.w--vertical {\n  width: 61px;\n  height: 33px;\n  margin-bottom: 8px;\n}\n\n.w-widget-twitter-count-shim.w--vertical:before, .w-widget-twitter-count-shim.w--vertical:after {\n  content: \" \";\n  height: 0;\n  width: 0;\n  pointer-events: none;\n  border: solid rgba(0, 0, 0, 0);\n  position: absolute;\n  top: 100%;\n  left: 50%;\n}\n\n.w-widget-twitter-count-shim.w--vertical:before {\n  border-width: 5px;\n  border-color: #5d6c7b rgba(117, 134, 150, 0) rgba(117, 134, 150, 0);\n  margin-left: -5px;\n}\n\n.w-widget-twitter-count-shim.w--vertical:after {\n  border-width: 4px;\n  border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);\n  margin-left: -4px;\n}\n\n.w-widget-twitter-count-shim.w--vertical .w-widget-twitter-count-inner {\n  font-size: 18px;\n  line-height: 22px;\n}\n\n.w-widget-twitter-count-shim.w--vertical.w--large {\n  width: 76px;\n}\n\n.w-background-video {\n  height: 500px;\n  color: #fff;\n  position: relative;\n  overflow: hidden;\n}\n\n.w-background-video > video {\n  width: 100%;\n  height: 100%;\n  object-fit: cover;\n  z-index: -100;\n  background-position: 50%;\n  background-size: cover;\n  margin: auto;\n  position: absolute;\n  top: -100%;\n  bottom: -100%;\n  left: -100%;\n  right: -100%;\n}\n\n.w-background-video > video::-webkit-media-controls-start-playback-button {\n  -webkit-appearance: none;\n  display: none !important;\n}\n\n.w-background-video--control {\n  background-color: rgba(0, 0, 0, 0);\n  padding: 0;\n  position: absolute;\n  bottom: 1em;\n  right: 1em;\n}\n\n.w-background-video--control > [hidden] {\n  display: none !important;\n}\n\n.w-slider {\n  height: 300px;\n  text-align: center;\n  clear: both;\n  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);\n  tap-highlight-color: rgba(0, 0, 0, 0);\n  background: #ddd;\n  position: relative;\n}\n\n.w-slider-mask {\n  z-index: 1;\n  height: 100%;\n  white-space: nowrap;\n  display: block;\n  position: relative;\n  left: 0;\n  right: 0;\n  overflow: hidden;\n}\n\n.w-slide {\n  vertical-align: top;\n  width: 100%;\n  height: 100%;\n  white-space: normal;\n  text-align: left;\n  display: inline-block;\n  position: relative;\n}\n\n.w-slider-nav {\n  z-index: 2;\n  height: 40px;\n  text-align: center;\n  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);\n  tap-highlight-color: rgba(0, 0, 0, 0);\n  margin: auto;\n  padding-top: 10px;\n  position: absolute;\n  top: auto;\n  bottom: 0;\n  left: 0;\n  right: 0;\n}\n\n.w-slider-nav.w-round > div {\n  border-radius: 100%;\n}\n\n.w-slider-nav.w-num > div {\n  width: auto;\n  height: auto;\n  font-size: inherit;\n  line-height: inherit;\n  padding: .2em .5em;\n}\n\n.w-slider-nav.w-shadow > div {\n  box-shadow: 0 0 3px rgba(51, 51, 51, .4);\n}\n\n.w-slider-nav-invert {\n  color: #fff;\n}\n\n.w-slider-nav-invert > div {\n  background-color: rgba(34, 34, 34, .4);\n}\n\n.w-slider-nav-invert > div.w-active {\n  background-color: #222;\n}\n\n.w-slider-dot {\n  width: 1em;\n  height: 1em;\n  cursor: pointer;\n  background-color: rgba(255, 255, 255, .4);\n  margin: 0 3px .5em;\n  transition: background-color .1s, color .1s;\n  display: inline-block;\n  position: relative;\n}\n\n.w-slider-dot.w-active {\n  background-color: #fff;\n}\n\n.w-slider-dot:focus {\n  outline: none;\n  box-shadow: 0 0 0 2px #fff;\n}\n\n.w-slider-dot:focus.w-active {\n  box-shadow: none;\n}\n\n.w-slider-arrow-left, .w-slider-arrow-right {\n  width: 80px;\n  cursor: pointer;\n  color: #fff;\n  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);\n  tap-highlight-color: rgba(0, 0, 0, 0);\n  -webkit-user-select: none;\n  -ms-user-select: none;\n  user-select: none;\n  margin: auto;\n  font-size: 40px;\n  position: absolute;\n  top: 0;\n  bottom: 0;\n  left: 0;\n  right: 0;\n  overflow: hidden;\n}\n\n.w-slider-arrow-left [class^=\"w-icon-\"], .w-slider-arrow-right [class^=\"w-icon-\"], .w-slider-arrow-left [class*=\" w-icon-\"], .w-slider-arrow-right [class*=\" w-icon-\"] {\n  position: absolute;\n}\n\n.w-slider-arrow-left:focus, .w-slider-arrow-right:focus {\n  outline: 0;\n}\n\n.w-slider-arrow-left {\n  z-index: 3;\n  right: auto;\n}\n\n.w-slider-arrow-right {\n  z-index: 4;\n  left: auto;\n}\n\n.w-icon-slider-left, .w-icon-slider-right {\n  width: 1em;\n  height: 1em;\n  margin: auto;\n  top: 0;\n  bottom: 0;\n  left: 0;\n  right: 0;\n}\n\n.w-slider-aria-label {\n  clip: rect(0 0 0 0);\n  height: 1px;\n  width: 1px;\n  border: 0;\n  margin: -1px;\n  padding: 0;\n  position: absolute;\n  overflow: hidden;\n}\n\n.w-slider-force-show {\n  display: block !important;\n}\n\n.w-dropdown {\n  text-align: left;\n  z-index: 900;\n  margin-left: auto;\n  margin-right: auto;\n  display: inline-block;\n  position: relative;\n}\n\n.w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {\n  vertical-align: top;\n  color: #222;\n  text-align: left;\n  white-space: nowrap;\n  margin-left: auto;\n  margin-right: auto;\n  padding: 20px;\n  text-decoration: none;\n  position: relative;\n}\n\n.w-dropdown-toggle {\n  -webkit-user-select: none;\n  -ms-user-select: none;\n  user-select: none;\n  cursor: pointer;\n  padding-right: 40px;\n  display: inline-block;\n}\n\n.w-dropdown-toggle:focus {\n  outline: 0;\n}\n\n.w-icon-dropdown-toggle {\n  width: 1em;\n  height: 1em;\n  margin: auto 20px auto auto;\n  position: absolute;\n  top: 0;\n  bottom: 0;\n  right: 0;\n}\n\n.w-dropdown-list {\n  min-width: 100%;\n  background: #ddd;\n  display: none;\n  position: absolute;\n}\n\n.w-dropdown-list.w--open {\n  display: block;\n}\n\n.w-dropdown-link {\n  color: #222;\n  padding: 10px 20px;\n  display: block;\n}\n\n.w-dropdown-link.w--current {\n  color: #0082f3;\n}\n\n.w-dropdown-link:focus {\n  outline: 0;\n}\n\n@media screen and (max-width: 767px) {\n  .w-nav-brand {\n    padding-left: 10px;\n  }\n}\n\n.w-lightbox-backdrop {\n  cursor: auto;\n  letter-spacing: normal;\n  text-indent: 0;\n  text-shadow: none;\n  text-transform: none;\n  visibility: visible;\n  white-space: normal;\n  word-break: normal;\n  word-spacing: normal;\n  word-wrap: normal;\n  color: #fff;\n  text-align: center;\n  z-index: 2000;\n  opacity: 0;\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  -webkit-tap-highlight-color: transparent;\n  background: rgba(0, 0, 0, .9);\n  outline: 0;\n  font-family: Helvetica Neue, Helvetica, Ubuntu, Segoe UI, Verdana, sans-serif;\n  font-size: 17px;\n  font-style: normal;\n  font-weight: 300;\n  line-height: 1.2;\n  list-style: disc;\n  position: fixed;\n  top: 0;\n  bottom: 0;\n  left: 0;\n  right: 0;\n  -webkit-transform: translate(0);\n}\n\n.w-lightbox-backdrop, .w-lightbox-container {\n  height: 100%;\n  -webkit-overflow-scrolling: touch;\n  overflow: auto;\n}\n\n.w-lightbox-content {\n  height: 100vh;\n  position: relative;\n  overflow: hidden;\n}\n\n.w-lightbox-view {\n  width: 100vw;\n  height: 100vh;\n  opacity: 0;\n  position: absolute;\n}\n\n.w-lightbox-view:before {\n  content: \"\";\n  height: 100vh;\n}\n\n.w-lightbox-group, .w-lightbox-group .w-lightbox-view, .w-lightbox-group .w-lightbox-view:before {\n  height: 86vh;\n}\n\n.w-lightbox-frame, .w-lightbox-view:before {\n  vertical-align: middle;\n  display: inline-block;\n}\n\n.w-lightbox-figure {\n  margin: 0;\n  position: relative;\n}\n\n.w-lightbox-group .w-lightbox-figure {\n  cursor: pointer;\n}\n\n.w-lightbox-img {\n  width: auto;\n  height: auto;\n  max-width: none;\n}\n\n.w-lightbox-image {\n  float: none;\n  max-width: 100vw;\n  max-height: 100vh;\n  display: block;\n}\n\n.w-lightbox-group .w-lightbox-image {\n  max-height: 86vh;\n}\n\n.w-lightbox-caption {\n  text-align: left;\n  text-overflow: ellipsis;\n  white-space: nowrap;\n  background: rgba(0, 0, 0, .4);\n  padding: .5em 1em;\n  position: absolute;\n  bottom: 0;\n  left: 0;\n  right: 0;\n  overflow: hidden;\n}\n\n.w-lightbox-embed {\n  width: 100%;\n  height: 100%;\n  position: absolute;\n  top: 0;\n  bottom: 0;\n  left: 0;\n  right: 0;\n}\n\n.w-lightbox-control {\n  width: 4em;\n  cursor: pointer;\n  background-position: center;\n  background-repeat: no-repeat;\n  background-size: 24px;\n  transition: all .3s;\n  position: absolute;\n  top: 0;\n}\n\n.w-lightbox-left {\n  background-image: url(\"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0yMCAwIDI0IDQwIiB3aWR0aD0iMjQiIGhlaWdodD0iNDAiPjxnIHRyYW5zZm9ybT0icm90YXRlKDQ1KSI+PHBhdGggZD0ibTAgMGg1djIzaDIzdjVoLTI4eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDN2MjNoMjN2M2gtMjZ6IiBmaWxsPSIjZmZmIi8+PC9nPjwvc3ZnPg==\");\n  display: none;\n  bottom: 0;\n  left: 0;\n}\n\n.w-lightbox-right {\n  background-image: url(\"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMjQgNDAiIHdpZHRoPSIyNCIgaGVpZ2h0PSI0MCI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMC0waDI4djI4aC01di0yM2gtMjN6IiBvcGFjaXR5PSIuNCIvPjxwYXRoIGQ9Im0xIDFoMjZ2MjZoLTN2LTIzaC0yM3oiIGZpbGw9IiNmZmYiLz48L2c+PC9zdmc+\");\n  display: none;\n  bottom: 0;\n  right: 0;\n}\n\n.w-lightbox-close {\n  height: 2.6em;\n  background-image: url(\"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMTggMTciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNyI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMCAwaDd2LTdoNXY3aDd2NWgtN3Y3aC01di03aC03eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDd2LTdoM3Y3aDd2M2gtN3Y3aC0zdi03aC03eiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4=\");\n  background-size: 18px;\n  right: 0;\n}\n\n.w-lightbox-strip {\n  white-space: nowrap;\n  padding: 0 1vh;\n  line-height: 0;\n  position: absolute;\n  bottom: 0;\n  left: 0;\n  right: 0;\n  overflow-x: auto;\n  overflow-y: hidden;\n}\n\n.w-lightbox-item {\n  width: 10vh;\n  box-sizing: content-box;\n  cursor: pointer;\n  padding: 2vh 1vh;\n  display: inline-block;\n  -webkit-transform: translate3d(0, 0, 0);\n}\n\n.w-lightbox-active {\n  opacity: .3;\n}\n\n.w-lightbox-thumbnail {\n  height: 10vh;\n  background: #222;\n  position: relative;\n  overflow: hidden;\n}\n\n.w-lightbox-thumbnail-image {\n  position: absolute;\n  top: 0;\n  left: 0;\n}\n\n.w-lightbox-thumbnail .w-lightbox-tall {\n  width: 100%;\n  top: 50%;\n  transform: translate(0, -50%);\n}\n\n.w-lightbox-thumbnail .w-lightbox-wide {\n  height: 100%;\n  left: 50%;\n  transform: translate(-50%);\n}\n\n.w-lightbox-spinner {\n  box-sizing: border-box;\n  width: 40px;\n  height: 40px;\n  border: 5px solid rgba(0, 0, 0, .4);\n  border-radius: 50%;\n  margin-top: -20px;\n  margin-left: -20px;\n  animation: .8s linear infinite spin;\n  position: absolute;\n  top: 50%;\n  left: 50%;\n}\n\n.w-lightbox-spinner:after {\n  content: \"\";\n  border: 3px solid rgba(0, 0, 0, 0);\n  border-bottom-color: #fff;\n  border-radius: 50%;\n  position: absolute;\n  top: -4px;\n  bottom: -4px;\n  left: -4px;\n  right: -4px;\n}\n\n.w-lightbox-hide {\n  display: none;\n}\n\n.w-lightbox-noscroll {\n  overflow: hidden;\n}\n\n@media (min-width: 768px) {\n  .w-lightbox-content {\n    height: 96vh;\n    margin-top: 2vh;\n  }\n\n  .w-lightbox-view, .w-lightbox-view:before {\n    height: 96vh;\n  }\n\n  .w-lightbox-group, .w-lightbox-group .w-lightbox-view, .w-lightbox-group .w-lightbox-view:before {\n    height: 84vh;\n  }\n\n  .w-lightbox-image {\n    max-width: 96vw;\n    max-height: 96vh;\n  }\n\n  .w-lightbox-group .w-lightbox-image {\n    max-width: 82.3vw;\n    max-height: 84vh;\n  }\n\n  .w-lightbox-left, .w-lightbox-right {\n    opacity: .5;\n    display: block;\n  }\n\n  .w-lightbox-close {\n    opacity: .8;\n  }\n\n  .w-lightbox-control:hover {\n    opacity: 1;\n  }\n}\n\n.w-lightbox-inactive, .w-lightbox-inactive:hover {\n  opacity: 0;\n}\n\n.w-richtext:before, .w-richtext:after {\n  content: \" \";\n  grid-area: 1 / 1 / 2 / 2;\n  display: table;\n}\n\n.w-richtext:after {\n  clear: both;\n}\n\n.w-richtext[contenteditable=\"true\"]:before, .w-richtext[contenteditable=\"true\"]:after {\n  white-space: initial;\n}\n\n.w-richtext ol, .w-richtext ul {\n  overflow: hidden;\n}\n\n.w-richtext .w-richtext-figure-selected.w-richtext-figure-type-video div:after, .w-richtext .w-richtext-figure-selected[data-rt-type=\"video\"] div:after, .w-richtext .w-richtext-figure-selected.w-richtext-figure-type-image div, .w-richtext .w-richtext-figure-selected[data-rt-type=\"image\"] div {\n  outline: 2px solid #2895f7;\n}\n\n.w-richtext figure.w-richtext-figure-type-video > div:after, .w-richtext figure[data-rt-type=\"video\"] > div:after {\n  content: \"\";\n  display: none;\n  position: absolute;\n  top: 0;\n  bottom: 0;\n  left: 0;\n  right: 0;\n}\n\n.w-richtext figure {\n  max-width: 60%;\n  position: relative;\n}\n\n.w-richtext figure > div:before {\n  cursor: default !important;\n}\n\n.w-richtext figure img {\n  width: 100%;\n}\n\n.w-richtext figure figcaption.w-richtext-figcaption-placeholder {\n  opacity: .6;\n}\n\n.w-richtext figure div {\n  color: rgba(0, 0, 0, 0);\n  font-size: 0;\n}\n\n.w-richtext figure.w-richtext-figure-type-image, .w-richtext figure[data-rt-type=\"image\"] {\n  display: table;\n}\n\n.w-richtext figure.w-richtext-figure-type-image > div, .w-richtext figure[data-rt-type=\"image\"] > div {\n  display: inline-block;\n}\n\n.w-richtext figure.w-richtext-figure-type-image > figcaption, .w-richtext figure[data-rt-type=\"image\"] > figcaption {\n  caption-side: bottom;\n  display: table-caption;\n}\n\n.w-richtext figure.w-richtext-figure-type-video, .w-richtext figure[data-rt-type=\"video\"] {\n  width: 60%;\n  height: 0;\n}\n\n.w-richtext figure.w-richtext-figure-type-video iframe, .w-richtext figure[data-rt-type=\"video\"] iframe {\n  width: 100%;\n  height: 100%;\n  position: absolute;\n  top: 0;\n  left: 0;\n}\n\n.w-richtext figure.w-richtext-figure-type-video > div, .w-richtext figure[data-rt-type=\"video\"] > div {\n  width: 100%;\n}\n\n.w-richtext figure.w-richtext-align-center {\n  clear: both;\n  margin-left: auto;\n  margin-right: auto;\n}\n\n.w-richtext figure.w-richtext-align-center.w-richtext-figure-type-image > div, .w-richtext figure.w-richtext-align-center[data-rt-type=\"image\"] > div {\n  max-width: 100%;\n}\n\n.w-richtext figure.w-richtext-align-normal {\n  clear: both;\n}\n\n.w-richtext figure.w-richtext-align-fullwidth {\n  width: 100%;\n  max-width: 100%;\n  text-align: center;\n  clear: both;\n  margin-left: auto;\n  margin-right: auto;\n  display: block;\n}\n\n.w-richtext figure.w-richtext-align-fullwidth > div {\n  padding-bottom: inherit;\n  display: inline-block;\n}\n\n.w-richtext figure.w-richtext-align-fullwidth > figcaption {\n  display: block;\n}\n\n.w-richtext figure.w-richtext-align-floatleft {\n  float: left;\n  clear: none;\n  margin-right: 15px;\n}\n\n.w-richtext figure.w-richtext-align-floatright {\n  float: right;\n  clear: none;\n  margin-left: 15px;\n}\n\n.w-nav {\n  z-index: 1000;\n  background: #ddd;\n  position: relative;\n}\n\n.w-nav:before, .w-nav:after {\n  content: \" \";\n  grid-area: 1 / 1 / 2 / 2;\n  display: table;\n}\n\n.w-nav:after {\n  clear: both;\n}\n\n.w-nav-brand {\n  float: left;\n  color: #333;\n  text-decoration: none;\n  position: relative;\n}\n\n.w-nav-link {\n  vertical-align: top;\n  color: #222;\n  text-align: left;\n  margin-left: auto;\n  margin-right: auto;\n  padding: 20px;\n  text-decoration: none;\n  display: inline-block;\n  position: relative;\n}\n\n.w-nav-link.w--current {\n  color: #0082f3;\n}\n\n.w-nav-menu {\n  float: right;\n  position: relative;\n}\n\n[data-nav-menu-open] {\n  text-align: center;\n  min-width: 200px;\n  background: #c8c8c8;\n  position: absolute;\n  top: 100%;\n  left: 0;\n  right: 0;\n  overflow: visible;\n  display: block !important;\n}\n\n.w--nav-link-open {\n  display: block;\n  position: relative;\n}\n\n.w-nav-overlay {\n  width: 100%;\n  display: none;\n  position: absolute;\n  top: 100%;\n  left: 0;\n  right: 0;\n  overflow: hidden;\n}\n\n.w-nav-overlay [data-nav-menu-open] {\n  top: 0;\n}\n\n.w-nav[data-animation=\"over-left\"] .w-nav-overlay {\n  width: auto;\n}\n\n.w-nav[data-animation=\"over-left\"] .w-nav-overlay, .w-nav[data-animation=\"over-left\"] [data-nav-menu-open] {\n  z-index: 1;\n  top: 0;\n  right: auto;\n}\n\n.w-nav[data-animation=\"over-right\"] .w-nav-overlay {\n  width: auto;\n}\n\n.w-nav[data-animation=\"over-right\"] .w-nav-overlay, .w-nav[data-animation=\"over-right\"] [data-nav-menu-open] {\n  z-index: 1;\n  top: 0;\n  left: auto;\n}\n\n.w-nav-button {\n  float: right;\n  cursor: pointer;\n  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);\n  tap-highlight-color: rgba(0, 0, 0, 0);\n  -webkit-user-select: none;\n  -ms-user-select: none;\n  user-select: none;\n  padding: 18px;\n  font-size: 24px;\n  display: none;\n  position: relative;\n}\n\n.w-nav-button:focus {\n  outline: 0;\n}\n\n.w-nav-button.w--open {\n  color: #fff;\n  background-color: #c8c8c8;\n}\n\n.w-nav[data-collapse=\"all\"] .w-nav-menu {\n  display: none;\n}\n\n.w-nav[data-collapse=\"all\"] .w-nav-button, .w--nav-dropdown-open, .w--nav-dropdown-toggle-open {\n  display: block;\n}\n\n.w--nav-dropdown-list-open {\n  position: static;\n}\n\n@media screen and (max-width: 991px) {\n  .w-nav[data-collapse=\"medium\"] .w-nav-menu {\n    display: none;\n  }\n\n  .w-nav[data-collapse=\"medium\"] .w-nav-button {\n    display: block;\n  }\n}\n\n@media screen and (max-width: 767px) {\n  .w-nav[data-collapse=\"small\"] .w-nav-menu {\n    display: none;\n  }\n\n  .w-nav[data-collapse=\"small\"] .w-nav-button {\n    display: block;\n  }\n\n  .w-nav-brand {\n    padding-left: 10px;\n  }\n}\n\n@media screen and (max-width: 479px) {\n  .w-nav[data-collapse=\"tiny\"] .w-nav-menu {\n    display: none;\n  }\n\n  .w-nav[data-collapse=\"tiny\"] .w-nav-button {\n    display: block;\n  }\n}\n\n.w-tabs {\n  position: relative;\n}\n\n.w-tabs:before, .w-tabs:after {\n  content: \" \";\n  grid-area: 1 / 1 / 2 / 2;\n  display: table;\n}\n\n.w-tabs:after {\n  clear: both;\n}\n\n.w-tab-menu {\n  position: relative;\n}\n\n.w-tab-link {\n  vertical-align: top;\n  text-align: left;\n  cursor: pointer;\n  color: #222;\n  background-color: #ddd;\n  padding: 9px 30px;\n  text-decoration: none;\n  display: inline-block;\n  position: relative;\n}\n\n.w-tab-link.w--current {\n  background-color: #c8c8c8;\n}\n\n.w-tab-link:focus {\n  outline: 0;\n}\n\n.w-tab-content {\n  display: block;\n  position: relative;\n  overflow: hidden;\n}\n\n.w-tab-pane {\n  display: none;\n  position: relative;\n}\n\n.w--tab-active {\n  display: block;\n}\n\n@media screen and (max-width: 479px) {\n  .w-tab-link {\n    display: block;\n  }\n}\n\n.w-ix-emptyfix:after {\n  content: \"\";\n}\n\n@keyframes spin {\n  0% {\n    transform: rotate(0);\n  }\n\n  100% {\n    transform: rotate(360deg);\n  }\n}\n\n.w-dyn-empty {\n  background-color: #ddd;\n  padding: 10px;\n}\n\n.w-dyn-hide, .w-dyn-bind-empty, .w-condition-invisible {\n  display: none !important;\n}\n\n.wf-layout-layout {\n  display: grid;\n}\n\n.w-layout-grid {\n  grid-row-gap: 16px;\n  grid-column-gap: 16px;\n  grid-template-rows: auto auto;\n  grid-template-columns: 1fr 1fr;\n  grid-auto-columns: 1fr;\n  display: grid;\n}\n\n.header-menu009 {\n  z-index: 10;\n  color: #444a4e;\n  background-color: #ffeef6;\n  padding: 30px 40px 32px;\n  display: block;\n  position: relative;\n}\n\n.menu009-btn {\n  display: none;\n}\n\n.header-menu009__icons {\n  grid-column-gap: 30px;\n  justify-content: flex-end;\n  align-items: center;\n  display: flex;\n}\n\n.container {\n  width: 100%;\n  max-width: 1180px;\n  margin-left: auto;\n  margin-right: auto;\n  position: relative;\n}\n\n.container.font-lato {\n  color: #444a4e;\n  font-family: Lato, sans-serif;\n}\n\n.container.font-lato.header-menu009__grid {\n  grid-column-gap: 30px;\n  grid-row-gap: 16px;\n  grid-template-rows: auto;\n  grid-template-columns: auto 1fr auto;\n  grid-auto-columns: 1fr;\n  align-items: center;\n  display: grid;\n}\n\n.header-menu009__items {\n  grid-column-gap: 48px;\n  justify-content: center;\n  align-items: center;\n  margin-bottom: 0;\n  padding-left: 0;\n  font-size: 14px;\n  list-style-type: none;\n  display: flex;\n}\n\n.header-menu009__item {\n  color: #444a4e;\n  font-family: Unbounded, sans-serif;\n  text-decoration: none;\n}\n\n.hero020-title {\n  color: #444a4e;\n  margin-bottom: 38px;\n  font-family: Unbounded, sans-serif;\n  font-size: 55px;\n  font-weight: 600;\n  line-height: 1.3;\n}\n\n.hero020-btn {\n  height: 60px;\n  color: #fff;\n  background-color: #ff8bc2;\n  border-radius: 60px;\n  justify-content: center;\n  align-items: center;\n  padding-left: 57px;\n  padding-right: 57px;\n  font-family: Unbounded, sans-serif;\n  font-size: 16px;\n  font-weight: 400;\n  transition: background-color .3s;\n  display: flex;\n}\n\n.hero020-btn:hover {\n  background-color: #d479a4;\n}\n\n.section {\n  background-color: #fff;\n  padding: 128px 40px;\n  position: relative;\n}\n\n.section.hero020-section {\n  color: #444a4e;\n  background-color: #ffeef6;\n  padding-top: 19px;\n  padding-bottom: 18px;\n}\n\n.section.cat003-section {\n  color: #444a4e;\n  background-color: #ffeef6;\n  padding-top: 90px;\n  padding-bottom: 110px;\n}\n\n.section.comp008-section {\n  color: #444a4e;\n  padding-top: 46px;\n  padding-bottom: 40px;\n}\n\n.section.sale001-section {\n  color: #444a4e;\n  background-color: #ffeef6;\n  padding-top: 262px;\n  padding-bottom: 141px;\n}\n\n.hero020-img_5 {\n  width: 100%;\n}\n\n.hero020-img_5._1bot {\n  z-index: 100;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5._2bot {\n  z-index: 10;\n  clear: none;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5._3bot {\n  z-index: 1000;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5._4bot {\n  z-index: 10000;\n  margin-left: -560px;\n  padding-left: 0;\n  position: relative;\n}\n\n.hero020-img_5._5bot {\n  z-index: 10001;\n  display: block;\n  position: relative;\n}\n\n.hero020-descr {\n  max-width: 411px;\n  color: #444a4e;\n  margin-bottom: 67px;\n  font-family: Unbounded, sans-serif;\n  font-size: 21px;\n  line-height: 1.4;\n}\n\n.hero020-section__bg {\n  z-index: 0;\n  width: 100%;\n  position: absolute;\n  top: auto;\n  bottom: 18%;\n  left: 0%;\n  right: 0%;\n}\n\n.hero020-social__items {\n  grid-column-gap: 20px;\n  align-items: center;\n  margin-top: 173px;\n  display: flex;\n}\n\n.hero020-grid {\n  grid-column-gap: 60px;\n  grid-template-rows: auto;\n}\n\n.hero020-content {\n  flex-direction: column;\n  justify-content: flex-end;\n  align-items: flex-start;\n  padding-top: 57px;\n  padding-bottom: 57px;\n  display: flex;\n}\n\n.form {\n  margin-bottom: 0;\n}\n\n.cat003-image {\n  border-radius: 20px;\n  margin-bottom: 16px;\n  padding-bottom: 125%;\n  position: relative;\n  overflow: hidden;\n}\n\n.cat003-product__info {\n  grid-row-gap: 2px;\n  color: #8a8a96;\n  flex-direction: column;\n  grid-template-rows: auto auto;\n  grid-template-columns: 1fr 1fr;\n  grid-auto-columns: 1fr;\n  align-items: flex-start;\n  font-size: 12px;\n  display: flex;\n}\n\n.cat003-item {\n  background-color: #fff;\n  border-radius: 30px;\n  flex-direction: column;\n  justify-content: space-between;\n  padding: 8px 8px 18px;\n  transition: box-shadow .3s;\n  display: flex;\n}\n\n.cat003-item:hover {\n  box-shadow: 0 2px 7px -2px rgba(0, 0, 0, .2);\n}\n\n.cat003-items {\n  grid-column-gap: 20px;\n  grid-template-rows: auto;\n  grid-template-columns: 1fr 1fr 1fr 1fr;\n  margin-top: 42px;\n}\n\n.cat003-cart__btn {\n  width: 100%;\n  height: 60px;\n  max-width: 206px;\n  background-color: #ff8bc2;\n  border-radius: 60px;\n  justify-content: center;\n  align-items: center;\n  margin-left: auto;\n  margin-right: auto;\n  padding-left: 57px;\n  padding-right: 57px;\n  font-family: Unbounded, sans-serif;\n  font-size: 16px;\n  font-weight: 400;\n  transition: background-color .3s;\n  display: flex;\n}\n\n.cat003-cart__btn:hover {\n  background-color: #d479a4;\n}\n\n.cat003-post__title {\n  color: #444a4e;\n}\n\n.full-image {\n  z-index: 0;\n  width: 100%;\n  height: 100%;\n  object-fit: cover;\n  position: absolute;\n  top: 0%;\n  bottom: 0%;\n  left: 0%;\n  right: 0%;\n}\n\n.cat003-title__wrap {\n  grid-column-gap: 16px;\n  justify-content: space-between;\n  align-items: center;\n  margin-bottom: 26px;\n  padding-left: 16px;\n  padding-right: 16px;\n  display: flex;\n}\n\n.cat003-product__price {\n  color: #ff8bc2;\n  font-family: Unbounded, sans-serif;\n  font-size: 18px;\n  line-height: 1.2;\n}\n\n.cat003-title {\n  color: #444a4e;\n  font-family: Unbounded, sans-serif;\n  font-size: 55px;\n  font-weight: 400;\n  line-height: 1.3;\n}\n\n.comp008-item {\n  grid-column-gap: 18px;\n  align-items: flex-start;\n  display: flex;\n}\n\n.comp008-image {\n  width: 100%;\n}\n\n.comp008-content {\n  padding-top: 36px;\n}\n\n.comp008-items {\n  max-width: 516px;\n  grid-row-gap: 20px;\n  flex-direction: column;\n  align-items: flex-start;\n  margin-bottom: 0;\n  padding-left: 0;\n  list-style-type: none;\n  display: flex;\n}\n\n.comp008-item__ico {\n  flex: none;\n  margin-top: 4px;\n}\n\n.comp008-grid {\n  grid-column-gap: 96px;\n  grid-template-rows: auto;\n  grid-template-columns: minmax(380px, 480px) 1fr;\n}\n\n.color-blue2 {\n  color: #ff8bc2;\n}\n\n.comp008-title {\n  color: #444a4e;\n  margin-bottom: 46px;\n  font-family: Unbounded, sans-serif;\n  font-size: 29px;\n  font-weight: 400;\n  line-height: 1.3;\n}\n\n.sale001-grid {\n  color: #fff;\n  grid-template-rows: auto;\n  grid-template-columns: 1fr minmax(300px, 380px);\n  margin-top: 45px;\n}\n\n.sale001-block1__content {\n  z-index: 1;\n  flex-direction: column;\n  justify-content: space-between;\n  align-items: flex-start;\n  display: flex;\n  position: relative;\n}\n\n.sale001-block1__grid {\n  width: 100%;\n  grid-template-rows: auto;\n  grid-template-columns: .7fr 1fr;\n}\n\n.container-2 {\n  z-index: 5;\n  width: 100%;\n  max-width: 1180px;\n  margin-left: auto;\n  margin-right: auto;\n  position: relative;\n}\n\n.container-2.font-lato {\n  color: #444a4e;\n  font-family: Lato, sans-serif;\n}\n\n.sale001-content__box {\n  max-width: 340px;\n  grid-row-gap: 18px;\n  flex-direction: column;\n  align-items: flex-start;\n  padding-bottom: 30px;\n  font-size: 18px;\n  display: flex;\n}\n\n.sale001-block__title {\n  font-family: Unbounded, sans-serif;\n  font-size: 29px;\n  line-height: 1.3;\n}\n\n.sale001-grid__block1 {\n  grid-row-gap: 40px;\n  background-color: #ff8bc2;\n  border-radius: 30px;\n  flex-direction: column;\n  justify-content: space-between;\n  align-items: flex-start;\n  padding: 32px 40px 30px;\n  display: flex;\n  position: relative;\n  overflow: hidden;\n}\n\n.text-block-20 {\n  color: #fff;\n  margin-right: 15px;\n  font-size: 16px;\n}\n\n.color-grey {\n  color: rgba(255, 255, 255, .49);\n}\n\n.sale001-grid__block2 {\n  grid-row-gap: 40px;\n  background-color: #8c65dd;\n  border-radius: 30px;\n  flex-direction: column;\n  justify-content: space-between;\n  align-items: flex-start;\n  padding: 32px 40px 30px;\n  display: flex;\n  position: relative;\n  overflow: hidden;\n}\n\n.sale001-section__bg {\n  z-index: 0;\n  width: 100%;\n  position: absolute;\n  top: 0%;\n  bottom: auto;\n  left: 0%;\n  right: 0%;\n}\n\n.collinc002 {\n  font-family: Unbounded, sans-serif;\n  text-decoration: none;\n  display: flex;\n}\n\n.collinc002:hover {\n  color: #ff8bc2;\n  background-color: rgba(0, 0, 0, 0);\n}\n\n.sale001-block__desc {\n  max-width: 200px;\n  line-height: 1.3;\n}\n\n.sale001-block2__image {\n  width: 60%;\n  position: absolute;\n  top: auto;\n  bottom: 5%;\n  left: auto;\n  right: 0%;\n}\n\n.sale001-btn {\n  z-index: 1;\n  height: 60px;\n  color: #ff8bc2;\n  background-color: #fff;\n  border-radius: 32px;\n  justify-content: center;\n  align-self: stretch;\n  align-items: center;\n  font-family: Unbounded, sans-serif;\n  transition: background-color .3s;\n  display: flex;\n  position: relative;\n}\n\n.sale001-btn:hover {\n  color: #ffeef6;\n  background-color: #d479a4;\n}\n\n.container-3 {\n  z-index: 5;\n  width: 100%;\n  max-width: 1180px;\n  margin-left: auto;\n  margin-right: auto;\n  position: relative;\n}\n\n.footer {\n  color: #bac2ca;\n  background-color: #1a232e;\n  padding: 40px;\n  font-size: 12px;\n}\n\n.footer.fot006 {\n  color: #ffe2f0;\n  background-color: #ffe2f0;\n  padding-top: 60px;\n  padding-bottom: 60px;\n}\n\n.fot006-col2 {\n  grid-row-gap: 21px;\n  flex-direction: column;\n  display: flex;\n}\n\n.fot006-privacy__link {\n  color: #8a8a96;\n  border-bottom: 1px solid #8a8a96;\n  text-decoration: none;\n}\n\n.fot006-social__items {\n  grid-column-gap: 20px;\n  align-items: center;\n  display: flex;\n}\n\n.fot006-nav__items {\n  grid-column-gap: 78px;\n  grid-row-gap: 24px;\n  grid-template-rows: auto auto;\n  grid-template-columns: 1.5fr 1fr 1fr;\n  grid-auto-columns: 1fr;\n  margin-bottom: 0;\n  padding-left: 0;\n  list-style-type: none;\n  display: grid;\n}\n\n.fot006-col1 {\n  grid-row-gap: 20px;\n  flex-direction: column;\n  align-items: flex-start;\n  display: flex;\n}\n\n.fot006-nav__item {\n  color: #444a4e;\n  font-family: Unbounded, sans-serif;\n  text-decoration: none;\n}\n\n.fot006-grid {\n  grid-column-gap: 180px;\n  grid-template-rows: auto;\n  grid-template-columns: auto 1fr auto;\n}\n\n.menu_link {\n  border-bottom: 2px solid rgba(0, 0, 0, 0);\n  transition: border-color .3s;\n}\n\n.menu_link:hover {\n  border-bottom: 2px solid #ff8bc2;\n}\n\n.div-block {\n  width: 100%;\n  max-width: 90%;\n  min-width: auto;\n  grid-column-gap: 1px;\n  grid-row-gap: 1px;\n  flex-flow: row;\n  grid-template-rows: auto auto;\n  grid-template-columns: 1fr 1fr;\n  grid-auto-columns: 1fr;\n  grid-auto-flow: column;\n  align-content: center;\n  justify-content: flex-start;\n  align-items: flex-start;\n  justify-items: center;\n  display: flex;\n  position: static;\n  top: 0%;\n  bottom: 0%;\n  left: 0%;\n  right: 0%;\n  overflow: visible;\n}\n\n.hero020-img_5_5 {\n  width: 100%;\n}\n\n.hero020-img_5_5._1bot {\n  z-index: 100;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_5._2bot {\n  z-index: 10;\n  clear: none;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_5._3bot {\n  z-index: 1000;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_5._4bot {\n  z-index: 10000;\n  margin-left: -560px;\n  padding-left: 0;\n  position: relative;\n}\n\n.hero020-img_5_5._5bot {\n  z-index: 10001;\n  max-width: 100%;\n  min-width: auto;\n  display: block;\n  position: absolute;\n  top: auto;\n  bottom: auto;\n  left: auto;\n  right: auto;\n}\n\n.hero020-img_5_2 {\n  width: 100%;\n}\n\n.hero020-img_5_2._1bot {\n  z-index: 100;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_2._2bot {\n  z-index: 10;\n  max-width: 100%;\n  min-width: auto;\n  clear: none;\n  margin-left: 0;\n  position: absolute;\n}\n\n.hero020-img_5_2._3bot {\n  z-index: 1000;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_2._4bot {\n  z-index: 10000;\n  margin-left: -560px;\n  padding-left: 0;\n  position: relative;\n}\n\n.hero020-img_5_2._5bot {\n  z-index: 10001;\n  display: block;\n  position: relative;\n}\n\n.hero020-img_5_1 {\n  width: 100%;\n}\n\n.hero020-img_5_1._1bot {\n  z-index: 100;\n  max-width: 100%;\n  min-width: auto;\n  margin-left: 0;\n  position: absolute;\n}\n\n.hero020-img_5_1._2bot {\n  z-index: 10;\n  clear: none;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_1._3bot {\n  z-index: 1000;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_1._4bot {\n  z-index: 10000;\n  margin-left: -560px;\n  padding-left: 0;\n  position: relative;\n}\n\n.hero020-img_5_1._5bot {\n  z-index: 10001;\n  display: block;\n  position: relative;\n}\n\n.hero020-img_5_3 {\n  width: 100%;\n}\n\n.hero020-img_5_3._1bot {\n  z-index: 100;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_3._2bot {\n  z-index: 10;\n  clear: none;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_3._3bot {\n  z-index: 1000;\n  max-width: 100%;\n  min-width: auto;\n  margin-left: 0;\n  position: absolute;\n}\n\n.hero020-img_5_3._4bot {\n  z-index: 10000;\n  margin-left: -560px;\n  padding-left: 0;\n  position: relative;\n}\n\n.hero020-img_5_3._5bot {\n  z-index: 10001;\n  display: block;\n  position: relative;\n}\n\n.hero020-img_5_4 {\n  width: 100%;\n}\n\n.hero020-img_5_4._1bot {\n  z-index: 100;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_4._2bot {\n  z-index: 10;\n  clear: none;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_4._3bot {\n  z-index: 1000;\n  margin-left: -560px;\n  position: relative;\n}\n\n.hero020-img_5_4._4bot {\n  z-index: 10000;\n  max-width: 100%;\n  min-width: auto;\n  margin-left: 0;\n  padding-left: 0;\n  position: absolute;\n}\n\n.hero020-img_5_4._5bot {\n  z-index: 10001;\n  display: block;\n  position: relative;\n}\n\n.text-block-21, .text-block-22, .text-block-23 {\n  font-size: 18px;\n  line-height: 1.3;\n}\n\n.text-block-24 {\n  color: #444a4e;\n}\n\n.wraper {\n  overflow: hidden;\n}\n\n.image, .image-2, .image-2_up {\n  display: none;\n}\n\n@media screen and (max-width: 991px) {\n  .header-menu009 {\n    z-index: 5;\n    padding: 20px 30px;\n    position: relative;\n  }\n\n  .menu009-btn {\n    display: block;\n  }\n\n  .header-menu009__items {\n    grid-column-gap: 20px;\n    grid-row-gap: 14px;\n    background-color: #fff;\n    flex-direction: column;\n    align-items: flex-start;\n    margin-right: -30px;\n    padding: 40px 30px;\n    position: absolute;\n    top: 50px;\n    right: 0;\n  }\n\n  .hero020-title {\n    margin-bottom: 28px;\n    font-size: 40px;\n  }\n\n  .section {\n    padding: 90px 30px;\n  }\n\n  .section.cat003-section {\n    padding-top: 80px;\n    padding-bottom: 80px;\n  }\n\n  .section.sale001-section {\n    padding-top: 100px;\n    padding-bottom: 80px;\n  }\n\n  .hero020-descr {\n    margin-bottom: 40px;\n    font-size: 18px;\n  }\n\n  .hero020-section__bg {\n    bottom: 23%;\n  }\n\n  .hero020-social__items {\n    margin-top: 40px;\n  }\n\n  .hero020-grid {\n    grid-column-gap: 40px;\n    grid-row-gap: 16px;\n    flex-flow: column wrap;\n    grid-template-rows: auto;\n    grid-template-columns: 1fr 1fr;\n    grid-auto-columns: 1fr;\n    justify-content: center;\n    align-items: center;\n    display: grid;\n  }\n\n  .hero020-content {\n    padding-top: 20px;\n    padding-bottom: 20px;\n  }\n\n  .cat003-items {\n    grid-template-columns: 1fr 1fr;\n  }\n\n  .cat003-title {\n    font-size: 36px;\n  }\n\n  .comp008-content {\n    padding-top: 0;\n  }\n\n  .comp008-items {\n    grid-row-gap: 16px;\n    font-size: 14px;\n  }\n\n  .comp008-item__ico {\n    max-width: 22px;\n  }\n\n  .comp008-grid {\n    grid-column-gap: 30px;\n    grid-template-columns: .7fr 1fr;\n  }\n\n  .comp008-title {\n    margin-bottom: 40px;\n    font-size: 24px;\n  }\n\n  .sale001-grid {\n    grid-template-columns: 1fr .7fr;\n  }\n\n  .sale001-block1__grid {\n    grid-row-gap: 20px;\n    grid-template-columns: 1fr;\n  }\n\n  .sale001-content__box {\n    max-width: none;\n    padding-bottom: 0;\n  }\n\n  .sale001-block__title {\n    font-size: 26px;\n  }\n\n  .sale001-grid__block1, .sale001-grid__block2 {\n    grid-row-gap: 20px;\n    padding: 26px 20px;\n  }\n\n  .sale001-block2__image {\n    width: 90%;\n    align-self: flex-end;\n    position: relative;\n    bottom: auto;\n    right: -20px;\n  }\n\n  .footer {\n    padding-left: 30px;\n    padding-right: 30px;\n  }\n\n  .footer.fot006 {\n    padding-top: 40px;\n    padding-bottom: 40px;\n  }\n\n  .fot006-nav__items {\n    grid-column-gap: 20px;\n  }\n\n  .fot006-grid {\n    grid-column-gap: 70px;\n  }\n\n  .div-block {\n    max-width: 60%;\n    justify-content: center;\n    align-items: center;\n    display: none;\n    overflow: visible;\n  }\n\n  .hero020-img_5_5._5bot {\n    max-width: 100%;\n  }\n\n  .hero020-img_5_2._2bot {\n    margin-left: 0;\n  }\n\n  .hero020-img_5_1._1bot {\n    margin-left: 20px;\n  }\n\n  .image {\n    display: none;\n  }\n\n  .image-2 {\n    width: 60%;\n    display: block;\n  }\n\n  .image-2_up {\n    width: 60%;\n    display: none;\n  }\n}\n\n@media screen and (max-width: 767px) {\n  .header-menu009 {\n    padding: 12px 16px;\n  }\n\n  .header-menu009__items {\n    z-index: 100000;\n    margin-right: -16px;\n    display: flex;\n    top: 36px;\n  }\n\n  .hero020-title {\n    margin-bottom: 20px;\n    font-size: 30px;\n  }\n\n  .hero020-btn {\n    width: 100%;\n  }\n\n  .section {\n    padding: 80px 16px;\n  }\n\n  .hero020-descr {\n    margin-bottom: 20px;\n    font-size: 16px;\n  }\n\n  .hero020-grid {\n    grid-column-gap: 20px;\n    grid-template-rows: auto auto auto;\n    grid-template-columns: 1fr;\n    grid-auto-flow: row;\n    justify-content: stretch;\n    align-items: stretch;\n    justify-items: stretch;\n    position: relative;\n  }\n\n  .hero020-content {\n    justify-content: center;\n    align-items: center;\n  }\n\n  .cat003-items {\n    grid-column-gap: 16px;\n  }\n\n  .cat003-title__wrap {\n    grid-row-gap: 10px;\n    flex-direction: column;\n    align-items: flex-start;\n  }\n\n  .cat003-title {\n    font-size: 30px;\n  }\n\n  .comp008-content {\n    padding-top: 10px;\n  }\n\n  .comp008-grid {\n    grid-row-gap: 30px;\n    grid-template-columns: 1fr;\n  }\n\n  .comp008-title {\n    margin-bottom: 20px;\n    font-size: 26px;\n  }\n\n  .sale001-grid {\n    grid-row-gap: 26px;\n    grid-template-columns: 1fr;\n  }\n\n  .sale001-grid__image {\n    display: none;\n  }\n\n  .sale001-grid__block1 {\n    grid-row-gap: 40px;\n  }\n\n  .sale001-grid__block2 {\n    grid-row-gap: 100px;\n  }\n\n  .sale001-block2__image {\n    width: 270px;\n    display: none;\n    position: absolute;\n    top: auto;\n    bottom: 0%;\n    left: auto;\n    right: 0%;\n  }\n\n  .footer {\n    padding-left: 16px;\n    padding-right: 16px;\n  }\n\n  .fot006-col2 {\n    grid-row-gap: 16px;\n    align-items: center;\n  }\n\n  .fot006-nav__items {\n    grid-row-gap: 18px;\n  }\n\n  .fot006-grid {\n    grid-column-gap: 40px;\n    grid-row-gap: 30px;\n    grid-template-columns: auto 1fr;\n  }\n\n  .div-block {\n    justify-content: center;\n    align-items: center;\n  }\n\n  .hero020-img_5_2._2bot, .hero020-img_5_1._1bot, .hero020-img_5_3._3bot, .hero020-img_5_4._4bot {\n    margin-left: 0;\n  }\n\n  .image-2 {\n    text-align: center;\n    display: none;\n  }\n\n  .image-2_up {\n    text-align: center;\n    display: block;\n  }\n}\n\n@media screen and (max-width: 479px) {\n  .menu009-btn {\n    max-width: 26px;\n  }\n\n  .header-menu009__items {\n    display: flex;\n  }\n\n  .hero020-btn {\n    width: 100%;\n    height: 54px;\n    max-width: 320px;\n    padding-left: 46px;\n    padding-right: 46px;\n  }\n\n  .section.cat003-section, .section.sale001-section {\n    padding-top: 60px;\n    padding-bottom: 60px;\n  }\n\n  .hero020-grid, .cat003-items {\n    grid-template-columns: 1fr;\n  }\n\n  .cat003-cart__btn {\n    width: 100%;\n    height: 54px;\n    max-width: 320px;\n    padding-left: 46px;\n    padding-right: 46px;\n  }\n\n  .cat003-post__title {\n    font-size: 18px;\n  }\n\n  .cat003-title {\n    font-size: 24px;\n  }\n\n  .comp008-item {\n    grid-column-gap: 16px;\n  }\n\n  .comp008-item__ico {\n    max-width: 18px;\n  }\n\n  .comp008-title {\n    font-size: 20px;\n  }\n\n  .sale001-content__box {\n    grid-row-gap: 14px;\n    font-size: 16px;\n  }\n\n  .sale001-block__title {\n    font-size: 22px;\n  }\n\n  .sale001-block2__image {\n    width: 150px;\n    max-width: 60%;\n    bottom: 16%;\n  }\n\n  .fot006-nav__items {\n    grid-template-columns: 1fr 1fr;\n  }\n\n  .fot006-col1 {\n    align-items: center;\n  }\n\n  .fot006-nav__item {\n    text-align: center;\n    margin-left: auto;\n    margin-right: auto;\n    display: block;\n  }\n\n  .fot006-grid {\n    grid-template-columns: 1fr;\n  }\n\n  .div-block {\n    display: none;\n  }\n\n  .hero020-img_5_2._2bot {\n    margin-left: -67px;\n  }\n}\n\n#w-node-_791e927e-43ec-a01f-0b9f-90df9e7e89af-61a396b6, #w-node-_791e927e-43ec-a01f-0b9f-90df9e7e89b0-61a396b6, #w-node-ab3c2909-5d6b-a96e-666c-0d891eb8473a-61a396b6 {\n  grid-area: span 1 / span 1 / span 1 / span 1;\n}\n\n#w-node-_8dd9c403-f225-a12a-e34f-75f1f091c4f9-61a396b6 {\n  grid-area: span 1 / span 1 / span 1 / span 1;\n  align-self: auto;\n  justify-self: auto;\n}\n\n#w-node-a5b00cde-81ce-0595-8b0e-5b38a0fc525f-61a396b6, #w-node-ab3c2909-5d6b-a96e-666c-0d891eb8474a-61a396b6, #w-node-_902cc9a3-38ff-eca8-79ca-4400199a0c2d-61a396b6, #w-node-_5e178477-6183-fd85-9b86-01a917350cde-61a396b6, #w-node-eadad546-adf0-f69b-bc3e-496e408d344f-61a396b6, #w-node-eadad546-adf0-f69b-bc3e-496e408d3464-61a396b6, #w-node-eadad546-adf0-f69b-bc3e-496e408d347b-61a396b6, #w-node-eadad546-adf0-f69b-bc3e-496e408d3492-61a396b6 {\n  grid-area: span 1 / span 1 / span 1 / span 1;\n}\n\n#w-node-f486620c-1f43-6807-e381-e0fa2183b3ad-61a396b6 {\n  grid-area: span 1 / span 1 / span 1 / span 1;\n  align-self: center;\n}\n\n#w-node-f486620c-1f43-6807-e381-e0fa2183b3ae-61a396b6, #w-node-_3339876b-acba-b537-b154-79cdea965131-61a396b6 {\n  grid-area: span 1 / span 1 / span 1 / span 1;\n}\n\n#w-node-_3339876b-acba-b537-b154-79cdea96513c-61a396b6 {\n  grid-area: span 1 / span 1 / span 1 / span 1;\n  align-self: end;\n  justify-self: center;\n}\n\n#w-node-_3339876b-acba-b537-b154-79cdea96513f-61a396b6, #w-node-_7c47d75a-f5e5-b6ba-f44e-e3bf6a7034f2-61a396b6, #w-node-_7c47d75a-f5e5-b6ba-f44e-e3bf6a7034f3-61a396b6, #w-node-_7c47d75a-f5e5-b6ba-f44e-e3bf6a7034fb-61a396b6, #w-node-_7c47d75a-f5e5-b6ba-f44e-e3bf6a70350e-61a396b6 {\n  grid-area: span 1 / span 1 / span 1 / span 1;\n}\n\n@media screen and (max-width: 991px) {\n  #w-node-_7e42fa98-8ad8-a07c-63e2-d5de5eef314a-61a396b6 {\n    justify-self: center;\n  }\n\n  #w-node-_8dd9c403-f225-a12a-e34f-75f1f091c4f9-61a396b6 {\n    grid-area: span 1 / span 1 / span 1 / span 1;\n    align-self: auto;\n    justify-self: auto;\n  }\n}\n\n@media screen and (max-width: 767px) {\n  #w-node-_7e42fa98-8ad8-a07c-63e2-d5de5eef314a-61a396b6 {\n    justify-self: center;\n  }\n\n  #w-node-_7c47d75a-f5e5-b6ba-f44e-e3bf6a70350e-61a396b6 {\n    grid-area: span 1 / span 2 / span 1 / span 2;\n  }\n}\n\n@media screen and (max-width: 479px) {\n  #w-node-_7e42fa98-8ad8-a07c-63e2-d5de5eef314a-61a396b6 {\n    justify-self: center;\n  }\n\n  #w-node-_7c47d75a-f5e5-b6ba-f44e-e3bf6a70350e-61a396b6 {\n    grid-area: span 1 / span 1 / span 1 / span 1;\n  }\n}\n"
      },
      "id": "33171353-dd5e-4492-a547-aa4c23573ae7",
      "name": "HTML1",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        120,
        -600
      ]
    },
    {
      "parameters": {
        "operation": "html",
        "options": {
          "fileName": "style.css"
        }
      },
      "id": "c7e950b6-2aea-4c28-85ab-6a87b715f0f8",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        340,
        -600
      ]
    },
    {
      "parameters": {
        "path": "css",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "41799a63-efb9-4998-aaa0-5012b3edce5a",
      "name": "css",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        -600
      ],
      "webhookId": "9e3efe91-72ad-4cfa-b976-716430de766f"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<!-- This site was created in Webflow. https://www.webflow.com --><!-- Last Published: Wed Jun 21 2023 08:11:55 GMT+0000 (Coordinated Universal Time) --><html data-wf-page=\"648d6d90941c4fe361a396b6\" data-wf-site=\"648d6d90941c4fe361a396b2\">\n\t<head>\n\t\t<meta charset=\"utf-8\">\n\t\t<title>Fresh Juice</title>\n\t\t<link rel=\"stylesheet\" type=\"text/css\" href=\"https://n8n.makees.online/webhook/css?ver=1687335227\">\n\t\t<meta content=\"width=device-width, initial-scale=1\" name=\"viewport\">\n\t\t<style>@media (max-width:991px) and (min-width:768px) {html.w-mod-js:not(.w-mod-ix) [data-w-id=\"791e927e-43ec-a01f-0b9f-90df9e7e89b0\"] {-webkit-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);}}@media (max-width:767px) and (min-width:480px) {html.w-mod-js:not(.w-mod-ix) [data-w-id=\"791e927e-43ec-a01f-0b9f-90df9e7e89b0\"] {-webkit-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);}}@media (max-width:479px) {html.w-mod-js:not(.w-mod-ix) [data-w-id=\"791e927e-43ec-a01f-0b9f-90df9e7e89b0\"] {-webkit-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);}}</style>\n\t\t<link href=\"https://fonts.googleapis.com\" rel=\"preconnect\">\n\t\t<link href=\"https://fonts.gstatic.com\" rel=\"preconnect\" crossorigin=\"anonymous\">\n\t\t<script src=\"https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js\" type=\"text/javascript\"></script>\n\t\t<script type=\"text/javascript\">WebFont.load({  google: {    families: [\"Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic\",\"Unbounded:200,300,regular,500,600,700,800\"]  }});</script>\n\t\t<script type=\"text/javascript\">!function(o,c){var n=c.documentElement,t=\" w-mod-\";n.className+=t+\"js\",(\"ontouchstart\"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+\"touch\")}(window,document);</script>\n\t\t<link href=\"images/favicon.ico\" rel=\"shortcut icon\" type=\"image/x-icon\">\n\t\t<link href=\"images/webclip.png\" rel=\"apple-touch-icon\">\n\t</head>\n\t<body>\n\t\t<div class=\"wraper\">\n\t\t\t<header data-block=\"free1\" class=\"header-menu009\">\n\t\t\t\t<div class=\"container font-lato header-menu009__grid\"><img src=\"images/648efae948dec1f207356686_logo.svg\" loading=\"lazy\" id=\"w-node-_791e927e-43ec-a01f-0b9f-90df9e7e89af-61a396b6\" alt class=\"logo-ico\">\n\t\t\t\t\t<ul id=\"w-node-_791e927e-43ec-a01f-0b9f-90df9e7e89b0-61a396b6\" data-w-id=\"791e927e-43ec-a01f-0b9f-90df9e7e89b0\" role=\"list\" class=\"header-menu009__items\">\n\t\t\t\t\t\t<li class=\"menu_link\"><a href=\"#\" class=\"header-menu009__item\">Каталог</a></li>\n\t\t\t\t\t\t<li class=\"menu_link\"><a href=\"#\" class=\"header-menu009__item\">Доставка и оплата</a></li>\n\t\t\t\t\t\t<li class=\"menu_link\"><a href=\"#\" class=\"header-menu009__item\">О нас</a></li>\n\t\t\t\t\t\t<li class=\"menu_link\"><a href=\"#\" class=\"header-menu009__item\">Рецепты</a></li>\n\t\t\t\t\t\t<li class=\"menu_link\"><a href=\"#\" class=\"header-menu009__item\">Опт</a></li>\n\t\t\t\t\t\t<li class=\"menu_link\"><a href=\"#\" class=\"header-menu009__item\">Контакты</a></li>\n\t\t\t\t\t</ul>\n\t\t\t\t\t<div class=\"header-menu009__icons\"><a href=\"#\" class=\"w-inline-block\"><img src=\"images/648efae9fb56e48f600d91f6_user_icon.svg\" loading=\"lazy\" alt></a><a href=\"#\" class=\"w-inline-block\"><img src=\"images/648efae94342be4ed833b9e2_shopping_bag_icon.svg\" loading=\"lazy\" alt></a></div>\n\t\t\t\t\t<div data-w-id=\"791e927e-43ec-a01f-0b9f-90df9e7e89c8\" class=\"menu009-btn\"><img src=\"images/641c208f6523d6eedddc077b_Frame20152.svg\" loading=\"lazy\" alt class=\"nav-btn__ico\"></div>\n\t\t\t\t</div>\n\t\t\t</header>\n\t\t\t<section data-block=\"free2\" class=\"section hero020-section\"><img src=\"images/6464a5f05d0d2c49f4daa10a_Group2020.svg\" loading=\"lazy\" alt class=\"hero020-section__bg\">\n\t\t\t\t<div class=\"container font-lato\">\n\t\t\t\t\t<div class=\"w-layout-grid hero020-grid\">\n\t\t\t\t\t\t<div id=\"w-node-ab3c2909-5d6b-a96e-666c-0d891eb8473a-61a396b6\" class=\"hero020-content\">\n\t\t\t\t\t\t\t<h1 class=\"hero020-title\">1-й Клубничный свежевыжатый сок</h1>\n\t\t\t\t\t\t\t<div class=\"hero020-descr\">В нашем магазине большой выбор фрешей на любой вкус</div><img src=\"images/648efae91719cb1751ba2157_img_hero.webp\" loading=\"lazy\" style=\"opacity:0\" data-w-id=\"eb35ed6c-81c5-4d99-1ee1-f0d774564c50\" srcset=\"images/648efae91719cb1751ba2157_img_hero-p-500.webp 500w, images/648efae91719cb1751ba2157_img_hero-p-800.webp 800w, images/648efae91719cb1751ba2157_img_hero.webp 914w\" sizes=\"(max-width: 479px) 76vw, 100vw\" alt class=\"image-2_up\"><a f_link=\"Ссылка\" f_text=\"Текст кнопки\" href=\"#\" class=\"hero020-btn w-button\">Перейти в каталог</a>\n\t\t\t\t\t\t\t<div class=\"hero020-social__items\"><a href=\"#\" class=\"w-inline-block\"><img src=\"images/648efae9f0758ca30fe100db_vk.svg\" loading=\"lazy\" alt></a><a href=\"#\" class=\"w-inline-block\"><img src=\"images/648efae9b0e3cbc730df8947_youtube.svg\" loading=\"lazy\" alt></a><a href=\"#\" class=\"w-inline-block\"><img src=\"images/648efae9ff7506721820c84c_twitter.svg\" loading=\"lazy\" alt></a></div>\n\t\t\t\t\t\t</div><img class=\"image-2\" src=\"images/648efae91719cb1751ba2157_img_hero.webp\" alt style=\"opacity:0\" sizes=\"(max-width: 479px) 100vw, (max-width: 767px) 157.125px, 100vw\" data-w-id=\"7e42fa98-8ad8-a07c-63e2-d5de5eef314a\" id=\"w-node-_7e42fa98-8ad8-a07c-63e2-d5de5eef314a-61a396b6\" loading=\"lazy\" srcset=\"images/648efae91719cb1751ba2157_img_hero-p-500.webp 500w, images/648efae91719cb1751ba2157_img_hero-p-800.webp 800w, images/648efae91719cb1751ba2157_img_hero.webp 914w\">\n\t\t\t\t\t\t<div id=\"w-node-_8dd9c403-f225-a12a-e34f-75f1f091c4f9-61a396b6\" data-w-id=\"8dd9c403-f225-a12a-e34f-75f1f091c4f9\" style=\"opacity:0\" class=\"div-block\"><img src=\"images/649207c80f04129e25c2b598_listik.webp\" loading=\"lazy\" width=\"457\" data-w-id=\"c453dd12-c8e4-abde-b740-67ca00518043\" srcset=\"images/649207c80f04129e25c2b598_listik-p-500.webp 500w, images/649207c80f04129e25c2b598_listik-p-800.webp 800w, images/649207c80f04129e25c2b598_listik.webp 914w\" sizes=\"(max-width: 767px) 100vw, (max-width: 991px) 911.2000122070312px, 92vw\" alt class=\"hero020-img_5_5 _5bot\"><img class=\"hero020-img_5_2 _2bot\" src=\"images/649207c9868300bb04085a66_strber.webp\" width=\"457\" alt sizes=\"(max-width: 767px) 100vw, (max-width: 991px) 911.2000122070312px, 92vw\" data-w-id=\"a5b00cde-81ce-0595-8b0e-5b38a0fc525f\" id=\"w-node-a5b00cde-81ce-0595-8b0e-5b38a0fc525f-61a396b6\" loading=\"lazy\" srcset=\"images/649207c9868300bb04085a66_strber-p-500.webp 500w, images/649207c9868300bb04085a66_strber-p-800.webp 800w, images/649207c9868300bb04085a66_strber.webp 914w\"><img class=\"hero020-img_5_1 _1bot\" src=\"images/649207c96a293bf80d450ea8_botle_bot.webp\" width=\"457\" alt sizes=\"(max-width: 767px) 100vw, (max-width: 991px) 911.2000122070312px, 92vw\" data-w-id=\"ab3c2909-5d6b-a96e-666c-0d891eb8474a\" id=\"w-node-ab3c2909-5d6b-a96e-666c-0d891eb8474a-61a396b6\" loading=\"lazy\" srcset=\"images/649207c96a293bf80d450ea8_botle_bot-p-500.webp 500w, images/649207c96a293bf80d450ea8_botle_bot-p-800.webp 800w, images/649207c96a293bf80d450ea8_botle_bot.webp 914w\"><img class=\"hero020-img_5_3 _3bot\" src=\"images/649207c9e073661305c049c9_polovina.webp\" width=\"457\" alt sizes=\"(max-width: 767px) 100vw, (max-width: 991px) 911.2000122070312px, 92vw\" data-w-id=\"902cc9a3-38ff-eca8-79ca-4400199a0c2d\" id=\"w-node-_902cc9a3-38ff-eca8-79ca-4400199a0c2d-61a396b6\" loading=\"lazy\" srcset=\"images/649207c9e073661305c049c9_polovina-p-500.webp 500w, images/649207c9e073661305c049c9_polovina-p-800.webp 800w, images/649207c9e073661305c049c9_polovina.webp 914w\"><img class=\"hero020-img_5_4 _4bot\" src=\"images/649207c81a6b6b29532ef352_listik_melkiy.webp\" width=\"457\" alt sizes=\"(max-width: 767px) 100vw, (max-width: 991px) 911.2000122070312px, 92vw\" data-w-id=\"5e178477-6183-fd85-9b86-01a917350cde\" id=\"w-node-_5e178477-6183-fd85-9b86-01a917350cde-61a396b6\" loading=\"lazy\" srcset=\"images/649207c81a6b6b29532ef352_listik_melkiy-p-500.webp 500w, images/649207c81a6b6b29532ef352_listik_melkiy-p-800.webp 800w, images/649207c81a6b6b29532ef352_listik_melkiy.webp 914w\"></div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</section>\n\t\t\t<section data-block=\"free3\" class=\"section cat003-section\">\n\t\t\t\t<div class=\"container font-lato\">\n\t\t\t\t\t<h2 f_text=\"Заголовок\" class=\"cat003-title\">Популярные товары</h2>\n\t\t\t\t\t<div class=\"w-layout-grid cat003-items\">\n\t\t\t\t\t\t<div id=\"w-node-eadad546-adf0-f69b-bc3e-496e408d344f-61a396b6\" data-w-id=\"eadad546-adf0-f69b-bc3e-496e408d344f\" style=\"opacity:0\" class=\"cat003-item\">\n\t\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t\t<div class=\"cat003-image\"><img src=\"images/648efae9dc2a09b635887b7c_bottle_1.webp\" loading=\"lazy\" width=\"264\" sizes=\"(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 92vw, 90vw\" srcset=\"images/648efae9dc2a09b635887b7c_bottle_1-p-500.webp 500w, images/648efae9dc2a09b635887b7c_bottle_1.webp 528w\" alt class=\"full-image\"></div>\n\t\t\t\t\t\t\t\t<div class=\"cat003-title__wrap\">\n\t\t\t\t\t\t\t\t\t<div class=\"cat003-post__title\">Сок клубничный с мякотью</div>\n\t\t\t\t\t\t\t\t\t<div class=\"cat003-product__info\">\n\t\t\t\t\t\t\t\t\t\t<div class=\"cat003-product__price\">250₽</div>\n\t\t\t\t\t\t\t\t\t\t<div>500мл</div>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form w-form\">\n\t\t\t\t\t\t\t\t<form id=\"email-form\" name=\"email-form\" data-name=\"Email Form\" method=\"get\" data-wf-page-id=\"648d6d90941c4fe361a396b6\" data-wf-element-id=\"eadad546-adf0-f69b-bc3e-496e408d345c\"><input type=\"submit\" value=\"В корзину\" data-wait=\"Please wait...\" class=\"cat003-cart__btn w-button\"></form>\n\t\t\t\t\t\t\t\t<div class=\"w-form-done\">\n\t\t\t\t\t\t\t\t\t<div>Thank you! Your submission has been received!</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t<div class=\"w-form-fail\">\n\t\t\t\t\t\t\t\t\t<div>Oops! Something went wrong while submitting the form.</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<div id=\"w-node-eadad546-adf0-f69b-bc3e-496e408d3464-61a396b6\" data-w-id=\"eadad546-adf0-f69b-bc3e-496e408d3464\" style=\"opacity:0\" class=\"cat003-item\">\n\t\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t\t<div class=\"cat003-image\"><img src=\"images/648efae8e9a6feeb6f351120_botle_2.webp\" loading=\"lazy\" width=\"264\" sizes=\"(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 92vw, 90vw\" srcset=\"images/648efae8e9a6feeb6f351120_botle_2-p-500.webp 500w, images/648efae8e9a6feeb6f351120_botle_2.webp 528w\" alt class=\"full-image\"></div>\n\t\t\t\t\t\t\t\t<div class=\"cat003-title__wrap\">\n\t\t\t\t\t\t\t\t\t<div class=\"cat003-post__title\">Сок <br>апельсиновый</div>\n\t\t\t\t\t\t\t\t\t<div class=\"cat003-product__info\">\n\t\t\t\t\t\t\t\t\t\t<div class=\"cat003-product__price\">250₽</div>\n\t\t\t\t\t\t\t\t\t\t<div>500мл</div>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form w-form\">\n\t\t\t\t\t\t\t\t<form id=\"email-form\" name=\"email-form\" data-name=\"Email Form\" method=\"get\" data-wf-page-id=\"648d6d90941c4fe361a396b6\" data-wf-element-id=\"eadad546-adf0-f69b-bc3e-496e408d3473\"><input type=\"submit\" value=\"В корзину\" data-wait=\"Please wait...\" class=\"cat003-cart__btn w-button\"></form>\n\t\t\t\t\t\t\t\t<div class=\"w-form-done\">\n\t\t\t\t\t\t\t\t\t<div>Thank you! Your submission has been received!</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t<div class=\"w-form-fail\">\n\t\t\t\t\t\t\t\t\t<div>Oops! Something went wrong while submitting the form.</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<div id=\"w-node-eadad546-adf0-f69b-bc3e-496e408d347b-61a396b6\" data-w-id=\"eadad546-adf0-f69b-bc3e-496e408d347b\" style=\"opacity:0\" class=\"cat003-item\">\n\t\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t\t<div class=\"cat003-image\"><img src=\"images/648efae84342be4ed833b99e_botle_3.webp\" loading=\"lazy\" width=\"264\" sizes=\"(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 92vw, 90vw\" srcset=\"images/648efae84342be4ed833b99e_botle_3-p-500.webp 500w, images/648efae84342be4ed833b99e_botle_3.webp 528w\" alt class=\"full-image\"></div>\n\t\t\t\t\t\t\t\t<div class=\"cat003-title__wrap\">\n\t\t\t\t\t\t\t\t\t<div class=\"cat003-post__title\">Сок киви<br>с мякотью</div>\n\t\t\t\t\t\t\t\t\t<div class=\"cat003-product__info\">\n\t\t\t\t\t\t\t\t\t\t<div class=\"cat003-product__price\">250₽</div>\n\t\t\t\t\t\t\t\t\t\t<div>500мл</div>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form w-form\">\n\t\t\t\t\t\t\t\t<form id=\"email-form\" name=\"email-form\" data-name=\"Email Form\" method=\"get\" data-wf-page-id=\"648d6d90941c4fe361a396b6\" data-wf-element-id=\"eadad546-adf0-f69b-bc3e-496e408d348a\"><input type=\"submit\" value=\"В корзину\" data-wait=\"Please wait...\" class=\"cat003-cart__btn w-button\"></form>\n\t\t\t\t\t\t\t\t<div class=\"w-form-done\">\n\t\t\t\t\t\t\t\t\t<div>Thank you! Your submission has been received!</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t<div class=\"w-form-fail\">\n\t\t\t\t\t\t\t\t\t<div>Oops! Something went wrong while submitting the form.</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<div id=\"w-node-eadad546-adf0-f69b-bc3e-496e408d3492-61a396b6\" data-w-id=\"eadad546-adf0-f69b-bc3e-496e408d3492\" style=\"opacity:0\" class=\"cat003-item\">\n\t\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t\t<div class=\"cat003-image\"><img src=\"images/648efae8f0758ca30fe10018_botle_4.webp\" loading=\"lazy\" width=\"264\" sizes=\"(max-width: 479px) 90vw, (max-width: 767px) 93vw, (max-width: 991px) 92vw, 90vw\" srcset=\"images/648efae8f0758ca30fe10018_botle_4-p-500.webp 500w, images/648efae8f0758ca30fe10018_botle_4.webp 528w\" alt class=\"full-image\"></div>\n\t\t\t\t\t\t\t\t<div class=\"cat003-title__wrap\">\n\t\t\t\t\t\t\t\t\t<div class=\"cat003-post__title\">Сок ежевичный концентрированный</div>\n\t\t\t\t\t\t\t\t\t<div class=\"cat003-product__info\">\n\t\t\t\t\t\t\t\t\t\t<div class=\"cat003-product__price\">250₽</div>\n\t\t\t\t\t\t\t\t\t\t<div>500мл</div>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form w-form\">\n\t\t\t\t\t\t\t\t<form id=\"email-form\" name=\"email-form\" data-name=\"Email Form\" method=\"get\" data-wf-page-id=\"648d6d90941c4fe361a396b6\" data-wf-element-id=\"eadad546-adf0-f69b-bc3e-496e408d349f\"><input type=\"submit\" value=\"В корзину\" data-wait=\"Please wait...\" class=\"cat003-cart__btn w-button\"></form>\n\t\t\t\t\t\t\t\t<div class=\"w-form-done\">\n\t\t\t\t\t\t\t\t\t<div>Thank you! Your submission has been received!</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t<div class=\"w-form-fail\">\n\t\t\t\t\t\t\t\t\t<div>Oops! Something went wrong while submitting the form.</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</section>\n\t\t\t<section data-block=\"free4\" class=\"section comp008-section\">\n\t\t\t\t<div class=\"container font-lato\">\n\t\t\t\t\t<div class=\"w-layout-grid comp008-grid\"><img class=\"comp008-image\" src=\"images/648efae9a96e5e16f4b30f21_img_sec4.webp\" width=\"493\" alt style=\"opacity:0\" sizes=\"(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 94vw, 92vw\" data-w-id=\"f486620c-1f43-6807-e381-e0fa2183b3ad\" id=\"w-node-f486620c-1f43-6807-e381-e0fa2183b3ad-61a396b6\" loading=\"lazy\" srcset=\"images/648efae9a96e5e16f4b30f21_img_sec4-p-500.webp 500w, images/648efae9a96e5e16f4b30f21_img_sec4-p-800.webp 800w, images/648efae9a96e5e16f4b30f21_img_sec4.webp 986w\">\n\t\t\t\t\t\t<div id=\"w-node-f486620c-1f43-6807-e381-e0fa2183b3ae-61a396b6\" class=\"comp008-content\">\n\t\t\t\t\t\t\t<h2 f_text=\"Заголовок\" class=\"comp008-title\">Наши соки — настоящий источник витаминов, минералов и <span class=\"color-blue2\">антиоксидантов, необходимых для поддержания</span> здоровья и хорошего самочувствия:</h2>\n\t\t\t\t\t\t\t<ul role=\"list\" class=\"comp008-items\">\n\t\t\t\t\t\t\t\t<li class=\"comp008-item\"><img src=\"images/649290151371d99bc99d7cc8_star-icon.svg\" loading=\"lazy\" alt class=\"comp008-item__ico\">\n\t\t\t\t\t\t\t\t\t<div class=\"text-block-21\">Приготовлены из свежих и отборных фруктов и овощей. Процесс производства обеспечивает сохранение всех полезных веществ и натурального вкуса.</div>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"comp008-item\"><img src=\"images/649290151371d99bc99d7cc8_star-icon.svg\" loading=\"lazy\" alt class=\"comp008-item__ico\">\n\t\t\t\t\t\t\t\t\t<div class=\"text-block-22\">Разнообразие вкусов от классических фруктовых сочетаний до экзотических и оригинальных комбинаций. У нас есть напитки на любой вкус.</div>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"comp008-item\"><img src=\"images/649290151371d99bc99d7cc8_star-icon.svg\" loading=\"lazy\" alt class=\"comp008-item__ico\">\n\t\t\t\t\t\t\t\t\t<div class=\"text-block-23\">Строго контролируем весь процесс производства, от сбора сырья до упаковки готовых соков.</div>\n\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</section>\n\t\t\t<section data-block=\"free5\" class=\"section sale001-section\"><img src=\"images/6464a5efa17610082a6f6659_text-bg.svg\" loading=\"lazy\" alt class=\"sale001-section__bg\">\n\t\t\t\t<div class=\"container-2 font-lato\">\n\t\t\t\t\t<h2 f_text=\"Заголовок\" class=\"cat003-title\">Акции и предложения</h2>\n\t\t\t\t\t<div class=\"w-layout-grid sale001-grid\">\n\t\t\t\t\t\t<div id=\"w-node-_3339876b-acba-b537-b154-79cdea965131-61a396b6\" class=\"sale001-grid__block1\">\n\t\t\t\t\t\t\t<div class=\"w-layout-grid sale001-block1__grid\">\n\t\t\t\t\t\t\t\t<div class=\"sale001-block1__content\">\n\t\t\t\t\t\t\t\t\t<div class=\"sale001-content__box\">\n\t\t\t\t\t\t\t\t\t\t<div class=\"sale001-block__title\">Соковое <span class=\"color-grey\">трио</span>: Вкус, Свежесть, Выгода</div>\n\t\t\t\t\t\t\t\t\t\t<div>При покупке набора из трех любых свежевыжатых соков, скидка 10%</div>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div><img src=\"images/648efae9e9a6feeb6f351163_img_fruit.webp\" loading=\"lazy\" width=\"368.5\" id=\"w-node-_3339876b-acba-b537-b154-79cdea96513c-61a396b6\" srcset=\"images/648efae9e9a6feeb6f351163_img_fruit-p-500.webp 500w, images/648efae9e9a6feeb6f351163_img_fruit.webp 737w\" sizes=\"(max-width: 479px) 100vw, 368.5px\" alt class=\"sale001-grid__image\"></div><a href=\"#\" class=\"sale001-btn w-button\">Участвовать</a></div>\n\t\t\t\t\t\t<div id=\"w-node-_3339876b-acba-b537-b154-79cdea96513f-61a396b6\" class=\"sale001-grid__block2\">\n\t\t\t\t\t\t\t<div class=\"sale001-block1__content\">\n\t\t\t\t\t\t\t\t<div class=\"sale001-content__box\">\n\t\t\t\t\t\t\t\t\t<div class=\"sale001-block__title\">Соки на порог: Доставка, Вкус и <span class=\"color-grey\">0 рублей!</span></div>\n\t\t\t\t\t\t\t\t\t<div class=\"sale001-block__desc\">Бесплатная доставка при заказе от 1000₽</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div><a href=\"#\" class=\"collinc002 w-inline-block\"><div class=\"text-block-20\">В каталог</div><img src=\"images/646485c8d51d3b84b47614fd_arrow.svg\" loading=\"lazy\" alt></a><img src=\"images/648efae9d557a43ba6b5d1b5_img_orange.webp\" loading=\"lazy\" width=\"221.5\" alt class=\"sale001-block2__image\"></div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</section>\n\t\t\t<footer data-block=\"free6\" class=\"footer fot006\">\n\t\t\t\t<div class=\"container-3\">\n\t\t\t\t\t<div class=\"w-layout-grid fot006-grid\">\n\t\t\t\t\t\t<div id=\"w-node-_7c47d75a-f5e5-b6ba-f44e-e3bf6a7034f2-61a396b6\" class=\"fot006-col1\"><img src=\"images/648efae948dec1f207356686_logo.svg\" loading=\"lazy\" id=\"w-node-_7c47d75a-f5e5-b6ba-f44e-e3bf6a7034f3-61a396b6\" alt>\n\t\t\t\t\t\t\t<div class=\"fot006-social__items\"><a href=\"#\" class=\"w-inline-block\"><img src=\"images/648efae9f0758ca30fe100db_vk.svg\" loading=\"lazy\" alt></a><a href=\"#\" class=\"w-inline-block\"><img src=\"images/648efae9b0e3cbc730df8947_youtube.svg\" loading=\"lazy\" alt></a><a href=\"#\" class=\"w-inline-block\"><img src=\"images/648efae9ff7506721820c84c_twitter.svg\" loading=\"lazy\" alt></a></div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<ul id=\"w-node-_7c47d75a-f5e5-b6ba-f44e-e3bf6a7034fb-61a396b6\" role=\"list\" class=\"fot006-nav__items\">\n\t\t\t\t\t\t\t<li><a href=\"#\" class=\"fot006-nav__item\">Каталог</a></li>\n\t\t\t\t\t\t\t<li><a href=\"#\" class=\"fot006-nav__item\">Рецепты</a></li>\n\t\t\t\t\t\t\t<li><a href=\"#\" class=\"fot006-nav__item\">Контакты</a></li>\n\t\t\t\t\t\t\t<li><a href=\"#\" class=\"fot006-nav__item\">Доставка и оплата</a></li>\n\t\t\t\t\t\t\t<li><a href=\"#\" class=\"fot006-nav__item\">Опт</a></li>\n\t\t\t\t\t\t\t<li><a href=\"#\" class=\"fot006-nav__item\">О нас</a></li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t<div id=\"w-node-_7c47d75a-f5e5-b6ba-f44e-e3bf6a70350e-61a396b6\" class=\"fot006-col2\"><a href=\"#\" class=\"fot006-privacy__link\">Политика конфиденциальности</a>\n\t\t\t\t\t\t\t<div class=\"text-block-24\">© 2018 - 2023 Fresh&press</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</footer>\n\t\t</div>\n\t\t<script src=\"https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=648d6d90941c4fe361a396b2\" type=\"text/javascript\" integrity=\"sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=\" crossorigin=\"anonymous\"></script>\n\t\t<script src=\"js/script.js?ver=1687335227\"></script>\n\t\t<script src=\"./mail.js\" type=\"text/javascript\"></script>\n\t\t<script src=\"https://www.google.com/recaptcha/api.js\"></script>\n\t\t<script type=\"text/javascript\">$(document).ready(function(){$('[href*=\"brandjs\"],.w-webflow-badge').attr('style', 'display:none !important');$('a[href=\"'+window.location.href+'\"]').addClass('w--current');});</script>\n\t</body>\n</html>\n"
      },
      "id": "857ab1e7-ad4e-4efd-85e6-62aa343af78d",
      "name": "HTML2",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        120,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "html",
        "options": {
          "fileName": "index.html"
        }
      },
      "id": "a53dede8-13fc-4cb0-a008-edcbd2b25f7a",
      "name": "Convert to File2",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        360,
        -400
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "id": "5e0a1386-e462-43b3-bc52-d9242d2a364f",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        -400
      ]
    },
    {
      "parameters": {
        "path": "index",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4f0c06e8-4317-40e3-bbc2-562ef3e73436",
      "name": "index",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        -400
      ],
      "webhookId": "9e3efe91-72ad-4cfa-b976-716430de766f"
    },
    {
      "parameters": {
        "path": "pca",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "26e07534-93cf-480e-bbaa-1614c2028220",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -300,
        -180
      ],
      "webhookId": "9e3efe91-72ad-4cfa-b976-716430de766f"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 6,
  "updatedAt": "2024-05-09T09:07:09.000Z",
  "versionId": "24e270c7-b432-44e6-9026-ac24ab0999b9"
}