workflowMain_TrackCheck.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "fdd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsForvika json для записи": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "fdd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fromWebhoock": {
      "main": [
        [
          {
            "node": "in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fdd": {
      "main": [
        [
          {
            "node": "fromWebhoock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main JSON": {
      "main": [
        [
          {
            "node": "KED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "in": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "main JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KED": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsForAleks": {
      "main": [
        [
          {
            "node": "in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForEvg json для записи": {
      "main": [
        [
          {
            "node": "zsForAleks2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsForAleks2": {
      "main": [
        []
      ]
    },
    "ZsForEvg 01.00": {
      "main": [
        [
          {
            "node": "ZsForEvg json для записи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForNat json для записи1": {
      "main": [
        [
          {
            "node": "zsForAleks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForNat 00.00": {
      "main": [
        [
          {
            "node": "ForNat json для записи1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForVika 06:00": {
      "main": [
        [
          {
            "node": "zsForvika json для записи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsForHel04.00": {
      "main": [
        [
          {
            "node": "zsForHel json для записи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForVika2 05.03": {
      "main": [
        [
          {
            "node": "ZsForVika2 json для записи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsForAleks 22.00": {
      "main": [
        [
          {
            "node": "zsForAleks json для записи1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsForAleks json для записи1": {
      "main": [
        [
          {
            "node": "ZsForAleks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAleks": {
      "main": [
        [
          {
            "node": "in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForIra json для записи": {
      "main": [
        [
          {
            "node": "ForIra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForIra": {
      "main": [
        []
      ]
    },
    "zsForHel json для записи": {
      "main": [
        [
          {
            "node": "zsForHel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForVika2 json для записи": {
      "main": [
        [
          {
            "node": "zsForHel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsForHel": {
      "main": [
        []
      ]
    },
    "zsForHel1": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "ZsTest json для записи1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "zsForAleks json для записи1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [
          {
            "node": "ForNat json для записи1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "zsForvika json для записи",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [
          {
            "node": "ZsNatNik4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsTest json для записи1": {
      "main": [
        [
          {
            "node": "ZsTest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForIra 00.30": {
      "main": [
        [
          {
            "node": "ForIra json для записи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsAli": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Отправка запроса на сбор треков в одну таблицу": {
      "main": [
        []
      ]
    },
    "zsForvika json для записи2": {
      "main": [
        [
          {
            "node": "ZsForVika2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForVika2": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForIra1": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForIra2": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "23:30 Ира запуск сбора треков во все треки": {
      "main": [
        [
          {
            "node": "ForIra1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14:30 Ира запуск переноса доставленых": {
      "main": [
        [
          {
            "node": "ForIra2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForIra5": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12:30 Ира запуск переноса ВрОтпр": {
      "main": [
        [
          {
            "node": "ForIra5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn 01.02": {
      "main": [
        [
          {
            "node": "ZsForAnn10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "ZsAli1 08:03": {
      "main": [
        [
          {
            "node": "zsAli",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsAliTwo 7:33": {
      "main": [
        [
          {
            "node": "zsAli7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn3": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn6": {
      "main": [
        [
          {
            "node": "ZsForAnn7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn5": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn7": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsAli7": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12:06 ZsForAnn2": {
      "main": [
        [
          {
            "node": "ZsForAnn6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn8": {
      "main": [
        [
          {
            "node": "ZsForAnn5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn9": {
      "main": [
        [
          {
            "node": "ZsForAnn3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn10": {
      "main": [
        [
          {
            "node": "ZsForAnn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        []
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Добавление записи в таблицу 445",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "19:20 ZsForAnn": {
      "main": [
        [
          {
            "node": "ZsForAnn9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn11": {
      "main": [
        [
          {
            "node": "ZsForVikux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18.40 ZsForVikux": {
      "main": [
        [
          {
            "node": "ZsForAnn11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForVikux": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn12": {
      "main": [
        [
          {
            "node": "ZsForVikux1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn13": {
      "main": [
        [
          {
            "node": "ZsForVikux2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForVikux1": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForVikux2": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14.10 ZsForVikux2": {
      "main": [
        [
          {
            "node": "ZsForAnn13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsAli8": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForVikux3": {
      "main": [
        [
          {
            "node": "zsAli8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        []
      ]
    },
    "ZsForVikux4": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18.00 ZsForVika12": {
      "main": [
        [
          {
            "node": "ZsForVikux4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForVikux5": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForVikux6": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18:05 ZsForAnn1": {
      "main": [
        [
          {
            "node": "ZsForAnn8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20.40 ZsForVikux1": {
      "main": [
        [
          {
            "node": "ZsForAnn12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "22.40 ZsForVika12": {
      "main": [
        [
          {
            "node": "ZsForVikux5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15.20 ZsForVika12": {
      "main": [
        [
          {
            "node": "ZsForVikux6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn17": {
      "main": [
        [
          {
            "node": "ZsForVikux7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForVikux7": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02.00 zsForHel": {
      "main": [
        [
          {
            "node": "ZsForAnn17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn18": {
      "main": [
        [
          {
            "node": "ZsForVikux8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForVikux8": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00.00 zsForHel": {
      "main": [
        [
          {
            "node": "ZsForAnn18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAnn19": {
      "main": [
        [
          {
            "node": "zsForHel2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zsForHel2": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08.00 zsForHel": {
      "main": [
        [
          {
            "node": "ZsForAnn19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForNat1": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForNat3": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForNat": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20.00 ForNat": {
      "main": [
        [
          {
            "node": "ForNat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "19.20 ForNat": {
      "main": [
        [
          {
            "node": "ForNat3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09.00 ForNat": {
      "main": [
        [
          {
            "node": "ForNat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsNatNik1": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForNat4": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ForNat2": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsNatNik4": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsNatNik5": {
      "main": [
        [
          {
            "node": "ZsNatNik4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "21:00 ZsNatNik": {
      "main": [
        [
          {
            "node": "ZsNatNik1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15:20 ZsNatNik2": {
      "main": [
        [
          {
            "node": "ForNat4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13:00 ZsNatNik3": {
      "main": [
        [
          {
            "node": "ForNat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAleks1": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "22:00 ZsForAleks": {
      "main": [
        [
          {
            "node": "ZsForAleks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAleks2": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsForAleks3": {
      "main": [
        [
          {
            "node": "Отправка запроса на сбор треков в одну таблицу31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20:00 ZsForAleks1": {
      "main": [
        [
          {
            "node": "ZsForAleks2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18:00 ZsForAleks2": {
      "main": [
        [
          {
            "node": "ZsForAleks3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZsTest": {
      "main": [
        [
          {
            "node": "in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-29T08:22:07.757Z",
  "id": "5teSeVT776DF4RDh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Main_TrackCheck",
  "nodes": [
    {
      "parameters": {
        "path": "check_start",
        "options": {}
      },
      "id": "d0407132-37b2-4e40-8812-b26bd59db0ce",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1184,
        512
      ],
      "webhookId": "5624678a-350e-4e6a-8fd2-cbc277a8d75d"
    },
    {
      "parameters": {},
      "id": "d41c6eab-9780-4ded-a24f-0281ec461079",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        272
      ]
    },
    {
      "parameters": {
        "url": "={{ $('main JSON').first().json.data.endPoints['Стартовая колбаса всего процесса'] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ProcessID",
              "value": "={{ $json.ProcessID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8792b51-b461-4840-b22e-ba3388c4eb09",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1504,
        48
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "zsForvika"
            }
          ]
        },
        "options": {}
      },
      "id": "8c32b31c-7838-44e4-b82e-8a894fa2eb29",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        800,
        32
      ]
    },
    {
      "parameters": {
        "content": "## Прод\n\nhttps://n8n.makeesn8n.online/webhook/check_start?ProcessID=zsForvika\n\nhttps://n8n.makeesn8n.online/webhook/check_start?ProcessID=ZsForAnn\n\nhttps://n8n.makeesn8n.online/webhook/check_start?ProcessID=ZsTest\n\nhttps://n8n.makeesn8n.online/webhook/check_start?ProcessID=ZsForAleks\n\nhttps://n8n.makeesn8n.online/webhook/check_start?ProcessID=ForNat\n\nhttps://n8n.makeesn8n.online/webhook/check_start?ProcessID=ZsForEvg",
        "height": 394.58116653873867,
        "width": 592.8092063989591,
        "color": 4
      },
      "id": "be0f2e51-0087-4c87-a80b-d9bd099651e6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2192,
        -48
      ]
    },
    {
      "parameters": {},
      "id": "ceeed594-2d85-4ba9-a1cc-6a71fa2527c1",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2064,
        -384
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"zsForvika\",\n          \"start_tableID\": \"1_9LgkTKoyqjtKD4zr8yrpiS8B626zwwShptCgpfJhoE\",\n          \"start_pageID\": 672397081,\n          \"statistic_tableID\": \"видемоненужен\",\n          \"statistic_pageID\": 111111,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/zsForvika.json"
      },
      "id": "d685e825-5d86-4155-ac6e-ed3c26839f33",
      "name": "zsForvika json для записи",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        608,
        32
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForAnn"
            }
          ]
        },
        "options": {}
      },
      "id": "c68ad585-152a-4f0c-afda-8263c82c36ff",
      "name": "ZsForAnn",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1184,
        -1200
      ]
    },
    {
      "parameters": {
        "jsCode": "return (\n  [\n  {\n    \"headers\": {\n      \"host\": \"n8n.makees.online\",\n      \"user-agent\": \"Mozilla/5.0 (X11; Linux x86_64; rv:121.0) Gecko/20100101 Firefox/121.0\",\n      \"accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n      \"accept-encoding\": \"gzip, deflate, br\",\n      \"accept-language\": \"ru-RU,ru;q=0.8,en-US;q=0.5,en;q=0.3\",\n      \"cookie\": \"rl_session=RudderEncrypt%3AU2FsdGVkX19O7nOOSl%2FVhw%2Ba95IIt9AAa%2B5V4TXBsYjaiyt7EYzFD%2Br8F63GxZWrqqlq60y5YlzV3dNhjZeoWWvcfhWauiG1bEnu9V2EWVwxdU9x4HMvbieBnnKpxnw%2BYlmWf3w3cI9plTt2cnKFOQ%3D%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FRORbOuMPL5zz7FaZct9iLwMsDxAkPmZxrBBbba%2BNh3MGzTr8Y%2F38tSIdMJwra4QBtGVN17RmDiA%3D%3D; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19cHT5er3V00ROldkxpYsgFyX1DJVpBvnU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19AGnAzbZHoS6q%2FZgVoQoirlGLyVD9zZHg%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjkwYWZjMDZkLWE2OGEtNGQ0NS05ZWIzLThjOWQ2YTE2MTUwYiIsImVtYWlsIjoibWFrZWVzLmJ5QG1haWwucnUiLCJwYXNzd29yZCI6IjNiMTFiY2Q2OThmMzMwZDY1MGNlYTc3MGU5NGFjOTg4OTY2ZmMzMWM5OGNhYzMwYWZiYjVlMDk0ODhhNjBkN2IiLCJpYXQiOjE3MDY1OTY5OTIsImV4cCI6MTcwNzIwMTc5Mn0.geUONct-9mcH6Nj61S4_XQppWHil9TGGyf1D1WU7KKU; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2B8%2BLcuvD1t8DInPFlrRF7eyEYGsKZdL1P7vEKo3tKfQw%2BqThsHrsyylReu1suZe%2FghtOLayxybXZROD3XmXNMlB2neQKTMMhsoUBCku08dMPsiQfpYZWtedI692eVMsIBs0znzK6roa7ZUTOQwTyCP%2FlsagULTp18%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19CREtYWjfsmdrvXhhkIZQ68IQ1G8wm5tTn3%2F1sYxdJy23ltoWmZ3T46Rp5mZQ1sZNwLx0Oo2KXz7JOAa%2FwQnMAVgcJj9HSxLc6vxB26%2B3TAEFb8dMSZV5KFNpDF5mc9icVUMT%2BZJypDQ%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22007eae0f129aaf44ffdcbfd7690634716e980b9d6c41c19cb9666ce63f7be59a%2390afc06d-a68a-4d45-9eb3-8c9d6a16150b%22%2C%22%24sesid%22%3A%5B1706693811824%2C%22018d5ecc-fc6a-7358-b52c-36f285c1443a%22%2C1706692508778%5D%7D\",\n      \"referer\": \"https://n8n.makees.online/workflow/5teSeVT776DF4RDh\",\n      \"sec-fetch-dest\": \"document\",\n      \"sec-fetch-mode\": \"navigate\",\n      \"sec-fetch-site\": \"same-origin\",\n      \"sec-fetch-user\": \"?1\",\n      \"te\": \"trailers\",\n      \"upgrade-insecure-requests\": \"1\",\n      \"x-forwarded-for\": \"37.215.43.175\",\n      \"x-forwarded-host\": \"n8n.makees.online\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"316b8289a2b8\",\n      \"x-real-ip\": \"37.215.43.175\"\n    },\n    \"params\": {},\n    \"query\": {\n      \"ProcessID\": \"ZsForAnn\"\n    }\n  }\n]\n);"
      },
      "id": "5ea807c6-ed28-409a-85a5-8da07bd6320b",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        688
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "={{ $json.query.ProcessID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "51d91f32-c1ac-47c1-8933-99a01fb61acb",
      "name": "fromWebhoock",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1152,
        352
      ]
    },
    {
      "parameters": {},
      "id": "dbadb844-2e70-4cde-9a34-666f0dd67d31",
      "name": "fdd",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1568,
        512
      ]
    },
    {
      "parameters": {
        "filePath": "=root/n8n/main.json"
      },
      "id": "84b6167d-6d3d-42d3-9a44-af26367fd42d",
      "name": "main JSON",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1312,
        -176
      ]
    },
    {
      "parameters": {},
      "id": "bf49d34c-e0d4-475d-ace8-5953ed2a408a",
      "name": "in",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1264,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Страница }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a925c40b-4cb4-4b50-b505-5a0d869960a5",
      "name": "KED",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1504,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAleks\",\n          \"start_tableID\": \"1_84W5K2Y0OQIV3sQ_3-slXomzwg9quNEJX3DCMafrls\",\n          \"start_pageID\": 690413794,\n          \"statistic_tableID\": \"видемоненужен\",\n          \"statistic_pageID\": 111111,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAleks.json"
      },
      "id": "34622a35-2612-4d3b-8dff-06a70e13fddf",
      "name": "zsForAleks json для записи",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -880,
        80
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ForNat"
            }
          ]
        },
        "options": {}
      },
      "id": "4d45d0b7-749f-4ab9-bd16-e29c1965e017",
      "name": "zsForAleks",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        800,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForEvg\",\n          \"start_tableID\": \"1SJ_0NENavMNW6DGrKdjrTqF_PpFVeDnovS-bBd2dmhA\",\n          \"start_pageID\": 1401389950,\n          \"statistic_tableID\": \"видемоненужен\",\n          \"statistic_pageID\": 111111,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForEvg.json"
      },
      "id": "390fd6bd-7260-4516-9b35-3e07a710bcd5",
      "name": "ZsForEvg json для записи",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1408,
        -1360
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForEvg"
            }
          ]
        },
        "options": {}
      },
      "id": "baef0a05-4935-4dd7-adfc-0a5aa1e93b42",
      "name": "zsForAleks2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1168,
        -1360
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2,
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "id": "f2554855-d1f1-4fa8-b134-289075036165",
      "name": "ZsForEvg 01.00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1680,
        -1360
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={  \"process\": {\n        \"variebles\": {\n          \"processID\": \"ForNat\",\n          \"start_tableID\": \"1AN7FDBnws_3WXzBEwkcGiU9ag2_55VuBUIW-QzxR3As\",\n          \"start_pageID\": 690413794,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ForNat.json"
      },
      "id": "2bb177cd-c9d6-42cc-938b-76c01c60c8a4",
      "name": "ForNat json для записи1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        608,
        -160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "id": "96540e54-f38a-4825-a4f9-f660ed9a3245",
      "name": "ForNat 00.00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        368,
        -208
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4,
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "id": "8d09b088-bda4-41af-a4f1-05183b74e380",
      "name": "ForVika 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        368,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"zsForvika\",\n          \"start_tableID\": \"1_9LgkTKoyqjtKD4zr8yrpiS8B626zwwShptCgpfJhoE\",\n          \"start_pageID\": 672397081,\n          \"statistic_tableID\": \"видемоненужен\",\n          \"statistic_pageID\": 111111,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/zsForvika.json"
      },
      "id": "581eb29f-8015-4061-a75e-b75b8d9f25c6",
      "name": "zsForvika json для записи1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -880,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={  \"process\": {\n        \"variebles\": {\n          \"processID\": \"ForIra\",\n          \"start_tableID\": \"16oHTECcQN5z7xQ-3zBZCfgFNOM5MX0N7bE3S3QeiX1s\",\n          \"start_pageID\": 343946080,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ForIra.json"
      },
      "id": "0b09fc84-f7e7-4fa4-9a17-bab9add74d3b",
      "name": "ForIra json для записи",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1408,
        -1040
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={  \"process\": {\n        \"variebles\": {\n          \"processID\": \"zsForHel\",\n          \"start_tableID\": \"1n3nX5v-VPKJ1UKhidUuZptp6qWaK_h578srAILPywI8\",\n          \"start_pageID\": 1401389950,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/zsForHel.json"
      },
      "id": "988c716a-afd3-42c5-9ad0-59d2510e883e",
      "name": "zsForHel json для записи",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -2144,
        -1312
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={  \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsTest\",\n          \"start_tableID\": \"1E2_AUgkcpy0BrVZotmTyCH2Uy8ShDSkNZCpCddFwL-A\",\n          \"start_pageID\": 690413794,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n     \"Balancer\": {\n        \"balance_BP\":\"Off\"\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsTest.json"
      },
      "id": "0b941aa2-524c-4648-a8a2-0f2621e0c086",
      "name": "ZsTest json для записи1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        128,
        -480
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAleks\",\n          \"start_tableID\": \"1_84W5K2Y0OQIV3sQ_3-slXomzwg9quNEJX3DCMafrls\",\n          \"start_pageID\": 690413794,\n          \"statistic_tableID\": \"видемоненужен\",\n          \"statistic_pageID\": 111111,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAleks.json"
      },
      "id": "3040e45f-c7f0-4a0f-bc53-df63aa341578",
      "name": "zsForAleks json для записи1",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        608,
        -336
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4,
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "id": "2672ca81-62eb-420e-ac76-114d08620c3b",
      "name": "zsForHel04.00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2368,
        -1312
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={  \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForVika2\",\n          \"start_tableID\": \"1HL9c5S_w9k61gt4o64zVGXBVtrj_NjrMwA2ttS_ifvw\",\n          \"start_pageID\": 672397081,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n     \"Balancer\": {\n        \"balance_BP\":\"Off\"\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForVika2.json"
      },
      "id": "638fddc5-2a6d-4929-abc2-5081684458dd",
      "name": "ZsForVika2 json для записи",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1392,
        -880
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "id": "c73ac8a5-a038-44ee-a2ca-e214cbd65443",
      "name": "ZsForVika2 05.03",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1696,
        -880
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22,
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "id": "4520c00d-eada-4254-8e65-5bb66821a441",
      "name": "zsForAleks 22.00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        368,
        -368
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForAleks"
            }
          ]
        },
        "options": {}
      },
      "id": "34aedf32-158a-4c77-bbdf-5d1e442dd284",
      "name": "ZsForAleks",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        800,
        -336
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ForIra"
            }
          ]
        },
        "options": {}
      },
      "id": "069ad3f6-cd91-4eed-8982-485c41e57de4",
      "name": "ForIra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1184,
        -1040
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "zsForHel"
            }
          ]
        },
        "options": {}
      },
      "id": "7584ec57-bc4a-442a-8eb4-5996c39eed5e",
      "name": "zsForHel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1904,
        -1312
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForVika2"
            }
          ]
        },
        "options": {}
      },
      "id": "e2da2845-2104-4db5-805d-6c108410b99e",
      "name": "zsForHel1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1184,
        -880
      ]
    },
    {
      "parameters": {
        "path": "check_ReStart",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6409cfab-b218-4cbb-a8b7-08bfb18b72cc",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -640,
        0
      ],
      "webhookId": "5624678a-350e-4e6a-8fd2-cbc277a8d75d"
    },
    {
      "parameters": {
        "jsCode": "return (\n  [\n  {\n    \"headers\": {\n      \"host\": \"n8n.makeesn8n.online\",\n      \"user-agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36\",\n      \"accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7\",\n      \"accept-encoding\": \"gzip, deflate, br, zstd\",\n      \"accept-language\": \"ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7\",\n      \"cookie\": \"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19M0KbPPf%2BMMzWm6l%2FQfsZzltqvWwlBDJI%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2B7JiQNLMlL1cfIcgOMnP%2BIERrBpNT%2B9eQ%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjkwYWZjMDZkLWE2OGEtNGQ0NS05ZWIzLThjOWQ2YTE2MTUwYiIsImhhc2giOiJSclNmRXlWeHRSIiwiYnJvd3NlcklkIjoiRVdySjZuZkZWOXpRNm1vczZDU3lHMFFCQW1qeHZ3cnVSVFQ5bmNPcW5CMD0iLCJpYXQiOjE3MzgwOTYxMzcsImV4cCI6MTczODcwMDkzN30.8u6Jf_eN6gUg713Mm1cPi_nRi1XN3ObEAxpHM2j3oZo; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18%2BPXCFlaoghGkghJNAh4qgMQOMHRXnfLS%2FuTJJD%2F79rYCo3VSJvr4YYvv79Zj61ERnEhADANQsQQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2B3t9h1upe%2BjTNA7%2F6s0HW2uneNpUgg6Yc33VHmwGj%2Fmbm9fXADJbYxMoPCNyliVX%2FB5cKHhZ4WPSXM0fWh3GAw%2FefTNXcJ4XAEeuRuMmteBlcEr1SgxN2h9Mo%2ByIW7mAMoxVOZKbCrX8WXm64nEP3F%2FaqROgFojNo%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BY0sW%2FpJuH8yQNv6cRYhCSrq95JKKOxiNZJDB%2BIYqFwcvZ9cj3H0y5Tp415rrTU82mn3PFNoEtWIoMSoc8C0BkDksnZmtcZTWlLIPOnMWh2g%2BlmsSlcpMhK%2FoSHTNFNgtSEiYPQghTaQ%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2BpQiykqYfcYKojg7beMmBdxsmqril6C1tDiajoem%2B64i0BrXYA3O39xEBIS%2BeT9YcP1NnYh9dO%2FSGwmMABPvXUQ1OE5RtUieXUF6dT2mVPe6XhDsmlU3T7g9%2FTZWAM4SF5PeRuZwZTCA%3D%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2B180yhO7eiTPOpryQn8H62GITyNgcPk9KYmYeKf0%2FEykAlz%2F1MKKosGYT2W4gz9z%2B60B8dYSiNaA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19g0KluNzUf0i8Xho3cwwFEG%2FC6ZMHrgsM1gdXSVssO7s2MBW8zCrMfoN%2BTNglj0V4qNripSA69tSq%2BAJSbPb6BIwLdZrKolx%2FHnOouvCez42an%2BaJydjPAboQSo7MJUtGDoJ%2FnjMA6b3i%2BhKr8%2BNmjHV1yCV%2BA5PM%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BVujN3PC%2F5VcO9u2fBfbvLu1S7GLuzZLtpd7NNVfZ3gF%2FI1YpJHQtVa1W%2FY1%2Bu63tSV5vaP9oc1c%2FBLOLri8YKGhMecyrR55Q2X6E6tg3rUXl76y1ItO1ARTWK4UpPsp7bfawhmrDJOQ%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22007eae0f129aaf44ffdcbfd7690634716e980b9d6c41c19cb9666ce63f7be59a%2390afc06d-a68a-4d45-9eb3-8c9d6a16150b%22%2C%22%24sesid%22%3A%5B1738352774457%2C%220194bde3-e1ea-7e93-b3ef-4b53c70b3620%22%2C1738352615914%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8ns.makeesn8n.online%2Fsignin%3Fredirect%3D%25252F%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX185YmtZVWgMhQ4%2B%2FycbntXXR6EQ%2BVJUBa1LDPK7P5pOTtvRf9bYt0z57YoJY8f4jbjh5dl8ACvz%2FheiumApM1FO7KUC90LlI81ku2bFEoJy8PUW4uOJkZQXsOlN2uCBQuofXBD0IHn4ig%3D%3D\",\n      \"priority\": \"u=0, i\",\n      \"referer\": \"https://n8n.makeesn8n.online/webhook/all_user_tracking\",\n      \"sec-ch-ua\": \"\\\"Not A(Brand\\\";v=\\\"8\\\", \\\"Chromium\\\";v=\\\"132\\\", \\\"Google Chrome\\\";v=\\\"132\\\"\",\n      \"sec-ch-ua-mobile\": \"?0\",\n      \"sec-ch-ua-platform\": \"\\\"Windows\\\"\",\n      \"sec-fetch-dest\": \"document\",\n      \"sec-fetch-mode\": \"navigate\",\n      \"sec-fetch-site\": \"same-origin\",\n      \"sec-fetch-user\": \"?1\",\n      \"upgrade-insecure-requests\": \"1\",\n      \"x-forwarded-for\": \"37.215.5.139\",\n      \"x-forwarded-host\": \"n8n.makeesn8n.online\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"1f3353e3b88e\",\n      \"x-real-ip\": \"37.215.5.139\"\n    },\n    \"params\": {},\n    \"query\": {\n      \"ProcessID\": \"zstest\"\n    },\n    \"webhookUrl\": \"https://n8n.makeesn8n.online/webhook/check_ReStart\",\n    \"executionMode\": \"production\"\n  }\n]\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        128
      ],
      "id": "2feb8245-b73b-428a-895a-1b65b8f59507",
      "name": "Code1",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "ZsTest",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0cb7a501-8b57-4e40-87e8-a8f8ce01af38"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ZsTest"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1c528f5d-8d8e-4b68-94d0-1d8b0d5eb49b",
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "ZsForAleks",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ZsForAleks"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2bc78532-4e16-435f-b32a-2671563339f9",
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "zsForHel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "zsForHel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "68b12de8-dbee-4990-b5cb-5b15a9598ed9",
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "ForIra",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ForIra"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ab87056-fd09-414a-b3af-1e5cf944cfdd",
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "ZsForVika2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ZsForVika2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fcd1f76d-c6b3-4ebc-9f93-e076ad1e7bb8",
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "ZsForAnn",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ZsForAnn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b7399408-b49a-4b46-b9d9-3d838e3caf52",
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "ForNat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ForNat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e8648b5-0f3d-4473-a2e5-fc1c63cbbcb9",
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "zsForvika",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "zsForvika"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "78817774-c2e9-4f12-bb0d-68a2d634cc02",
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "zsAli",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "zsAli"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f788e67e-8e72-4ae4-a8ab-35419994c223",
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "zsAliTwo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "zsAliTwo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47139a22-62ff-4817-b37a-345c880d331f",
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "ZsForVikux",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ZsForVikux"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "04de09af-89fe-4170-9f87-a774f2b89475",
                    "leftValue": "={{ $json.query.ProcessID }}",
                    "rightValue": "ZsNatNik",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ZsNatNik"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -144,
        -96
      ],
      "id": "087d08e1-4fde-464e-9b04-d1786077f722",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00fd7f5e-933b-43fa-b8ae-9ba448cfd74d",
              "name": "html",
              "value": "=<!DOCTYPE html>\n<html lang=\"ru\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Список из JSON</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 20px;\n            font-size: 1.2rem;\n            font-family: sans-serif;\ncolor: #C5C6C7;\nbackground: #0B0C10;\n        }\n        ul {\n            list-style-type: none;\n            padding: 0;\n        }\n        li {\n            background: #1F2833;\n            margin: 5px 0;\n            padding: 10px;\n            border-radius: 5px;\n        }\n        p {\n            line-height: 1.4;\n          }\n        a {\n             outline: none;\n             text-decoration: none;\n             padding: 2px 1px 0;\n        }\n   a:link {\n              color: #C5C6C7;\n          }\na:visited {\n  color: #C5C6C7;\n}\n\na:focus {\n  border-bottom: 1px solid;\n  background: #66FCF1;\n}\n\na:hover {\n  border-bottom: 1px solid;\n  color: #0B0C10;\n  background: #cdfeaa;\n}\n\na:active {\n  background: #45A29E;\n  color: #C5C6C7;\n}\n        .key {\n            font-weight: bold;\n        }\n    </style>\n</head>\n<body>\n    <h1>Процесс успешно запустился User</h1>\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "59465017-dc80-4849-81ff-5974c00d4dc4",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -656
      ]
    },
    {
      "parameters": {
        "html": "{{ $json.html }}"
      },
      "id": "cd871133-f8f0-4ef2-b0e2-0808de84c6f5",
      "name": "HTML1",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1504,
        -464
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "id": "7db98fca-ea76-4e85-9efb-5af1c909eace",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        -464
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "a9ae4710-7eac-4f90-8106-97a15c517ebf",
      "name": "ForIra 00.30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1680,
        -1040
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "zsAli"
            }
          ]
        },
        "options": {}
      },
      "id": "3a6f5978-f15b-45a4-bd90-2a324e63920b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1920,
        -1024
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"zsAlI\",\n          \"start_tableID\": \"1LkwUx00HWCfu_oSwnH3NVeTF_QiEwytuEO37R12TkWY\",\n          \"start_pageID\": 0,\n          \"statistic_tableID\": \"видемоненужен\",\n          \"statistic_pageID\": 111111,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/zsAli.json"
      },
      "id": "fe0185cf-2f36-427e-8673-182bbfd7d87b",
      "name": "zsAli",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -2160,
        -1024
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zn5JTyUll3Jg1DhU",
          "mode": "list",
          "cachedResultName": "Сбор треков в одну таблицу"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1216,
        544
      ],
      "id": "83097688-c6e9-46ea-9172-cbcd8e1e35a4",
      "name": "Отправка запроса на сбор треков в одну таблицу"
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"zsForvika\",\n          \"start_tableID\": \"1_9LgkTKoyqjtKD4zr8yrpiS8B626zwwShptCgpfJhoE\",\n          \"start_pageID\": 672397081,\n          \"statistic_tableID\": \"видемоненужен\",\n          \"statistic_pageID\": 111111,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/zsForvika.json"
      },
      "id": "7789213b-f856-416d-82de-d9540e7a05c1",
      "name": "zsForvika json для записи2",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1024,
        544
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cVC6t8mW8i9zazSD",
          "mode": "list",
          "cachedResultName": "Сбор треков в одну таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -624,
        544
      ],
      "id": "46f59b94-4b65-48e3-b6af-3017d8b9239f",
      "name": "Отправка запроса на сбор треков в одну таблицу1"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForVika2"
            }
          ]
        },
        "options": {}
      },
      "id": "dc6959dc-2cd3-41dd-84a7-b9825478849a",
      "name": "ZsForVika2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -816,
        544
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ForIra"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "1f413cc2-1885-4fa1-8eb6-de9c08b2e65e",
      "name": "ForIra1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1328,
        1824
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cVC6t8mW8i9zazSD",
          "mode": "list",
          "cachedResultName": "Сбор треков в одну таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1136,
        1824
      ],
      "id": "ebea4c00-99aa-4fdb-8a85-97220f912e0b",
      "name": "Отправка запроса на сбор треков в одну таблицу2"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ForIra"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "f8713a8d-f056-41d1-806f-578d69c96fb2",
      "name": "ForIra2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -128,
        1824
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yzGni57zMlaAsGzq",
          "mode": "list",
          "cachedResultName": "Перенос доставленых в отдельную таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        80,
        1824
      ],
      "id": "517e2a01-4ea1-4d0a-845e-c7fb5914b21b",
      "name": "Отправка запроса на сбор треков в одну таблицу3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "5d7f73eb-0126-4755-977a-2afd381f6ec8",
      "name": "23:30 Ира запуск сбора треков во все треки",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        1824
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "287e13e6-7be3-4e8a-aed0-bba8732b4d25",
      "name": "14:30 Ира запуск переноса доставленых",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        1824
      ]
    },
    {
      "parameters": {
        "content": "# Сбор всех доставленых",
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        1760
      ],
      "typeVersion": 1,
      "id": "9518b6c5-0f72-42be-b90c-e824fcb562bb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Сбор всех треков",
        "height": 100,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        1840
      ],
      "typeVersion": 1,
      "id": "8aec9ed8-d49c-4988-8dd8-d17257dc6cc1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ForIra"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "8045c9c1-81aa-4364-bfd7-48eb199879b0",
      "name": "ForIra5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1120,
        1840
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7fnXycgDiNJ7YWwO",
          "mode": "list",
          "cachedResultName": "Перенос ВрОтпр в отдельную таблицу (для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1360,
        1840
      ],
      "id": "23b709fd-e81b-484c-a21e-a06973707222",
      "name": "Отправка запроса на сбор треков в одну таблицу6"
    },
    {
      "parameters": {
        "content": "# Сбор всех Врученых Отправителю",
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        1792
      ],
      "typeVersion": 1,
      "id": "57ea283c-49b7-4852-9337-f1ce85162bc1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "c7eee5e4-2cf0-4c70-b982-dff65eb4a44f",
      "name": "12:30 Ира запуск переноса ВрОтпр",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        928,
        1840
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "id": "b39fbebb-e430-4537-8b48-8a758276ca42",
      "name": "ZsForAnn 01.02",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1680,
        -1200
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "zsAliTwo"
            }
          ]
        },
        "options": {}
      },
      "id": "de861b72-4e18-4d6b-96a3-128fa24f3d00",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1920,
        -880
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "id": "e1d9ede4-4b91-4f6f-8532-97cdc969774c",
      "name": "ZsAli1 08:03",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2368,
        -1024
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 39
            }
          ]
        }
      },
      "id": "4262e590-2113-4bcd-8e73-1af3eb097f47",
      "name": "zsAliTwo 7:33",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2368,
        -880
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cVC6t8mW8i9zazSD",
          "mode": "list",
          "cachedResultName": "Сбор треков в одну таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1920,
        2272
      ],
      "id": "d4a16421-2568-427c-9033-89207a1aa05c",
      "name": "Отправка запроса на сбор треков в одну таблицу11"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForAnn"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "7f5bfd70-eca5-4fc9-8a14-910a9cd92349",
      "name": "ZsForAnn3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -2160,
        2272
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForAnn"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "182693e9-2322-4794-b6c0-fab55f16a39c",
      "name": "ZsForAnn5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        96,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAnn\",\n          \"start_tableID\": \"ZlW8jrlog9HZfwj9mmYLcV10txVpsAjEd36_3rM\",\n          \"start_pageID\": 0,\n           \"allTables_pageID\" : 75948859,\n          \"allTraks_pageID\" : 538648616,\n          \"allTraksDone_pageID\" : 111638545,\n          \"allTraksVO_pageID\" : 1463532755\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAnn.json"
      },
      "id": "80af1821-a04a-44e1-9221-9aca5c6be422",
      "name": "ZsForAnn6",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1488,
        1328
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForAnn"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "d2993540-8ee8-42e7-90a5-e0e73c60c5e4",
      "name": "ZsForAnn7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1680,
        1328
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yzGni57zMlaAsGzq",
          "mode": "list",
          "cachedResultName": "Перенос доставленых в отдельную таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        320,
        1280
      ],
      "id": "9cf1dd3a-2597-4560-8675-d4eb1bfa5421",
      "name": "Отправка запроса на сбор треков в одну таблицу12"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7fnXycgDiNJ7YWwO",
          "mode": "list",
          "cachedResultName": "Перенос ВрОтпр в отдельную таблицу (для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1904,
        1328
      ],
      "id": "6ac17deb-e448-41d8-bd64-1607662d0eb7",
      "name": "Отправка запроса на сбор треков в одну таблицу13"
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"zsAliTwo\",\n          \"start_tableID\": \"1pRMSau6rPW4nn0T8fCMsYmKZcmuiIjs4swdsUQsxPSw\",\n          \"start_pageID\": 0,\n           \"allTables_pageID\" : 75948859,\n          \"allTraks_pageID\" : 538648616,\n          \"allTraksDone_pageID\" : 111638545,\n          \"allTraksVO_pageID\" : 1463532755,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/zsAliTwo.json"
      },
      "id": "568c2f96-5eff-4bac-b8c4-d4efd7b6feab",
      "name": "zsAli7",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -2112,
        -880
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 6
            }
          ]
        }
      },
      "id": "e34e185b-c652-469d-8a60-3a5871bcf050",
      "name": "12:06 ZsForAnn2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1280,
        1328
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAnn\",\n          \"start_tableID\": \"ZlW8jrlog9HZfwj9mmYLcV10txVpsAjEd36_3rM\",\n          \"start_pageID\": 0,\n           \"allTables_pageID\" : 75948859,\n          \"allTraks_pageID\" : 538648616,\n          \"allTraksDone_pageID\" : 111638545,\n          \"allTraksVO_pageID\" : 1463532755\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAnn.json"
      },
      "id": "1c508714-5b6a-4c3a-b9b0-df2534ef4dc4",
      "name": "ZsForAnn8",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -112,
        1280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAnn\",\n          \"start_tableID\": \"ZlW8jrlog9HZfwj9mmYLcV10txVpsAjEd36_3rM\",\n          \"start_pageID\": 0,\n           \"allTables_pageID\" : 75948859,\n          \"allTraks_pageID\" : 556008399,\n          \"allTraksDone_pageID\" : 111638545,\n          \"allTraksVO_pageID\" : 1463532755,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAnn.json"
      },
      "id": "e83fdc33-acd2-4d54-aeb3-8568253577bd",
      "name": "ZsForAnn9",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -2352,
        2272
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAnn\",\n          \"start_tableID\": \"1a49-ZlW8jrlog9HZfwj9mmYLcV10txVpsAjEd36_3rM\",\n          \"start_pageID\": 1401389950,\n           \"allTables_pageID\" : \"1a49-ZlW8jrlog9HZfwj9mmYLcV10txVpsAjEd36_3rM\",\n          \"allTraks_pageID\" : 556008399,\n          \"allTraksDone_pageID\" : 55013724,\n          \"allTraksVO_pageID\" : 1161182199,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAnn.json"
      },
      "id": "32191fdd-a4e1-4ab4-8fd7-850752ae6706",
      "name": "ZsForAnn10",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -1424,
        -1200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tablsCC (processID, start_tableID, start_pageID, all_tableID, allTables_pageID, allTraks_pageID, allTraksDone_pageID, allTraksVO_pageID)\nVALUE ('{{ $json.processID }}', '{{ $json.start_tableID }}', {{ $json.start_pageID }}, '{{ $json.all_tableID }}', {{ $json.allTables_pageID }}, {{ $json.allTraks_pageID }}, {{ $json.allTraksDone_pageID }}, {{ $json.allTraksVO_pageID }}); ",
        "options": {}
      },
      "id": "719703e7-06c1-42f8-a1b0-eac3dd35f8fa",
      "name": "Добавление записи в таблицу 445",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1088,
        992
      ],
      "credentials": {
        "mySql": {
          "id": "8aCpW2vOoONBz7HE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f88bd06e-de99-46fb-94aa-f5dbd9f14af3",
              "name": "processID",
              "value": "={{ $json.data.process.variebles.processID }}",
              "type": "string"
            },
            {
              "id": "be53966a-3cb4-4262-abca-d989088172ca",
              "name": "start_tableID",
              "value": "={{ $json.data.process.variebles.start_tableID }}",
              "type": "string"
            },
            {
              "id": "7a7484ea-f15c-4de1-b52a-ade847bba41a",
              "name": "start_pageID",
              "value": "={{ $json.data.process.variebles.start_pageID }}",
              "type": "number"
            },
            {
              "id": "a185434b-c597-462e-bda6-3b61a231fe05",
              "name": "all_tableID",
              "value": "={{ $json.data.process.variebles.start_tableID }}",
              "type": "string"
            },
            {
              "id": "dc0e74ab-7fea-45d9-b24a-60f69bc4aa51",
              "name": "allTables_pageID",
              "value": "={{ $json.data.process.variebles.allTables_pageID }}",
              "type": "number"
            },
            {
              "id": "27257c1c-7829-4e77-bb2e-a3a70f65149b",
              "name": "allTraks_pageID",
              "value": "={{ $json.data.process.variebles.allTraks_pageID }}",
              "type": "number"
            },
            {
              "id": "e94aad57-fcdb-449e-afa7-04da8b11d00d",
              "name": "allTraksDone_pageID",
              "value": "={{ $json.data.process.variebles.allTraksDone_pageID }}",
              "type": "number"
            },
            {
              "id": "87440d72-fda8-4333-9010-a1b904867e10",
              "name": "llTraksVO_pageID",
              "value": "={{ $json.data.process.variebles.allTraksVO_pageID }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        816
      ],
      "id": "95060f58-c398-4648-940d-bdd623b5a08f",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f88bd06e-de99-46fb-94aa-f5dbd9f14af3",
              "name": "processID",
              "value": "ZsForAleks",
              "type": "string"
            },
            {
              "id": "be53966a-3cb4-4262-abca-d989088172ca",
              "name": "start_tableID",
              "value": "1_84W5K2Y0OQIV3sQ_3-slXomzwg9quNEJX3DCMafrls",
              "type": "string"
            },
            {
              "id": "7a7484ea-f15c-4de1-b52a-ade847bba41a",
              "name": "start_pageID",
              "value": 690413794,
              "type": "number"
            },
            {
              "id": "a185434b-c597-462e-bda6-3b61a231fe05",
              "name": "all_tableID",
              "value": "1_84W5K2Y0OQIV3sQ_3-slXomzwg9quNEJX3DCMafrls",
              "type": "string"
            },
            {
              "id": "dc0e74ab-7fea-45d9-b24a-60f69bc4aa51",
              "name": "allTables_pageID",
              "value": 1399014551,
              "type": "number"
            },
            {
              "id": "27257c1c-7829-4e77-bb2e-a3a70f65149b",
              "name": "allTraks_pageID",
              "value": 970705960,
              "type": "number"
            },
            {
              "id": "e94aad57-fcdb-449e-afa7-04da8b11d00d",
              "name": "allTraksDone_pageID",
              "value": 1430226369,
              "type": "number"
            },
            {
              "id": "87440d72-fda8-4333-9010-a1b904867e10",
              "name": "allTraksVO_pageID",
              "value": 1368647523,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        992
      ],
      "id": "2e7f0ca9-36d8-4438-adad-6252d48f9187",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "id": "a63048aa-02ce-46ca-bc1f-5cf353b72aeb",
      "name": "19:20 ZsForAnn",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2544,
        2272
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cVC6t8mW8i9zazSD",
          "mode": "list",
          "cachedResultName": "Сбор треков в одну таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1904,
        2464
      ],
      "id": "985cd6c3-019d-40f8-877c-4830676d00f1",
      "name": "Отправка запроса на сбор треков в одну таблицу14"
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAnn\",\n          \"start_tableID\": \"ZlW8jrlog9HZfwj9mmYLcV10txVpsAjEd36_3rM\",\n          \"start_pageID\": 0,\n           \"allTables_pageID\" : 75948859,\n          \"allTraks_pageID\" : 556008399,\n          \"allTraksDone_pageID\" : 111638545,\n          \"allTraksVO_pageID\" : 1463532755,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAnn.json"
      },
      "id": "48120004-b94a-4ceb-a4de-5cc41eb85250",
      "name": "ZsForAnn11",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -2352,
        2464
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "id": "4f56deea-f4bb-4db6-82e6-bbe88d02acfd",
      "name": "18.40 ZsForVikux",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2544,
        2464
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForVikux"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "aa4ff8cb-bb18-456a-ac6f-27bb21558f62",
      "name": "ZsForVikux",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -2160,
        2464
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAnn\",\n          \"start_tableID\": \"ZlW8jrlog9HZfwj9mmYLcV10txVpsAjEd36_3rM\",\n          \"start_pageID\": 0,\n           \"allTables_pageID\" : 75948859,\n          \"allTraks_pageID\" : 556008399,\n          \"allTraksDone_pageID\" : 111638545,\n          \"allTraksVO_pageID\" : 1463532755,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAnn.json"
      },
      "id": "7d08d464-6e12-4cdf-818c-37cc4cbd9a4f",
      "name": "ZsForAnn12",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -112,
        1488
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForVikux"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "1f85448d-c06e-4c40-ae43-38345db8d8ba",
      "name": "ZsForVikux1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        96,
        1488
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAnn\",\n          \"start_tableID\": \"ZlW8jrlog9HZfwj9mmYLcV10txVpsAjEd36_3rM\",\n          \"start_pageID\": 0,\n           \"allTables_pageID\" : 75948859,\n          \"allTraks_pageID\" : 556008399,\n          \"allTraksDone_pageID\" : 111638545,\n          \"allTraksVO_pageID\" : 1463532755,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAnn.json"
      },
      "id": "b342e8c5-6cd4-470c-886b-2dd01cfe14f9",
      "name": "ZsForAnn13",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1488,
        1536
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForVikux"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "cd46a8a5-b282-4e7a-9e16-7a1d1ae9775c",
      "name": "ZsForVikux2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1680,
        1536
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yzGni57zMlaAsGzq",
          "mode": "list",
          "cachedResultName": "Перенос доставленых в отдельную таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        320,
        1488
      ],
      "id": "a45e5e30-e9cb-4023-8a55-41d5775c38c5",
      "name": "Отправка запроса на сбор треков в одну таблицу15"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7fnXycgDiNJ7YWwO",
          "mode": "list",
          "cachedResultName": "Перенос ВрОтпр в отдельную таблицу (для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1904,
        1536
      ],
      "id": "aaf257cd-5f76-4982-bee9-e627fb1c4143",
      "name": "Отправка запроса на сбор треков в одну таблицу16"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "id": "5538ac16-c071-47bc-8ff2-54f8bb179feb",
      "name": "14.10 ZsForVikux2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1280,
        1536
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForVikux"
            }
          ]
        },
        "options": {}
      },
      "id": "4db4e7cd-785a-49bf-8e4f-a24c9ab88dde",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1920,
        -1168
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForVikux\",\n          \"start_tableID\": \"17qSPFwa1BLnAnyhXa6GvGqcR49kB7-kDkRVWSmjNQ8A\",\n          \"start_pageID\": 0,\n           \"allTables_pageID\" : 75948859,\n          \"allTraks_pageID\" : 538648616,\n          \"allTraksDone_pageID\" : 111638545,\n          \"allTraksVO_pageID\" : 1463532755,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForVikux.json"
      },
      "id": "885da2d8-fa68-4cc3-915f-878d3bf598a0",
      "name": "zsAli8",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -2112,
        -1168
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4,
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "id": "9400743c-d414-4587-8895-74e57ede8b00",
      "name": "ZsForVikux3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2368,
        -1168
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cVC6t8mW8i9zazSD",
          "mode": "list",
          "cachedResultName": "Сбор треков в одну таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1136,
        2032
      ],
      "id": "1681e813-a13d-45e5-ac59-f315047fd280",
      "name": "Отправка запроса на сбор треков в одну таблицу17"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForVika12"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "1c2b15da-0b74-4105-9a5c-a1ee2dce07d6",
      "name": "ZsForVikux4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1328,
        2032
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "1fdb7413-4af6-4981-af34-c14e8d9f965e",
      "name": "18.00 ZsForVika12",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        2032
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForVika12"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "7cb59ad6-0aaa-4209-acb5-8c5e140e0350",
      "name": "ZsForVikux5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -128,
        2032
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yzGni57zMlaAsGzq",
          "mode": "list",
          "cachedResultName": "Перенос доставленых в отдельную таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        80,
        2032
      ],
      "id": "9f1a0323-84e8-408f-9578-17fa57372474",
      "name": "Отправка запроса на сбор треков в одну таблицу18"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForVika12"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "5d45817e-b62e-47d8-bd0f-c73af164a0f0",
      "name": "ZsForVikux6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1136,
        2048
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7fnXycgDiNJ7YWwO",
          "mode": "list",
          "cachedResultName": "Перенос ВрОтпр в отдельную таблицу (для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1360,
        2048
      ],
      "id": "54530298-9f63-407c-8281-9620aab8ea4d",
      "name": "Отправка запроса на сбор треков в одну таблицу19"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "241d5a19-9c4e-4c15-a571-c1da89970899",
      "name": "18:05 ZsForAnn1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        1280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "id": "15b0dad6-9d3e-4356-a622-90c08acaa242",
      "name": "20.40 ZsForVikux1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        1488
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "id": "b19139ec-d565-49d7-a443-b1aafe92cbb2",
      "name": "22.40 ZsForVika12",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        2032
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "id": "d04cb11d-87b2-4469-a245-efc1d04ad260",
      "name": "15.20 ZsForVika12",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        944,
        2048
      ]
    },
    {
      "parameters": {
        "content": "## Создание записи в БД",
        "height": 460,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        784
      ],
      "typeVersion": 1,
      "id": "9e301409-7728-4f5c-858b-1df93bcd0d32",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cVC6t8mW8i9zazSD",
          "mode": "list",
          "cachedResultName": "Сбор треков в одну таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1904,
        2080
      ],
      "id": "82fa98d2-7522-4ee0-9cea-32289bd4f4fb",
      "name": "Отправка запроса на сбор треков в одну таблицу20"
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAnn\",\n          \"start_tableID\": \"ZlW8jrlog9HZfwj9mmYLcV10txVpsAjEd36_3rM\",\n          \"start_pageID\": 0,\n           \"allTables_pageID\" : 75948859,\n          \"allTraks_pageID\" : 556008399,\n          \"allTraksDone_pageID\" : 111638545,\n          \"allTraksVO_pageID\" : 1463532755,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAnn.json"
      },
      "id": "3d2a796b-af1d-48ec-b620-d625c241d38d",
      "name": "ZsForAnn17",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -2352,
        2080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "zsForHel"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "0446e447-13d5-44cc-8a9b-2eab93848ae9",
      "name": "ZsForVikux7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -2144,
        2080
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "d4a9f242-5f4b-45b7-bb22-cbbab4a7e74d",
      "name": "02.00 zsForHel",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2544,
        2080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAnn\",\n          \"start_tableID\": \"ZlW8jrlog9HZfwj9mmYLcV10txVpsAjEd36_3rM\",\n          \"start_pageID\": 0,\n           \"allTables_pageID\" : 75948859,\n          \"allTraks_pageID\" : 556008399,\n          \"allTraksDone_pageID\" : 111638545,\n          \"allTraksVO_pageID\" : 1463532755,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAnn.json"
      },
      "id": "b38c343d-b06a-49cd-bfaa-b282ad330744",
      "name": "ZsForAnn18",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        -112,
        1088
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "zsForHel"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "ac88799c-3c0c-481c-812e-a1ec608c9ace",
      "name": "ZsForVikux8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        96,
        1088
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yzGni57zMlaAsGzq",
          "mode": "list",
          "cachedResultName": "Перенос доставленых в отдельную таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        320,
        1088
      ],
      "id": "c014da14-8e53-45b8-926e-2bfbf6844349",
      "name": "Отправка запроса на сбор треков в одну таблицу21"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "id": "6c05d99a-695a-4aa3-8c6d-c96e1aaaf9a6",
      "name": "00.00 zsForHel",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        1088
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsForAnn\",\n          \"start_tableID\": \"ZlW8jrlog9HZfwj9mmYLcV10txVpsAjEd36_3rM\",\n          \"start_pageID\": 0,\n           \"allTables_pageID\" : 75948859,\n          \"allTraks_pageID\" : 556008399,\n          \"allTraksDone_pageID\" : 111638545,\n          \"allTraksVO_pageID\" : 1463532755,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsForAnn.json"
      },
      "id": "d7a381ab-9400-4877-a353-4ab18522b4de",
      "name": "ZsForAnn19",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        1472,
        1104
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7fnXycgDiNJ7YWwO",
          "mode": "list",
          "cachedResultName": "Перенос ВрОтпр в отдельную таблицу (для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1904,
        1104
      ],
      "id": "237a8ca9-2e47-4ea7-a612-d7d42e6c181c",
      "name": "Отправка запроса на сбор треков в одну таблицу22"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "zsForHel"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "7d4681cc-9b55-4ac5-8e5e-ba8ca6565c2c",
      "name": "zsForHel2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1680,
        1104
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "0a5a0115-e4b3-4314-9202-a4d9ce9cb929",
      "name": "08.00 zsForHel",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1296,
        1104
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cVC6t8mW8i9zazSD",
          "mode": "list",
          "cachedResultName": "Сбор треков в одну таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1136,
        2208
      ],
      "id": "bbe15122-eda3-4ecd-895b-d35efa3927ff",
      "name": "Отправка запроса на сбор треков в одну таблицу23"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yzGni57zMlaAsGzq",
          "mode": "list",
          "cachedResultName": "Перенос доставленых в отдельную таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        80,
        2224
      ],
      "id": "3718e3bb-0b79-4653-bf8e-2ac498a23809",
      "name": "Отправка запроса на сбор треков в одну таблицу24"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7fnXycgDiNJ7YWwO",
          "mode": "list",
          "cachedResultName": "Перенос ВрОтпр в отдельную таблицу (для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1360,
        2240
      ],
      "id": "96434781-455c-457c-a714-497c8653187a",
      "name": "Отправка запроса на сбор треков в одну таблицу25"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ForNat"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "e29fccc8-b85f-4aac-8070-1c9dc951c7e6",
      "name": "ForNat1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1328,
        2208
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ForNat"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "a587608a-7aeb-4f6e-afbb-e1ad33f0b2e3",
      "name": "ForNat3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -128,
        2224
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ForNat"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "65dcf1fc-6419-41f3-8621-0c5897673ff8",
      "name": "ForNat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1136,
        2240
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "77e2cdb8-6e1c-4710-91d1-d57a6ac526e1",
      "name": "20.00 ForNat",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        2208
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "id": "26c6b993-ee88-4ec9-8b9a-e955e6ec9d6d",
      "name": "19.20 ForNat",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        2224
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "289a5765-f498-449f-b734-eeceea82b454",
      "name": "09.00 ForNat",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        944,
        2240
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cVC6t8mW8i9zazSD",
          "mode": "list",
          "cachedResultName": "Сбор треков в одну таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1136,
        2416
      ],
      "id": "dd88f9e9-a4ed-4f9e-a784-6036aa3335e3",
      "name": "Отправка запроса на сбор треков в одну таблицу26"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsNatNik"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "78395b47-0d40-442b-8363-949712010cc5",
      "name": "ZsNatNik1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1328,
        2416
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yzGni57zMlaAsGzq",
          "mode": "list",
          "cachedResultName": "Перенос доставленых в отдельную таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        80,
        2416
      ],
      "id": "b0c96174-076f-426f-9341-ef28b2efd9c8",
      "name": "Отправка запроса на сбор треков в одну таблицу27"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsNatNik"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "f734b77a-e5e0-49c2-9493-eb7225d4619a",
      "name": "ForNat4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -128,
        2416
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7fnXycgDiNJ7YWwO",
          "mode": "list",
          "cachedResultName": "Перенос ВрОтпр в отдельную таблицу (для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1376,
        2416
      ],
      "id": "d1f0816e-0de6-487c-acfe-6d7d57b8fd05",
      "name": "Отправка запроса на сбор треков в одну таблицу28"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsNatNik"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "77eb304d-40fe-4a25-a9ff-7837de35686e",
      "name": "ForNat2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1152,
        2416
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsNatNik"
            }
          ]
        },
        "options": {}
      },
      "id": "0002ffc4-33d4-440d-8854-2c234b858d77",
      "name": "Edit Fields7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        800,
        224
      ]
    },
    {
      "parameters": {
        "operation": "opWrite",
        "sourceType": "sourceTypeJson",
        "sourceData": "={\n     \"process\": {\n        \"variebles\": {\n          \"processID\": \"ZsNatNik\",\n          \"start_tableID\": \"1c35aYzLHTn1b8RB9Oz0L8DJMGiw0vxJDf29-CrAQ7BU\",\n          \"start_pageID\": 690413794,\n           \"allTables_pageID\" : 599440154,\n          \"allTraks_pageID\" : 1029941645,\n          \"allTraksDone_pageID\" : 714703313,\n          \"allTraksVO_pageID\" : 1692704494,\n          \"url_become\": \"https://n8ns.makees.site/webhook-waiting/1279\"\n        },\n        \"workProcess\": {\n          \"iteration\": 0,\n          \"TrackCollect\": \"no\",\n          \"BP_check\": \"no\",\n          \"EP_check\": \"no\",\n          \"CheckProcess\": \"no\"\n        },\n        \"tg_chats\": {\n          \"chat_id\": 12345,\n          \"chat_id2\": 254321\n        },\n        \"trigers\": {\n          \"TrigerNT\": 0,\n          \"TrigerBP\": 0,\n          \"TrigerEP\": 0\n        }\n      },\n      \"checkProcess\": {\n        \"Iteration\": 0,\n        \"Traks\": {}\n      },\n      \"traks\": {\n        \"BP_traks\": [\n          {\n            \n          }\n        ],\n        \"EP_traks\": [\n          {\n\n          }\n        ]\n      }\n}",
        "filePath": "=root/n8n/ZsNatNik.json"
      },
      "id": "29472a7f-2951-4eff-acb8-e88464e072f7",
      "name": "ZsNatNik4",
      "type": "@n-octo-n/n8n-nodes-json-database.JsonDatabase",
      "typeVersion": 1,
      "position": [
        608,
        224
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2,
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "id": "ffd3b81b-0b15-4403-ba8d-867b21129745",
      "name": "ZsNatNik5",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        368,
        176
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "id": "4c37950f-7588-4131-aa33-655d405ff85c",
      "name": "21:00 ZsNatNik",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        2416
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "id": "01ddbcc0-763c-4844-9e67-469adef63a9a",
      "name": "15:20 ZsNatNik2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        2416
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "id": "d29d1aec-90bf-4f38-8dfd-9ba187138561",
      "name": "13:00 ZsNatNik3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        944,
        2416
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 992,
        "width": 1936,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2672,
        -1488
      ],
      "typeVersion": 1,
      "id": "eeaedbb4-ef89-4756-87b7-cfcb86b76fc8",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 656,
        "width": 976,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2624,
        2000
      ],
      "typeVersion": 1,
      "id": "eea68c6f-1515-45c5-a68c-b3472a88e62f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 656,
        "width": 976,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        1040
      ],
      "typeVersion": 1,
      "id": "2b7b6ad0-ac9c-4ebe-ba33-58d463730f91",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 656,
        "width": 976,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        1072
      ],
      "typeVersion": 1,
      "id": "768bbb1a-76b6-43ee-a0e0-efbd1ad4ced1",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cVC6t8mW8i9zazSD",
          "mode": "list",
          "cachedResultName": "Сбор треков в одну таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1136,
        2592
      ],
      "id": "39658ae2-9968-414b-8e8e-45e5727682cb",
      "name": "Отправка запроса на сбор треков в одну таблицу29"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForAleks"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "2cdb010f-aab8-47ab-94ef-3f37cd9ca4c7",
      "name": "ZsForAleks1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1328,
        2592
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "id": "0cda97da-41b2-47e2-b3d4-44b69bef86b0",
      "name": "22:00 ZsForAleks",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        2592
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForAleks"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "db314aab-4c1b-438b-8512-56db4917d61f",
      "name": "ZsForAleks2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -128,
        2608
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsForAleks"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "110e62ef-09bb-4b3d-8906-ddc7986739bd",
      "name": "ZsForAleks3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1136,
        2592
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yzGni57zMlaAsGzq",
          "mode": "list",
          "cachedResultName": "Перенос доставленых в отдельную таблицу(для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        96,
        2608
      ],
      "id": "7d337796-c4a5-4aa0-b421-1183e25a39d3",
      "name": "Отправка запроса на сбор треков в одну таблицу30"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7fnXycgDiNJ7YWwO",
          "mode": "list",
          "cachedResultName": "Перенос ВрОтпр в отдельную таблицу (для всех)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1376,
        2592
      ],
      "id": "c8001789-ab47-4f60-a6a4-7d1781f5dbe8",
      "name": "Отправка запроса на сбор треков в одну таблицу31"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "b5ac038a-84a7-4a11-a317-87d5f69bfaaa",
      "name": "20:00 ZsForAleks1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        2608
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "13700dfe-721d-450c-8d86-0246a9d53b6a",
      "name": "18:00 ZsForAleks2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        928,
        2592
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ProcessID",
              "stringValue": "ZsTest"
            }
          ]
        },
        "options": {}
      },
      "id": "421fcf95-6c1d-449a-a660-76484644483e",
      "name": "ZsTest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        992,
        -480
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2023-11-29T08:22:07.762Z",
      "updatedAt": "2023-11-29T08:22:07.762Z",
      "role": "workflow:owner",
      "workflowId": "5teSeVT776DF4RDh",
      "projectId": "NQcsor1lU8xEGtVE"
    }
  ],
  "staticData": {
    "node:ForIra": {
      "recurrencyRules": []
    },
    "node:ForVika": {
      "recurrencyRules": []
    },
    "node:ForNat": {
      "recurrencyRules": []
    },
    "node:ForAnn": {
      "recurrencyRules": []
    },
    "node:ZsForAnn1": {
      "recurrencyRules": []
    },
    "node:ZsForAnn 04.00": {
      "recurrencyRules": []
    },
    "node:ForVika 20.00": {
      "recurrencyRules": [],
      "recurrenceRules": []
    },
    "node:ForVika 20.": {
      "recurrencyRules": []
    },
    "node:zsForAleks1": {
      "recurrencyRules": []
    },
    "node:zsForAleks 00.00": {
      "recurrencyRules": []
    },
    "node:zsForAleks 02.00": {
      "recurrencyRules": []
    },
    "node:zsForAleks 04.00": {
      "recurrencyRules": []
    },
    "node:ZsForEvg 01.00": {
      "recurrencyRules": [],
      "recurrenceRules": []
    },
    "node:zsForAleks 00.": {
      "recurrencyRules": [],
      "recurrenceRules": []
    },
    "node:ForNat 00.00": {
      "recurrencyRules": [],
      "recurrenceRules": []
    },
    "node:ZsForAnn 02.00": {
      "recurrenceRules": []
    },
    "node:ForVika 06:00": {
      "recurrenceRules": []
    },
    "node:ZsForAnn 20:00": {
      "recurrenceRules": []
    },
    "node:zsForHel04.00": {
      "recurrenceRules": []
    },
    "node:ZsForVika2 05.03": {
      "recurrenceRules": []
    },
    "node:zsForAleks 22.00": {
      "recurrenceRules": []
    },
    "node:ForIra 00.00": {
      "recurrenceRules": []
    },
    "node:ForIra 00.30": {
      "recurrenceRules": []
    },
    "node:ZsAli": {
      "recurrenceRules": []
    },
    "node:ZsAli1": {
      "recurrenceRules": []
    },
    "node:ZsAli2": {
      "recurrenceRules": []
    },
    "node:Ира": {
      "recurrenceRules": []
    },
    "node:Ира запуск переноса доставленых 00:00 - 01:30": {
      "recurrenceRules": []
    },
    "node:Ира запуск сбора треков во все треки": {
      "recurrenceRules": []
    },
    "node:23:30 Ира запуск сбора треков во все треки": {
      "recurrenceRules": []
    },
    "node:00:30 ZsAli": {
      "recurrenceRules": []
    },
    "node:14:30 Ира запуск переноса доставленых": {
      "recurrenceRules": []
    },
    "node:17:00 ZsAli": {
      "recurrenceRules": []
    },
    "node:12:30 Ира запуск переноса ВрОтпр": {
      "recurrenceRules": []
    },
    "node:10:00 ZsAli запуск переноса ВрОтпр": {
      "recurrenceRules": []
    },
    "node:ZsForAnn 01.02": {
      "recurrenceRules": []
    },
    "node:01:30 zsAliTwo": {
      "recurrenceRules": []
    },
    "node:17:00 zsAliTwo": {
      "recurrenceRules": []
    },
    "node:10:00 zsAliTwo запуск переноса ВрОтпр1": {
      "recurrenceRules": []
    },
    "node:zsAliTwo4": {
      "recurrenceRules": []
    },
    "node:ZsAli1 08:03": {
      "recurrenceRules": []
    },
    "node:zsAliTwo 7:33": {
      "recurrenceRules": []
    },
    "node:01:30 ZsForAnn": {
      "recurrenceRules": []
    },
    "node:01:30 ZsForAnn1": {
      "recurrenceRules": []
    },
    "node:01:30 ZsForAnn2": {
      "recurrenceRules": []
    },
    "node:07:20 ZsForAnn": {
      "recurrenceRules": []
    },
    "node:20:00 zsAliTwo": {
      "recurrenceRules": []
    },
    "node:06:05 ZsForAnn1": {
      "recurrenceRules": []
    },
    "node:11:00 zsAliTwo запуск переноса ВрОтпр1": {
      "recurrenceRules": []
    },
    "node:12:06 ZsForAnn2": {
      "recurrenceRules": []
    },
    "node:19:20 ZsForAnn": {
      "recurrenceRules": []
    },
    "node:18.40 ZsForVikux": {
      "recurrenceRules": []
    },
    "node:18.40 ZsForVikux1": {
      "recurrenceRules": []
    },
    "node:14.10 ZsForVikux2": {
      "recurrenceRules": []
    },
    "node:ZsForVikux3": {
      "recurrenceRules": []
    },
    "node:18.00 ZsForVika12": {
      "recurrenceRules": []
    },
    "node:14.10 ZsForVikux": {
      "recurrenceRules": []
    },
    "node:18:05 ZsForAnn1": {
      "recurrenceRules": []
    },
    "node:20.40 ZsForVikux1": {
      "recurrenceRules": []
    },
    "node:22.40 ZsForVika12": {
      "recurrenceRules": []
    },
    "node:15.20 ZsForVika12": {
      "recurrenceRules": []
    },
    "node:02.00 zsForHel": {
      "recurrenceRules": []
    },
    "node:00.00 zsForHel": {
      "recurrenceRules": []
    },
    "node:08.00 zsForHel": {
      "recurrenceRules": []
    },
    "node:02.00 zsForHel1": {
      "recurrenceRules": []
    },
    "node:00.00 zsForHel1": {
      "recurrenceRules": []
    },
    "node:08.00 zsForHel1": {
      "recurrenceRules": []
    },
    "node:02.00 ForNat": {
      "recurrenceRules": []
    },
    "node:00.00 ForNat": {
      "recurrenceRules": []
    },
    "node:08.00 ForNat": {
      "recurrenceRules": []
    },
    "node:20.00 ForNat": {
      "recurrenceRules": []
    },
    "node:19.20 ForNat": {
      "recurrenceRules": []
    },
    "node:09.00 ForNat": {
      "recurrenceRules": []
    },
    "node:ZsNatNik": {
      "recurrenceRules": []
    },
    "node:ZsNatNik2": {
      "recurrenceRules": []
    },
    "node:ZsNatNik3": {
      "recurrenceRules": []
    },
    "node:ZsForVikux9": {
      "recurrenceRules": []
    },
    "node:ZsNatNik5": {
      "recurrenceRules": []
    },
    "node:21:00 ZsNatNik": {
      "recurrenceRules": []
    },
    "node:15:20 ZsNatNik2": {
      "recurrenceRules": []
    },
    "node:13:00 ZsNatNik3": {
      "recurrenceRules": []
    },
    "node:22:00 ZsForAleks": {
      "recurrenceRules": []
    },
    "node:20:00 ZsForAleks1": {
      "recurrenceRules": []
    },
    "node:18:00 ZsForAleks2": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-12-29T05:49:12.607Z",
      "updatedAt": "2023-12-29T05:49:12.607Z",
      "id": "2F2JpICiTQCMNk1Q",
      "name": "treck_check"
    },
    {
      "createdAt": "2023-12-29T05:48:23.798Z",
      "updatedAt": "2023-12-29T05:48:23.798Z",
      "id": "UR0e0BgkatF4AB4O",
      "name": "potap"
    }
  ],
  "triggerCount": 17,
  "updatedAt": "2025-09-14T15:07:04.000Z",
  "versionId": "142ca7f6-87e0-4fe3-a64d-67df4c1b11ce"
}