workflowMy workflow 7.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-23T07:07:53.116Z",
  "id": "lEQqq78MhtQJNEXh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3b4cad77-d4f1-4205-8ca4-ffac9b73745a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1E2_AUgkcpy0BrVZotmTyCH2Uy8ShDSkNZCpCddFwL-A",
          "mode": "list",
          "cachedResultName": "Зс тест",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E2_AUgkcpy0BrVZotmTyCH2Uy8ShDSkNZCpCddFwL-A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1006882592,
          "mode": "list",
          "cachedResultName": "ZsForIra001",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E2_AUgkcpy0BrVZotmTyCH2Uy8ShDSkNZCpCddFwL-A/edit#gid=1006882592"
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        0
      ],
      "id": "f6db19a4-1db7-443a-ab42-7e57243fef87",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1E2_AUgkcpy0BrVZotmTyCH2Uy8ShDSkNZCpCddFwL-A",
          "mode": "list",
          "cachedResultName": "Зс тест",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E2_AUgkcpy0BrVZotmTyCH2Uy8ShDSkNZCpCddFwL-A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1006882592,
          "mode": "list",
          "cachedResultName": "ZsForIra001",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E2_AUgkcpy0BrVZotmTyCH2Uy8ShDSkNZCpCddFwL-A/edit#gid=1006882592"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Актуальный статус": "={{ '=ВПР(G'}}{{$json.row_number}}{{';(IMPORTRANGE(\"htps://docs.google.com/spreadsheets/d/1LkwUx00HWCfu_oSwnH3NVeTF_QiEwytuEO37R12TkWY/edit\"; \"Все треки!A:B\")); 2; ЛОЖЬ)' }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "фио покупателя",
              "displayName": "фио покупателя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "продажа",
              "displayName": "продажа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "таблица",
              "displayName": "таблица",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "накрут",
              "displayName": "накрут",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "трек",
              "displayName": "трек",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "штраф",
              "displayName": "штраф",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "наличие",
              "displayName": "наличие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ЛИЧНЫЙ",
              "displayName": "ЛИЧНЫЙ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Росс",
              "displayName": "Росс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Отметка о доставке",
              "displayName": "Отметка о доставке",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Актуальный статус",
              "displayName": "Актуальный статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        0
      ],
      "id": "45fe6e53-1129-4c49-8a06-3407106f10b3",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GsKpjBhTzM4aUjza",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-23T07:56:18.000Z",
  "versionId": "66ecbbf4-20cc-4ae0-bc0b-32b674246f28"
}